<h5 class="m-b-10 ng-star-inserted">Tank Maintenance
    <button class="btn btn-success custom_add_button pull-right" routerLink="/supplychainmanagement/distillery/brewery/tankmaintenance/add" type="submit">
    <i class="feather icon-plus mr-2"></i> Add Tank Maintenance</button>
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Tank Maintenance</a></li>
    <li class="breadcrumb-item"><a href="javascript:">List Tank Maintenance</a></li>
</ul>

<!-- <div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="List of Tank Maintenance" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Tank Name</label>
                        <input type="text" class="form-control" placeholder="Joe">
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Request Date</label>
                        <input type="date" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-12  mt-4 text-md-left text-lg-left text-right">
                    <div class="form-group">
                        <button class="btn btn-primary m-r-5">
                            Search</button>
                        <button class="btn btn-secondary">
                            Clear</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div> -->



<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Tank Maintenance List Details" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Request Date</th>
                            <th>Tank Name</th>
                            <th>Maintainance Type</th>
                            <th>Duration of Maintenance</th>
                            <th>Status</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JHJ7577</td>
                            <td class="text-center">16/01/2021 </td>
                            <td class="text-center">Bre</td>
                            <td class="text-center">First</td>
                            <td class="text-center">Six Hours</td>
                            <td class="text-center">Approved</td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button" routerLink="/supplychainmanagement/distillery/brewery/tankmaintenance/view">
                                    <i class="feather icon-eye"></i></button>
                                <!-- <button class="btn btn-icon btn-secondary ml-2" type="button" routerLink="/supplychainmanagement/distillery/brewery/tankmaintenance/add">
                                    <i class="feather icon-edit-2"></i></button> -->
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>