<h5 class="m-b-10 ng-star-inserted">Add Declaration of COT
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a></li>
    <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/declarationofcot/list">Declaration of
            COT</a></li>

    <li aria-current="page" class="breadcrumb-item active">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #declaretion="ngForm" autocomplete="off">
            <app-card cardTitle="Add - Declaration of COT" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>OT Production Plan ID</label>
                            <select class="form-control" required>
                                <option>Select</option>
                            </select>

                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="OT Number 1" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>OT Number 1</label>
                            <input type="text" disabled class="form-control" required placeholder="Enter OT Number 1">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Wash Distilled Till Date</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Quantity of Wash Distilled Till Date">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Final Gravity of Fermented Wash</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Final Gravity of Fermented Wash">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Alcohol Percentage in Fermented Wash</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Alcohol Percentage in Fermented Wash">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Receiver No</label>
                            <input type="text" disabled class="form-control" required placeholder="Enter Receiver No">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Quantity of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Temprature of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Temprature of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Indication of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Indication of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength</label>
                            <input type="number" disabled class="form-control" required placeholder="Enter Strength">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Alcohol Production in B.L</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Alcohol Production in B.L">
                        </div>
                    </div>

                </div>
            </app-card>
            <app-card cardTitle="OT Number 2" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>OT Number 2</label>
                            <input type="text" disabled class="form-control" required placeholder="Enter OT Number 2">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Wash Distilled Till Date</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Quantity oF Wash Distilled Till Date">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Final Gravity of Fermented Wash</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Final Gravity of Fermented Wash">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Alcohol Percentage in Fermented Wash</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Alcohol Percentage in Fermented Wash">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Receiver No</label>
                            <input type="text" disabled class="form-control" required placeholder="Enter Receiver No">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Quantity of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Temprature of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Temprature of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Indication of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Indication of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength</label>
                            <input type="number" disabled class="form-control" required placeholder="Enter Strength">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Alcohol Production in B.L</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Alcohol Production in B.L">
                        </div>
                    </div>

                </div>
            </app-card>
            <app-card cardTitle="OT Number 3" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>OT Number 3</label>
                            <input type="text" disabled class="form-control" required placeholder="Enter OT Number 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Wash Distilled Till Date</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Quantity oF Wash Distilled Till Date">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Final Gravity of Fermented Wash</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Final Gravity of Fermented Wash">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Alcohol Percentage in Fermented Wash</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Alcohol Percentage in Fermented Wash">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Receiver No</label>
                            <input type="text" disabled class="form-control" required placeholder="Enter Receiver No">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Quantity of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Temprature of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Temprature of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Indication of Alcohol</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Indication of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength</label>
                            <input type="number" disabled class="form-control" required placeholder="Enter Strength">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Alcohol Production in B.L</label>
                            <input type="number" disabled class="form-control" required
                                placeholder="Enter Alcohol Production in B.L">
                        </div>
                    </div>

                </div>
            </app-card>
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <!-- (click)="submitedata(declaretion)" -->
        <button type="button" class="btn btn-primary ml-2 mb-2">Declare COT</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/declarationofcotnew/list">Cancel</button>
    </div>
</div>