<h5 class="m-b-10 ng-star-inserted">
    View Indent Request for Tavern
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Vintnery</a></li>
    <li class="breadcrumb-item"><a href="javascript:"> Indent Request for Tavern</a></li>
    <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Indent request details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Indent Date <span class="float-right">:</span></label>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            20- Mar-2021
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label"> Indent No <span class="float-right">:</span></label>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            FL0001
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label"> {{'bondWarehouse.indentacceptance.status' |
                                translate}}<span class="float-right">:</span></label>
                            <!-- Status -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            Submitted/Accepted
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-12">
                            <!-- <label class="w-100 view-label">QR code<span class="float-right"></span></label> -->
                            <div class="text-center">
                                <img src="assets/images/qr-scan.png" height="75px" width="75px" />
                                <p class="mb-0 pt-1">12XVCCN1122</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="From Unit Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">License Type <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Teverns
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label"> Shop Name<span class="float-right">:</span></label>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label"> Shop Address<span class="float-right">:</span></label>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="To Consignor Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    WInery- FL3
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label"> Wholesale Type<span class="float-right">:</span></label>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    WHOLESALE
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Wholesale Name <span class="float-right">:</span></label>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Superior Industries Limited
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Wholesale Address
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> nigam pilibhit, Ward no.01, Pilibhit, Pilibhit, Pilibhit, Uttar Pradesh-262001 </div>
            </div>
        </app-card>
    </div>
    <div class="col-12">
        <app-card cardTitle="Indent Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th>S.No</th>
                                    <th>Brand Name<br>(Parent ETIN)</th>
                                    <th>Liquor Type</th>
                                    <th>Liquor subType</th>
                                    <th>Liquor Detailed Description</th>
                                    <th>Strength</th>
                                    <th>Packaging Size</th>
                                    <th>Packaging Type</th>
                                    <th>No. of Cases/ Mono Carton</th>
                                    <th>No. of Bottles Per case</th>
                                    <th>No.of Bottles</th>
                                    <th>ETIN Number</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>750 ml</td>
                                    <td>Glass Bottles</td>
                                    <td>10</td>
                                    <td>10</td>
                                    <td>100</td>
                                    <td>1000</td>


                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Expected Date of Delivery <span class="float-right">:</span></label>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No of cases Requested <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No of Bottles Requested<span
                            class="float-right">:</span></label>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total bulk litres<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Is payment Done<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="segment">
                        <input type="radio" name="tab" id="tab1" checked data-toggle="modal"
                            (click)="rejectConfirmation()">
                        <label class="" for="tab1">Yes</label>
                        <input type="radio" name="tab" id="tab2 " data-toggle="modal" (click)="rejectConfirmation()">
                        <label class="" for="tab2">No</label>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-12">
        <app-card cardTitle="Log Details" blockClass="table-border-style" class="list-panel view-panel">
            <div class="row">
                <div class="col-12">

                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>S.NO</th>
                                    <th>User Name</th>
                                    <th>Date & Time</th>
                                    <th>Remarks</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="badge badge-light-success">SUBMITTED</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </app-card>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="submit" class="btn btn-success mb-2 ml-2">Modify</button>
        <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button>
        <button type="submit" class="btn btn-warning mb-2 ml-2">Cancel Request</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2" routerLink="">Back</button>
    </div>
</div>