<h5 class="m-b-10 ng-star-inserted">
    Add Accidental Request Acknowledgement
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Accidental Request Acknowledgement</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #bottlingForm="ngForm" autocomplete="off">
            <!-- <form #bottlingForm="ngForm" autocomplete="off"> -->
                <app-card cardTitle="Accidental  TP Details " class="list-panel add-panel">
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                            <label>Scan the Accidental Return TP</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Scan the Accidental Return TP"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-qrcode"></i></button>
                                </div>
                            </div>
                        </div>
                      
                       
                </div>
</app-card>
<app-card cardTitle="Return TP detail" class="list-panel add-panel">
    <div class="row">
      
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Accident Date</label>
                <input type="date"  disabled class="form-control" value="09-07-2024">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Return TP Acknowledgement Date</label>
                <input type="date"  disabled class="form-control" value="09-07-2024">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>ReturnTP Number</label>
                <input type="text" disabled  class="form-control" value="BREWERYFL317-FL3-WHOLESALE2702-FL2-GORA-Mar24_00000103">
            </div>
        </div>
       
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Accidental Location Address</label>
                <input type="text" disabled class="form-control" value="Ram vikas Nagar, LUCKNOW">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Accidental Location District</label>
                <input type="text" disabled class="form-control" value="LUCKNOW">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Total damaged Cases received</label>
                <input type="text" disabled class="form-control" value="1000">
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Actual Cases received </label>
                <input type="text" disabled class="form-control" placeholder=" " value="1000">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Actual Bottles received</label>
                <input type="text" disabled class="form-control" value="1000">
            </div>
        </div> -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Total Received BL </label>
                <input type="text" disabled class="form-control" placeholder=" " value="12000">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Status</label>
                <input type="text" disabled class="form-control" value="Active" >
            </div>
        </div>
        </div>
        </app-card>
        <app-card cardTitle="Receipt Details"  class="list-panel add-panel">
            <div class="table-responsive mb-2">
                <table class="table table-bordered text-center mb-0" >
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Brand Name</th>
                            <th>Liquor Type </th>
                            <th>Package Size</th>
                           
                            <th>Package Type</th>
                            <th>Strength</th>
                            <th>No.of Stocks as per return TP</th>
                            <th>Actual Cases received  </th>
                            <th>Actual Bottles received</th>
                            <th>Actual received BL</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td>1</td>
                           <td class="text-left">Rampur Select</td>
                           <td class="text-left">Wine</td>
                           <td class="text-left">750 ml</td>
                           <td class="text-left">Glass Bottle</td>

                           <!-- <td><input type="text" class="form-control"></td>
                           <td><input type="text" class="form-control"></td>
                           <td><input type="text" class="form-control"></td>
                           <td><input type="text" class="form-control"></td>
                           <td><input type="text" class="form-control"></td> -->
                           <td>20</td>
                           <td>20</td>
                           <td><input type="text" class="form-control"></td>
                           <td><input type="text" class="form-control"></td>                   
                           <td><input type="text" class="form-control"></td>                   

                       </tr>
                    </tbody>
                </table>
            </div>
            
        </app-card>

            <!-- </form> -->

        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/wholesale/accidentalrequest/list">Cancel</button>
    </div>
</div>


