<h5 class="m-b-10 ng-star-inserted">Add Registration as Export Unit(Overseas)
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <!-- <li class="breadcrumb-item"><a href="javascript:">Portable Distillery</a></li> -->
    <li class="breadcrumb-item"><a
            routerLink="/supplychainmanagement/distillery/regdistiilleryexpunit-outsideindia/list">Registration as Export Unit(Overseas)</a></li>

    <li aria-current="page" class="breadcrumb-item active">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #Pd25Form="ngForm" autocomplete="off">
            <app-card cardTitle="Registration as Export Unit" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date of Application</label>
                            <input type="date" class="form-control" disabled >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Registration Type</label>
                            <input type="text" class="form-control" disabled value="IMFL">
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <label>Registration Type</label>
                        <div class="segment">
                            <input type="radio" name="tab" id="tab1" checked>
                            <label class="" for="tab1">IMFL</label>
                            <input type="radio" name="tab" id="tab2">
                            <label class="" for="tab2">Spirit</label>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Unit Name</label>
                            <input type="text" disabled class="form-control" 
                                value="Daurl Distillery">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Type</label>
                            <input type="text" disabled class="form-control" 
                                value="FL2">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License No</label>
                            <input type="text" disabled class="form-control" 
                                value="LN589445657">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Unit Address</label>
                            <textarea class="form-control" rows="1"
                            disabled>Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow, UP 241001</textarea>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Importer Exporter Code</label>
                            <input type="text" class="form-control" required placeholder="Enter Importer Exporter Code">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Certificate Application Date</label>
                            <input type="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="uploadpuc" class="mandatory">Upload Importer Exporter Ceritificate</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" required class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Registration Cum Membership No.</label>
                            <input type="text" class="form-control" required
                                placeholder="Enter Registration Cum Membership No.">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">RCMC Certificate Application Date</label>
                            <input type="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc" class="mandatory">Upload RCMC Certificate</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" required class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>

            <app-card cardTitle=" Banks Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive mb-2">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Bank Name<span class="mandatory"></span></th>
                                        <th>Branch<span class="mandatory"></span></th>
                                        <th>Account No.<span class="mandatory"></span></th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" class="form-control" placeholder="Enter Bank Name" />
                                        </td>
                                        <td class="text-left"><input type="text" required class="form-control"
                                                placeholder="Enter Branch" /></td>
                                        <td class="text-left"><input type="number" required class="form-control"
                                                placeholder="Enter Account No." /></td>
                                        <td class="table-action-column text-center">
                                            <button class="btn btn-icon btn-success" type="button">
                                                <i class="feather icon-plus"></i></button>
                                            <button class="btn btn-icon btn-danger ml-2" type="button">
                                                <i class="feather icon-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </app-card>

            <app-card cardTitle="Star House Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Star Export House No.</label>
                            <input type="text" class="form-control" required
                                placeholder="Enter Star Export House No.">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">House Certificate Application Date</label>
                            <input type="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">GSTIN No.</label>
                            <input type="text" class="form-control" required placeholder="Enter GSTIN No.">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc" class="mandatory">House Upload Certificate</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Spirit Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Spirit Name<span class="mandatory"></span></th>
                                        <!-- <th>Liquor Type</th>
                                        <th>Liquor Sub Type</th>
                                        <th>Liquor Detailed<br>Description</th>
                                        <th>Package Size<span class="mandatory"></span></th>
                                        <th>Package Type<span class="mandatory"></span></th>-->
                                        <th>Spirit Description</th>
                                        <th>Action</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </td>
                                        <!-- <td class="text-left">
                                            FL
                                        </td>
                                        <td class="text-left">
                                            Whishky
                                        </td>
                                        <td class="text-left">
                                            Single Malt
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </td> -->
                                        <td>
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </td>

                                        <td class="table-action-column text-center">
                                            <button class="btn btn-icon btn-success" type="button">
                                                <i class="feather icon-plus"></i></button>
                                            <button class="btn btn-icon btn-danger ml-2" type="button">
                                                <i class="feather icon-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </app-card>

        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info mb-2"
            routerLink="/supplychainmanagement/distillery/regdistiilleryexpunit-outsideindia/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/regdistiilleryexpunit-outsideindia/list">Cancel</button>
    </div>

</div>