<h5 class="m-b-10 ng-star-inserted">Processed Beer Transfer to BBT
    <button class="btn btn-success custom_add_button pull-right"
        routerLink="/supplychainmanagement/distillery/brewery/transfertobbt/add" type="submit">
        <i class="feather icon-plus mr-2"></i> Add Processed</button>
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Processed Beer Transfer to BBT</a></li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Search" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Date </label>
                        <input type="date" class="form-control" placeholder="Enter Date">
                    </div>
                </div>  
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Intimation for Brew/Production Plan No </label>
                        <input type="text" class="form-control" placeholder="Enter Intimation for Brew/Production Plan No">
                    </div>
                </div>   
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>UniTank Tank Name</label>
                        <select class="form-control">
                            <option>Tank Name 1</option>
                            <option>Tank Name 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <div class="form-group">
                        <button class="btn btn-primary m-r-5">
                            Search</button>
                        <button class="btn btn-secondary">
                            Clear</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>



<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Processed Beer Transfer to BBT List" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Time </th>
                            <th>B No</th>
                            <th>Unit Tank Name</th>
                            <th>BBT No</th>
                            <th>Beer Type</th>
                            <th>Wastage Quantity (In BL)</th>
                            <th>Wastage%</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td>12/02/2021</td>
                            <td>19:22 </td>
                            <td>BTN4878944</td>
                            <td>Tank Name 1</td>
                            <td>BBT5656322</td>
                            <td>Beer Type 1</td>
                            <td>5000</td>
                            <td>50%</td>
                            <td><span class="badge badge-light-success">Submitted</span></td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button"
                                    routerLink="/supplychainmanagement/distillery/brewery/transfertobbt/view">
                                    <i class="feather icon-eye"></i></button>
                                <button class="btn btn-icon btn-secondary ml-2" type="button"
                                    routerLink="/supplychainmanagement/distillery/brewery/transfertobbt/add">
                                    <i class="feather icon-edit-2"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </app-card>
            
    </div>
</div>