<h5 class="m-b-10 ng-star-inserted">{{ 'sugarmill.MF9.addproductionforecast(MF9)details' | translate }}</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:" [routerLink]="['/supplychainmanagement/dashboard']">{{ 'sugarmill.MF9.sugarmill' | translate }}
        </a></li>
    <li class="breadcrumb-item"><a href="javascript:"
            [routerLink]="['/supplychainmanagement/sugarmills/mf9fortnight/list']"> {{ 'sugarmill.MF9.productionforecast(MF9)' | translate }}</a></li>
    <li aria-current="page" class="breadcrumb-item active">{{'sugarmill.MF9.preview' | translate }}</li>
</ul>
<div class="row mb-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <app-card cardTitle="{{ 'sugarmill.MF9.estimateofproductionofmolasses' | translate }}"
            class="list-panel view-panel">
            <div class="row mb-2 pb-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{'sugarmill.common.name' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <!-- {{sugarMillName}} -->
                    Triveni Engineering & Industries Ltd
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.address' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <!-- {{sugarMillAddress}} -->
                    Sugarmill Unit,Milak Narayanpur,P.O Dadiyal Tehsil,Tanda Badi,Dist-Rampur,UP-244925
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.generalmanager' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <!-- {{generalManager}} -->
                    Mr.Bhupender Singh
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <app-card cardTitle="{{ 'sugarmill.MF9.productionofmolasses' | translate }} Last Year"
            class="list-panel view-panel">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6>
                                {{ 'sugarmill.MF9.durationoftheseason' | translate }}
                            </h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.lastyear(Actual)' | translate }}<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYear}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="py-2">
                                {{ 'sugarmill.MF9.commencement' | translate }}
                            </h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.startdate' | translate }}<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearStartDate}}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.enddate' | translate }} <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearEndDate}}

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.totalday' | translate }} <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearDays}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="py-2"> {{ 'sugarmill.MF9.canesupply(Qtl)' | translate }}</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.lastyear(Actual)' | translate }}<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.caneCrushed}}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Produced B-Heavy<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearQtyBHeavy}}
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Percentage Of B-Heavy<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearPercentageBHeavy}}%

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Produced C-Heavy<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearQtyCHeavy}}

                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Percentage Of C-Heavy<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearPercentageCHeavy}}%

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Produced Cane Juice<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearQtyCaneJuice}}
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Percentage Of Cane Juice<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearPercentageCaneJuice}}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Produced Cane Syrup<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearQtyCaneSyrup}}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Percentage Of Cane Syrup<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.lastYearPercentageCaneSyrup}}
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <app-card cardTitle="{{ 'sugarmill.MF9.productionofmolasses' | translate }} This Year"
            class="list-panel view-panel">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6>
                                {{ 'sugarmill.MF9.durationoftheseason' | translate }}</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.thisyear(estimate)' | translate }}<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.thisYear}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="py-2">
                                {{ 'sugarmill.MF9.commencement' | translate }}</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.startdate' | translate }}<span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.fortnightStartDate }}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.enddate' | translate }} <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.fortnightEndDate }}

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.totalday' | translate }} <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.thisYearDays }}

                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="py-2">
                                {{ 'sugarmill.MF9.canesupply(Qtl)' | translate }}</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{ 'sugarmill.MF9.thisyear(estimate)' | translate }} <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.thisYearCanesupply }}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Product Type <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.productTypeId }}
                        </div>
<!-- 
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Percentage of B-Heavy <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.foreCastPercentageBHeavy }}%

                        </div> -->
                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Produced C-Heavy <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.foreCastQtyCHeavy }}

                        </div> -->

                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"> -->
                            <!-- <label class="w-100 view-label">Percentage of C-Heavy <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.foreCastPercentageCHeavy }}%

                        </div> -->
                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Produced Cane Juice <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.foreCastQtyCaneJuice }}

                        </div> -->

                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Percentage of Cane Juice <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.foreCastPercentageCaneJuice }}%
                        </div> -->
                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Produced Cane Syrup <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.foreCastQtyCaneSyrup }}%
                        </div> -->

                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Percentage of Cane Syrup <span
                                    class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            {{previewdata?.foreCastPercentageCaneSyrup }}%

                        </div> -->
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'sugarmill.MF9.particularstoragetankformolasses' | translate }}"
            class="list-panel view-panel">
            <div class="table-responsive">
                <table class="table table-inverse table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="2"> {{ 'sugarmill.MF9.covered' | translate }}</th>
                            <th colspan="2">{{ 'sugarmill.MF9.uncovered' | translate }}</th>
                        </tr>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Tank name
                            </th>
                            <th>
                                {{ 'sugarmill.MF9.nooftank' | translate }}
                            </th>
                            <th>
                                Capacity
                            </th>
                            <th>
                                {{ 'sugarmill.MF9.nooftank' | translate }}
                            </th>
                            <th>
                                Capacity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tanks of previewdata?.mf9StockDetail; let i =index">
                            <td>{{i+1}}</td>
                            <td>{{tanks?.tankname}}</td>
                            <td>{{tanks?.coveredNoOfTank}}</td>
                            <td>{{tanks?.coveredCapacity}}</td>
                            <td>{{tanks?.uncoveredNoOfTank}}</td>
                            <td>{{tanks?.uncoveredCapacity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <app-card cardTitle="{{ 'sugarmill.MF9.maximumNo.oftank' | translate }}" class="list-panel view-panel">
            <div class="row mb-2 pb-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.frombroadgaugesiding' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    {{previewdata?.fromBroadGauge}}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.frommetergaugesiding' | translate }} <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    {{previewdata?.fromMeterGauge}}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.modeofloadingofmolasses' | translate }}
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    {{previewdata?.molassesLoadingMode}}
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <app-card cardTitle="{{ 'sugarmill.MF9.disposalofmolasses(Qtl)' | translate }}" class="list-panel view-panel">
            <div class="row mb-2 pb-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.todistilleries(Qtl)' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    {{previewdata?.toDistellery}}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.tochemicalindustries(Qtl)' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    {{previewdata?.toChemical}}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label"> {{ 'sugarmill.MF9.others(Qtl)' | translate }} <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    {{previewdata?.suppliesToOther}}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.closingbalancetillmonth' | translate }} <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    {{previewdata?.closingBalance}}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'sugarmill.MF9.wastage' | translate }} <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                     {{previewdata?.wastage}}
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-12 text-right">
        <button type="button" class="btn btn-secondary"
            routerLink="/supplychainmanagement/sugarmills/mf9fortnight/add">{{ 'sugarmill.common.back' | translate }}</button>
    </div>
</div>
