<h5 class="m-b-10">Add Application for Import of Molasses</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a><i class="feather icon-home"></i></a>
    </li>
    <!-- <li class="breadcrumb-item"><a href="javascript:" [routerLink]="['/supplychainmanagement/dashboard']">Supply Chain Management</a></li> -->
    <li class="breadcrumb-item"><a href="">Portable Distillery</a>
    </li>
    <li class="breadcrumb-item"><a href="">Application for Import of Molasses</a>
    </li>
    <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Add Application for Import of Molasses Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Molasses Year</label>
                        <input type="text" class="form-control" disabled value="2022-23">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control" disabled value="16-Aug-2023">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">License Type
                        </label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">License No
                        </label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Distillery Name
                        </label>
                        <input type="text" class="form-control" disabled placeholder="Indian Glycol Limited">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Distillery Address
                        </label>
                        <textarea rows="1" class="form-control" disabled>Gida Gorakhpur Uttar Pradesh                     </textarea>
                       
                    </div>
                </div>
</div>
</app-card>
<app-card cardTitle="Molasses Details" class="list-panel add-panel">
    <div class="row">
        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Molasses Tank Capacity (In Qtls)</label>
                <input type="text" class="form-control" disabled placeholder="200000">
            </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Current Molasses Stock (In Qtls)</label>
                <input type="text" class="form-control" disabled placeholder="85000">
            </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Pending Quantity To Be Lifted Against Previous Permissions (In Qtls)</label>
                <input type="text" class="form-control" disabled placeholder="0">
            </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Remaning Capacity (In Qtls)</label>
                <input type="text" class="form-control" disabled placeholder="115000">
            </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label class="mandatory">Daily Consumption (In Qtls)</label>
                <input type="text" class="form-control"  placeholder="Enter Daily Consumption (In Qtls)">
            </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label class="mandato">Molasses Available for No.of Days</label>
                <input type="text" class="form-control" disabled placeholder="42.5">
            </div>
        </div>
        </div>
        </app-card>
        <app-card cardTitle="Deatils of Exporter" class="list-panel add-panel">
            <div class="row">
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Exporting State</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Exporter Name </label>
                        <input type="text" class="form-control"  placeholder="Enter Exporter Name">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Exported Address
                        </label>
                        <textarea rows="1" class="form-control" ></textarea>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">NOC No from Uttar Pradesh</label>
                        <input type="text" class="form-control"  placeholder="Enter NOC No from Uttar Pradesh">
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Date of NOC</label>
                        <input type="text" class="form-control"  placeholder="Enter Date of NOC">
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                    <label class="mandatory">Upload NOC</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"
                            placeholder="Upload NOC"
                            aria-label="Upload NOC" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"><i
                                    class="fas fa-upload"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="">NOC Balance Qty</label>
                        <input type="text" class="form-control" disabled placeholder="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Molasses used till date in last Year</label>
                        <input type="text" class="form-control" placeholder="Enter Molasses used till date in last Year">
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Molasses used till date in Current Year</label>
                        <input type="text" class="form-control" placeholder="Enter Molasses used till date in Current Year">
                    </div>
                </div>
                </div>
                </app-card>
                <app-card cardTitle="Product Details" class="list-panel add-panel">
                    <div class="row">
                        <div class="col-12 my-2">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center mb-0" >
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Molasses Type<span class="mandatory"></span>
                                            </th>
                                            <th>Reserved/Unreserved<span class="mandatory"></span></th>
                                                <th>Molasses Grade<span class="mandatory"></span></th>
                                                <th>Import Qunatity (In Qtls)<span class="mandatory"></span></th>
                                                
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <select class="form-control">
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td class="text-center">
                                               
                                                        <div class="segment">
                                                            <input type="radio" name="tab" id="tab1" checked>
                                                            <label class="" for="tab1">Yes</label>
                                                            <input type="radio" name="tab" id="tab2">
                                                            <label class="" for="tab2">No</label>
                                                        </div>
                                            </td>
                                            <td> <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                            </td>
                                            <td>
                        <input type="text" class="form-control" placeholder="Enter Import Qunatity (In Qtls)">
                 
                                            </td>
                                            <!-- <td class="table-action-column text-center">
                                                <button class="btn btn-icon btn-success" type="button"
                                                    routerLink="/supplychainmanagement/chemicallab/sampledisposable/view">
                                                    <i class="feather icon-plus"></i></button>
                                                    <button class="btn btn-icon btn-danger ml-2" type="button"
                                                    routerLink="/supplychainmanagement/chemicallab/sampledisposable/add">
                                                        <i class="feather icon-trash"></i></button>
                                                        <button class="btn btn-icon btn-primary" type="button"
                                                        routerLink="/supplychainmanagement/chemicallab/sampledisposable/view">
                                                        Submit</button>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                
            </div>
        </app-card>

    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>
    </div>
</div>