<h5 class="m-b-10 ng-star-inserted">View DEO screen for MGQ
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Retail to Retail Transfer</a></li>
    <li class="breadcrumb-item"><a href="javascript:">DEO screen for MGQ</a></li>
    <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
        <div class="col-xl-12">
            <app-card cardTitle="Quota Transfer request details" class="list-panel view-panel">
                <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Quota Transfer Date<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        20-Mar-2021
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Quota Transfer No <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            RQT/22_23/00001
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            Accepted by DEO
                        </div>
                </div>
                </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
    <div class="row">
        <div class="col-12">
            <!-- <label class="w-100 view-label">QR code<span class="float-right"></span></label> -->
        <div class="text-center">  
            <img src="assets/images/qr-scan.png" height="75px" width="75px"/>
            <p class="mb-0 pt-1">12XVCCN1122</p>
        </div>
        </div>
    </div>
                    </div>
                </div>
            </app-card>
        </div>
        <div class="col-xl-6">
            <app-card cardTitle="To Entity" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">District<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Lucknow
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        FL 4A
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">From Entity<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        RETAIL843942
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Shop Type<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Type A
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Shop Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Shop Name 1
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Shop Address<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA
                    </div>
                </div>
            </app-card>
        </div>
        <div class="col-xl-6">
            <app-card cardTitle="From Entity" class="list-panel view-panel">
                <div class="row"> 
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        FL 4A
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label"> To Entity<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        61009
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label"> Retail Shop Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Model Shop
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Shop Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Shop Name 1
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Shop Address<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA
                    </div>
                </div>
            </app-card>
        </div>
    <div class="col-12">
                <app-card cardTitle="To Entity" class="list-panel view-panel">
                    <div class="row">
                      
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Month <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          September
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Fixed Revenue of Shop(for the Month) <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            20000
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Used Revenue(for the Month) <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            0
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Already Transferred Revenue(this Month) <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            0
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Balance Revenue to Lifted(for the Month) <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            20000
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Max limit revenue to be transferred(for the Month) <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            20
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Revenue Transferred(for the Month) <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                        400000
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Transferd Revenue From Which Wholesaler <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <p class="mb-0">Wholesaler</p>
                            <p>DQ Wholesale</p>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Transferd Date and Time  <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Through Which Transport Pass and Indent No. <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <p class="mb-0">123</p>
                            <p class="mb-0">abc</p>
                            <p class="mb-0">123abc</p>
                        </div>
                
            </div>
        </app-card>
        
       
    </div>

    <div class="col-12 text-right mb-4">
        <!-- <button type="submit" class="btn btn-primary mb-2"
        routerLink="/supplychainmanagement/wholesale/transitgatepass/list">Next</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
        routerLink="/supplychainmanagement/wholesale/transitgatepass/list">Back</button> -->
        <!-- <button type="submit" class="btn btn-success mb-2 ml-2">Submit</button> -->
        <!-- <button type="submit" class="btn btn-success mb-2 ml-2">Modify</button> -->

        <button type="submit" class="btn btn-secondary mb-2 ml-2">Back</button>
    </div>
</div>
