<h5 class="m-b-10 ng-star-inserted"> Add FL B5</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL B5</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="FL B5" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Distillery Address
                            </label>
                            <input type="text"  required class="form-control" placeholder="System Generated">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>District
                            </label>
                            <select class="form-control">
                                <option>Lucknow</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date (1)
                            </label>
                            <input type="date"  required class="form-control" placeholder="System Generated">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Balance In Hand (2)
                            </label>
                            <input type="text" required class="form-control" 
                                placeholder="Enter Balance In Hand (2)">
                        </div>
                    </div>
                    
                </div>
            </app-card>
        </form>
    </div>
    

    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Number Of Bottles With Capacities (2-a)" class="list-panel add-panel">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>750 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 750 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>650 ml
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter 650 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>600 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 600 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>500 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 500 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>375 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 375 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>325 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 325 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>300 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 300 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>250 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 250 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>180 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 180 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total in Bulk Litres (2-b)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Bulk Litres (2-b)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength (2-c)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Strength (2-c)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total in Alcoholic Litres (2-d)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Alcoholic Litres (2-d)">
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Receipts (Bottling Done) (3)" class="list-panel add-panel">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Receipts (Bottling Done) (3)
                        </label>
                        <input type="number" required class="form-control"
                            placeholder="Enter Receipts (Bottling Done) (3)">
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Number of Bottles With Capacities (3-a)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>750 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 750 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>650 ml
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter 650 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>600 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 600 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>500 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 500 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>375 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 375 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>325 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 325 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>300 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 300 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>250 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 250 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>180 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 180 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total In Bulk Litres (3-b)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Bulk Litres (2-b)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength (3-c)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Strength (2-c)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total in Alcoholic Litres (3-d)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Alcoholic Litres (2-d)">
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Total in Hand (4)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total in Hand (4)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Hand (4)">
                        </div>
                    </div>
                </div>
                    </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Number Of Bottles With Capacities (4-a)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>750 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 750 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>650 ml
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter 650 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>600 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 600 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>500 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 500 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>375 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 375 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>325 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 325 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>300 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 300 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>250 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 250 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>180 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 180 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total In Bulk Litres (4-b)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Bulk Litres (2-b)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength (4-c)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Strength (2-c)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total in Alcoholic Litres (4-d)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Alcoholic Litres (2-d)">
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Issues (5)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Issues (5)
                            </label>
                            <input type="text" required class="form-control"
                                placeholder="Enter Issues (5)">
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>   
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Number Of Bottles With Capacities (5-a)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>750 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 750 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>650 ml
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter 650 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>600 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 600 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>500 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 500 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>375 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 375 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>325 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 325 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>300 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 300 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>250 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 250 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>180 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 180 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total In Bulk Litres (5-b)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Bulk Litres (2-b)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength (5-c)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Strength (2-c)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total In Alcoholic Litres (5-d)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Alcoholic Litres (2-d)">
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Balance at The Close Of The Day (6)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Balance at The Close Of The Day (6)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Balance at The Close Of The Day (6)">
                        </div>
                    </div>
                </div>
                    </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Number Of Bottles With Capacities (6-a)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>750 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 750 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>650 ml
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter 650 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>600 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 600 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>500 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 500 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>375 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 375 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>325 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 325 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>300 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 300 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>250 ml</label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 250 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>180 ml
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter 180 ml">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total In Bulk Litres (6-b)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total in Bulk Litres (2-b)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength (6-c)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Strength (2-c)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total In Alcoholic Litres (6-d)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Total In Alcoholic Litres (6-d)">
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Quantity Of Liquor issued For Bottling During The Day (7) " class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bulk Litres (7-a)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Bulk Litres (7-a)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Alcoholic. Litres (7-b)
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter Alcoholic. Litres (7-b)">
                        </div>
                    </div>
                    
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Quantity Of Liquor Bottles During The Day (8)  " class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bulk Litres (8-a)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Bulk Litres (8-a)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Alcoholic. Litres (8-b)
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter Alcoholic. Litres (8-b)">
                        </div>
                    </div>
                    
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Wastage in Bottling (9)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bulk Litres (9-a)
                            </label>
                            <input type="number" required class="form-control"
                                placeholder="Enter Bulk Litres (9-a)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Alcoholic. Litres (9-b)
                            </label>
                            <input type="number" required class="form-control" 
                            placeholder="Enter Alcoholic. Litres (9-b)">
                        </div>
                    </div>
                    
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-success ml-2 mb-2">Add Row</button>
        <button type="button" class="btn btn-danger ml-2 mb-2">Delete Row</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/flb5-form/list">Cancel</button>
    </div>
</div>