::ng-deep .accordion .card .card-header .btn.btn-link{
    border: 0;
    /* padding: 0; */
    background: transparent;
    box-shadow: none;
}
::ng-deep .accordion .card .card-header a{
    color: #000;
}
::ng-deep .accordion .card .card-header .btn.btn-link:after {
    color: #000;
}
::ng-deep .accordion .card .card-header {
    padding: 5px;
    background-color: #e4e4e4;
}
::ng-deep app-card.nopadding .card .card-header{
    padding: 0;
}

td a.bg-transparent.collapsed:after {
    -webkit-transform: rotate(
180deg);
    transform: rotate(
180deg);
}
td a.bg-transparent:after {
    color: #000;
}
td a.bg-transparent:after {
    position: absolute;
    content: "\e845";
    width: 20px;
    height: 20px;
    left: -12px;
    font-family: "feather" !important;
}
.card.card-body.padd{
    padding: 10px;
}