<h5 class="m-b-10 ng-star-inserted">View Monthly Stock</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Custom bond</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Monthly Stock</a></li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>
</ul>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-card cardTitle="Bill-of-Entry Details" class="list-panel add-panel">
                    <div class="row mt-2">

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Received Date<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            06-01-2022
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Bill-of-Entry No<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Bill001
                        </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Custom Bondwarehouse Name<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    Anheuser Wholesale
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Received Cases<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    560
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Received  Mono-cartons<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    540
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Received Bottles per Case<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    100
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Received By<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    Receiver’s Name
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Bill-of-Entry Document<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    document.jpg
                                </div>
                                    <div class="col-xl-12">
                                            <div class="table-responsive mb-2">
                                               <table class="table table-bordered mb-0">
                                                   <thead>
                                                       <tr>
                                                           <th>#</th>
                                                           <th>Brand Name (Parent ETIN)</th>
                                                           <th>Liquor Type</th>
                                                           <th>Liquor Subtype</th>
                                                           <th>Liquor Detailed Description</th>
                                                           <th>Packaging Size(ml)</th>
                                                           <th>Packaging Type</th>
                                                           <th>No. of Cases</th>
                                                           <th>No. of Bottles</th>
                                                           <th>No. of Mono cartons</th>
                                                           <th>No.of Bottles per case</th>
                                                       </tr>
                                                   </thead>
                                                   <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td class="text-left">Distillery</td>
                                                        <td class="text-left">FL</td>
                                                        <td class="text-left">Whishky</td>
                                                        <td class="text-left">Single Malt</td>
                                                        <td class="text-left">750 ML</td>
                                                        <td class="text-left">Glass Bottle</td>
                                                        <td class="text-left">20</td>
                                                        <td class="text-left">200</td>
                                                        <td class="text-left">20</td>
                                                        <td class="text-left">200</td>
                                                    </tr>
                                                   </tbody>
                                               </table>
                                           </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total No. of Cases Received<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        10
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total No. of Mono-cartons Received<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        10
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total No. of Bottles per Case Received<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        100
                                    </div>
                               </div>
                               </app-card>
                                <app-card cardTitle="Damage/Missing Details" class="list-panel add-panel">
                                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>No. of damaged cases</th>
                                            <th>No. of damaged bottles</th>
                                            <th>No. of missing cases</th>
                                            <th>No. of missing bottles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>100</td>
                                            <td>100</td>
                                            <td>200</td>
                                            <td>500</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </app-card>
        
    </div>
   
    
   
    <div class="col-12 text-right">
        <button type="button" class="btn btn-secondary ml-2 mb-2">Back</button>
    
</div>
</div>
