.modal-default-close {
    margin: 0 !important;
    position: absolute;
    top: -27px;
    right: 48%;
    width: 20px;
    height: 42px;
    border-radius: 36px;
    background-color: #4CAF50 !important;
    color: #ffffff;
    font-size: 28px;
    opacity: 1;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-default-close i {
    font-size: 14px;
}

.modal-header .close {
    padding: 10px 22px;
    margin: -20px -25px -20px auto;
}

.modal-header {

    padding: 20px 20px;
    border-bottom: 1px solid #e3eaef;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    display: block;
    padding-bottom: 8px;
}

.inner_content h4 {
    margin-top: 10px !important;
}