<h5 class="m-b-10 ng-star-inserted">Add Online Challan Registration</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Payment</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Online Challan Registration </a></li>
    <li class="breadcrumb-item">Add</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Add Online Challan Registration" class="list-panel add-panel">
                        <div class="row">
            <form autocomplete="off">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Assesment Year</label>
                                <select class="form-control">
                                    <option>select</option>
                                    <option>2024-2025</option>
                                </select>                           
                             </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Date and Time</label>
                                <input type="text" disabled="disabled" class="form-control"
                                    value="29-01-2024 11:01:19 AM">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Salutation</label>
                                <input type="text" class="form-control" value="Mr">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">First Name</label>
                                <input type="text" class="form-control" value="Rishi">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Last Name</label>
                                <input type="text" class="form-control" value="Chawla">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Mobile number</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Address </label>
                                <input type="text" class="form-control" value="UNNAO,UTTAR PRADESH,INDIA,209801">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Deposit Period</label>
                                <input type="text" class="form-control" value="One Time" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">District </label>
                                <select class="form-control">
                                    <option>Select</option>
                                    <option>UNNAO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Division </label>
                                <select class="form-control">
                                    <option>Select</option>
                                    <option>UNNAO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Treasury </label>
                                <select class="form-control">
                                    <option>Select</option>
                                    <option>UNNAO</option>
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Upload Documents </label>
                                <div class="input-group cust-file-button">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                        <label class="custom-file-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
              
             
               
            </form>
        </div>

                <!-- <div class="col-12 text-right mb-2">
                    <button type="button" class="btn btn-primary mr-2">Add</button> 
                    <button type="button" class="btn btn-secondary">Clear</button> 
                </div> -->
            </app-card>
            <app-card cardTitle="Payment Details" class="list-panel add-panel">                       
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Transaction (Fee Type)<span class="mandatory"></span></th>
                                    <th>Transaction Number<span class="mandatory"></span></th>
                                    <th>Challan head <span class="mandatory"></span></th>
                                    <th>G6  <span class="mandatory"></span></th>
                                    <th>Amount (Deposit Amount) <span class="mandatory"></span></th>
                                    <th>Mode of Payment <span class="mandatory"></span></th>
                                    <th>Challan Description <span class="mandatory"></span></th>
                                    <th>Status <span class="mandatory"></span></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td> <input type="text" class="form-control" value="Fee Details"></td>
                                    <td>24039912345</td>

                                    <td> <input type="text" class="form-control" value="3900800060000"></td>
                                    <td class="text-right"> <input type="text" class="form-control" value="01"></td>
                                    <td class="text-right"> <input type="text" class="form-control" value="10000"></td>
                                    <td class="text-right">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>Rajkosh</option>
                                        </select>
                                    </td>

                                    <td class="text-center">
                                        <input type="text" class="form-control" value="Fenaulty fee"></td>
                                        <td class="text-center">
                                            <span class="text-warning"><strong>Pending</strong></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </app-card>
        </form>
    </div>


    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-info mb-2 ml-2" routerLink="/supplychainmanagement/wholesale/transitgatepass/view">Preview</button>
         -->
        <!-- <button type="button" class="btn btn-primary mb-2">Next</button>
            <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
            <button type="button" class="btn btn-success ml-2 mb-2">Generate Transport Pass</button> -->
            <button type="button" class="btn btn-primary mb-2 ml-2"  data-toggle="modal"
            data-target="#exampleModal">Submit</button>
            <button type="button" class="btn btn-secondary mb-2 ml-2">Cancel</button>
            <!-- <button type="button" class="btn btn-secondary mb-2 ml-2">Back</button> -->
        <!-- <button type="button" class="btn btn-warning mb-2 ml-2">Save as Draft</button> -->
        <!-- <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/wholesale/transitgatepass/list">Cancel</button> -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Application has been Successfully Submitted</h5>
                <button type="button" class="close modal-default-close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-check"></i>
                </button>
            </div>
            <div class="modal-body inner_content">
                <h4>Transaction Number is <br> <button class="bg-success border-0 p-2 text-white mt-3" style="border-radius: 5px;">24039912345</button></h4>
                <h4>Date & Time  : 29-01-2024 11:01:19 AM</h4>
                <h4>Status : <span class="text-success ">Success</span></h4>
              
            </div>
            <div class="modal-footer text-center default-footer">
                <button type="button" class="btn btn-warning text-white">Download Application</button>
                <button type="button" class="btn btn-info">Payment Receipt</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>