<h5 class="m-b-10 ng-star-inserted">Production declaration 
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:"> Vintnery</a></li>
    <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/clb10/list">
            Production declaration </a>
    </li>
    <!-- <li aria-current="page" class="breadcrumb-item active">Verification</li>-->
    <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #tankconvertionForm="ngForm" autocomplete="off">
            <app-card cardTitle="View Production Declaration" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Brand Name
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>
                            -
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                           Bottling Plan ID
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Date of declaration 
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>
                        </span>
                    </div>
                    
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                        Bottling  Unit Name
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>BOTTELING364163
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Bottling Under
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Mixed 
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            License No
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>LIC/BOTTLING/FL3A/18/24_25
                        </span>
                    </div>
                </div>
            </app-card>

            <app-card cardTitle="Brand Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Brand Name
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>SEAGRAMS BLENDERS PRIDE RESERVE COLLECTION EXCLUSIVE WHISKY</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Liquor Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>FL
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Liquor Sub Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Whisky
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Liquor Detail Description
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Blended Whisky
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Alcoholic Strength
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>42.8
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">EDP Category
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Premium
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Packaging size 
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>90
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Packaging Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Glass Bottle
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Planned Bottles
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>2083
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">No.of Cases/Monocartons
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>217
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Supply Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Civil 
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Quantity of BL(As Per Dip Book)
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>
                        </span>
                    </div>  
                </div>
            </app-card>

            <app-card cardTitle="Bottling Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">No of Bottles Filled
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Bottled BL
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Code Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>UnMapped
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">No of Cases/Monocartons Scanned
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>0
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">No of Bottles Scanned

                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>0
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Balance Quantity of Liquor
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>
                        </span>
                    </div>
                    
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Remark<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>
                        </span>
                    </div>
                   
                </div>
            </app-card>

            <app-card cardTitle="Batch Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Batch Number-Actual<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>BA1122</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Batch Number-Updated<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>BA1120</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Is the batch empty?<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Yes</span>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered  mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Tank Id-Actual</th>
                                        <!-- <th>Tank Id-Updated</th> -->
                                        <th>Is the Tank Empty?</th>
                                        <th>Bottling Line-Acual</th>
                                        <th>Bottling Line-Updated</th>
                                        <th>Tank available quantity <span class="mandatory"></span></th>
                                        <th>Planned Qty</th>
                                        <th>Pre Declared Qty</th>
                                        <th>Total Quantity Used<span class="mandatory"></span></th>
                                       <th>Remaining Quantity in Bottling Tank</th>
                                        <th>Wastage Quantity<span class="mandatory"></span></th>
                                        <th>Wastage Percentage</th>
                                        <th>Remarks<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td class="text-center">TR1122</td>
                                        <td>Updated</td>
                                        <td>Yes</td>
                                        <td>1000.00</td>
                                        <td>1000.00</td>
                                        <td>1000.00</td>
                                        <td>1000.00</td>
                                        <td>1000.00</td>
                                        <td>1000.00</td>
                                        <td>1000.00</td>
                                        
                                        <td>10%</td>
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </app-card>

          

            <!-- <app-card cardTitle="Payment Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Total Amount paid 
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>17707.2</span>
                    </div>
                 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Actual amount to paid <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Total Refund Amount <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Fees Details</th>
                                        <th>Amount Paid</th>
                                        <th>Actual Amount to be Paid</th>
                                        <th>Refund Amount</th>
                                        <th>Challan Head</th>
                                        <th>G6</th>
                                        <th>Advance Duty Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>
                                            Track N Trace
                                        </td>
                                        <td> 7291.2
                                        </td>
                                        <td>
                                            0
                                        </td>
                                        <td> 7291.2
                                        </td>
                                        <td> 3900800060000
                                        </td>
                                        <td> 2
                                        </td>
                                        <td> 2854279.6
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">Total</td>
                                        <td>17707.2</td>
                                        <td></td>
                                        <td>17507.2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </app-card> -->
           
            <app-card cardTitle="Additional Bottling Line Details" class="list-panel add-panel">
                <div class="row">
                 <div class="col-12">
                     <div class="table-responsive">
                         <table class="table table-bordered text-center mb-0">
                             <thead>
                                 <tr>
                                     <th>S.No</th>
                                     <th>Bottling line Name</th>
                                     <th>Action</th>
                                 
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>1</td>
                                     <td>  -</td>
                                   
                                     <td class="table-action-column">
                                         <button class="btn btn-icon btn-success" type="button">
                                             <i class="fa fa-eye"></i></button>
                                        
 
                                     </td>
 
                                 </tr>
                                 
 
 
                             </tbody>
                         </table>
                     </div>
                 </div>
                </div>
                </app-card>
             <app-card cardTitle="Payment Details" class="list-panel add-panel">
                 <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                         <label class="w-100 view-label">Total Amount paid 
                             <span class="float-right">:</span></label>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                         <span>17707.2</span>
                     </div>
                  
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                         <label class="w-100 view-label">Actual amount to paid <span class="float-right">:</span></label>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                         <span></span>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                         <label class="w-100 view-label">Total Refund Amount <span class="float-right">:</span></label>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                         <span></span>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-12">
                         <div class="table-responsive">
                             <table class="table table-bordered text-center mb-0">
                                 <thead>
                                     <tr>
                                         <th></th>
                                         <th>Fees Details</th>
                                         <th>Amount Paid</th>
                                         <th>Actual Amount to be Paid</th>
                                         <!-- <th>Fee Amount</th> -->
                                        <th>Refund Amount</th> 
                                         <th>Challan Head</th>
                                         <th>G6</th>
                                        
                                         <th>Advance Duty Register</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                         <td>1</td>
                                         <td>Bottling Fees </td>
                                         <td>2500</td>
                                         <td class="text-right">2250</td>
                                         <!-- <td>2500</td> -->
                                         <td>2500</td> 
                                         <td>3900105020000</td>
                                         <td> 7</td>
                                       
                                         <td>250</td>
 
                                     </tr>
                                     <tr>
                                         <td>2</td>
                                         <td>Track and Trace </td>
                                         <td>1500</td>
                                         <td class="text-right">1350</td>
                                         <!-- <td>1500</td> -->
                                         <td>2500</td> 
                                         <td>3900800060000</td>
                                         <td> 2</td>
                                        
                                         <td>150</td>
 
                                     </tr>
                                     <tr>
                                         <td>3</td>
                                         <td>Cow Cess </td>
                                         <td>1000</td>
                                         <td class="text-right">900</td>
                                         <!-- <td>1000</td> -->
                                         <td>2500</td> 
                                         <td>3900105020000</td>
                                         <td> 21</td>
                                       
                                         <td>100</td>
 
                                     </tr>
                                     <tr>
                                         <td colspan="2">Total</td>
                                         <td>5000 </td>
                                         <td class="text-right"> 5000</td>
                                         <td> 7500</td>
                                          <td></td>
                                          <td></td>
                                         <td>500</td>
 
                                     </tr>
 
 
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             </app-card>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-secondary ml-2 mb-2" routerLink="">Back</button>
    </div>