<h5 class="m-b-10 ng-star-inserted">View B6 - Rule 32(891)									
</h5>
<ul class="breadcrumb p-0">
   <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
   <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
   <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
   <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/brewery/b6-form/list">B4</a></li>
   <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>
<div class="row">
   <div class="col-xl-12">
    <app-card cardTitle="Indent Request Details" class="list-panel view-panel">
        <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">SI.NO<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                       2
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Description of Sample<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        Good
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Purpose for Which Taken<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        Not Bad
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Date When Taken<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        20-Jan-2021
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">If worts or beer, initial gravity<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        JBJBB
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Date of receipts of reports from the chemical examiner<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        20-Jan-2021
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Result of analysis<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        Success
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        Approved
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        Need to Clarification
                    </div>

                
            
        </div>
    </app-card>
   </div>
   <div class="col-12 text-right mb-4">
      <!-- <button type="button" class="btn btn-primary mb-2"
         routerLink="/supplychainmanagement/distillery/brewery/b6-form/list">Reamrk</button> -->
      <button type="button" class="btn btn-secondary mb-2 ml-2"
         routerLink="/supplychainmanagement/distillery/brewery/b6-form/list">Back</button>
   </div>
</div>