<h5 class="m-b-10 ng-star-inserted">Add LM Fee
    
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">License Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">LM Fee</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>
    
     
<div class="row">
    <div class="col-xl-12">
        <form #BreakageEntryForm="ngForm" autocomplete="off">
            <app-card cardTitle="LM Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Financial Year </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Entity Type  </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License type  </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Process   </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Fee applicable 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Fees
                            </label>
                            <input type="text" class="form-control" value="AP1122" required >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>G6 Head</label>
                            <input type="text" class="form-control" placeholder="Enter G6 Head">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Challan Head</label>
                            <input type="text" class="form-control" placeholder="Enter Challan Head">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Processing Fees applicable 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Processing Fee% status 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>% of License Fee (Processing Fee)
                            </label>
                            <input type="text" class="form-control" value="100" required >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount Processing Fee
                            </label>
                            <input type="text" class="form-control" value="100" disabled >
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>G6 Head</label>
                            <input type="text" class="form-control" placeholder="Enter G6 Head">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Challan Head</label>
                            <input type="text" class="form-control" placeholder="Enter Challan Head">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Security fee applicable 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>security Fee % status
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>% of License Fee (Security Fee)
                            </label>
                            <input type="text" class="form-control" value="100" required >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Security amount 
                            </label>
                            <input type="text" class="form-control" value="100" disabled >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Renewal Fee Applicable 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Renewal Fee % status 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>% of License Fee (Renewal Fee)
                            </label>
                            <input type="text" class="form-control" value="100" required >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Renewal Fees
                            </label>
                            <input type="text" disabled class="form-control" value="100" required >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>G6 Head</label>
                            <input type="text" class="form-control" placeholder="Enter G6 Head">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Challan Head</label>
                            <input type="text" class="form-control" placeholder="Enter Challan Head">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Registration Fees Applicable 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Registration Fees % status 
                            </label>
                            <div class="segment">
                                <input type="radio" name="tab3" id="tab3" checked>
                                <label class="" for="tab3">Yes</label>
                                <input type="radio" name="tab4" id="tab4">
                                <label class="" for="tab4">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>% of License Fee (Registration Fee)
                            </label>
                            <input type="text" class="form-control" value="100" required >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Registration Fees
                            </label>
                            <input type="text" class="form-control" value="100"  disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>G6 Head</label>
                            <input type="text" class="form-control" placeholder="Enter G6 Head">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Challan Head</label>
                            <input type="text" class="form-control" placeholder="Enter Challan Head">
                        </div>
                    </div>
                  
                 </div>
                 </app-card>
                  
                   
                          </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2" (click)="addBreakageEntryDetails(BreakageEntryForm,true)">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/wholesale/breakageentry/list">Cancel</button>
    </div>
</div>