<h5 class="m-b-10 ng-star-inserted">
    MF10 Molasses Entry {{addedit}}
 </h5>
 
 <ul class="breadcrumb p-0">
     <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
     <!-- <li class="breadcrumb-item"><a href="javascript:">Supply Chain Management</a></li> -->
     <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
     <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/mf6-part-one/list">Molasses In-Ward At Distillery</a></li>
     <li class="breadcrumb-item"><a href="javascript:" routerLink="/supplychainmanagement/distillery/mf12-molassesregister/list">MF10 Molasses Entry</a></li>
     <li class="breadcrumb-item">{{addedit}}</li>
 </ul>
 
 <div class="row">

    <!-- <div class="col-xl-12">
        <form #molassesEntryForm="ngForm" autocomplete="off">
            <app-card cardTitle=" Detail of MF10 Molasses Entry" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Date<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.date}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Molasses Year<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.molassesYear}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Type of Molasses<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.molassesName?.name}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Opening Stock on 1st November<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.openingStockOn1stNovember}}
                    </div>
                </div>
                <h6>Received molasses Till 1st November 2019</h6>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Receipt of free sale Molasses<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.molassesReceiptOfReserved}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Receipt of free sale Molasses<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.receiptOfFreeSaleMolasses}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Molasses Received<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.totalMolassesReceived}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Sum<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.sum}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Consumption  till in the end of Sept 2020<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.totalConsTillInTheEndOfSept2020}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Book Balance<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.bookBalance}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Actual Balance<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.actualBalance}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Processes and Storage Wastage<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.processesAndStorageWastage}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Processes and Storage Wastage (%)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.processesAndStorageWastagePercentage}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Dispatch Quantity ( Till date ) from Sugar Mill<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.dispatchQuantityFromSugarMill}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Transit Wastage till Sept 2020<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.totalTransitWastageTillSept2020}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Tanker Received till Sept 2020<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.totalTrankerReceivedTillSept2020}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">No. of Tanker having transit Wastage more than 1%<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.noOfTankerHavingTransitWastageMoreThan1}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">No. of cases under consideration in the department<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        {{molassesEntryObj.noOfCasesUnderConsInTheDepartment}}
                    </div>
                </div>
            </app-card>
        </form>
        <div *ngIf="addedit=='View'" class="col-12 text-right mb-4">
            
        
            <button type="button" class="btn btn-secondary"
                routerLink="/supplychainmanagement/distillery/mf10-molassesentry/list">Back</button>
        </div>
        <div *ngIf="addedit!=='View' && !molassesEntryObj.id" class="col-12 text-right mb-4">
            <button type="button" class="btn btn-success mr-2">Print</button>
            <button type="button" class="btn btn-secondary"
                routerLink="/supplychainmanagement/distillery/mf10-molassesentry/add">Back</button>
        </div>
        <div *ngIf="addedit!=='View' && molassesEntryObj.id" class="col-12 text-right mb-4">
            <button type="button" class="btn btn-success mr-2">Print</button>
            <button type="button" class="btn btn-secondary"
                routerLink="/supplychainmanagement/distillery/mf10-molassesentry/edit/{{molassesEntryObj.id}}">Back</button>
        </div>
    </div>                 -->
  
  
  <!-- hide -  previous code developement code to top please check old code  -->


    <div class="col-xl-12">
        <form #molassesEntryForm="ngForm" autocomplete="off">
            <app-card cardTitle=" Detail of MF10 Molasses Entry" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Date<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      12-10-2021 
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Molasses Year<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     2021
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Type of Molasses<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       -
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Opening Stock on 1st November<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       -
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Received molasses Till 1st November 2019<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       50
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Molasses Receipt of Reserved Molasses <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       500
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Receipt of free sale Molasses<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        
                    </div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Molasses Received<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Sum<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Consumption  till in the end of Sept 2020<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Book Balance<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Actual Balance<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Processes and Storage Wastage<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Processes and Storage Wastage (%)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Dispatch Quantity ( Till date ) from Sugar Mill<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Transit Wastage till Sept 2020<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Total Tanker Received till Sept 2020<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">No. of Tanker having transit Wastage more than 1%<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">No. of cases under consideration in the department<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6"> 
                    </div>
                </div>
            </app-card>
        </form>
        <div *ngIf="addedit=='View'" class="col-12 text-right mb-4">
            
        
            <button type="button" class="btn btn-secondary"
                routerLink="/supplychainmanagement/distillery/mf10-molassesentry/list">Back</button>
        </div>
        <div *ngIf="addedit!=='View' && !molassesEntryObj.id" class="col-12 text-right mb-4">
            <button type="button" class="btn btn-success mr-2">Print</button>
            <button type="button" class="btn btn-secondary"
                routerLink="/supplychainmanagement/distillery/mf10-molassesentry/add">Back</button>
        </div>
        <div *ngIf="addedit!=='View' && molassesEntryObj.id" class="col-12 text-right mb-4">
            <button type="button" class="btn btn-success mr-2">Print</button>
            <button type="button" class="btn btn-secondary"
                routerLink="/supplychainmanagement/distillery/mf10-molassesentry/edit/{{molassesEntryObj.id}}">Back</button>
        </div>
    </div>            
