<h5 class="m-b-10 ng-star-inserted">View MF 4 Receival by Distillery</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:" routerLink = "/supplychainmanagement/distillery/mf4-acknowledgement/list">MF4 Transport Pass</a></li>
    <li class="breadcrumb-item"><a href="javascript:" routerLink="/supplychainmanagement/distillery/mf4-receivedbydistillery/list">MF4 Receival by Distillery</a></li>
    <li aria-current="page" class="breadcrumb-item active">View</li>
    </ul>
<div class="row">

    <div class="col-xl-12">
        <form  autocomplete = "off">
            <app-card cardTitle="MF 4 Receival by Distillery" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        
                            <label  class="w-100 view-label">MF4 Date <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                          
                      <span>20-Jul-2021</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       
                            <label  class="w-100 view-label">Season<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           
                                <span>-</span>
                      
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       
                            <label  class="w-100 view-label">Gate Pass No <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           
                                <span>TP1122</span>
                       
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Supply Type <span class="float-right">:</span></label>
                    </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <span>Within UP</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Sugar Mill Name <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           
                                <span>Daurala Distillery</span>
                     
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Address <span class="float-right">:</span></label>
                    </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                          
                            <span>Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow, UP 241001</span>
                        </div>
                   
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Delivered <span class="float-right">:</span></label>
                    </div> 
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                          
                                    <span>{{mf4recievedistillery.deliver}}</span>
                            </div> -->
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Passbook No<span class="float-right">:</span></label>
                    </div>   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           
                                <span>{{mf4recievedistillery.passNo}}</span>
                       
                    </div>  -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Order Number<span class="float-right">:</span></label>
                    </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6"> 
                          
                                <span>OR1122</span>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Order Date<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6"> 
                           
                                <span>20-Jul-2021</span>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Distillery Name<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                         
                                <span>Daurala Distillery</span>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Address<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                          
                        <span>33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA</span>
                    </div> 
                </div>
            </app-card>
        </form>
    </div>

    <div class="col-xl-12">
        <form  autocomplete = "off">
            <app-card cardTitle="Vehicle Description" class="list-panel view-panel">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Transporter's Name<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            PIKUP MAX
                        </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Vehicle No<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           
                                <span>  UP32 AN 7647</span>
                       
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Driver Name<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                          
                                <span>KARAN</span>
                       
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Outside District
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Route Details<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Jalaun
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Major Route<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Jalaun
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Distance (Kms)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        100
                    </div>
                </div>
            </app-card>
        </form>
    </div>

    <div class="col-xl-12">
        <form  autocomplete = "off">
            <app-card cardTitle="Tank Wise Description" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Gross(Qtl)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           
                                <span></span>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">TARE(Qtl)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                           
                       
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">NET(Qtl)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                          
                                <span></span>
                     
                    </div> 
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Tank<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{mf4recievedistillery.tank}}</span>
                          
                        
                    </div>  -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Grade<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                      
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">TRS(%)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                           
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">BRIX(%)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                      
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Quantity(Qtl)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                          
                    </div> 
                    <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                    </div>
                    <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      Need Clarification
                    </div> 
                </div>
            </app-card>
        </form>
    </div>

    <div class="col-xl-12">
        <form  autocomplete = "off">
            <app-card cardTitle="Received Description" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Received By(Distillery)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Daurala Distillery</span> 
                           
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Received on<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>20-Jul-2021</span> 
                      
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Received Gross (Qtl)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>8500</span> 
                       
                           
                       
                    </div> 
               
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label  class="w-100 view-label">Received TARE (Qtl)<span class="float-right">:</span></label>
                        </div> 
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>4500</span> 
                          
                    </div> 
               
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">NET Received Molasses (Qtl)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>13000</span> 
                          
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Received TRS(%)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>2000</span> 
                          
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Received Brix(%)<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>1000</span> 
                         
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Grade<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>A</span> 
                         
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Name Of the Inspector<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Arpit</span> 
                           
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label  class="w-100 view-label">Inspection Date<span class="float-right">:</span></label>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>25-Jul-2021</span> 
                          
                    </div> 
                   
                </div>
            </app-card>
        </form>
    </div>
  
    <div class="col-12  mb-3 card-accordion">
        <ngb-accordion [closeOthers]="true" activeIds="static-2" class="next-accordion">
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    <h5><a href="javascript:">Logs</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
    <form>
   <div class="row mx-4 timeline_card" >
    <div class="col-12">
    <div class="timeline_icon text-center timeline_icon_bg1 h-100">
    <i class="far fa-comments"></i>
    <small>20/03/21<br> 10:00</small>
    </div>
    <div class="timeline_content">
    <div class="w-100 p-3 rounded timeline_box timeline_bg1">
    <h6>DEO - Sunil Singh</h6>
    <p class="mb-0">Need Clarification</p>
    </div>
    </div>
    </div>
    <div class="col-12">
    <div class="timeline_icon text-center timeline_icon_bg3 h-100">
    <i class="fas fa-check"></i>
    <small>20/03/21<br> 11:00</small>
    </div>
    <div class="timeline_content">
    <div class="w-100 p-3 rounded timeline_box timeline_bg2">
    <h6>Wholesale - Good Wines</h6>
    <p class="mb-0">Accepted</p>
    </div>
    </div>
    </div>
    <div class="col-12">
    <div class="timeline_icon text-center timeline_icon_bg2 h-100">
        <i class="fas fa-check"></i>
    <small>20/03/21<br> 11:30</small>
    </div>
    <div class="timeline_content">
    <div class="w-100 p-3 rounded timeline_box timeline_bg3">
        <h6>Wholesale - Good Wines</h6>
    <p class="mb-0">Transport Pass Clarification updated. Kindly check</p>
    </div>
    </div>
    </div>
    </div>
    </form>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
</div>

    <div class="col-12 text-right mb-4">
                           
        <!-- <button type="button" class="btn btn-success mr-2">Print</button> -->

        <button type="button" class="btn btn-secondary mr-2" 
            routerLink="/supplychainmanagement/distillery/mf4-receivedbydistillery/list">Cancel</button>
    </div>
</div>