<h5 class="m-b-10 ng-star-inserted">
   IU Special Case Brand Label Registration
    <button type="submit" class="btn btn-success custom_add_button pull-right" routerLink="/supplychainmanagement/wholesale/brandlabelreg/add">
      <i class="feather icon-plus mr-2"></i>
      Add IU Special Case Brand Label Registration
    </button>
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Import Unit</a></li>
    <li class="breadcrumb-item"><a href="javascript:">IU Special Case Brand Label Registration</a></li>
    <li class="breadcrumb-item">List</li>
</ul>



<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Brand Label Registration List" blockClass="table-border-style" class="list-panel">

            <div class="row">
                <div class="col-12  mt-2">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>Application No</th>
                                    <th>Unit Name</th>
                                    <th>Brand Name</th>
                                    <th>Domain</th>
                                    <th>Strength</th>
                                    <th>EBP/EDP Category</th>
                                    <th>Validity of Registration</th>
                                    <th>Currently with</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td class="text-center">18/02/2024</td>
                                    <td class="text-center">BIO1/BE/JUL22/BLR0000030</td>
                                    <td>Pasupati BIO-1</td>
                                    <td>Bayreuther Hell Beer</td>
                                    <td class="text-center">With In UP</td>
                                    <td class="text-center">8%</td>
                                    <td>More Than 45</td>
                                    <td>17/02/2027</td>
                                    <td>DEO</td>
                                    <td class="text-center">
                                        <span class="badge badge-light-success">Active</span>
                                    </td>
                                    <td class="table-action-column text-center">
                                        <button class="btn btn-icon btn-primary" type="button" routerLink="/supplychainmanagement/wholesale/brandlabelreg/view">
                                      <i class="feather icon-eye"></i></button>
                                        <button class="btn btn-icon btn-secondary ml-2" type="button" routerLink="/supplychainmanagement/wholesale/brandlabelreg/edit">
                                      <i class="feather icon-edit-2"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div ngbDropdown>
                        <button class="btn btn-success" ngbDropdownToggle type="button">Download</button>
                        <div ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:">Excel</a>
                            <a class="dropdown-item" href="javascript:">PDF</a>
                            <a class="dropdown-item" href="javascript:">CSV</a>
                        </div>
                    </div>
                </div>

            </div>
        </app-card>
    </div>
</div>