<h5 class="m-b-10 ng-star-inserted"> Add E-Lottery</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Licence Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">DEO</a></li>
    <li class="breadcrumb-item"><a href="javascript:">E-Lottery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Shop Creation" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Shop ID<span class="mandatory"></span></label>
                            <input type="number" disabled class="form-control" placeholder="3288" required>
                        </div>
                    </div>

                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Entity of Firm</label>
                            <select class="form-control">
                                 <option>Select</option>
                                 <option>Firm</option>
                                 <option>Company</option>
                               </select>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Type<span class="mandatory"></span></label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>FL2</option>
                                <option>FL2B</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>MGQ<span class="mandatory"></span></label>
                            <input type="text" class="form-control" placeholder="Enter MGQ">
                                                    </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Financial Year<span class="mandatory"></span></label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Mr.</option>
                                <option>Miss.</option>
                                <option>Mrs.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Country<span class="mandatory"></span></label>
                           <input type="text" class="form-control" placeholder="India" disabled>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>State<span class="mandatory"></span></label>
                            <input type="text" class="form-control" placeholder="Uttar Pradesh" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>District<span class="mandatory"></span></label>
                            <select class="form-control" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Prashiti<span class="mandatory"></span> </label>
                            <select class="form-control" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Charge<span class="mandatory"></span> </label>
                            <select class="form-control" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Zone <span class="mandatory"></span></label>
                            <select class="form-control" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Tehsil <span class="mandatory"></span></label>
                            <select class="form-control" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Others <span class="mandatory"></span></label>
                            <input type="text" class="form-control" placeholder="Enter Others">
                                                    </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Sector<span class="mandatory"></span> </label>
                            <select class="form-control" required>
                                <option value="">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Others<span class="mandatory"></span> </label>
                            <input type="text" class="form-control" placeholder="Enter Others">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Area <span class="mandatory"></span></label>
                            <select class="form-control" required>
                                <option value="">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Others <span class="mandatory"></span></label>
                            <input type="text" class="form-control" placeholder="Enter Others">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Lattitude</label>
                            <input type="text" class="form-control" placeholder="Enter Lattitude">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Longitude</label>
                            <input type="text" class="form-control" placeholder="Enter Longitude">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">East </label>
                            <input type="text" class="form-control" placeholder="Enter East ">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">West </label>
                            <input type="text" class="form-control" placeholder="Enter West ">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">South </label>
                            <input type="text" class="form-control" placeholder="Enter South ">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">North </label>
                            <input type="text" class="form-control" placeholder="Enter North ">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Processing fee </label>
                            <input type="text" class="form-control" placeholder="Enter Processing fee ">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Basic License Fee</label>
                            <input type="text" class="form-control" placeholder="Enter Basic License Fee">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License Fee</label>
                            <input type="text" class="form-control" placeholder="Enter License Fee">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Solvency Amount</label>
                            <input type="text" class="form-control" placeholder="Enter Solvency Amount">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Security Amount</label>
                            <input type="text" class="form-control" placeholder="Enter Security Amount">
                                                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="d-block">Status <span class="mandatory"></span></label>
                                    <!-- <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline2">No</label>
                                    </div> -->
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" checked id="customswitch1">
                                        <label class="custom-control-label" for="customswitch1">Active</label>
                                      </div>
                        </div>
                    </div>


                </div>
            </app-card>














        </form>
        <div class=" text-content text-right mb-4">
            <!-- <button type="button" class="btn btn-warning mb-2 ml-2">Save as draft</button>
            <button type="button" class="btn btn-info mb-2 ml-2">Preview</button>
            <button type="button"disabled class="btn btn-success mb-2 ml-2">Site Details</button> -->
            <button type="button" class="btn btn-primary mb-2">Submit</button>
            <button type="button" class="btn btn-info mb-2 ml-2">Reset</button>
            <button type="button" class="btn btn-secondary mb-2 ml-2">Cancel</button>
        </div>
    </div>
</div>