<h5 class="m-b-10 ng-star-inserted">
    View Sale Return
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Billing</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Sale Return</a></li>
    <li class="breadcrumb-item">View</li>
</ul>
  <div class="row">
      <div class="col-12 mt-3">
    
          <app-card cardTitle="Invoice Details" class="list-panel add-panel">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Invoice Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                  IN1122
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Invoice Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                   19-Sep-2023
                </div>
              </div>
          </app-card>
          <app-card cardTitle="Customer Details" class="list-panel add-panel">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                  <label class="w-100 view-label">Customer Name<span class="float-right">:</span></label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                DQ Wines
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                  <label class="w-100 view-label">Customer Number<span class="float-right">:</span></label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                CN1122
              </div>
            </div>
        </app-card>
        <app-card cardTitle="Items Details 
        " class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                 
                    <div class="">
                        <img src="assets/images/qr-scan.png" class="qr-img"/>
                        <p class="mb-0 pt-1 font-weight-bold">12XVCCN1122</p>
                    </div>
                                </div>
                
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered text-center mb-0 mt-2">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Items Name/Brand Name</th>
                                                    <th>Liquor Type</th>
                                                    <th>Sub Liquor Type</th>
                                                    <th>Size of Bottles</th>
                                                    <th> Rate Per Bottles(Price)</th>
                                                    <th>Total Quantity</th>
                                                     <th>Total Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <!-- <td>BN1121</td> -->
                                                    <td class="text-left">
                                                        Jack Daniels (Black)
                                                    </td>
                                                    <td class="text-left">
                                                        FL
                                                    </td>
                                                    <td class="text-left">
                                                        Whishky
                                                    </td>
                                                    <td class="text-left">
                                                        750 ml
                                                    </td>
                                                    <td class="text-right">
                                                        100.00
                                                    </td>
                                                   <td class="text-left">
                                                        5000.00
                                                    </td>
                                                    <td class="text-right">
                                                        10000.00
                                                    </td>
                                                </tr>
                                               
                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                </div>
                </app-card>
          <app-card cardTitle="Payment Details 
          " class="list-panel add-panel">
              <div class="row">
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Is Payment Done ?
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                Yes
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Date of Payment 

                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                12-Sep-2023
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Total Amount 
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    8000.00                </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                        <label class="w-100 view-label">Total amount Return 
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                        8000.00                </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Return  Amount  <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Balance amount  to be Return
                                <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <input type="text" class="form-control" />
                        </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Mode of Payment <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                Card
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Transaction Number &amp; Cheque Number
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    200.00                </div>
          </div>
      </app-card>
  
  
      </div>
      <div class="col-12 text-right mb-4">
       
        <button type="button" class="btn btn-success ml-2 mb-2" 
          routerLink="/supplychainmanagement/retail/indentrequestnew/list">Submit</button>
          <button type="button" class="btn btn-danger ml-2 mb-2" 
          routerLink="/supplychainmanagement/retail/indentrequestnew/list">Delete</button>
          <button type="button" class="btn btn-primary ml-2 mb-2" 
          routerLink="/supplychainmanagement/retail/indentrequestnew/list">Download</button>
          <button type="button" class="btn btn-secondary ml-2 mb-2" 
          routerLink="/supplychainmanagement/retail/indentrequestnew/list">Back</button>
      </div>
  </div>