<h5 class="m-b-10 ng-star-inserted">
    OMD(Oil Mixing Depo) Registration List
  </h5>
  
  
  <ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Supply Chain Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">OMD(Oil Mixing Depo) Registration</a></li>
    <li class="breadcrumb-item">List</li>
  </ul>
  
  <div class="row">
      <div class="col-xl-12">
          <app-card cardTitle="Search" class="search-panel">
              <div class="row">
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>OMD Name</label>
                        <input type="text" class="form-control" placeholder="Enter OMD Name">
                    </div>
                </div>
               
                  <div class="col-12 text-right">
                            <button type="submit" class="btn btn-primary mr-2">Search</button>
                            <button type="submit" class="btn btn-secondary">Cancel</button>
                  </div>
              </div>
          </app-card>
      </div>
  </div>
  
  <div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="OMD(Oil Mixing Depo) Registration List" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Financial year</th>
                            <th>Date of <br/> Application</th>
                            <th>Application Number
                            </th>
                            <th>License Number                            </th>
                            <th>License Type </th>
                            <th>OMD Name </th>
                            <th>Unit Type</th>
                            <th>Distillery Name</th>
                            <th>Spirit Type</th>
                            <th>Annual Quantity of specially denatured spirit (Bulk Litres)
                            </th>
                            <th>Quarterly Quota of specially denatured spirit (Bulk Litres)
                            </th>
                            <th>Total Spirit Storage Capacity
                            </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                     
                        <tr>
                            <td colspan="14"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
              <div class="col-xl-4" >
                  <div ngbDropdown>
                  <button class="btn btn-success" ngbDropdownToggle type="button">Download</button>
                  <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:">Excel</a>
                  <a class="dropdown-item" href="javascript:">PDF</a>
                  <a class="dropdown-item" href="javascript:">CSV</a>
                  </div>
              </div>
              </div>
              <!-- <div class="col-xl-8 " >
                  <ngb-pagination [collectionSize]="70"  [(page)]="advancePage"  [boundaryLinks]="true" class="float-right"></ngb-pagination>
              </div> -->
          </div>
        </app-card>
    </div>
  </div>
  
  
  