<h5 class="m-b-10 ng-star-inserted">View QR codes on Bottles - DSPT
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Control Regulation</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Dispatch</a></li>
    <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="View QR codes on Bottles - DSPT " class="list-panel add-panel">
            <div class="row">
                <div class="col-12">
                    <ngb-tabset #tabSet="ngbTabset" type="pills" class="mb-2">
                        <ngb-tab title="Transport Pass Details">
                            <ng-template ngbTabContent>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div class="row mt-3">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Issue date<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                       20-Jul-2021
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Transport date<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                       20-Jul-2021
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Transport pass No.<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        4
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <app-card cardTitle="Unit Details" class="list-panel view-panel">
    
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">License Type<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        Distillery type 1
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Unit Name<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        BLUE OCEAN BEVERAGES PRIVATE LIMITED
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Unit Address<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                                                    </div>
    
                                                </div>
                                            </app-card>
                                            </div>
                                            <div class="col-6">
                                            <app-card cardTitle="Wholesale Details" class="list-panel add-panel">
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                      FL 36
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Wholesale name<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        Daurala Industry
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Wholesale Address<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, Kanpur
                                                    </div>
                                                </div>
                                            </app-card>
                                        </div>
                                        </div>
                                    <div class="col-12">
                                        <app-card cardTitle="Transportation Details" class="list-panel add-panel">
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Route Details<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    Lucknow
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Major District<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    Luckno
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Range(kms.)<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        120km
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                            <label class="w-100 view-label">Valid upto<span class="float-right">:</span></label>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                            20-Jul-2022
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                            <label class="w-100 view-label">GPS ID<span class="float-right">:</span></label>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                            GPS0909089
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                            <label class="w-100 view-label">Vehicle No.<span class="float-right">:</span></label>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                          UP07 HJ 9898 
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                            <label class="w-100 view-label">Vehicle Driver Name<span class="float-right">:</span></label>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                          Sathish
                                                        </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Transporter's Name<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                  K.K. Travelles
                                                </div>
                                                
                                                
                                               
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Gross Weight<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    5000
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Tier Weight<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    500
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Net Weight<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    5500
                                                </div>
                                                
                                            </div>
                                        </app-card>
                                    </div>
                                    <div class="col-12">
                                        <app-card cardTitle="Indent Details" class="list-panel view-panel">
                                          
                                  
                                    <div class="row">
                                   
                                        <div class="col-12 mb-2">

                                            <div class="table-responsive">
                                                <table class="table table-bordered text-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Indent No</th>
                                                            <th>Indent Date</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>6234723922</td>
                                                            <td>20-Mar-2021</td>
                                                            
                                                        </tr>
                                                       
                                                    </tbody>
                                                </table>
                                            </div>



                                        </div>

                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            <label class="w-100 view-label">Total No of Cases Requested<span
                                                    class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            10
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            <label class="w-100 view-label">Total No of Bottles Requested<span
                                                    class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            10
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            <label class="w-100 view-label">Total no of cases scanned<span
                                                    class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            10
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            <label class="w-100 view-label">Scan barcode<span
                                                    class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            -
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            <label class="w-100 view-label">Total no of cases pending<span
                                                    class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            -
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            <label class="w-100 view-label">Total no of bottles requested<span
                                                    class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            -
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            <label class="w-100 view-label">Total Bulk Litres<span
                                                    class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                            2000.00
                                        </div>
                                    </div>
                                    </app-card>
                                    </div>
                                    <div class="col-xl-12">
                                        <app-card cardTitle="Duty Details" class="list-panel view-panel">
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Advance consideration fees<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    1000.00
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Advance scanning fee<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    1000.00
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Advance duty<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    800.00
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Total duty<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    1000.00
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Total additional duty<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    2000.00
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Total special additional duty
                                                        <span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    200
                                                </div>
                                               
                                
                                                
                                            </div>
                                
                                        </app-card>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Indent details">
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <label class="w-100 view-label">Indent date<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                       20-Jul-2021
                                    </div>
                                    </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr>
                                                        <th>S.no</th>
                                                        <th>Brand Name</th>
                                                        <th>Liquor <br> Type</th>
                                                        <th>Liquor <br>Sub Type</th>
                                                        <th>Liquor Detailed <br>Description</th>
                                                        <th>Package <br> Type</th>
                                                        <th>Package <br> size</th>
                                                        <!-- <th>No. of  <br>Bottles <br> Per case</th>
                                                        <th>No of  <br> Requested <br> cases</th> -->
                                                        <!-- <th>No of <br>Requested <br>bottles</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td class="text-left">
                                                            Rampur Select 
                                                        </td>
                                                        <td class="text-left">
                                                            Whisky
                                                        </td>
                                                        <td class="text-left">
                                                            Strong
                                                        </td>
                                                        <td class="text-left">
                                                            Glass Bottle 
                                                        </td>
                                                        <td class="text-left">
                                                            750ML
                                                        </td>
                                                        <td class="text-left">
                                                            Description
                                                        </td>
                                                       
                                                        <!-- <td class="text-left">
                                                            Glass Bottle 
                                                        </td>
                                                        <td class="text-left">
                                                            12
                                                        </td>
                                                        <td class="text-right">
                                                            300
                                                        </td>
                                                        <td class="text-right">
                                                            50 -->
                                                        <!-- </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total cases requested <span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        300
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total bottles requested<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        50
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total cases dispatched<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        50
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total Bottles dispatched<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        50
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total Duty Paid<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        50
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total no of cases dispatched<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        50
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total no of Bottles dispatched<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        50
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total Bulk litres<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        5000
                                    </div>  
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total duty fee<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        5000
                                    </div>  
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total additional duty<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        5000
                                    </div> 
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total special additional duty<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        5000
                                    </div>  
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>

            </div>
        </app-card>

    </div>

    <div class="col-12 text-right mb-4">
        <button type="submit" class="btn btn-primary mb-2 ml-2">Next </button>
        <!-- <button type="submit" class="btn btn-info mb-2 ml-2" >Print</button> -->
        
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
            routerLink="/supplychainmanagement/warehouse/dispatch/list">Back</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
            routerLink="/supplychainmanagement/warehouse/dispatch/list">Cancel</button>
    </div>
</div>