<h5 class="m-b-10 ng-star-inserted">View Blending Process
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL50</a></li>
    <li class="breadcrumb-item"><a routerLink="">
            Blending Process</a></li>
    <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="View Blending Process Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Date<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>25-Jan-2021</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Blending Plan Id<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>ID1234</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Brand Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span> Barcardi Lemon</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Spirit Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>HPCL</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Spirit Sub Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>HPCL Grade</span>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Liquor Detailed Description<span class="float-right">:</span></label>
                    </div>
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Single Malt</span>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Batch No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>BA1122</span>
                </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Blending Vat No<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>50</span>
                    </div>
                    <div class="table-responsive mb-2">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Raw Material Name</th>
                                    <th>Source Tank</th>
                                    <th>Available Qunatity BL</th>
                                    <th>Strength</th>
                                    <th>Available Qunatity AL</th>
                                    <th>Initial dip of storage VAT</th>
                                    <th>Final dip of Storage VAT</th>
                                    <th>Quantity Required BL</th>
                                    <th>Quantity Required AL</th>
                                    <th>Transfer Qunatity</th>
                                    <th>Transfer Wastage BL</th>
                                    <th>Transfer Wastage AL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>

                                    <td class="text-left">
                                        ENA
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        Mild
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                    <td class="text-left">
                                        100
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Spirit VAT No<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>50</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Quantity Of ENA<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>60</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Quantity of Other Spirit (Multiple Choice Drop Down)<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>50</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Reduction of Spirit (In terms of Volume)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Quantity of Caramel(KG)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>50</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Quantity of Flavor(Ltrs)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>50</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Blending Process end Date<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>10-Jan-2021</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Final Volume<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Strength<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Temperature<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Quantity of Blend Prepared A.L<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div> -->
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Status<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Verified</span>
                    </div> -->
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Remarks<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span><input type="text" class="form-control" placeholder="Enter Remarks"></span>
                    </div> -->
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Verified By<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Admin</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Verified On<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>10-sat-2021</span>
                    </div> -->
                </div>
            </app-card>

            <app-card cardTitle="Blending VAT Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive mb-2">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Quantity of DM Water (BL)</th>
                                        <th>Qunatity of other Raw Material</th>
                                        <th>Final dip of Blending VAT</th>
                                        <th>Strength</th>
                                        <th>Temprature</th>
                                        <th>Final Volume(Quantity of Blend Prepared B.L)</th>
                                        <th>Quantity of Blend Prepared A.L</th>
                                        <th>Obscuration Wastage BL</th>
                                        <th>Obscuration Wastage AL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
    
                                        <td class="text-left">100</td>
                                        <td class="text-left">100</td>
                                        <td class="text-left">100</td>
                                        <td class="text-left">Mild</td>
                                        <td class="text-left">100</td>
                                        <td class="text-left">100</td>
                                        <td class="text-left">100</td>
                                        <td class="text-left">100</td>
                                        <td class="text-left">100</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    </app-card>
                    <app-card cardTitle="Radar Details " class="list-panel add-panel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Is the Radar Based Mass Flow Meter applicable<span
                                        class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                               Yes
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Radar ID <span
                                        class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                PDI/FL3A/UN/PRO/806192
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Date and Time<span
                                        class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                05/05/2024 14:02:30        
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Start Reading<span
                                        class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                1000
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">End Reading<span
                                        class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                1000
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Bulk litre<span
                                        class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                100
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Remarks<span
                                        class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                remarks
                            </div>
                        </div>
        
                    </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-primary mb-2"
        routerLink="">Approve</button>
        <button type="button" class="btn btn-danger mb-2 ml-2"
        routerLink="">Reject</button>
        <button type="button" class="btn btn-warning mb-2 ml-2"
        routerLink="">Request for Clarification</button> -->
        <button type="button" class="btn btn-secondary mb-2 ml-2"
            routerLink="">Back</button>
    </div>
</div>