<h5 class="m-b-10">
    View Accidental Damaged Stocks Destruction
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Accidental Damaged Stocks Destruction</a></li>
    <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #tankconvertionForm="ngForm" autocomplete="off">
            <app-card cardTitle="Accidental TP  Details" class="list-panel view-panel">

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                        <div class="col-12">
                        <div class="text-center">
                            <label class="w-100 view-label">Accidental Return TP</label>
                            <img src="assets/images/qr-scan.png" class="qr-img"/>
                            <p class="mb-0 pt-1 font-weight-bold">BREWERYFL317-FL3-WHOLESALE2702-FL2-GORA-Mar24_00000101</p>
                        </div>
                        </div>
                        </div>
                                    </div>
                                    </div>
                                    </app-card>
                                    <app-card cardTitle="Return TP Detail" class="list-panel view-panel">

                                        <div class="row">
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">
                                                    Accident Date
                                                    <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <span>09-07-2024
                                                </span>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">
                                                    Return TP Acknowledgement Date
                                                    <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <span>09-07-2024
                                                </span>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">
                                                    ReturnTP Number
                                                    <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <span>BREWERYFL317-FL3-WHOLESALE2702-FL2-GORA-Mar24_00000103
                                                </span>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">
                                                    Total damaged Cases received
                                                    <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <span>1000
                                                </span>
                                            </div>
                                            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">
                                                    Actual Cases received 
                                                    <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <span>
                                                </span>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">
                                                    Actual Bottles received
                                                    <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <span>
                                                </span>
                                            </div> -->
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">
                                                    Total Received BL
                                                    <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <span>
                                                </span>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Accidental Location Address<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                Ram vikas Nagar, LUCKNOW
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Accidental Location District<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                LUCKNOW
                                            </div>
                                            
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Status
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Approved
                        </span>
                    </div>
                                            </div>
                                            </app-card>
                                    <app-card cardTitle="Receipt Details" class="list-panel view-panel">

                                        <div class="row">
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Brand Name<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                Kingfisher
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Liquor Type<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                Beer
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Package Size<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                300 ML
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Package Type<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                Glass Bottle
                                            </div>
                                            
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Strength<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                               12%
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">No.of Cases as per return TP<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                               10
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">No.of Bottles as per return TP<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                               10
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Actual Cases received<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                               10
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Actual Bottles received <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                              
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Actual received BL <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                               10
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Accident TP Destroyed Cases <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                              150
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Accident TP Destroyed Bottles <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                              
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Accident TP Destroyed BL <span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                              
                                            </div>
                                        </div>
                                        </app-card>
                                        <app-card cardTitle="Attachment" class="list-panel view-panel">

                                            <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Upload document
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 mb-2">
                        <span>document.jpg 
                            <button class="btn btn-icon btn-primary" type="button">
                                    <i class="feather icon-eye"></i></button>
                                <button class="btn btn-icon btn-success ml-2" type="button">
                                    <i class="feather icon-download"></i></button>
                        </span>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Remarks
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Approved</span>
                    </div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 mt-2">
                        <label class="w-100 view-label"><span class="mandatory">Remarks</span>

                            <span class="float-right">:</span></label>
                    </div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 mt-2">
                       <input type="text" class="form-control" placeholder="Enter Remarks">
                    </div>
             
                </div>


            </app-card>
         
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-success ml-2">Accept</button>
        <button type="button" class="btn btn-danger ml-2">Reject</button>
         <button type="button" class="btn btn-warning ml-2">Request for Clarification</button>
        <button type="button" class="btn btn-secondary ml-2">Back</button>

    </div>

</div>