<h5 class="m-b-10 ng-star-inserted">
    Add Accidental Request
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Accidental Request</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #Pd25Form="ngForm" autocomplete="off">
            <app-card cardTitle="Accidental Request Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Request Date
                           </label>
                            <input type="date" disabled class="form-control" required placeholder="19/06/2023">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                       <div class="form-group">
                           <label class="mandatory">Request Time
                          </label>
                           <input type="date" disabled class="form-control" required placeholder="10:00">
                       </div>
                   </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Transport Pass No
                           </label>
                            <input type="text" class="form-control" required placeholder="Enter Transport Pass No
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Transport Pass Date
                           </label>
                            <input type="date" disabled class="form-control" required placeholder="20-Jun-2023">
                        </div>
                    </div>
                    </div>
                    </app-card>
                    <app-card cardTitle="Consignor Details
                    " class="list-panel add-panel">
                       <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License Type
                           </label>
                           <input type="text" disabled class="form-control" required placeholder="FL3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Name of Consignor
                           </label>
                    <input type="text" disabled class="form-control" required placeholder="Wave Distillery & Brewery Limited">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Address of Consignor
                           </label>
                           <textarea rows="1" class="form-control" disabled>Sadho Ashram, Ramghat Road, Aligarh, Uttar Pradesh</textarea>
                            <!-- <input type="text" disabled class="form-control" required placeholder=""> -->
                        </div>
                    </div>
                    </div>
                    </app-card>
                    <app-card cardTitle="Consignee Details
                    " class="list-panel add-panel">
                       <div class="row">
                           <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                               <div class="form-group">
                                   <label class="mandatory">License Type
                                  </label>
                                  <input type="text" disabled class="form-control" required placeholder="FL2B">
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                               <div class="form-group">
                                   <label class="mandatory">Name of Consignee</label>
                                  <input type="text" disabled class="form-control" required placeholder="Harpreet Singh
                                  ">
                               </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                               <div class="form-group">
                                   <label class="mandatory">Address of Consignee</label>
                                  <textarea rows="1" class="form-control" disabled>Station Road, Lucknow, Uttar Pradesh
                               </textarea>
                                   <!-- <input type="text" disabled class="form-control" required placeholder="
                                   "> -->
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                               <div class="form-group">
                                   <label class="mandatory">Accidental Date</label>
                                  <input type="date"  class="form-control" required placeholder="FL2B">
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                               <div class="form-group">
                                   <label class="mandatory">Accidental Location</label>
                                   <select class="form-control">
                                       <option>Select</option>
                                   </select>
                               </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                               <div class="form-group">
                                   <label class="mandatory">Accidental Location Address</label>
                                   <input type="text"  class="form-control" required placeholder="Enter Theft Location Address
                                   ">
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                               <div class="form-group">
                                   <label class="mandatory">Remarks
                                   </label>
                                   <input type="text"  class="form-control" required placeholder="Enter Remarks
                                   ">
                               </div>
                           </div>
                </div>
            </app-card>
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-info mb-2">Preview</button> -->
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>
    </div>
</div>
