<h5 class="m-b-10 ng-star-inserted">
    {{ 'sugarmill.common.inspection' | translate }}- {{ 'sugarmill.mf5part3.part3' | translate }}
</h5>


<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <!-- <li class="breadcrumb-item"><a href="javascript:" [routerLink]="['/supplychainmanagement/dashboard']">Supply Chain Management</a></li> -->
    <li class="breadcrumb-item"><a href="javascript:">{{ 'sugarmill.common.excise' | translate }}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'sugarmill.common.inspection' | translate }}-
            {{ 'sugarmill.mf5part3.part3' | translate }}</a></li>
    <li class="breadcrumb-item">{{ 'sugarmill.common.list' | translate }}</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'sugarmill.common.search' | translate }}" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'sugarmill.common.date' | translate }}</label>
                        <input type="date" class="form-control" placeholder="Enter Serial No of Tank">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'sugarmill.mf5part3.tanktype' | translate }}</label>
                        <input type="text" class="form-control" placeholder="Enter Tank Type">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'sugarmill.mf5part3.openningstock' | translate }}</label>
                        <input type="number" class="form-control" placeholder="Enter Opening Stock(Qtl)">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'sugarmill.common.status' | translate }}</label>
                        <select id="status" name="status" class="form-control">
                            <option value="">Select</option>
                            <option *ngFor="let item of statuslist" value="{{item.name}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <div>
                        <button type="submit"
                            class="btn btn-primary mr-2">{{ 'sugarmill.common.search' | translate }}</button>
                        <button type="submit"
                            class="btn btn-secondary">{{ 'sugarmill.common.cancel' | translate }}</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'sugarmill.common.inspection' | translate }}- {{ 'sugarmill.mf5part3.part3' | translate }}
        {{ 'sugarmill.common.list' | translate }}" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'sugarmill.common.date' | translate }}</th>
                            <th>{{ 'sugarmill.mf5part3.tanktype' | translate }}</th>
                            <th>{{ 'sugarmill.mf5part3.openingstockacc' | translate }} (Qtl)</th>
                            <th>{{ 'sugarmill.mf5part3.totmolasrecdate' | translate }}</th>
                            <th>{{ 'sugarmill.mf5part3.totalquansupplied' | translate }} (Qtl)</th>
                            <th>{{ 'sugarmill.common.status' | translate }}</th>
                            <th>{{ 'sugarmill.common.action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="mf5part2list?.length != 0">
                        <tr *ngFor="let data of mf5part2list;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{data?.reqdate}}</td>
                            <td>{{data?.tankType}} </td>
                            <td>{{data?.openStock}}</td>
                            <td>{{data?.molassesTotal}}</td>
                            <td>{{data?.quantitySuppliedMolasses}}</td>
                            <td>
                                <span class="badge m-r-5 badge-warning" *ngIf="data.status == 'Draft'">Pending</span>
                                <span class="badge m-r-5 badge-success"
                                    *ngIf="data.status == 'Approved'">Verified</span>
                            </td>
                            <td class="table-action-column" style="text-align: left;">
                                <button class="btn btn-icon btn-primary mr-4" type="button"
                                    (click)="navigateView(data.id)">
                                    <i class="feather icon-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>