<h5 class="m-b-10 ng-star-inserted">Receipt Acknowledgement
    <!-- <button class="btn btn-success custom_add_button pull-right"
    routerLink="/supplychainmanagement/distillery/fl36/add" type="submit">
    <i class="feather icon-plus mr-2"></i> Add FL 36</button> -->
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Control Regulation</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Receipt Acknowledgement</a></li>
    <li class="breadcrumb-item"><a href="javascript:">List</a></li>
</ul>



<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Receipt Acknowledgement List" blockClass="table-border-style" class="list-panel">

        <div class="table-responsive">
            <table class="table table-bordered text-center mb-0">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Application Date</th>
                        <th>Transport Pass No</th>
                        <th>License Type</th>
                        <th>Unit Name</th>
                        <th>No of Received Cases</th>
                        <th>No of Received Bottles</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1  </td>
                        <td>31-Jan-2020</td>
                        <td >TP1122</td>
                        <td >IN1122</td>
                        <td  class="text-left">KARAN</td>
                        <td class="text-left">Daurala Distillery Works</td>
                        <td class="text-left">20</td>
                        <td >
                            <span class="badge badge-light-success">Submitted for Approval</span>
                        </td>
                        <td class="table-action-column text-center">
                            <button class="btn btn-icon btn-primary" type="button"
                                routerLink="/supplychainmanagement/distillery/fl36/view">
                                <i class="feather icon-eye"></i></button>
                                <button class="btn btn-icon btn-secondary ml-2" type="button">
                                    <i class="feather icon-edit-2"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </app-card>
        </div>
</div>