<h5 class="m-b-10 ng-star-inserted">
    Advance Duty Register							
    <!-- <button type="submit" class="btn btn-success custom_add_button pull-right"
    routerLink="/masterwarehouse/mwhmapping/add">
    <i class="feather icon-plus mr-2"></i>
    Add Advance Duty Register		
</button> -->
 </h5>
 
 <ul class="breadcrumb p-0">
     <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
     <li class="breadcrumb-item"><a href="javascript:">Warehouse</a></li>
     <li class="breadcrumb-item"><a href="javascript:">Advance Duty Register</a></li>
     <li class="breadcrumb-item">List</li>
 </ul>
 <div class="row">
     <div class="col-xl-12">
        <app-card cardTitle="Advance Duty Register" class="list-panel add-panel">
             <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>License Type</label>
                        <select class="form-control">
                        <option>Select</option>    
                        </select>

                    </div>
                </div> 
                 <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Licensee Name</label>
                        <input type="text" class="form-control" 
                            placeholder="Enter Licensee Name"/>
                    </div>
                </div> 
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Unit Name</label>
                        <input type="text" class="form-control" 
                            placeholder="Enter Unit Name"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Unit Address</label>
                        <input type="text" class="form-control" 
                            placeholder="Enter Unit Address"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>From Date</label>
                        <input type="date" class="form-control"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>To Date</label>
                        <input type="date" class="form-control"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control">
                        <option>Select</option>    
                        </select>

                    </div>
                </div> 
                <div class="col-lg-12 text-right" >
                    <div ngbDropdown>
                    <button class="btn btn-success" ngbDropdownToggle type="button">Download</button>
                    <div ngbDropdownMenu>
                      <a class="dropdown-item"
                      href="javascript:">Excel</a>
                  <a class="dropdown-item"
                      href="javascript:">PDF</a>
                  <a class="dropdown-item"  href="javascript:">CSV</a>
                    </div>
                    <button type="submit" class="btn btn-primary ml-2">View Register</button>
             <button type="submit" class="btn btn-secondary ml-2">Clear</button>
             <button type="submit" class="btn btn-secondary ml-2">Back</button>
                </div>
               
            </div>
             </div>
         </app-card>
     </div>
 </div>
 <div class="row">
     <div class="col-xl-12">
         <app-card cardTitle="Register List" class="list-panel">
             <div class="table-responsive">
                 <table class="table table-bordered text-center" >
                     <thead>
                         <tr>
                             <th>S.No</th>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Challan Amount</th>
                             <th>Dispatch Duty Amount</th>
                             <th>Balance</th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr>
                            <td>1</td>
                            <td>24-09-2021</td>
                            <td>Scanning Fee</td>
                            <td>0</td>
                            <td>10710</td>
                            <td>0</td>
                        </tr>
                     </tbody>
                 </table>
             </div>
             
         </app-card>
     </div>
     </div>