<h5 class="m-b-10 ng-star-inserted">Add Form - B9
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Form - B9</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form  autocomplete="off">
            <app-card cardTitle="Add Form - B9" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>To, (Receiver Name)</label>
                            <input type="text"  required class="form-control" placeholder="Enter To, (Receiver Name)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label> Address Of Sub-Treasury or Treasury</label>
                            <input type="text"  required class="form-control" placeholder="Enter Address Of Sub-Treasury or Treasury">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Duty Rate (Rs) </label>
                            <input type="number"  required class="form-control" placeholder="Enter Duty Rate (Rs)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount Of Beer (BL)</label>
                            <input type="number"  required class="form-control" placeholder="Enter Amount Of Beer (BL)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name of Brewery</label>
                            <input type="text"  required class="form-control" placeholder="Enter Name of Brewery">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Berwery's District</label>
                            <input type="text"  required class="form-control" placeholder="Enter Berwery's District">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Consigned to In the District Name</label>
                            <input type="text"  required class="form-control" placeholder="Enter Consigned to In the District Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity in Bulk Litre</label>
                            <input type="number"  required class="form-control" placeholder="Enter Quantity in Bulk Litre">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Contained of Barrels, Quarts, Pints, Half-Pints, etc (Give Desctiption,Number,etc. of each)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>In Desctiption </label>
                            <input type="text"  required class="form-control" placeholder="Enter In Desctiption ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>In Number </label>
                            <input type="number"  required class="form-control" placeholder="Enter In Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Rate of Duty per Bulk Litres</label>
                            <input type="number"  required class="form-control" placeholder="Enter Rate of Duty per Bulk Litres">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total amount of duty to be realized</label>
                            <input type="number"  required class="form-control" placeholder="Enter Total amount of duty to be realized">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date </label>
                            <input type="date"  required class="form-control" placeholder="Enter Date">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Checked By  </label>
                            <input type="text"  required class="form-control" placeholder="Enter Checked By ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Number of Challan </label>
                            <input type="text"  required class="form-control" placeholder="Enter Number of Challan">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Received Amount (In Rs) </label>
                            <input type="text"  required class="form-control" placeholder="Enter Received Amount (In Rs) ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date  </label>
                            <input type="date"  required class="form-control" placeholder="Enter Date ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Signed Of Officer-in charge Brewery</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Signed Of Treasury of sub treasury Officer</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info ml-2 mb-2" routerLink="/supplychainmanagement/distillery/brewery/b9form/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2" routerLink="/supplychainmanagement/distillery/brewery/b9form/list">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2" routerLink="/supplychainmanagement/distillery/brewery/b9form/list">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2" routerLink="/supplychainmanagement/distillery/brewery/b9form/add">Cancel</button>
    </div>
</div>

