<h5 class="m-b-10">
    Accidenatl Request for AEC
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Accidenatl Request for AEC</a></li>
    <li class="breadcrumb-item">view</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #tankconvertionForm="ngForm" autocomplete="off">
            <app-card cardTitle="Accidental Request Details" class="list-panel view-panel">

                <div class="row">
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Request Date
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>21-Jun-2024
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            PD 25 OMD Transport Pass No
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>TP2251
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Transport Pass Issue Date
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>20-Jul-2022</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Vaild Upto
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>20-Jul-2022 10:39 AM
                        </span>
                    </div>

             
                </div>


            </app-card>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <app-card cardTitle="Consignor Details" class="list-panel add-panel">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              BWFL2A
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Distillery Name<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                BLUE OCEAN BEVERAGES PRIVATE LIMITED
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Distillery Address<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                            </div>
                            <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">License No
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              BWFL2A
                            </div> -->
                           
                       
                        </div>
                    </app-card>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                    <app-card cardTitle="Consignee Details" class="list-panel add-panel">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">OMD Name
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                Danteshwari Home Buildtech Private Limited
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">OMD Address<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                Near G.D. Goenka Public School, Jansath-Muzaffarnagar Road, Muzaffarnagar.
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Order Type<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              FL4A
                            </div>
                           
                           
                       
                        </div>
                    </app-card>
                    </div>
               
            </div>
            <app-card cardTitle="Indent Details" class="list-panel add-panel">
                <div class="row">
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                     <label class="w-100 view-label">Indent No<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   IN1233
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                     <label class="w-100 view-label">Indent Date<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   20-Jun-2024
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                     <label class="w-100 view-label">Denaturation
                         Fees (in Rs.)<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   5000.00
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                     <label class="w-100 view-label">Dispatch
                         (License)
                         Fees (in Rs.)<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   5000.00
                 </div>
           
             </div>
             </app-card>
            <app-card cardTitle="Accidental Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Accident Date
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>20-Jun-2024</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Accident Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Theft
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Accident Location
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Station Road, Lucknow, Uttar Pradesh
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Accident Location Address

                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Taj Express Way, Bangarmau, Uttar Pradesh
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Upload Accidental Report<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Document.jpg 
                        <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                        <button class="btn btn-icon btn-success mr-2 mb-2" type="button"> <i
                            class="feather icon-download"></i>
                    </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Upload FIR Copy<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        FIR.jpg 
                        <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                        <button class="btn btn-icon btn-success mr-2 mb-2" type="button"> <i
                            class="feather icon-download"></i>
                    </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label"><span class="mandatory">Remarks</span>

                            <span class="float-right">:</span></label>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span> Theft happened at Bangarmau

                        </span>
                    </div> -->
                  
                  
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       <input type="text" class="form-control" placeholder="Enter Remarks">
                    </div>
                  

                </div>
            </app-card>
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-success ml-2">Accepted</button>
        <button type="button" class="btn btn-danger ml-2">Rejected</button>
         <button type="button" class="btn btn-warning ml-2">Request for Clarification</button>
        <button type="button" class="btn btn-secondary ml-2">Back</button>

    </div>

</div>