<h5 class="m-b-10 ng-star-inserted"> PD-26 Transport Pass </h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">PD-26 Transport
            Pass</a></li>
    <li class="breadcrumb-item">View</li>
</ul>

<app-card cardTitle="Details" class="list-panel view-panel">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Generating for <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>-</span>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Date <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>12/10/2021</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Pass No <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>84-2020-21-FL36-3764</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Application Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>56789654</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Indent Number <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>5134456765457</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Indent Date <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>12/10/2021</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Permit Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>56789654</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Permit Date <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <span>12/10/2021</span>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <img src="assets/images/qr-scan.png" class="qr-img" />
                        <p class="mb-0 pt-1 font-weight-bold">12XVCCN1122</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-card>

<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Consignee Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Distillery Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>FL</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">License Number<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Ll1122</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Distillery Address<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow,
                            UP</span>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Consigner Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>FL</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow,
                            UP</span>
                    </div>
                    </div>
                    </app-card></form>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <form autocomplete="off">
                                <app-card cardTitle="Indent Details" class="list-panel view-panel">
                                    <div class="row">  

                  
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Spirit Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Liquired</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Strength<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Purpose <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Requested Quantity(B.L)<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Requested Quantity(A.L)<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Rate Per BL<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Amount(Bond Value)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>100</span>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Transportation Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <label class="w-100 view-label">Mode of Transfer<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        Normal
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <label class="w-100 view-label">Transporter's name<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    Sunil
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="w-100 view-label">Vehicle No<span
                        class="float-right">:</span></label>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                KNJB767
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <label class="w-100 view-label">Vehicle Driver Name<span
                    class="float-right">:</span></label>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            Sunil
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <label class="w-100 view-label">Route Type<span
                class="float-right">:</span></label>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        --
    </div>
                   
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <label class="w-100 view-label">Route Details<span
            class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    Lucknow
</div>     
                  
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Major Route<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
Lucknow
</div>   
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Distance(Km)<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
120km
</div> 
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Valid Upto<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
84-2020-21
</div> 
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Temprature<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
90c
</div> 
             
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Indication<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
90
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Strength<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
90
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Gross Weight<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
90
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Gross Weight<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
90
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Tare Weight<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
90
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <label class="w-100 view-label">Net Weight<span
        class="float-right">:</span></label>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
90
</div>               
                    
                   
                   
                   
                </div>
            </app-card>
        </form>
    </div>
</div>
<app-card cardTitle="Unit Details" class="list-panel view-panel"> 
    <div class="row">
        <div class="col-12">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Chember No/Casks</th>
                    <th>Dip</th>
                    <th>BL</th>
                    <th>AL</th>
                    <!-- <th>Add Row</th> -->
                    <!-- <th>Total Duty for Wholeday</th> -->
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let res of indentlist;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{res.indentNo}}</td>
                    <td>{{res.indentDate}}</td>
                    <td>{{res.totRequestedCases}} </td>
                    <td>{{res.totRequestedBottles}}</td>
                    <td>{{res.totDispatchedCases}}</td>
                    <td>{{res.totDispatchedBottles}}</td>
                </tr> -->
                <tr>
                    <td>1</td>
                    <td>JNJB76767</td>
                    <td>23000</td>
                    <td>1500</td>
                    <td>1500</td>
                   
                    <!-- <td class="table-action-column text-center">
                        <button class="btn btn-icon btn-success" type="button">
                        <i class="feather icon-plus"></i></button>
                        <button class="btn btn-icon btn-danger ml-2" type="button">
                        <i class="fas fa-trash-alt"></i></button>
                        </td> -->
                        <!-- <td>1400</td> -->
                </tr>
            </tbody>
        </table>
    </div>
        </div>
    </div>
</app-card>
<app-card cardTitle="Receipt Details" blockClass="table-border-style" class="list-panel add-panel">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Consignment Arrival Date</label>
                <input type="text"  required class="form-control" value="16/07/2021">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Consignment Arrival Time</label>
                <input type="text"  required class="form-control" value="18:56">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Received Gross Weight</label>
                <input type="text" required class="form-control" placeholder="Enter Received Gross Weight">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Recieved Tare Weight</label>
                <input type="text" required class="form-control" placeholder="Enter Recieved Tare Weight">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Recevied Net Weight</label>
                <input type="text" required class="form-control" placeholder="Enter Recevied Net Weight">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>No of Received Cases</label>
                <input type="text" required class="form-control" placeholder="Enter No of Received Cases">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>No of Received Bottles</label>
                <input type="text" required class="form-control" placeholder="Enter No of Received Bottles">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>No of Missing Cases</label>
                <input type="text" required class="form-control" placeholder="Enter No of Missing Cases">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>No of Broken Bottles</label>
                <input type="text" required class="form-control" placeholder="Enter No of Broken Bottles">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>No of Barcode unreadable</label>
                <input type="text" required class="form-control" placeholder="Enter No of Barcode unreadable">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>No of QR Code Unreadable</label>
                <input type="text" required class="form-control" placeholder="Enter No of QR Code Unreadable">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Wastage in BL</label>
                <input type="text" required class="form-control" placeholder="Enter Wastage in BL">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
                <label>Wastage in AL</label>
                <input type="text" required class="form-control" placeholder="Enter Wastage in AL">
            </div>
        </div>
    </div>     
</app-card>
<div class="col-12 text-right mb-4">
    <!-- <button type="button" class="btn btn-warning mb-2"
        routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">Preview</button>
    <button type="button" class="btn btn-success ml-2 mb-2"
        routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">Save as Draft</button>
    <button type="button" class="btn btn-primary ml-2 mb-2"
        routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">Submit</button> -->
    <!-- <button type="button" class="btn btn-warning ml-2 mb-2"
        routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">Clarification Required</button> -->
    <button type="button" class="btn btn-secondary ml-2 mb-2"
        routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">Back</button>
</div>