<h5 class="m-b-10 ng-star-inserted">View B4 Brewing Book									
</h5>
<ul class="breadcrumb p-0">
   <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
   <!-- <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li> -->
   <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
   <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/brewery/b4-form/list">B4 Brewing Book</a></li>
   <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>
<div class="row">
   <div class="col-xl-12">
      <form autocomplete="off">
         <app-card cardTitle="B4 Brewing Book [See Rule 26(885) (iv) and 33 (892)]" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Date
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>20-Jan-2021</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                  Time
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>10:00:00 AM</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                  Intimation of Brew/Brew Plan No
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>100</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    No of Brew
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>12</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    No of Brew Completed
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>100</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     No of Brew Pending
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>100</span>
               </div>
            </div>
         </app-card>
         <app-card cardTitle="Brew Details							
            " class="list-panel view-panel">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                      Brew No
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>100</span>
                  </div>
                  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                      Brew Vessel No
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>100</span>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                     Gravity
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>100</span>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                      Status
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Approved</span>
                  </div> -->
                  </div>
                  </div>
            </div>
            </app-card>

            
 

            <app-card cardTitle="Mash, Malt or Corn(Transfer)							
            " class="list-panel view-panel">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                     start Date
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>20-Apr-2021</span>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                     start Time
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>10:00:00 AM                     </span>
                  </div>
                  
                  
                  </div>
                  </div>
            </div>
            </app-card>
            <app-card cardTitle="Dissolve Sugar,Malt (Transfer)							
            " class="list-panel view-panel">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                     start Date
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>20-Apr-2021</span>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">
                     start Time
                     <span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>10:00:00 AM                     </span>
                  </div>
                  
                  
                  </div>
                  </div>
            </div>
            </app-card>

            <app-card cardTitle="Quantity Used"
            class="list-panel add-panel">
            <div class="row">
               <div class="col-12">
                  <div class="table-responsive mt-2 mb-2">
                     <table class="table table-bordered text-center">
                         <thead>
                             <tr>
                                 <!-- <th>Select</th> -->
                                 <th>#</th>
                                 <th>Raw Material Name<span class="text-danger">*</span></th>
                                 <th>Quantity(Kg)<span class="text-danger">*</span></th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>1</td>
                                 <td class="text-left">
                                     Molassess
                                 </td>
                                 <td class="text-left">
                                     12
                                 </td>
                                
                             </tr>

                         </tbody>
                     </table>
                 </div>
               </div>
            </div>
         </app-card>
         <app-card cardTitle="Time When Wort will be Draw Off Grains in the Mashtun							
            "
            class="list-panel add-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                   Date
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>20-Apr-2021</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                   Hours
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>10:00:00 AM                     </span>
               </div>
            </div>
         </app-card>
         <app-card cardTitle="Brew Collected"
            class="list-panel add-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                   Date
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>20-Apr-2021</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     When Collected
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>10:00:00 AM                     </span>
               </div>
               <div class="col-12">
                  <div class="table-responsive mt-2 mb-2">
                      <table class="table table-bordered text-center">
                          <thead>
                              <tr>
                                  <!-- <th>Select</th> -->
                                  <th>#</th>
                                  <th>Brew Vessel No<span class="text-danger">*</span></th>
                                  <th>Dip<span class="text-danger">*</span></th>
                                  <th>Gravity</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td class="text-left">
                                     BR635536
                                  </td>
                                  <td class="text-left">
                                      67
                                  </td>
                                  <td class="table-action-column text-center">
                                    5
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
         </app-card>
        
         <app-card cardTitle="Initials"
            class="list-panel add-panel">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                     <label class="mandatory">Name of Inspector
                     </label>
                     <input type="text" class="form-control"   placeholder="Enter Name of Inspector"
                        required>
                  </div>
               </div>
               <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                     <label>Remarks
                     </label>
                     <input type="text" class="form-control"   placeholder="Enter Remarks"
                        required>
                  </div>
               </div> -->
            </div>
         </app-card>
         <div class="row">
            <div class="col-xl-12">
                <app-card cardTitle="" class="list-panel">
                <ngb-tabset type="pills" class="mb-2">
                    <ngb-tab title="Brew 1">
                        <ng-template ngbTabContent>
                            <div class="row mt-2">
                               <div class="row col-md-12">
                                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">
                                     Brew No
                                    <span class="float-right">:</span></label>
                                 </div>
                                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <span>JJ767</span>
                                 </div>
                               </div>
                                <div class="col-12">
                                 <app-card cardTitle="Mash, Malt or Corn(Transfer)							
                                 " class="list-panel view-panel">
                                 <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                       <div class="row">
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <label class="w-100 view-label">
                                          start Date
                                          <span class="float-right">:</span></label>
                                       </div>
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <span>20-Apr-2021</span>
                                       </div>
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <label class="w-100 view-label">
                                          start Time
                                          <span class="float-right">:</span></label>
                                       </div>
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <span>10:00:00 AM                     </span>
                                       </div>
                                       
                                       
                                       </div>
                                       </div>
                                 </div>
                                 </app-card>
                                 <app-card cardTitle="Dissolve Sugar Malt(Transfer)							
                                 " class="list-panel view-panel">
                                 <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                       <div class="row">
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <label class="w-100 view-label">
                                          start Date
                                          <span class="float-right">:</span></label>
                                       </div>
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <span>20-Apr-2021</span>
                                       </div>
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <label class="w-100 view-label">
                                          start Time
                                          <span class="float-right">:</span></label>
                                       </div>
                                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                          <span>10:00:00 AM                     </span>
                                       </div>
                                       
                                       
                                       </div>
                                       </div>
                                 </div>
                                 </app-card>
                     
                                 <app-card cardTitle="Quantity  Used"
                                 class="list-panel add-panel">
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="table-responsive mt-2 mb-2">
                                          <table class="table table-bordered text-center">
                                              <thead>
                                                  <tr>
                                                      <!-- <th>Select</th> -->
                                                      <th>#</th>
                                                      <th>Raw Material Name<span class="text-danger">*</span></th>
                                                      <th>Quantity(Kg)<span class="text-danger">*</span></th>
                                                      
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>1</td>
                                                      <td class="text-left">
                                                          Molassess
                                                      </td>
                                                      <td class="text-left">
                                                          12
                                                      </td>
                                                      
                                                     
                                                  </tr>
                     
                                              </tbody>
                                          </table>
                                      </div>
                                    </div>
                                 </div>
                              </app-card>
                              <app-card cardTitle="Time When Wort will be Draw Off Grains in the Mashtun							
                                 "
                                 class="list-panel add-panel">
                                 <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <label class="w-100 view-label">
                                        Date
                                       <span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <span>20-Apr-2021</span>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <label class="w-100 view-label">
                                        Hours
                                       <span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <span>10:00:00 AM                     </span>
                                    </div>
                                 </div>
                              </app-card>
                              <app-card cardTitle="Brew Collected"
                                 class="list-panel add-panel">
                                 <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <label class="w-100 view-label">
                                        Date
                                       <span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <span>20-Apr-2021</span>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <label class="w-100 view-label">
                                          When Collected
                                       <span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <span>10:00:00 AM                     </span>
                                    </div>
                                    <div class="col-12">
                                       <div class="table-responsive mt-2 mb-2">
                                           <table class="table table-bordered text-center">
                                               <thead>
                                                   <tr>
                                                       <!-- <th>Select</th> -->
                                                       <th>#</th>
                                                       <th>Brew Vessel No<span class="text-danger">*</span></th>
                                                       <th>Dip<span class="text-danger">*</span></th>
                                                       <th>Gravity</th>
                                                   </tr>
                                               </thead>
                                               <tbody>
                                                   <tr>
                                                       <td>1</td>
                                                       <td class="text-left">BR736376
                                                       </td>
                                                       <td class="text-left">
                                                           67
                                                       </td>
                                                       <td class="table-action-column text-center">
                                                         5
                                                       </td>
                                                   </tr>
                     
                                               </tbody>
                                           </table>
                                       </div>
                                   </div>
                                 </div>
                              </app-card>
                             
                              <app-card cardTitle="Initials"
                                 class="list-panel add-panel">
                                 <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <label class="w-100 view-label">
                                          Name of Inspector
                                       <span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       <span>Sunil                </span>
                                    </div>
                                  
                                    <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                       <div class="form-group">
                                          <label>Remarks
                                          </label>
                                          <input type="text" class="form-control"   placeholder="Enter Remarks"
                                             required>
                                       </div>
                                    </div> -->
                                 </div>
                              </app-card>

                </div>
            </div>
                   
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                     <ng-template ngbTabTitle>Brew 2</ng-template>
                     <ng-template ngbTabContent>
                        <div class="row mt-2">
                           <div class="row col-md-12">
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">
                                 Brew No
                                <span class="float-right">:</span></label>
                             </div>
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <span>JJ767</span>
                             </div>
                           </div>
                            <div class="col-12">
                             <app-card cardTitle="Mash, Mail or Corn	(Transfer)						
                             " class="list-panel view-panel">
                             <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                   <div class="row">
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <label class="w-100 view-label">
                                      start Date
                                      <span class="float-right">:</span></label>
                                   </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <span>20-Apr-2021</span>
                                   </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <label class="w-100 view-label">
                                      start Time
                                      <span class="float-right">:</span></label>
                                   </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <span>10:00:00 AM                     </span>
                                   </div>
                                   
                                   
                                   </div>
                                   </div>
                             </div>
                             </app-card>
                             <app-card cardTitle="Dissolve Sugar Malt	(Transfer)						
                             " class="list-panel view-panel">
                             <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                   <div class="row">
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <label class="w-100 view-label">
                                      start Date
                                      <span class="float-right">:</span></label>
                                   </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <span>20-Apr-2021</span>
                                   </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <label class="w-100 view-label">
                                      start Time
                                      <span class="float-right">:</span></label>
                                   </div>
                                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                      <span>10:00:00 AM                     </span>
                                   </div>
                                   
                                   
                                   </div>
                                   </div>
                             </div>
                             </app-card>
                 
                             <app-card cardTitle="Quantity  Used"
                             class="list-panel add-panel">
                             <div class="row">
                                <div class="col-12">
                                   <div class="table-responsive mt-2 mb-2">
                                      <table class="table table-bordered text-center">
                                          <thead>
                                              <tr>
                                                  <!-- <th>Select</th> -->
                                                  <th>#</th>
                                                  <th>Raw Material Name<span class="text-danger">*</span></th>
                                                  <th>Quantity(Kg)<span class="text-danger">*</span></th>
                                                  
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>1</td>
                                                  <td class="text-left">
                                                      Molassess
                                                  </td>
                                                  <td class="text-left">
                                                      12
                                                  </td>
                                                  
                                                 
                                              </tr>
                 
                                          </tbody>
                                      </table>
                                  </div>
                                </div>
                             </div>
                          </app-card>
                          <app-card cardTitle="Time When Wort will be Draw Off Grains in the Mashtun							
                             "
                             class="list-panel add-panel">
                             <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <label class="w-100 view-label">
                                    Date
                                   <span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <span>20-Apr-2021</span>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <label class="w-100 view-label">
                                    Hours
                                   <span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <span>10:00:00 AM                     </span>
                                </div>
                             </div>
                          </app-card>
                          <app-card cardTitle="Brew Collected"
                             class="list-panel add-panel">
                             <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <label class="w-100 view-label">
                                    Date
                                   <span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <span>20-Apr-2021</span>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <label class="w-100 view-label">
                                      When Collected
                                   <span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   <span>10:00:00 AM                     </span>
                                </div>
                                <div class="col-12">
                                   <div class="table-responsive mt-2 mb-2">
                                       <table class="table table-bordered text-center">
                                           <thead>
                                               <tr>
                                                   <!-- <th>Select</th> -->
                                                   <th>#</th>
                                                   <th>Brew Vessel No<span class="text-danger">*</span></th>
                                                   <th>Dip<span class="text-danger">*</span></th>
                                                   <th>Gravity</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               <tr>
                                                   <td>1</td>
                                                   <td class="text-left">BR736376
                                                   </td>
                                                   <td class="text-left">
                                                       67
                                                   </td>
                                                   <td class="table-action-column text-center">
                                                     5
                                                   </td>
                                               </tr>
                 
                                           </tbody>
                                       </table>
                                   </div>
                               </div>
                             </div>
                          </app-card>
                         
                          <app-card cardTitle="Initials"
                             class="list-panel add-panel">
                             <div class="row">
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                 <label class="w-100 view-label">
                                    Name of Inspector
                                 <span class="float-right">:</span></label>
                              </div>
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                 <span>Sunil                </span>
                              </div>
                              
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                   <div class="form-group">
                                      <label>Remarks
                                      </label>
                                      <input type="text" class="form-control"   placeholder="Enter Remarks"
                                         required>
                                   </div>
                                </div> -->
                             </div>
                          </app-card>

            </div>
        </div>
               
                    </ng-template>
                        </ngb-tab>
           
           
                </ngb-tabset>
                <!-- <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <input type="text" class="form-control" placeholder="Enter Remarks" />
                   </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      <label class="w-100 view-label">Verified By<span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      Kumar
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      <label class="w-100 view-label">Verified on<span class="float-right">:</span></label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      7-Sep-2021 18:00
                  </div>
              </div> -->
            </app-card>
            </div>
        </div>
      </form>
   </div>
   <div class="col-12 text-right mb-4">
      <button type="submit" class="btn btn-primary mb-2 ml-2">Next</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2">Back</button>
      <button type="submit" class="btn btn-primary mb-2 ml-2">Approve</button>
        <button type="submit" class="btn btn-danger mb-2 ml-2">Reject</button>
        <button type="submit" class="btn btn-warning mb-2 ml-2">Request for Clarification</button>
      <!-- <button type="button" class="btn btn-primary mb-2 ml-2"
         routerLink="/supplychainmanagement/distillery/brewery/b4-form/list">Cancel Request</button> -->
     <!-- <button type="button" class="btn btn-secondary mb-2 ml-2"
         routerLink="/supplychainmanagement/distillery/brewery/b4-form/list">Back</button> -->
         <button type="submit" class="btn btn-secondary mb-2 ml-2" routerLink="/supplychainmanagement/distillery/brewery/b4-form/list">Cancel</button>
   </div>
</div>