<h5 class="m-b-10 ng-star-inserted">View Import Unit - Label Registration
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Warehouse</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Import Unit - Label Registration</a></li>

    <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>


<div class="row">
    <div class="col-xl-12">
                             
                           <app-card cardTitle="Details of Import Unit - Label Registration" class="list-panel add-panel">
                           <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Application No/Brand Name<span class="float-right">:</span></label>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    Parent Type
                                </div>
                           </div>
                           </app-card>
                           <app-card cardTitle="Unit Details" class="list-panel add-panel">
                               <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                ANHEUSER BUSCH INBEV INDIA LTD
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">License No<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                LI1122
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Address<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                Plot No. 12,xyz nagar, Karnataka, Bangalore, Bangalore, Shivaji nagar, Majestic, 500001
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Unit Type<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                BWFL
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Liquor Category<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                               FL
                            </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                BWFL 2B
                            </div>
                                
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Parent Code<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    PBWFL-2A-1-345-333
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Brand Name<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    Rampur Select
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Strength<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                   50
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">EDP<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                  100.00
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Supply Type<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    Civil
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Domain<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    Within UP
                                </div>                            
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Label Fees<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    800.00
                                </div>
                                </div>
                        </app-card>
                        <app-card cardTitle="Label Details" class="list-panel add-panel">
                            <div class="row">    
                                <div class="col-12">
                                    <div class="table-responsive mt-2">
                                       <table class="table table-bordered">
                                          <thead>
                                             <tr>
                                                <th>#</th>
                                                <th>Packaging Type</th>
                                                <th>Packaging Size</th>
                                                <th>GTIN</th>
                                                <th>Carton Size</th>
                                                <th>Number of Labels</th>
                                                <th>Supply Type</th>
                                                <th>Domain</th> 
                                                <th>EDP </th>
                                                <th>Consideration Fees</th>
                                                <th>Additional Consideration Dees</th>
                                                <th>Export Fees</th>
                                                <th>Permit Fees</th>
                                                <th>Wholesaler Margin</th>
                                                <th>Retailer Margin</th>
                                                <th>MRP</th>
                                                <th>ETIN No.</th>
                                             </tr>
                                          </thead>
                                          <tbody> 
                                             <tr>
                                                <td>1</td>
                                                <td class="text-left">
                                                    Glass Bottle
                                                </td>
                                                <td>900</td>
                                                <td></td>
                                                <td>For U.P</td>
                                                <td>3</td>
                                                <td>Civil</td>
                                                <td>Within UP</td>
                                                <td>900</td>
                                                <td>80</td>
                                                <td>90</td>
                                                <td>70</td>
                                                <td>90</td>
                                                <td>1200</td>
                                                <td>300</td>
                                                <td>3540</td>
                                                <td class="text-center">ETIN1122</td>
                                                
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>                            
                                
                                </div>

                        </app-card>
    </div>

    <div class="col-12 text-right mb-4">
      
        <button type="submit" class="btn btn-secondary mb-2 ml-2" 
        routerLink="/supplychainmanagement/custombond/implabelregistration/list">Cancel</button>
    </div>
</div>