<h5 class="m-b-10 ng-star-inserted">Add Redistillation for Bottled Stock

</h5>
<ul class="breadcrumb p-0">
 <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
 <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
 <li class="breadcrumb-item"><a href="javascript:">Redistillation for Bottled Stock
</a></li>
 <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">
 <div class="col-xl-12">
    <app-card cardTitle="Unit Details" class="list-panel add-panel">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                  <label class="">Date and Time of Application</label>
                  <input type="text" disabled class="form-control" value="10/07/2024 4:19:03" />
    
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                  <label class="">Name of the Brand Registrant</label>
                  <input type="text" disabled class="form-control" value="DCM SHRIRAM INDUSTRIES LTD.," />
    
                </div>
              </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label class="mandatory">License Type</label>
              <select name="" class="form-control">
                <option>Select</option>
              </select>

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label class="mandatory">License Number</label>
              <select name="" id="" class="form-control">
                <option>Select</option>
              </select>

            </div>
          </div>
          <div class="col-lg-6 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label class="">Address of the Registrant</label>
              <textarea rows="1" class="form-control" disabled>1Sardhana road,2Sardhana,MEERUT,UTTAR PRADESH,250221</textarea>

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label class="">City</label>
              <input type="text" disabled class="form-control" value="MEERUT" />

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label class="">State</label>
              <input type="text" disabled class="form-control" value="UTTAR PRADESH" />

            </div>
          </div>
          
        </div>
      </app-card>
      <app-card cardTitle="Redistillation Details" class="list-panel add-panel">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label class="mandatory">Redistillation for </label>
              <div class="form-group">
                <div class="form-group d-inline">
                    <input type="radio" name="redistillation" class="checkbox d-inline" checked>
                    <label class="cr mr-2">Bottled Stock </label>
                </div>
                <div class="form-group d-inline">
                    <input type="radio" name="redistillation" class="checkbox d-inline">
                    <label class="cr mr-2">Accidental</label>
                </div>
            </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="form-group">
              <label class="mandatory">Liquor Type</label>
              <select name="" id="" class="form-control">
                <option>Select</option>
              </select>

            </div>
          </div>
          
          
          
        </div>
        </app-card>
        <app-card cardTitle="" class="list-panel add-panel">
          <div class="row">
            <div class="table-responsive mb-2">
              <table class="table table-bordered mb-0">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Brand Name</th>
                          <th>Strength</th>
                          
                          <th>Packaging Size</th>
                          <th>Packaging Type</th>
                          <th>Available Cases</th>
                          <th>Available Bottles</th>
                          <th>Redistillation Requested Cases</th>
                          <th>Redistillation Requested Bottles </th>
                          <th>Total BL </th>
                          <th>Total AL </th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td class="text-left"><select class="form-control">
                            <option></option>
                          </select></td>
                          <td class="text-left">42.8</td>
                          <td class="text-left">180</td>
                          <!-- <td class="text-left">Single Malt</td> -->
                          <!-- <td class="text-left">Liquor Store</td> -->
                          
                         <td class="text-left">Glass Bottle</td>
                         <td class="text-left">12</td>
                         <td class="text-left">100</td>
                         <td class="text-left"><input class="form-control" /></td>
                         <td class="text-left"><input class="form-control" /> </td>
                         <td class="text-left">30</td>
                         <td class="text-left">600</td>
                          <td class="table-action-column text-center">
                              <button class="btn btn-icon btn-primary" type="button"
                                  routerLink="/supplychainmanagement/warehouse/stockinhand/view">
                                  <i class="fa fa-plus"></i></button>
                              <button class="btn btn-icon btn-danger ml-2" type="button">
              <i class="fa fa-trash"></i></button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
     
</app-card>

 </div>

 

 <div class="col-12 text-right mb-4">
    
    
    <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button>
    <button type="submit" class="btn btn-warning mb-2 ml-2">Save as Draft</button>
    <button type="submit" class="btn btn-info mb-2 ml-2">Preview</button>
    <button type="submit" class="btn btn-secondary mb-2 ml-2"
    routerLink="/supplychainmanagement/wholesale/transpassacknowledgement/list">Cancel</button>
</div>

</div>
