<h5 class="m-b-10 ng-star-inserted">Edit MF 4 Receivable</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Control Regulation</a></li>
    <li class="breadcrumb-item"><a href="javascript:">MF 4 Receivable</a></li>
    <li class="breadcrumb-item">Edit</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="MF 4 Receival by Distillery(Acknowledgment)" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 col-6">
                    <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Season <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transport Pass Date
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    20-Jul-2022
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transport Pass No
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    JBJ8787
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Valid Upto<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    30-Jul-2022
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Indent ID <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    IN8787
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Indent Date
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    30-Jul-2022
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Supply Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Reserved
                </div>
                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Invoice No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    264984
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Invoice Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   20-Jul-2022
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Rate(Excluding GST)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    57
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Invoice Value<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10000
                </div>
                </div>
            </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="row">
                    <div class="col-12">
                    <div class="text-center">
                        <img src="assets/images/qr-scan.png" class="qr-img"/>
                        <p class="mb-0 pt-1 font-weight-bold">12XVCCN1122</p>
                    </div>
                    </div>
                    </div>
                                </div>
            </div>
        </app-card>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
            <app-card cardTitle="Sugar Mill Details
            " class="list-panel add-panel">
                <div class="row">
                   
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Sugar Mill Name
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        BLUE OCEAN BEVERAGES PRIVATE LIMITED
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Sugar Mill Address
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                    </div>
               
                </div>
            </app-card>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
            <app-card cardTitle="Distillery Details
            " class="list-panel add-panel">
                <div class="row">
                   
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Distillery Name
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        Danteshwari Home Buildtech Private Limited
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                       FL3 
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">License No<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        LI1122
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Distillery Address
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        Near G.D. Goenka Public School, Jansath-Muzaffarnagar Road, Muzaffarnagar.
                    </div>
                    
               
                </div>
            </app-card>
            </div>
            </div>
        <app-card cardTitle="Transportation Details
        " class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transporter Name
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  MAXI Cabs
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Vehicle No <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  UP 22 5757
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">vehicle Driver Name
<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Durga Complex, Front Of RTO Office, Transport Nagar, Lucknow, Uttar Pradesh 226012
                </div> -->

               

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Vehicle Driver Name <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    MK SWARK
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route Type  <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Within UP
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route Details  <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  Lucknow
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Major Route<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Distance (Km)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    20km
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Digi Lock ID  <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    JBHB86767
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">GPS Device Id <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    JB987
                </div> -->
               
            </div>
        </app-card>
        <app-card cardTitle="Tank Wise Description
        " class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Gross(Qtl)
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100.00
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">TARE(Qtl)
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1000.00
                </div>
              
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">NET(Qtl)
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1100.00
                </div>
                <div class="col-12">
                    <div class="table-responsive mb-2">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tank</th>
                                    <th>Grade</th>
                                    <th>TRS(%)</th>
                                    <th>BRIX</th>
                                    <th>Quantity(Qtl)</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="text-center">KNN8767</td>
                                    <td class="text-left">A</td>
                                    <td class="text-right">10.00</td>
                                    <td class="text-right">10.00</td>
                                    <td class="text-left">30</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Approved
                </div> -->
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <input type="text" required  class="form-control" placeholder="Enter Remarks">
                </div> -->
            </div>
            
        </app-card>
        <app-card cardTitle="Receipt
        " class="list-panel add-panel"> 
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Received By(Distillery)</label>
                        <input type="text" class="form-control" placeholder="DK Distillery" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Received on</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Received Gross
                        </label>
                        <input type="number" class="form-control" placeholder="Enter Received Gross">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Received TARE
                        </label>
                        <input type="number" class="form-control" placeholder="Enter Received TARE">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">NET Received Molasses</label>
                        <input type="number" class="form-control" placeholder="Enter NET Received Molasses">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">TRS(%)</label>
                        <input type="number" class="form-control" placeholder="Enter TRS(%)">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Brix</label>
                        <input type="number" class="form-control" placeholder="Enter Brix">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Grade</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Transit Loss</label>
                        <input type="number" class="form-control" disabled placeholder="0.00">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Officer In Charge</label>
                        <input type="text" class="form-control" placeholder="Enter Officer In Charge">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Verification Date</label>
                        <input type="date" class="form-control" placeholder="Enter Officer In Charge">
                    </div>
                </div>
            
            </div>
        </app-card> 
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-warning mb-2">Save as Draft</button>       
        <button type="button" class="btn btn-primary mb-2 ml-2">Submit</button>
        <!-- <button type="button" class="btn btn-warning mb-2">Cancel/Modify</button>        
        <button type="button" class="btn btn-primary mb-2 ml-2">Print</button> -->
        <!-- <button type="button" class="btn btn-success mb-2">Approve</button>
        <button type="button" class="btn btn-danger mb-2 ml-2">Reject</button>
       <button type="button" class="btn btn-warning mb-2 ml-2">Clarification Required</button> -->
       <button type="button" class="btn btn-secondary ml-2 mb-2"
          routerLink="/supplychainmanagement/controlregulation/mf4/list">Cancel</button>
    </div>
 </div>


