<h5 class="m-b-10 ng-star-inserted">
    Home Bar License
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Licence Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Home Bar License</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>

</ul>

<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
           
           
           
            <app-card cardTitle="Applicant Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Salutation</label>
                           
                            <input type="text" class="form-control" placeholder="Mr." disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">First Name</label>
                            <input type="text" class="form-control" placeholder="Pradheep" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Middle Name</label>
                            <input type="text" disabled class="form-control" placeholder="Enter Middle Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Last Name</label>
                            <input type="text" disabled class="form-control" placeholder="Raj">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Photo of the Applicant
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Mobile No. of the Applicant
                            </label>
                            <input type="text" disabled class="form-control" placeholder="9809809809">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Mail ID of the
                              Applicant</label>
                            <input type="text" class="form-control" disabled placeholder="xxxxx@yyy.zzz
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">PAN  No. of the Applicant
                            </label>
                            <input type="text" class="form-control" disabled placeholder="DDJPS1232A
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Upload PAN
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" disabled name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Gender
                            </label>
                            <input type="text" class="form-control" disabled placeholder="Male">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Date of Birth</label>
                            <input type="date" class="form-control" disabled placeholder="">
                        </div>
                    </div>
                </div>
            </app-card>
            
            <app-card cardTitle="Address of the Applicant
            " class="list-panel add-panel">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Country</label>
                            <input type="text" class="form-control" disabled value="INDIA">
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">State</label>
                            <input type="text" class="form-control" disabled value="Uttar Pradesh">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">District</label>
                            <input type="text" class="form-control" disabled value="Lucknow ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Pincode</label>
                            <input type="number" class="form-control" disabled value="225010">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Tehsil</label>
                            <input type="text" class="form-control" disabled value="Mohanlalganj ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Urban/Rural</label>
                            <input type="text" class="form-control" disabled value="Mohanlalganj ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Municipal Area</label>
                            <input type="text" class="form-control" disabled value="Nagar Palika ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Ward</label>
                            <input type="text" class="form-control" disabled value="Ward No. 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Block</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Village</label>
                            <input type="text" class="form-control"  placeholder="Enter Village">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Police Station </label>
                            <input type="text" class="form-control" disabled value="Gomti nagar">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Locality</label>
                            <input type="text" class="form-control" disabled value="Phase 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Street/House
                            </label>
                            <input type="text" class="form-control" disabled value="33, Road no.2">
                        </div>
                    </div>

                </div>
            </app-card>
            <app-card cardTitle="Premises Details
            " class="list-panel add-panel">
                <div class="row">
                   
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">OwnerShip Type

                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Ownership Document 
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Country</label>
                            <input type="text" class="form-control" required placeholder="INDIA" readonly>
                        </div>
                    </div>
                 
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">State</label>
                            <input type="text" class="form-control" disabled value="Uttar Pradesh">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">District</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Pincode</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Tehsil</label>
                            <input type="text" class="form-control"  value="Enter Tehsil ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Urban/Rural</label>
                            <input type="text" class="form-control"  value="Enter  Urban/Rural">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Municipal Area</label>
                            <input type="text" class="form-control" disabled value="Nagar Palika ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Ward</label>
                            <input type="text" class="form-control" disabled value="Ward No. 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Block</label>
                            <input type="text" class="form-control"  placeholder="Enter Block">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Village</label>
                            <input type="text" class="form-control"  placeholder="Enter Village">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Police Station </label>
                            <input type="text" class="form-control" placeholder="Enter Police Station">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Locality</label>
                            <input type="text" class="form-control"  placeholder="Enter Locality">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Street/House
                            </label>
                            <input type="text" class="form-control"  placeholder="Enter Street/House
                            ">
                        </div>
                    </div>

                </div>
            </app-card>
            <app-card cardTitle="ITR Details
            " class="list-panel add-panel">
                <div class="row">
                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Assessment Year 22-23 (Tax %)
                            </label>
                            <input type="text" class="form-control" required placeholder="Enter Assessment Year 22-23 (Tax %)" >
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Copy Of Assessment Year 22-23 (Tax %) 
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Assessment Year 21-22 (Tax %)
                            </label>
                            <input type="text" class="form-control" required placeholder="Enter Assessment Year 21-22 (Tax %)">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Copy Of Assessment Year 22-23 (Tax %)
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Assessment Year 20-21 (Tax %)
                            </label>
                            <input type="text" class="form-control" required placeholder="Enter Assessment Year 21-22 (Tax %)">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Copy Of Assessment Year 20-21 (Tax %)
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Assessment Year 19-20 (Tax %)
                            </label>
                            <input type="text" class="form-control" required placeholder="Enter Assessment Year 21-22 (Tax %)">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Copy Of Assessment Year 19-20 (Tax %)
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Assessment Year 18-19 (Tax %)
                            </label>
                            <input type="text" class="form-control" required placeholder="Enter Assessment Year 21-22 (Tax %)">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc mandatory" class="mandatory">Copy Of Assessment Year 18-19 (Tax %)
                            </label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
           

           
          
            <app-card cardTitle="Site Details
            " class="add-panel list-panel">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Latitute</label>
                            <input type="number" class="form-control" placeholder="Enter Latitute">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Longitude</label>
                            <input type="number" class="form-control" placeholder="Enter Longitude">
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">North
                            </label>
                            <textarea type="text" class="form-control"  placeholder="Enter North
                            "></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">East
                            </label>
                            <textarea type="text" class="form-control"  placeholder="Enter East
                            "></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">South
                            </label>
                            <textarea type="text" class="form-control"  placeholder="Enter South
                            "></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">West
                            </label>
                            <textarea type="text" class="form-control"  placeholder="Enter West
                            "></textarea>
                        </div>
                    </div>
                </div>
            </app-card>

            <app-card cardTitle="Site Details & Photos 
            " class="list-panel view-panel">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <!-- <th>Year</th> -->
                                    <th>Distillery Photo
                                        <span class="mandatory"></span></th>
                                    <th>Description
                                        <span class="mandatory"></span></th>
                                    <!-- <th>Action</th> -->

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <div class="input-group cust-file-button">
                                            <div class="custom-file">
                                                <input type="file"  class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                                <label class="custom-file-label"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Enter Description
                                        ">
                                    </td>

                                    <!-- <td class="table-action-column text-center">
                                        <button class="btn btn-icon btn-success mr-2 ml-2" type="button">
                                            <i class="feather icon-plus"></i></button>
                                        <button class="btn btn-icon btn-danger mr-2 ml-2" type="button">
                                            <i class="feather icon-trash"></i></button>
                                    </td> -->


                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </app-card>

            

           

        </form>
        <div class=" text-content text-right mb-4">
            <button type="button" class="btn btn-warning mb-2 ml-2">Save as Draft</button>
            <button type="button" class="btn btn-info mb-2 ml-2">Preview</button>
            <button type="button" class="btn btn-primary mb-2 ml-2">Submit</button>
            <button type="button" class="btn btn-secondary mb-2 ml-2">Cancel</button>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Shop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- <div class=" text-content text-center mb-4"> -->
                    <!-- <button type="button" class="btn btn-primary mb-2 ml-2">Search by Shop ID</button>
                    <button type="button" class="btn btn-info mb-2 ml-2">Search by Location</button> -->

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Shop ID</label>
                            <input type="number" class="form-control" placeholder="Enter Shop ID">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">District</label>
                            <select class="form-control" disabled>
                                 <option>Select</option>
                      
                               </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Tehsil</label>
                            <select class="form-control" disabled>
                                 <option>Select</option>
                               
                               </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pincode</label>
                            <input type="number" class="form-control" placeholder="Enter Pincode">
                        </div>
                    </div>


                    <!-- </div> -->
                </div>

                <div class=" text-content text-right mb-4">
                    <button type="button" class="btn btn-primary mb-2 ml-2">Search</button> <span>
                    <button type="button" class="btn btn-info mb-2 ml-2">Cancel</button></span>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Shop ID</th>
                                <th>License Type</th>
                                <th>District</th>
                                <th>Tehsil</th>
                                <th>Pincode</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    4641
                                </td>
                                <td>
                                    FL 4A
                                </td>
                                <td>
                                    Lucknow
                                </td>
                                <td>
                                    Ayodhya
                                </td>
                                <td>
                                    464886
                                </td>
                                <td>Active</td>

                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-primary mr-2 ml-2" type="button">
                                    <i class="feather icon-eye"></i></button>
                                    <!-- <button class="btn btn-icon btn-danger mr-2 ml-2" type="button">
                                    <i class="feather icon-trash"></i></button> -->
                                </td>


                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">
                    Submit</button>
            </div> -->
        </div>

    </div>
</div>