<h5 class="m-b-10 ng-star-inserted">
    Brand Wise Details					
    <!-- <button type="submit" class="btn btn-success custom_add_button pull-right"
    routerLink="/masterwarehouse/mwhmapping/add">
    <i class="feather icon-plus mr-2"></i>
    Add Accidental Request
</button> -->
 </h5>
 
 <ul class="breadcrumb p-0">
     <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
     <li class="breadcrumb-item"><a href="javascript:">Retail</a></li>
     <li class="breadcrumb-item"><a href="javascript:"> Brand Wise Details	</a></li>
     <li class="breadcrumb-item">Payment</li>
 </ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">

            <app-card cardTitle="Payment Details " class="list-panel add-panel">
                <div class="row">
                                                                                   
                    <div class="col-12 mb-2">

                        <div class="table-responsive">
                            <table class="table table-bordered table-center text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fees</th>
                                        <th>Amount</th>
                                        <th>Challan<br>Head </th>
                                        <th>G6</th>
                                        <th>Advance Duty<br>Balance</th>
                                        <th>Mode of<br>Payment</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Penalty  fee</td>
                                        <td>100</td>
                                        <td>3900800060000</td>
                                        <td>2</td>
                                        <td>145790</td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <select class="form-control">
                                                    <option>Advance Duty</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>Pending </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Total</td>
                                        <td>100</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </app-card>
            
        </form>
    </div>


    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary mb-2  ml-2">Submit</button>
        <button type="button" class="btn btn-secondary mb-2 ml-2">Cancel</button>
    </div>
</div>
