.timeline_card {
    position: relative;
    width: 600px;
    .timeline_icon {
        width: 100px;
        float: left;
        position: relative;
        i{
            width: 40px;
            height: 40px;
            border: 1px solid #ff5252;
            border-radius: 50%;
            background-color: #fff;
            padding: 11px 10px;
            color: #ff5252;
            font-size: 18px;
            margin-top: 20px;
            position: relative;
            z-index: 1;
        }
        small{
            width: 60px;
            position: absolute;
            left: 0;
            right: 0;
            top:60px;
            margin: auto;
            font-weight: bold;
            background-color: #fff;
            z-index: 1;
        }
    }
    .timeline_icon_bg1 {
        i{
            border: 1px solid #4680ff;
            color: #4680ff;
        }
    }
    .timeline_icon_bg2 {
        i{
            border: 1px solid #11c15b;
            color: #11c15b;
        }
    }
    .timeline_icon_bg3 {
        i{
            border: 1px solid #ffa21d;
            color: #ffa21d;
        }
    }
    .timeline_icon_bg4 {
        i{
            border: 1px solid #ff2c2c;
            color: #ff2c2c;
        }
    }
    .timeline_content {
        width: calc(100% - 100px);
        float: left;
        .timeline_box {
            position: relative;
            margin-top: 10px;
        }
        .timeline_box:before{
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            background-color: #fff;
            left: -6px;
            top:20px;
            transform: rotate(45deg);
        }
        .timeline_box:after{
            position: absolute;
            content: "";
            width: 10px;
            height: calc(100% + 1px);
            right:-1px;
            top:-1px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        .timeline_bg1{
            border:1px solid #4680ff;
        }
        .timeline_bg1:before{
            position: absolute;
            content: "";
            border-left:1px solid #4680ff;
            border-bottom:1px solid #4680ff;
        }
        .timeline_bg1:after{
            background-color: #4680ff;
        }
        .timeline_bg2{
            border:1px solid #11c15b;
        }
        .timeline_bg2:before{
            position: absolute;
            content: "";
            border-left:1px solid #11c15b;
            border-bottom:1px solid #11c15b;
        }
        .timeline_bg2:after{
            background-color: #11c15b;
        }
        .timeline_bg3{
            border:1px solid #ffa21d;
        }
        .timeline_bg3:before{
            position: absolute;
            content: "";
            border-left:1px solid #ffa21d;
            border-bottom:1px solid #ffa21d;
        }
        .timeline_bg3:after{
            background-color: #ffa21d;
        }
        .timeline_bg4{
            border:1px solid #ff2c2c;
        }
        .timeline_bg4:before{
            position: absolute;
            content: "";
            border-left:1px solid #ff2c2c;
            border-bottom:1px solid #ff2c2c;
        }
        .timeline_bg4:after{
            background-color: #ff2c2c;
        }
    }
    .timeline_icon:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: #ccc;
        left:0;
        right:0;
        top:20px;
        margin: auto;
        z-index: 0;
    }
    .col-12:last-child .timeline_icon:after {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .timeline_card {
        width: 100%;
    }
}