<h5 class="m-b-10 ng-star-inserted">
    PD-26 Transport Pass
    <button type="submit" class="btn btn-success custom_add_button pull-right"
        routerLink="/supplychainmanagement/distillery/pd26-pipelinepd/add">
        <i class="feather icon-plus mr-2"></i>
        Add PD-26 Transport Pass
    </button>
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Portable Distillery</a></li>
    <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/pd26-pipelinepd/list">PD-26 Transport
            Pass</a></li>
    <li class="breadcrumb-item">List</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Search" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Pass No</label>
                        <input type="number" class="form-control" required placeholder="Enter Pass No">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Consignee Name</label>
                        <input type="text" class="form-control" required placeholder="Enter  Consignee Name">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control">
                            <option>select</option>
                        </select>
                    </div>
                </div>

                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary mr-2">Search</button>
                    <button type="submit" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="PD 26 Transport Pass List" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S No</th>
                            <th>Date</th>
                            <th>Pass No</th>
                            <th>Consignee Name </th>
                            <th>Brand Name</th>
                            <th>Requested Quantity(BL)</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>1</td>
                            <td class="text-center">20-Jul-2021</td>
                            <td class="text-center">Ll1122</td>
                            <td>Daurala Distillery</td>
                            <td>Rampur Select</td>
                            <td>100</td>
                            <td class="text-center">
                                <span class="badge badge-light-success">Completed</span>
                            </td>
                            <td class="table-action-column">
                                <button class="btn btn-icon btn-primary" type="button"
                                    routerLink="/supplychainmanagement/distillery/pd26-pipelinepd/view">
                                    <i class="feather icon-eye"></i></button>
                                <button class="btn btn-icon btn-secondary ml-2" type="button"
                                    routerLink="/supplychainmanagement/distillery/pd26-pipelinepd/add">
                                    <i class="feather icon-edit-2"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>