<h5 class="m-b-10 ng-star-inserted">View Indent Request Cancellation</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Wholesale</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Indent Request Cancellation</a></li>
    <li class="breadcrumb-item">View</li>
</ul>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <app-card
            cardTitle="Wholesale Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    FL2A
                 </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Wholesale Name<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Daurala Distillery
                 </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Wholesale Address<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA
                 </div>
            </div>
        </app-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <app-card cardTitle="Consignor Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        FL2
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Unit Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Distillery
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                       Daurala Distillery
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow, UP 241001
                    </div>
                </div>
                    </app-card>
        </div>
    <div class="col-xl-12">
            <app-card
                cardTitle="Application Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Application Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                20-Jun-2021
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Indent Request Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    IP1122
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Indent Request Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    20-Jun-2021
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Reason for Cancellation<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                        <div class="col-12">
                        <div class="text-center">
                            <label class="d-block">Indent Request QR Code</label>
                            <img src="assets/images/qr-scan.png" class="qr-img"/>
                            <p class="mb-0 pt-1 font-weight-bold">12XVCCN1122</p>
                        </div>
                        </div>
                        </div>
                                    </div> -->
                </div>
            </app-card>
            <app-card
            cardTitle="Indent Details" class="list-panel add-panel">
            <div class="row">
                    <div class="col-12">
                        <div class="table-responsive mb-2">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Brand Name<br>(Parent ETIN)</th>
                                        <th>Liquor<br>Type</th>
                                        <th>Liquor<br>Sub Type</th>
                                        <th>Liquor Detailed<br>Description</th>
                                        <th>Strength</th>
                                        <th>Packaging<br>Size</th>
                                        <th>Packaging<br>Type</th>
                                        <!-- <th>Capacity</th>
                                        <th>Quantity</th> -->
                                        <th>No.of Bottles per case</th>
                                        <th>No. of Cases/Mono cartons</th>
                                        <th>No.of<br>Bottles</th>
                                        <!-- <th>Amount</th> -->
                                        
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="text-left">Rampur Select</td>
                                        <td class="text-left">FL</td>
                                        <td class="text-left">Whisky</td>
                                        <td class="text-left">Single Malt</td>
                                        <td class="text-left">Mild</td>
                                        <td class="text-left">750 ML</td>
                                        <td class="text-left">Glass Bottle</td>
                                        <td class="text-left">10</td>
                                        <td class="text-left">10</td>
                                        <td class="text-left">100</td>
                                        <!-- <td class="text-left">10</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Total No of cases<span class="float-right">:</span></label>
                             </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                               500.00
                             </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Total No of Mono
                                    Cartons<span class="float-right">:</span></label>
                             </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                               1000.00
                             </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Total No of bottles <span class="float-right">:</span></label>
                             </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                               1000.00
                             </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Total bulk litres<span class="float-right">:</span></label>
                             </div>
                             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                               1000.00
                             </div>
                           
                             </div>
                    </div>
            </div>
            </app-card>
            <app-card
            cardTitle="Payment Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Is payment Done?<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Yes
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Verified
                 </div>
                 <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Reply to remarks<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   <input type="text" class="form-control" placeholder="Enter Remarks" />
                 </div> -->
            </div>
        </app-card>
            <!-- <app-card
            cardTitle="Duty Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Advance Import Fee<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   500.00
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Import Fee<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   1000.00
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Advance Special Fee<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100.00
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Special Fee<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   150.00
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Duty<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100.00
                 </div>
                </div>
            </app-card> -->
    </div>
    <div class="col-12">
        <app-card cardTitle="Approval Log" class="list-panel view-panel">
            <div class="row mx-4 timeline_card">
                <div class="col-12">
                    <div class="timeline_icon text-center timeline_icon_bg1 h-100">
                        <i class="far fa-comments"></i>
                        <small>20/03/21<br> 10:00</small>
                    </div>
                    <div class="timeline_content">
                        <div class="w-100 p-3 rounded timeline_box timeline_bg1">
                            <h6>DEO - Sunil Singh</h6>
                            <p class="mb-0">Created Date</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="timeline_icon text-center timeline_icon_bg3 h-100">
                        <i class="fas fa-check"></i>
                        <small>20/03/21<br> 11:00</small>
                    </div>
                    <div class="timeline_content">
                        <div class="w-100 p-3 rounded timeline_box timeline_bg2">
                            <h6>Warehouse - Good Wines</h6>
                            <p class="mb-0">Created By</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="timeline_icon text-center timeline_icon_bg2 h-100">
                        <i class="fas fa-check"></i>
                        <small>20/03/21<br> 11:30</small>
                    </div>
                    <div class="timeline_content">
                        <div class="w-100 p-3 rounded timeline_box timeline_bg3">
                            <h6>Brewery - Good Wines</h6>
                            <p class="mb-0">Approved Date</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="timeline_icon text-center timeline_icon_bg2 h-100">
                        <i class="fas fa-check"></i>
                        <small>20/03/21<br> 11:30</small>
                    </div>
                    <div class="timeline_content">
                        <div class="w-100 p-3 rounded timeline_box timeline_bg3">
                            <h6>Brewery - Good Wines</h6>
                            <p class="mb-0">Approved By</p>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-12 text-right">
        <!-- <button type="button" class="btn btn-success mb-2">Download</button> -->
        <!-- <button type="button" class="btn btn-success mb-2">Approve</button>
        <button type="button" class="btn btn-danger ml-2 mb-2">Reject</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Request for Clarification</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Print</button> -->
        <button type="button" class="btn btn-primary ml-2 mb-2">Back</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>
    </div>
    <!-- <div class="col-12">
        <app-card cardTitle="Approval Log" class="list-panel view-panel">
            <form>
                <div class="row mx-4 timeline_card">
                    <div class="col-12">
                        <div class="timeline_icon text-center timeline_icon_bg1 h-100">
                            <i class="far fa-comments"></i>
                            <small>20/03/21<br> 10:00</small>
                        </div>
                        <div class="timeline_content">
                            <div class="w-100 p-3 rounded timeline_box timeline_bg1">
                                <h6>DEO - Sunil Singh</h6>
                                <p class="mb-0">Need Clarification</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="timeline_icon text-center timeline_icon_bg3 h-100">
                            <i class="fas fa-check"></i>
                            <small>20/03/21<br> 11:00</small>
                        </div>
                        <div class="timeline_content">
                            <div class="w-100 p-3 rounded timeline_box timeline_bg2">
                                <h6>Warehouse - Good Wines</h6>
                                <p class="mb-0">Accepted</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="timeline_icon text-center timeline_icon_bg2 h-100">
                            <i class="fas fa-check"></i>
                            <small>20/03/21<br> 11:30</small>
                        </div>
                        <div class="timeline_content">
                            <div class="w-100 p-3 rounded timeline_box timeline_bg3">
                                <h6>Warehouse - Good Wines</h6>
                                <p class="mb-0">Damaged. Kindly check</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </app-card>
    </div> -->
</div>