<h5 class="m-b-10 ng-star-inserted">
    View  Map Request
     
  </h5>
  
  <ul class="breadcrumb p-0">
      <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
      <li class="breadcrumb-item"><a href="javascript:">Warehouse</a></li>
      <li class="breadcrumb-item"><a href="javascript:">Map Request</a></li>
      <li class="breadcrumb-item">View</li>
  </ul>
  <div class="row">
      <div class="col-xl-12">
          <app-card cardTitle="Map Request Details" class="list-panel view-panel">
              <div class="row">
                 
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              <label class="w-100 view-label"> Application Date<span class="float-right">:</span></label>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              20-Mar-2021
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              <label class="w-100 view-label">Application No<span class="float-right">:</span></label>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              FL0001
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              Sunil
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              Lucknow, UP
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              <label class="w-100 view-label">Mapped Status<span class="float-right">:</span></label>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              Done
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              <input type="text" class="form-control" placeholder="Enter Remarks">
                          </div>
  
                      
                 
              </div>
          </app-card>
      </div>
     
      
        
      <div class="col-12 text-right mb-4">
          <button type="button" class="btn btn-success mb-2">Accept</button>
  
  
          <button type="button" class="btn btn-warning ml-2 mb-2">Send For Clarification</button>
  
          <button type="button" class="btn btn-danger ml-2 mb-2">Reject</button>
          <button type="button" class="btn btn-info ml-2 mb-2"
              routerLink="/supplychainmanagement/warehouse/maprequest/list">Un-Map Unit</button>
      </div>
  </div>