<h5 class="m-b-10 ng-star-inserted">
   Add User Group
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Helpdesk Master</a></li>
    <li class="breadcrumb-item"><a href="javascript:">User Group</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #groupForm="ngForm" autocomplete="off">
            <app-card cardTitle="Add User Group" blockClass="table-border-style" class="list-panel add-panel list-search">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">User Group Code</label>
                            <input type="text" class="form-control" disabled value="CC1122">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">User Group Name</label>
                            <input type="text" placeholder="Enter User Group Name" appInputRestriction class="form-control" required name="name" class="form-control" #name="ngModel" [(ngModel)]="groupObj['name']">
                            <div *ngIf="name.invalid && (name.dirty || name.touched || formSubmitted)" class="error-msg">
                                <div *ngIf="name?.errors?.required">
                                    Group is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Role</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">Created By</label>
                            <input type="text" class="form-control" placeholder="deepak">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">Created On</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">Modified  By</label>
                            <input type="text" class="form-control" placeholder="deepak">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">Modified  On</label>
                            <input type="date" class="form-control">
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Status</label>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customswitch1" checked>
                                <label class="custom-control-label" for="customswitch1">Active</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </app-card>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <!-- <label> &nbsp; </label> -->
                <div class="form-group  text-right">
                    <button type="submit" class="btn btn-primary" (click)="saveData(groupForm);">
                    <!-- <i class="fa fa-eraser m-r-5" aria-hidden="true"></i> -->
                    Submit
                </button>
                    <button class="btn btn-secondary ml-2" routerLink='/helpdeskmaster/groups/list'>
                    <!-- <i class="fa fa-search m-r-5" aria-hidden="true"></i> -->
                    Cancel
                </button>
                </div>

            </div>
        </form>
    </div>
</div>