<h5 class="m-b-10 ng-star-inserted">{{ 'master.subproduct.viewsubproducttype' | translate }}</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.common.inventory' | translate }}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.subproduct.subproduct' | translate }}</a></li>
    <li aria-current="page" class="breadcrumb-item active">{{ 'master.common.view' | translate }}</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.subproduct.detailsofselected' | translate }}" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.code' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.code}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.name' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.name}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.category.category' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.categoryId}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.subcategory.subcategory' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.subCategoryId}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.producttype.producttype' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.productId}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.description' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.description}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.status' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.isActive}}
                </div>
            </div>
            <hr class="mt-2" />
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.createdby' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.createdBy}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.createdon' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.createdDate | date:"dd-MMM-yyyy"}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.Modifiedby' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.modifedBy}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.Modifiedon' | translate }}<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{this.subProductObj?.modifiedDate | date:"dd-MMM-yyyy"}}
                </div>
            </div>

        </app-card>
        <div class="row">
            <div class="col-12 mb-3 text-right">
                <button type="submit" class="btn btn-secondary"
                    routerLink="/inventory/subproduct/list">{{ 'master.common.back' | translate }}</button>
            </div>
        </div>
    </div>
</div>