<h5 class="m-b-10 ng-star-inserted"> Edit FL16 - PD25</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL16 - PD25</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Edit`</a></li>
</ul>
<div class="row">
 
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Unit Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered  mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th>S.No</th> -->
                                        <th>License Type</th>
                                        <th>License Number</th>
                                        <th>Distillery Name</th>
                                        <th>Application Number</th>
                                        <th>Pass Number</th>
                                        <!-- <th>Distillery Address</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td> 1 </td> -->
                                        <td>PD2</td>
                                        <td class="text-center">LIC/DISTILLERY/PD2/72/23_24</td>
                                        <td>AARTI DISTILLERIES PRIVATE LIMITED</td>
                                        <td>80878/FL39/PD26/MAR24/000005</td>
                                        <td>AARTI/SAGAR/TAN/15MAR2024/967708</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Consignor Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th>S.No</th> -->
                                        <th>Distillery Name</th>
                                        <th>License Type</th>
                                        <th>License Number</th>
                                        <th>Distillery Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td> 1 </td> -->
                                        <td>AARTI DISTILLERIES PRIVATE LIMITED</td>
                                        <td>PD2</td>
                                        <td>LIC/DISTILLERY/PD2/72/23_24</td>
                                        <td>AARTI DISTILLERIES PRIVATE LIMITED, Uthar pradesh</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Consignee Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th>S.No<span class="mandatory"></span></th> -->
                                        <th>Name of Licensee</th>
                                        <th>License Type</th>
                                        <th>License No</th>
                                        <th>District</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td> 1 </td> -->
                                        <td>Sagar Chemicals Pvt. Ltd.</td>
                                        <td>FL-39</td>
                                        <td>296/TWO-805A(119)/317</td>
                                        <td>KANPUR DEHAT</td>
                                        <td>Plot No. C-7, C-8. UPSIDC Industrial Area, Growth Centre Jainpur</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Permit Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th>S.No<span class="mandatory"></span></th> -->
                                        <th>Permit No</th>
                                        <th>Permit Date</th>
                                        <th>Denaturant Fees</th>
                                        <th>Advalorem  Fees<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td> 1 </td> -->
                                        <td>1300
                                        </td>
                                        <td>29-Mar-2024
                                        </td>
                                        <td>20000
                                        </td>
                                        <td>
                                           <input type="text" class="form-control" value="1000">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive mt-2">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Spirit Type</th>
                                        <th>Spirit Raw Material Type</th>
                                        <th>Issued Quantity(BL)</th>
                                        <th>Strength</th>
                                        <th>Issued Quantity(AL)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>SDS</td>
                                        <td>Grain Based</td>
                                        <td>4000</td>
                                        <td class="text-right">94.4</td>
                                        <td>37760</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Transportation Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Transporter Name
                            </label>
                            <input type="text"  class="form-control"
                                value="ELEVATE LOGISTICS">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Vehicle No.
                            </label>
                            <input type="text" required class="form-control"
                                value="UP77AT7385">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Vehicle Driver Name
                            </label>
                            <input type="text"  class="form-control"
                                value="SANOJ DUBEY">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Route Type
                            </label>
                            <input type="text"   class="form-control"
                            value="Outside District">
                            <!-- <input type="text" disabled  class="form-control"
                            value="Within District"> -->
                            <!-- <select class="form-control" required disabled>
                                <option >Outside District</option>
                                <option>Within District</option>
                            </select> -->
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Route Type
                            </label>
                            <select class="form-control" required>
                                <option selected>Outside District</option>AWF
                                <option>Within District</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Route Details
                            </label>
                            <input type="text" required class="form-control"
                                value="KANPUR DEHAT">
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Major Route
                            </label>
                            <input type="text" required class="form-control"
                                value="KANPUR DEHAT">
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Via
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Major District
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                                <option selected>Lucknow</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Distance (Kms)
                            </label>
                            <input type="text" required class="form-control"
                                value="0-300">
                            <!-- <select class="form-control">
                                <option>Select</option>
                                <option selected>0-300</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Valid Upto
                            </label>
                            <input type="date"   required 
                            class="form-control" value="20-Apr-2021">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Valid Up To (hrs)
                            </label>
                            <input type="date"   required 
                            class="form-control" value="24 hrs">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Bond Value (Rs)
                            </label>
                            <input type="text"   required 
                            class="form-control" value="">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Temperature
                            </label>
                            <input type="text"   required 
                            class="form-control" value="0">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Indication
                            </label>
                            <input type="text"   required 
                            class="form-control" value="0">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Strength
                            </label>
                            <input type="text"   required 
                            class="form-control" value="94.4">
                        </div> 
                    </div>
                   
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Gross Weight
                            </label>
                            <input type="number" required class="form-control"
                                value="46850">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Tare Weight
                            </label>
                            <input type="number" required class="form-control"
                                value="14410">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Net Weight
                            </label>
                            <input type="number" disabled required class="form-control"
                                value="3240.00">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Chember No/Casks</th>
                                        <th>Dip</th>
                                        <th>B.L</th>
                                        <th>A.L</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>  <input type="text"  required class="form-control"
                                            value="1"> </td>
                                            <td>  <input type="text"  required class="form-control"
                                                value="186"> </td>
                                                <td>  <input type="text"  required class="form-control"
                                                    value="7000"> </td>
                                                    <td>  <input type="text"  required class="form-control"
                                                        value="6608"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Logs" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Action Performed By</th>
                                        <th>Designation</th>
                                        <th>Action</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>15--Mar-2024 13:40:15</td>
                                        <td>AARTIAEC</td>
                                        <td>AEC Distillery</td>
                                            <td class="text-center">
                                <span class="badge badge-light-success">Approved</span> </td>
                                        
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Validity Extension" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Remarks<span class="mandatory"></span></th>
                                        <th>Validity</th>
                                        <th>Validity Extension Date<span class="mandatory"></span></th>
                                        <th>Validity Extension</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input class="form-control" placeholder="Enter the Remarks"></td>
                                       
                                        <td>16-Mar-2024 01:07 PM</td>
                                        <td><input type="date" class="form-control" placeholder="Enter the Remarks"></td>
                                        <td><button type="button" class="btn btn-primary ml-2">Validity Extension</button>
                                </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <!-- <app-card cardTitle="Consignor Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No<span class="mandatory"></span></th>
                                        <th>Distillery Name<span class="mandatory"></span></th>
                                        <th>License Type<span class="mandatory"></span></th>
                                        <th>License Number<span class="mandatory"></span></th>
                                        <th>Distillery Address<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>AARTI DISTILLERIES PRIVATE LIMITED</td>
                                        <td>PD2</td>
                                        <td>LIC/DISTILLERY/PD2/72/23_24</td>
                                        <td>AARTI DISTILLERIES PRIVATE LIMITED, Uthar pradesh</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>

            <app-card cardTitle="Consignee Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No<span class="mandatory"></span></th>
                                        <th>Name of Licensee<span class="mandatory"></span></th>
                                        <th>License Type<span class="mandatory"></span></th>
                                        <th>License No<span class="mandatory"></span></th>
                                        <th>District<span class="mandatory"></span></th>
                                        <th>Address<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>Sagar Chemicals Pvt. Ltd.</td>
                                        <td>FL-39</td>
                                        <td>296/TWO-805A(119)/317</td>
                                        <td>KANPUR DEHAT</td>
                                        <td>Plot No. C-7, C-8. UPSIDC Industrial Area, Growth Centre Jainpur</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>

            <app-card cardTitle="Permit Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No<span class="mandatory"></span></th>
                                        <th>Permit No<span class="mandatory"></span></th>
                                        <th>Permit Date<span class="mandatory"></span></th>
                                        <th>Denaturant Fees<span class="mandatory"></span></th>
                                        <th>Advalorem  Fees<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>1300</td>
                                        <td>29-Feb-2024</td>
                                        <td>2000</td>
                                        <td>
                                            <input class="form-control" placeholder="Enter the Advalorem  Fees">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive mt-2">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No<span class="mandatory"></span></th>
                                        <th>Spirit Type<span class="mandatory"></span></th>
                                        <th>Spirit Raw Material Type<span class="mandatory"></span></th>
                                        <th>Issued Quantity(BL)<span class="mandatory"></span></th>
                                        <th>Strength<span class="mandatory"></span></th>
                                        <th>Issued Quantity(AL)<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>SDS</td>
                                        <td>Grain Based</td>
                                        <td>4000</td>
                                        <td class="text-right">94.4</td>
                                        <td>37760</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Transportation Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No<span class="mandatory"></span></th>
                                        <th>Permit No<span class="mandatory"></span></th>
                                        <th>Permit Date<span class="mandatory"></span></th>
                                        <th>Denaturant Fees<span class="mandatory"></span></th>
                                        <th>Advalorem  Fees<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>1300</td>
                                        <td>29-Feb-2024</td>
                                        <td>2000</td>
                                        <td>
                                            <input class="form-control" placeholder="Enter the Advalorem  Fees">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive mt-2">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No<span class="mandatory"></span></th>
                                        <th>Chember No/Casks<span class="mandatory"></span></th>
                                        <th>Dip<span class="mandatory"></span></th>
                                        <th>B.L<span class="mandatory"></span></th>
                                        <th>A.L<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>186</td>
                                        <td>7000</td>
                                        <td>6608</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Logs" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No<span class="mandatory"></span></th>
                                        <th>Date<span class="mandatory"></span></th>
                                        <th>Action Performed By<span class="mandatory"></span></th>
                                        <th>Designation<span class="mandatory"></span></th>
                                        <th>Action<span class="mandatory"></span></th>
                                        <th>Comments<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>15--Mar-2024 13:40:15</td>
                                        <td>AARTIAEC</td>
                                        <td>AEC Distillery</td>

                                        <td>
                                        
                            <td class="text-center">
                                <span class="badge badge-light-success">Approved</span> </td>
                                        </td>
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Validity Extension" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Remarks<span class="mandatory"></span></th>
                                        <th>Validity<span class="mandatory"></span></th>
                                        <th>Validity Extension Date<span class="mandatory"></span><span class="mandatory"></span></th>
                                        <th>Validity Extension<span class="mandatory"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td><input class="form-control" placeholder="Enter the Remarks"></td>
                                        <td>16-Mar-2024 01:07 PM</td>
                                        <td></td>
                                        <td><button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>
                                </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card> -->
        </form>
    </div>
    

    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        -->
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button> 
         <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/fl1aindent/list">Cancel</button>
    </div>
</div>