<h5 class="m-b-10 ng-star-inserted">Add Retail Transfer Configuration MGQ</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Retail to Retail Transfer</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Retail Transfer Configuration MGQ</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">

            <app-card cardTitle="Add Retail Transfer Configuration MGQ Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="row mt-2">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="mandatory">Financial Year</label>
                                    <select class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="mandatory">District Type</label>
                                    <select class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="mandatory">Entity Type</label>
                                    <select class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="mandatory">Licence Type</label>
                                    <select class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row"> -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th width="50%">District</th>
                                        <th>Shop Id</th>
                                        <th>Total MGQ Yearly</th>
                                        <th>Total MGQ Monthly</th>

                                        <!-- <th>Maximum Percentage<br> Transfered Monthly</th> -->
                                        <!-- <th>Maximum Percentage<br> Transfered Monthly</th> -->
                                        <th>Maximum BL Conversion<span class="mandatory"></span></th>
                                        <!-- <th>Maximum Percentage<br> Lifted monthly</th> -->
                                        <!-- <th>District wise<br> Lifted Monthly</th> -->
                                        <!-- <th>Shop wise<br> Monthly</th> -->
                                        <th>Fine / Fees<span class="mandatory"></span></th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td>1</td>
                                        <td><input type="text" value="Lucknow" class="form-control"></td>
                                        <td><input type="text" value="200" class="form-control"></td>
                                        <td><input type="text" value="20%" class="form-control"></td>
                                        <td><input type="text" value="36%" class="form-control"></td> -->
                                        <td>1</td>
                                        <td class="text-left">Lucknow</td>
                                        <td>123</td>
                                        <td class="text-left">
                                            140%
                                        </td>
                                        <!-- <td class="text-left">
                                            20%
                                        </td> -->
                                        <td><input disabled type="text" value=" 20%" class="form-control"></td>
                                       
            <td><input type="text" placeholder="Enter Maximum BL Conversion" class="form-control"></td>
                                        <!-- <td><input type="text" value="" class="form-control"></td>
                                        <td><input type="text" value="" class="form-control"></td> -->
                                        <td><input type="text" placeholder="Enter Fine / Fees" class="form-control"></td>
                                        <td>
                                            <button class="btn btn-icon btn-success" type="button" 
                                            routerLink="/supplychainmanagement/retail/indentrequestnew/view">
                                            <i class="feather icon-plus"></i></button>
                                            <button class="btn btn-icon btn-danger ml-2" type="button" 
                                            routerLink="/supplychainmanagement/retail/indentrequestnew/add">
                                            <i class="feather icon-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>


    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-info mb-2 ml-2" routerLink="/supplychainmanagement/wholesale/transitgatepass/view">Preview</button>
         -->
        <!-- <button type="button" class="btn btn-primary mb-2">Next</button>
        <button type="button" class="btn btn-secondary mb-2 ml-2">Back</button>
        <button type="button" class="btn btn-info ml-2 mb-2">Preview</button> -->
        <button type="button" class="btn btn-success ml-2 mb-2">Submit</button>
        <!-- <button type="button" class="btn btn-primary mb-2 ml-2">Submit</button> -->
        <!-- <button type="button" class="btn btn-warning mb-2 ml-2">Save as Draft</button> -->
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/wholesale/transitgatepass/list">Cancel</button>
    </div>
</div>
