<h5 class="m-b-10 ng-star-inserted">
    Excise Officer
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Grievance</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Excise Officer</a></li>
    <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
    <div class="col-12">
        <app-card cardTitle="Ticket  Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application  Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    08-10-2021
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Grievance ID<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    2021117</div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Issue from<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Mobile app
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Type of User<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Consumer
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Licensee
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Phone Number<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        297878
                    </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Issue from<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Mobile app
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Type of User<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Licensee
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Licensee
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Phone Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    297878
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    FL1
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Distillery
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    WL27679112
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">User Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Deepak
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Department<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    PL2
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License Status<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Valid
                </div> -->
            </div>
        </app-card>
      
        <app-card cardTitle="Entity Details"
        class="list-panel view-panel">
        <div class="row">
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">License type <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                BWFL2
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Unit  name<span
                        class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Singh
            </div>
           
           
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">License Number<span
                        class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                KNJ87
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">License Status<span
                        class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Valid
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Employee ID<span
                        class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                7823JBHB
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">User Name<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Sunil
            </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Department<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Department
                </div>
               
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Department<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    ACE
                </div> -->
               
               
               
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">District<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Agra, Ghaziabad, Meerut, Kanpur, Lucknow       
                </div>
              
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Allocated Entity<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Daurala Distillery
                </div> -->
        </div>
    </app-card>
       
    <app-card cardTitle="Contact Details" class="list-panel add-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Name of Complainant<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Sunil</div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Address of Complainant<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               -
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">District<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                -
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Email ID<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                xxxyyyzzz@gmail.com
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Phone Number<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                9738784878
            </div>
        </div>
    </app-card>
    <app-card cardTitle="Grievance Details" class="list-panel add-panel">
        <div class="row">
           
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Grievance Category<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Distillery
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Issue details<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                -
            </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Priority<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                P1
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">SLA<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                -
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Grievance Description<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                WL27679112
            </div>
          
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">View document<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Document.jpg
                <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i class="feather icon-eye"></i>
               </button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">View Evidence<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Evidence.jpg
                <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i class="feather icon-eye"></i>
               </button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Resolved
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Reply to remarks<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Assign Group<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                -`
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Assign To<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Ticket Status<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                -
            </div>
           
           
        </div>
    </app-card>
        <app-card cardTitle="Online Report" class="list-panel add-panel">
            <div class="row">
               
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Resolution details<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Created By<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    helpdesk
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Created On<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    jun18, 2021, 7:34:42 P.M.
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Updated By<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    helpdesk
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Updated On<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    jun18, 2021, 7:34:42 P.M.
                </div>
                
            </div>
        </app-card>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-secondary ml-2" routerLink="">
            Back</button>
    </div>
</div>