<h5 class="m-b-10 ng-star-inserted">Add PD15
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a></li>
    <li class="breadcrumb-item"><a
            routerLink="/supplychainmanagement/distillery/pd15-form/list">PD15</a></li>
    
    <li aria-current="page" class="breadcrumb-item active">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #Pd25Form="ngForm" autocomplete="off">
            <app-card cardTitle="Add - PD15"
                class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date"  class="form-control" 
                                 required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount of Brand of Distillery</label>
                            <input type="number" class="form-control" 
                                 required placeholder="Enter Amount of Brand of Distillery">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pass No</label>
                            <input type="text" class="form-control" placeholder="Enter Pass No" 
                                 required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Alcohol</label>
                            <input type="number"  class="form-control" 
                                 required placeholder="Enter Quantity of Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Duity on Alcohol</label>
                            <input type="number"  class="form-control" 
                                 required placeholder="Enter Duity on Alcohol">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total Duty for the Whole Day</label>
                            <input type="number"  class="form-control" 
                            placeholder="Enter Total Duty for the Whole Day" 
                                 required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Listed Distillery Brand Amount</label>
                            <input type="number"  class="form-control" placeholder="Enter Listed Distillery Brand Amount" 
                                 required>
                         
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date of Return</label>
                            <input type="date"  class="form-control" 
                                 required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name of Excise Officer </label>
                            <input type="text"  class="form-control" placeholder="Enter Name of Excise Officer "
                                 required>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Amount of Total Pass Returned Throughout the Day</label>
                            <input type="number"  class="form-control" 
                            placeholder="Enter Amount of Total Pass Returned Throughout the Day" 
                            required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Funds at the End of the Day of the Bond of the Distillery</label>
                            <input type="number" class="form-control" 
                            placeholder="Enter Funds at the End of the Day of the Bond of the Distillery" 
                            required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Remarks</label>
                            <textarea class="form-control" required rows="1" placeholder="Enter Remarks"></textarea>
                        </div>
                    </div>
                    
                </div>
            </app-card>
        </form>
    </div>
    
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info mb-2" routerLink="/supplychainmanagement/distillery/pd15-form/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/pd15-form/list">Cancel</button>
    </div>
</div>