<h5 class="m-b-10 ng-star-inserted">Application Status </h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Warehouse</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brand Label Request</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Application Status </a></li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Search" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Application No.</label>
                        <input type="text" class="form-control" placeholder="Enter Application No.">
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>License Type</label>
                        <select class="form-control">
                            <option>Type 1</option>
                            <option>Type 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Dated</label>
                        <input type="date" class="form-control" placeholder="Enter 2020-03-11">
                    </div>
                </div>
               
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-right">
                    <button type="submit" class="btn btn-primary mr-2">Search</button>
                    <button type="submit" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </app-card>
    </div>
</div>



<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Application Status List" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Registered Date</th>
                            <th>Unit Name</th>
                            <th>License/Unit Type</th>
                            <th>License Number</th>
                            <th>Brand Name</th>
                            <th>Strength</th>
                            <th>Status</th>
                            <th>Action</th>


                        </tr>
                    </thead>
                    <tbody *ngIf="brandData?.length != 0">
                        <tr *ngFor="let data of brandData; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                {{data.createdDate | date: 'dd-MMM-yyyy'}}

                            </td>
                            <td>{{data.unitName}}</td>
                            <td>test1</td>
                            <td>{{data.domainResponseDto?.createdDate}}</td>
                            <td>{{data.brandName}}</td>
                            <td>
                                {{data.brandStrength}}
                            </td>
                            <td>
                                    {{data.status}}
                                </td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button" routerLink="/supplychainmanagement/warehouse/brandlabelrequest/newbrand/view/{{data.id}}">
                                    <i class="feather icon-eye"></i></button>
                                <!-- <button class="btn btn-icon btn-secondary ml-2" type="button" routerLink="/supplychainmanagement/warehouse/brandlabelrequest/newbrand/edit/{{data.id}}" *ngIf="username != 'whapprover'">
                                        <i class="feather icon-edit-2"></i></button> -->
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>