<h5 class="m-b-10 ng-star-inserted"> PD8 - Distiller'S Declaration of wash
</h5>

<ul class="breadcrumb p-0">
   <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
   <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
   <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/pamr2/list">PD8</a></li>

   <li aria-current="page" class="breadcrumb-item active">{{addedit}}</li>
</ul>
<div class="row">
   <div class="col-xl-12">
      <form autocomplete="off">

         <app-card cardTitle="PD* Details" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">OT Number<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>123456</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Batch No<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>-</span>
               </div>
            </div>
         </app-card>
         <app-card cardTitle="Period From" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Date and Time <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.from | date:'dd-MMM-yyyy hh:mm'}}</span>
               </div>
               <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Time <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.from}}</span>
               </div> -->
            </div>
         </app-card>
         <app-card cardTitle="Period To" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Date and Time <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.to | date:'dd-MMM-yyyy hh:mm'}}</span>
               </div>
               <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">
                      Time <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>{{pd8viewobj.to}}</span>
                 </div> -->
            </div>
         </app-card>
         <app-card cardTitle="Molasses Details" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Molasses Tank No<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.tankId}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Initial Count<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.initialCount}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Final Count<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.finalCount}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Molasses Used In Qlts. Time <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.molassesUsed}}</span>
               </div>
            </div>
         </app-card>
         <app-card cardTitle="Wash Details" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Temprature<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.temperature}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Wash/Back No<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.washNumber}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Qty of Wash Prepared Ltrs<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.washPrepared}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Initial SP. Gr.<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.initialSpGravity}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Final Sp. Gr.<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.finalSpGravity}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                     Qty Of wash Distillery Ltrs<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.washDistillery}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>{{pd8viewobj.remarks}}</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Verified on <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span></span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Verified by<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span></span>
               </div>
            </div>
         </app-card>

      </form>
   </div>
   <div class="col-12 text-right mb-4">
      <div *ngIf="addedit== 'View'" class="col-12 text-right mb-4">
         <button type="submit" *ngIf="entityType =='UP_EXCISE' && pd8viewobj.status == 'SUBMITTED' "
            class="btn btn-primary ml-2 mb-2" (click)="userapproval('APPROVED')">Approved</button>
         <button type="submit" *ngIf="entityType =='UP_EXCISE' && pd8viewobj.status == 'SUBMITTED' "
            class="btn btn-danger ml-2 mb-2" (click)="userapproval('REJECTED')">Reject</button>
         <!-- <button type="submit" *ngIf = "entityType =='UP_EXCISE'" class="btn btn-warning ml-2 mb-2" 
         (click)="userapproval('CLARIFICATION')"
         >Clarification Required</button> -->
         <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/pd8-form/list">Back</button>

      </div>
      <div *ngIf="addedit!== 'View' && !pd8viewobj.id" class="col-12 text-right mb-4">
         <button type="button" class="btn btn-success mr-2">Print</button>
         <button type="button" class="btn btn-secondary"
            routerLink="/supplychainmanagement/distillery/pd8-form/add">Cancel</button>
      </div>
      <div *ngIf="addedit!== 'View' && pd8viewobj.id" class="col-12 text-right mb-4">
         <button type="button" class="btn btn-success mr-2">Print</button>
         <button type="button" class="btn btn-secondary"
            routerLink="/supplychainmanagement/distillery/pd8-form/edit/{{pd8viewobj.id}}">Cancel</button>
      </div>

   </div>
</div>