<h5 class="m-b-10 ng-star-inserted">Application for License M.B - 2</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Licence Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Application for License M.B - 2</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Application Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Financial year</label>
                            <input type="number" disabled class="form-control" placeholder="2021-2022" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Date of Application</label>
                            <input type="date" class="form-control" placeholder="">
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Entity of Firm</label>
                            <select class="form-control">
                                 <option>Select</option>
                                 <option>Firm</option>
                                 <option>Company</option>
                               </select>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License Type</label>
                            <select class="form-control">
                                 <option>Select</option>
                                 <option>M.B 2</option>
                                 
                               </select>
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Applicant Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Salutation</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Mr.</option>
                                <option>Miss.</option>
                                <option>Mrs.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Middle Name</label>
                            <input type="text" class="form-control" placeholder="Enter Middle Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc" class="mandatory">Upload Photo of Applicant</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Mobile Number</label>
                            <input type="number" class="form-control" placeholder="Enter Mobile Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Email Id</label>
                            <input type="text" class="form-control" placeholder="Enter Email Id">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Aadhaar Number</label>
                            <input type="text" class="form-control" placeholder="Enter Aadhaar Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc" class="mandatory">Upload Aadhar</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Gender</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Date of Birth</label>
                            <input type="date" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">PAN Number</label>
                            <input type="text" class="form-control" placeholder="Enter PAN Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc" class="mandatory">Upload PAN</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </app-card>
            <app-card cardTitle="Applicant Address" class="list-panel add-panel">
                <div class="row">
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name of the Organization</label>
                            <input type="text" class="form-control" required placeholder="Enter Name of the Organization">
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Country</label>
                            <input type="text" class="form-control" required placeholder="INDIA">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Pincode</label>
                            <input type="number" class="form-control" required placeholder="Enter Pincode">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">State</label>
                            <select class="form-control" required>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">District</label>
                            <select class="form-control" required>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Tehsil</label>
                            <select class="form-control" required>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Urban/Rural</label>
                            <select class="form-control" required>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Municipal Area</label>
                            <select class="form-control" required>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Ward</label>
                            <input type="text" class="form-control" required placeholder="Enter Ward">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Block</label>
                            <input type="text" class="form-control" required placeholder="Enter Block">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Village</label>
                            <input type="text" class="form-control" required placeholder="Enter Village">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Police Station</label>
                            <input type="text" class="form-control" required placeholder="Enter Police Station">
                        </div>
                    </div>

                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Police Station</label>
                            <select class="form-control" required>
                                <option>Select</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Locality</label>
                            <input type="text" class="form-control" required placeholder="Enter Locality">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Street</label>
                            <input type="text" class="form-control" required placeholder="Enter Street">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Area Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Area</label>
                            <input type="text" class="form-control" required placeholder="Enter Area">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Area</label>
                            <input type="text" class="form-control" required placeholder="Enter Area">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Area</label>
                            <input type="text" class="form-control" required placeholder="Enter Area">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Area</label>
                            <input type="text" class="form-control" required placeholder="Enter Area">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount of proposed capital to be invested</label>
                            <input type="text" class="form-control" required placeholder="Enter Amount of proposed capital to be invested">
                        </div>
                    </div>
                </div>
            </app-card>

            <app-card cardTitle="Capital Structure" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <h4>8 a) In case of Limited Company</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Authorized Amount</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Issued Amount</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Paid Amount</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Borrowings, If any</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount of proposed capital to be invested</label>
                            <input type="text" class="form-control" required placeholder="Enter Amount of proposed capital to be invested">
                        </div>
                    </div>

                    <div class="col-12">
                        <h4>8 b) In case of Others</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Capital</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Borrowings, If any</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-12">
                        <h4>8 c) Details of Investments</h4>
                    </div>
                    <div class="col-12">
                        <h6>8 c) i)Fixed assets</h6>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Land</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Building</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Plant or Machinery</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Other if any</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total</label>
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                    <div class="col-12">
                        <h6>8 c) ii)Working capital</h6>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <!-- <h6>8 c) ii)Working capital</h6> -->
                            <input type="text" class="form-control" required placeholder="">
                        </div>
                    </div>
                </div>
            </app-card>


            <app-card cardTitle="The Name and Description of the place in which the microbrewery is situated" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name Of Small Brewery</label>
                            <input type="text" class="form-control" required placeholder="Enter Name Of Small Brewery">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name of Organisation</label>
                            <input type="text" class="form-control" required placeholder="Enter Name of Organisation">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" class="form-control" required placeholder="INDIA">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pincode</label>
                            <input type="number" class="form-control" required placeholder="Enter Pincode">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option></option>
                             </select>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option></option>
                               </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Tehsil</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option></option>
                                <option></option>
                              </select>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Urban/Rural</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Urban</option>
                                <option>Rural</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Municipal Area</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Municipal Area1</option>
                                <option>Municipal Area2</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Ward</label>
                            <input type="text" class="form-control" placeholder="Enter Ward">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Block</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Block1</option>
                                <option>Block2</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Village</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Village1</option>
                                <option>Village2</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Police Station</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Police Station1</option>
                                <option>Police Station2</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Locality</label>
                            <input type="text" class="form-control" placeholder="Enter Locality" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Street</label>
                            <input type="text" class="form-control" placeholder="Enter Street" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Description of Vessels and other permanent Apparatus</label>
                            <input type="text" class="form-control" placeholder="Enter Description of Vessels">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Production capacity of the microbrewery per day/per annum</label>
                            <input type="number" class="form-control" placeholder="Enter Production capacity">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Description of  Plant / Machinery " class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>Value of Plant and machinery including refrigeration unit</h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5>a)to be imported or of imported origin</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Enter imported origin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5>b)of Indigenous origin</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Enter Indigenous origin ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Raw material required for production  " class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>a) quality and value of Raw material including haps </h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5>i)to be imported or of imported origin per year</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Enter imported origin ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5>ii)of Indigenous origin per year</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Enter Indigenous origin ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>b)Quantity and value of barley malt required per year in the manufacture of beer</h4>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Enter Quantity and value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Water and Power Requirement" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>a)Particulars of requirement</h4>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter necessary permission">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>b)Whether necessary permission has been secured</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="Radio1" class="custom-control-input">
                                        <label class="custom-control-label">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="Radio2" class="custom-control-input">
                                        <label class="custom-control-label">NO</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>c)State whether the quantity of water available is fit for the manufacture of beer</h4>
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio1" (click)="clickedevent1($event,'customRadio1')" value="customRadio1" formControlName="isFitWaterQuality" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="customRadio1">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio2" (click)="clickedevent1($event,'customRadio2')" value="customRadio2" formControlName="isFitWaterQuality" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2">NO</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Process" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>a) Brief process of manufacture</h4>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Brief process ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5>b) Standard and quantity of product proposed to be manufactured</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Enter Standard  and quantity ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <!-- <app-card cardTitle="Process" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>a) Brief process of manufacture</h4>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName='briefProcess' placeholder="Enter Brief process ">
                                </div>
                            </div>F
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5>b) Standard and quantity of product proposed to be manufactured</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName='quantityOfProduct' placeholder="Enter Standard  and quantity ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card> -->
            <app-card cardTitle="Technical Assistance " class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Whether any foreign collaboration is envisaged and if so the amount of foreign exchange involved</label>
                            <input type="text" class="form-control" placeholder=" ">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Forecast of Timings " class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>a) Time required to Secure land, buildings other accommodation after licence in Form MB-5</h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>b) Time required to fetch machinery and start production after the license granted</h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>20) i.Items of manufacture</h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>20) ii. Annual quantity (metric measure)</h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>20 )iii. Calculation details of annual capacity on the based of fermentation house and batch cycle time</h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Employment Potential" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Supervisory</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Skilled</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>unskilled</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>22)i.A certificate for non pending of excise revenue </h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">

                                    <div class="input-group cust-file-button">
                                        <div class="custom-file" class="form-control">
                                            <input type="file" id="uploadpuc">
                                            <label class="custom-file-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>ii. Any special facility required from the government</h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6>iii. Special feature, if any of the scheme </h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Bank Details" class="list-panel add-panel">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bank Account Number</label>
                            <input type="text" class="form-control" placeholder="Enter Bank Account Number">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bank IFSC</label>
                            <input type="text" class="form-control" placeholder="Enter IFSC">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>State Bank Of India</option>
                                <option>Canara Bank</option>
                              </select>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc">Upload Cancel Cheque</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="form-control" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>

            <app-card cardTitle="Payment Processing Fees" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Application/Processing Fees</label>
                            <input type="text" class="form-control" placeholder="">

                        </div>
                    </div>

                </div>
            </app-card>

        </form>
        <div class=" text-content text-right mb-4">
            <button type="button" class="btn btn-warning mb-2 ml-2">Save as draft</button>
            <button type="button" class="btn btn-info mb-2 ml-2">Preview</button>
            <!-- <button type="button"disabled class="btn btn-success mb-2 ml-2">Site Details</button>
            <button type="button" disabled class="btn btn-primary mb-2 ml-2">Proceed to Payment</button> -->
            <button type="button" class="btn btn-primary mb-2 ml-2">Submit</button>
            <button type="button" class="btn btn-secondary mb-2 ml-2">Cancel</button>
        </div>
    </div>
</div>