<h5 class="m-b-10">View Sheera Nidhi Register</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a><i class="feather icon-home"></i></a>
    </li>
    <!-- <li class="breadcrumb-item"><a href="javascript:" [routerLink]="['/supplychainmanagement/dashboard']">Supply Chain Management</a></li> -->
    <li class="breadcrumb-item"><a href="">Sugar Mill</a>
    </li>
    <li class="breadcrumb-item"><a href="">Sheera Nidhi Register</a>
    </li>
    <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Sheera Nidhi Register
 Details            " class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application No
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    AP1122
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Date
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    20-Jun-2021
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Opening Balance
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1000.00
                </div>

            </div>
        </app-card>
        <app-card cardTitle="Dispatches Grade Wise " class="list-panel add-panel">
            <div class="row">
                <div class="col-12">
                    <h6>B Heavy(Qtls)
                    </h6>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">B-Heavy (Qtls)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    14
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Amount of B Heavy Sheera Nidhi (Rs)
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    14000.00
                </div>
                <div class="col-12">
                    <h6>C Heavy (Qtls)

                    </h6>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">C-Heavy (Qtls)

                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    14000.00
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Amount of C Heavy Sheera Nidhi (Rs)

                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    14000.00
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Progressive Deposits
                        " class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total (Rs)


                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    14000.00
                </div>
            </div>
        </app-card>

    </div>
    <div class="col-xl-12">
        <app-card cardTitle="Due for Deposit (Rs)
            " class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Account No.



                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    3201548796
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Release as per E.C Order (Rs)



                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Withdrawal (Rs)

                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    11
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Balance in Account (Rs)


                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    11000.00
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remark


                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>


            </div>
        </app-card>

    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2">Approve</button>
        <button type="button" class="btn btn-danger ml-2 mb-2">Reject</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Clarification</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2">Back</button>
    </div>
</div>