<h5 class="m-b-10 ng-star-inserted">
    Damage/Missing Products
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Damage/Missing Products</a></li>
    <li class="breadcrumb-item">List</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Damage/Missing Products Status" class="search-panel">
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="form-group">
            <label>Date Range
            </label>
            <input type="date" required class="form-control">
        </div>
    </div>
   
</div>
<div class="row">
        <div class="col-md-6 col-xl-3 col-sm-6 dashboard_bg1 animate__animated animate__backInUp">
      <app-card [hidHeader]="true" cardClass="comp-card">
        <div class="row align-items-center">
          <div class="col">
            <span>Cases Damaged</span>
            <h3 class="mt-2">1000</h3>
            <i class="fas fa-external-link-alt"></i>
            <!-- <small>WWWW</small>    -->
          </div>  
        </div>
      </app-card>
    </div>
    <div class="col-md-6 col-xl-3 col-sm-6 dashboard_bg4 animate__animated animate__backInUp">
      <app-card [hidHeader]="true" cardClass="comp-card">
        <div class="row align-items-center">
          <div class="col">
            <span>Cases Missing</span>
            <h3 class="mt-2">800</h3>
            <i class="fas fa-check"></i>
            <!-- <small>WWW</small> -->
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-md-6 col-xl-3 col-sm-6 dashboard_bg2 animate__animated animate__backInUp">
      <app-card [hidHeader]="true" cardClass="comp-card">
        <div class="row align-items-center">
          <div class="col">
            <span>Bottle Damaged</span>
            <h3 class="mt-2">100</h3>
            <i class="fas fa-hourglass-half"></i>
            <!-- <small>WWW</small> -->
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-md-6 col-xl-3 col-sm-6 dashboard_bg3 animate__animated animate__backInUp">
      <app-card [hidHeader]="true" cardClass="comp-card bg-danger">
        <div class="row align-items-center">
          <div class="col">
            <span>Bottle Missing</span>
            <h3 class="mt-2">100</h3>
            <i class="fas fa-thumbs-down text-danger"></i>
            <!-- <small>WWWW</small> -->
          </div>
        </div>
      </app-card>
    </div>
  </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Search" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Indent No</label>
                        <input type="text" class="form-control" placeholder="Enter Indent No"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Brand Name</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Issue Type</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Damage Type</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary mr-2">Search</button>
                    <button type="submit" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Damaged Products List" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered text-center" >
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Indent No</th>
                            <th>Brand Name</th>
                            <th>Liquor Type</th>
                            <th>Sub Liquor Type</th>
                            <th>Package Size</th>
                            <th>Package Type</th>
                            <th>Issue type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>IN1122</td>
                            <td class="text-left">Rampur Select</td>
                            <td class="text-left">Whisky</td>
                            <td class="text-left">Single Malt</td>
                            <td class="text-left">750 ml</td>
                            <td class="text-left">Glass Bottle</td>
                            <td class="text-left">Damaged Seal</td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button"
                                routerLink="/supplychainmanagement/distillery/damagemissingproducts/view">
                                    <i class="feather icon-eye"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>IN2021</td>
                            <td class="text-left">Rampur Select</td>
                            <td class="text-left">Beer</td>
                            <td class="text-left">Single Malt</td>
                            <td class="text-left">650 ml</td>
                            <td class="text-left">Glass Bottle</td>
                            <td class="text-left">Damaged Seal</td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button"
                                routerLink="/supplychainmanagement/distillery/damagemissingproducts/view">
                                    <i class="feather icon-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-2">
                <div class="col-xl-4">
                    <div ngbDropdown>
                        <button class="btn btn-success" ngbDropdownToggle type="button">Download</button>
                        <div ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:">Excel</a>
                            <a class="dropdown-item" href="javascript:">PDF</a>
                            <a class="dropdown-item" href="javascript:">CSV</a>
                        </div>
                    </div>
                </div>

            </div>
        </app-card>
    </div>
</div>