<h5 class="m-b-10 ng-star-inserted">Add Digital Locks</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Supply Chain Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Digital Locks</a></li>
    <li aria-current="page" class="breadcrumb-item active">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #stockForm="ngForm" autocomplete="off">
            <app-card cardTitle="Enter Below Details to Add Digital Locks" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Opening Date</label>
                            <input type="date" class="form-control" placeholder="Enter Opening date"
                                name="openingDate" #openingDate="ngModel"
                                [(ngModel)]="digitallocksObj['openingDate']">
                            <div *ngIf="openingDate.invalid && (openingDate.dirty || openingDate.touched || formSubmitted)"
                                class="error-msg">
                                <div *ngIf="openingDate?.errors?.required"><i class="fa fa-times"></i>
                                    Opening Date is required </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Reason For Opening</label>
                            <input type="text" class="form-control" placeholder="Enter Reason For Opening"
                                name="reasonOpening" #reasonOpening="ngModel"
                                [(ngModel)]="digitallocksObj['reasonOpening']">
                            <div *ngIf="openingDate.invalid && (openingDate.dirty || openingDate.touched || formSubmitted)"
                                class="error-msg">
                                <div *ngIf="openingDate?.errors?.required"><i class="fa fa-times"></i>
                                    Reason For Opening is required </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Opening Time</label>
                            <input type="datetime-local" class="form-control" placeholder="Enter Opening Time"
                                name="openingTime" #openingTime="ngModel"
                                [(ngModel)]="digitallocksObj['openingTime']">
                            <div *ngIf="openingTime.invalid && (openingTime.dirty || openingTime.touched || formSubmitted)"
                                class="error-msg">
                                <div *ngIf="openingTime?.errors?.required"><i class="fa fa-times"></i>
                                    Opening Time</div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary mr-2"
            (click)="adddigitallocks(stockForm)">Submit</button>
        <button type="button" class="btn btn-secondary"
            routerLink="/supplychainmanagement/distillery/digitallocks/list">Cancel</button> 
</div>
</div>