<h5 class="m-b-10 ng-star-inserted">Wholesale
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Wholesale</a></li>
    <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Unit Name wise search" class="list-panel add-panel">
            <div class="row">



                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>From Date
                        </label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>To Date
                        </label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="">License Number </label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="">Liquor Type </label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12 text-right col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div>
                            <button type="submit" class="btn btn-primary mr-2">Search</button>
                            <button type="submit" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>




            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Financial Year<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    2022-2023</div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Date of application submission <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    01-01-2023
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Date of application approved <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    02-01-2023
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Return filling application number<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    RF_662961
                </div>
               
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">From Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    01-01-2023
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">To Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    02-01-2023
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Retail
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    FL 5B
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Acrer retail shop
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit District                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Agra
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Address                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    KK nagar, agra, uttar pradesh, 202101
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License number                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    LIC/WHOLESALE/FL2/AGRA/9/2022/011884
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">First Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Kannan
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Middle Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Prasanth
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Last Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Kumar
                </div>
            </div>
            <div class="col-12  mt-2">
       
                <div class="table-responsive">
                    <table class="table table-bordered text-center text-center  mb-0">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Brand Name </th>
                                <th>Liquor Type</th>
                                <th>Liquor Sub Type</th>
                                <th>Liqure detailed Description</th>
                                <th>Packaging Size(ml) </th>
                                <th>Packaging Type </th>
                                <th>Strength</th>
                                <th>ETIN
                                </th>
                                <th>Opening Balance of stock
                                </th>
                                <th>Total no. Of indent received
                                </th>
                                <th>Receive No.of Cases

                                </th>
                                <th>Received Bottles

                                </th>
                                <th>Total no. Of indent acceptance

                                </th>
                                <th>Acceptance cases

                                </th>
                                <th>Acceptance Bottles

                                </th>
                                <th>Considration Fees 

                                </th>
                                <th>Add. Consideration Fees 

                                </th>
                                <th>Special Add. Consideration Fees/Covid Fees 

                                </th>
                                <th>Total Fees 

                                </th>
                                <th>Total Bulk Litres

                                </th>
                                <th>Duty in Crore


                                </th>
                                <th>Total no. Of dispatch


                                </th>
                                <th>Dispatch No.of Cases


                                </th>
                                <th>Dispatch No.of Bottles


                                </th>
                                <th>Sale BL in Lakh



                                </th>
                                <th>Damage Cases



                                </th>
                                <th>Damaged Bottles
                                </th>
                                <th>Missing Cases
                                </th>
                                <th>Missing Bottles
                                </th>
                               
                                <th>Total no. Of indent raised
                                </th>
                                <th>Raised no. Of cases
                                </th>
                                <th>Raised no. Of bottles
                                </th>
                                <th>Total no. Of stock in
                                </th>
                                <th>Stock in cases
                                </th>
                                <th>Stock in bottles
                                </th>
                                <th>Damage Cases



                                </th>
                                <th>Damaged Bottles
                                </th>
                                <th>Closing balance of Stock
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>JUMPING-JAPACK
                                </td>
                                <td>FL
                                </td>
                                <td>GIN</td>
                                <td>Jaisalmer Indian Craft Gin
                                </td>
                                <td>500</td>
                                <td>Keg
                                </td>
                                <td>36%
                                </td>
                                <td>123</td>
                                <td>100
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>100</td>
                                <td>10</td>
                                <td>1000</td>
                                <td>10000</td>
                                <td>20</td>
                                <td>200</td>
                                <td>10</td>
                                <td>100</td>
                                <td>1000</td>
                                <td>10000</td>
                                <td>20</td>
                                <td>200</td>
                                <td>10</td>
                                <td>100</td>
                                <td>1000</td>
                                <td>10</td>
                                <td>1000</td>
                                <td>10000</td>
                                <td>20</td>
                                <td>200</td>
                                <td>10</td>
                                <td>10</td>
                                <td>100</td>
                                <td>1000</td>
                                <td>10000</td>
                                <td>20</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </app-card>
      
       
    </div>

  
    <div class="col-12 text-right mb-4">
        <button type="submit" class="btn btn-info mb-2 ml-2">Download</button>
        <button type="submit" class="btn btn-success mb-2 ml-2">Submit</button>
        <!-- <button type="submit" class="btn btn-primary mb-2 ml-2">{{'bondWarehouse.common.print' | translate}} </button> -->
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
            routerLink="/supplychainmanagement/warehouse/accidental-application/list">{{'bondWarehouse.common.back' |
            translate}}</button>
    </div>
</div>