<h5 class="m-b-10 ng-star-inserted"> Add PD 12</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">PD 12</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Add PD 12" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date
                            </label>
                            <input type="date"  required class="form-control" placeholder="Enter Date">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Spirit
                            </label>
                            <select id="status" required class="form-control">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Rectified Spirit" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="ENA, IIIrd  Redistilled (After S.T.T.)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="ENA Impure" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="ENA From Molasses" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Absolute Alcohol Production" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Rs. Transfer for Den. Spirit" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="STT Athonol" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="STT ENA for (S.T.T.)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="FL-3 Civil Section" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="FL-3 Defence  Mil Rum" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="C.D.S." class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="C.J.S.  / V.M.S." class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Ethanol" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="ENA/ RS" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Issue of Rect. Spirit./(Export O.S.I)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Absolute Alcohol for S.D.S." class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="C.J.S. Production" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="I.M.F.L R	/Resistilation" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Receipt of Malt/ VMS & Others" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Transfer of VMS & Others" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Country Liquor from  BWH 25%" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Country Liquor from  BWH 36%" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card>
            <!-- <app-card cardTitle="Country Liquor from  BWH 47.87%" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter B/L">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>A/L
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter A/L">
                        </div>
                    </div>
                </div>
            </app-card> -->
            <app-card cardTitle="Country Liquor from  BWH 47.87%" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Consolidation fee
                            </label>
                            <input type="number"  required class="form-control" placeholder="Enter Consolidation fee">
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info mb-2" routerLink="/supplychainmanagement/distillery/pd12/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2" routerLink="/supplychainmanagement/distillery/pd12/list">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/pd12/list">Cancel</button>
    </div>
</div>