<h5 class="m-b-10 ng-star-inserted">FL22 Import Permit</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Sacramental</a></li>
    <!-- <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a></li> -->
    <li class="breadcrumb-item"><a href="javascript:">FL22 Import Permit</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="FL22 Import Permit Details " class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Request Date & Time</label>
                            <input type="date" disabled class="form-control" required>
                        </div>
                    </div>
                    
                </div>

            </app-card>
            <app-card cardTitle="Seller Details" class="list-panel add-panel">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Name of Consignor </label>
                            <input type="text"  class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Address of Consignor</label>
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    
                </div>
            </app-card>
            <app-card cardTitle="Purchaser Details" class="list-panel add-panel">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Name of Consignee                            </label>
                            <input type="text" disabled class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Address of Consignee</label>
                            <input type="text" disabled class="form-control" value="">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="table-responsive mb-2">
                            <table class="table table-bordered text-center text-center">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Purpose for which 
                                            Sacramental Wine is 
                                            required</th>
                                        <th>Number of Bottles</th>
                                        <th>Number of Cases</th>
                                        <th>Quantity of Sacramental 
                                            Wine (ML)</th>
                                        <th>Quantity of Sacramental 
                                            Wine (BL) </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="table-action-column">
                                            <button class="btn btn-icon btn-primary" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            
                                            <button class="btn btn-icon btn-danger ml-2" type="button">
                                                <i class="fa fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Total</th>
                                        <th>Total Number of Bottles : 10</th>
                                        <th>Total Number of Cases : 20</th>
                                        <th>Total Quantity of Sacramental Wine (ML) : 10</th>
                                        <th>Total Quantity of Sacramental Wine (BL) : 200</th>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Route Details </label>
                            <input type="text"  class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Rate of import fee per quart 
                                bottle </label>
                            <input type="text"  class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Rate of permit fee per quart bottle
                            </label>
                            <input type="text"  class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount of permit fee if paid
                            </label>
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount of duty to be realised
                            </label>
                            <input type="text"   class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Order No.</label>
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Order Date</label>
                            <input type="date" class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Upload Order Copy</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </form>

        <div class=" text-content text-right mb-4">
            <button type="button" class="btn btn-info mb-2 ml-2">Proceed to Make Payment</button>
            <button type="button" class="btn btn-warning mb-2 ml-2">Save as Draft</button>
            <button type="button" class="btn btn-success mb-2 ml-2">Submit</button>
            <button type="button" class="btn btn-secondary mb-2 ml-2">Back</button>
        </div>

    </div>
</div>