<h5 class="m-b-10 ng-star-inserted"> NDT Permit - Add</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">NDLC</a></li>
    <li class="breadcrumb-item"><a href="javascript:">NDT Permit </a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Details Filled By Applicant" class="list-panel add-panel">
                <div class="row">
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Type <span class="mandatory"></span></label>
                            <select class="form-control mb-0">
                                <option>FL3A</option>
                            </select>                      
                          </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Number <span class="mandatory"></span></label>
                            <select class="form-control mb-0">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>licensee name<span class="mandatory"></span></label>
                            <input type="text" required  class="form-control" 
                            placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Licensee Address <span class="mandatory"></span></label>
                            <input type="text" required  class="form-control" 
                            placeholder="" disabled>               
                                 </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">Country Name</label>
                            <select class="form-control" disabled>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">State Name</label>
                            <select class="form-control" disabled>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>District Name in which Permit is Applied <span class="mandatory"></span></label>
                            <select class="form-control mb-0" disabled>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">Pincode</label>
                            <input type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>GSTIN No. <span class="mandatory"></span></label>
                            <input type="text" disabled required  class="form-control" 
                            placeholder="">               
                                 </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Locality of shop <span class="mandatory"></span></label>
                            <input type="text" disabled required  class="form-control" 
                            placeholder="">               
                                 </div>
                    </div>
                </div>
            </app-card> 
             <app-card cardTitle="Place from Where the Manufactured Drug to be Transported" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name of the Company <span class="mandatory"></span></label>
                            <input type="text" required  class="form-control" 
                            placeholder="" >    
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Addrsss of the Company <span class="mandatory"></span></label>
                            <input type="text" required  class="form-control" 
                            placeholder="" >                     
                          </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Country Name <span class="mandatory"></span></label>
                            <select class="form-control mb-0">
                                <option>Select </option>
                            </select>                      
                          </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>State Name <span class="mandatory"></span></label>
                            <select class="form-control mb-0">
                                <option>Select </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>District Name</label>
                            <select class="form-control mb-0">
                                <option>Select  </option>
                            </select>       
                                 </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pincode <span class="mandatory"></span></label>
                            <input type="text" required  class="form-control" 
                            placeholder="">               
                                 </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Address <span class="mandatory"></span></label>
                            <input type="text" required  class="form-control" 
                            placeholder="291,292 Sector k-Ashiana kanpur Road Lucknow - 226012" disabled>               
                        </div>
                    </div> -->
                </div>
            </app-card>  
            <app-card cardTitle="Quantity with Details of Manufactured Drug(mg/ml)" class="list-panel add-panel">
              <div class="row">
                <div class="table-responsive mb-2">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Drug Name<span class="mandatory"></span></th>
                                <th>Quantity of the Drug (mg/ml)<span class="mandatory"></span></th>
                                <th>Gross quantity of narcotics(in mg/ml) in the Drug <span class="mandatory"></span></th>
                                <!-- <th>Mode of Transport of Drug<span class="mandatory"></span></th> -->

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                              
                                <td><input type="text" required  class="form-control" 
                                    placeholder="" > </td>
                                <td> <input type="text" required  class="form-control" 
                                    placeholder="" ></td>
                                 <td> <input type="text" required  class="form-control" 
                                        placeholder="" ></td> 
                                        <!--  <td> <input type="text" required  class="form-control" 
                                        placeholder="Mode of Transport of Drug" ></td>  -->
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button">
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button">
                                        <i class="feather icon-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                              
                                <td><input type="text" required  class="form-control" 
                                    placeholder="" > </td>
                                <td> <input type="text" required  class="form-control" 
                                    placeholder="" ></td>
                                 <td> <input type="text" required  class="form-control" 
                                        placeholder="" ></td> 
                                         <!-- <td> <input type="text" required  class="form-control" 
                                        placeholder="Mode of Transport of Drug" ></td>  -->
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button">
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button">
                                        <i class="feather icon-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                              
                                <td><input type="text" required  class="form-control" 
                                    placeholder="" > </td>
                                <td> <input type="text" required  class="form-control" 
                                    placeholder="" ></td>
                                 <td> <input type="text" required  class="form-control" 
                                        placeholder="" ></td> 
                                         <!-- <td> <input type="text" required  class="form-control" 
                                        placeholder="Mode of Transport of Drug" ></td>  -->
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button">
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button">
                                        <i class="feather icon-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total Quantity of Drug (mg/ml)=100</td>
                                <td>Total Gross of Quantity (mg/ml)=150</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </app-card>
     
            <app-card cardTitle="Quantity( in mg/ml) of Active NarcoticSubstance in Medicines Stored at Importing Unit of Applicant. Attach medicine wise Detail" class="list-panel add-panel">
            <div class="row">
                <div class="table-responsive mb-2">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Drug Name<span class="mandatory"></span></th>
                                <th>Quantity of the Drug (mg/ml)<span class="mandatory"></span></th>
                                <th>Gross quantity of narcotics(in mg/ml) in the Drug <span class="mandatory"></span></th>
                                <!-- <th>Mode of Transport of Drug<span class="mandatory"></span></th> -->

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                              
                                <td><input type="text" required  class="form-control" 
                                    placeholder="" > </td>
                                <td> <input type="text" required  class="form-control" 
                                    placeholder="" ></td>
                                 <td> <input type="text" required  class="form-control" 
                                        placeholder="" ></td> 
                                        <!--  <td> <input type="text" required  class="form-control" 
                                        placeholder="Mode of Transport of Drug" ></td>  -->
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button">
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button">
                                        <i class="feather icon-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                              
                                <td><input type="text" required  class="form-control" 
                                    placeholder="" > </td>
                                <td> <input type="text" required  class="form-control" 
                                    placeholder="" ></td>
                                 <td> <input type="text" required  class="form-control" 
                                        placeholder="" ></td> 
                                         <!-- <td> <input type="text" required  class="form-control" 
                                        placeholder="Mode of Transport of Drug" ></td>  -->
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button">
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button">
                                        <i class="feather icon-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                              
                                <td><input type="text" required  class="form-control" 
                                    placeholder="" > </td>
                                <td> <input type="text" required  class="form-control" 
                                    placeholder="" ></td>
                                 <td> <input type="text" required  class="form-control" 
                                        placeholder="" ></td> 
                                         <!-- <td> <input type="text" required  class="form-control" 
                                        placeholder="Mode of Transport of Drug" ></td>  -->
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button">
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button">
                                        <i class="feather icon-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total Quantity of Drug (mg/ml)=100</td>
                                <td>Total Gross of Quantity (mg/ml)=150</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Mode of Transport of Drug <span class="mandatory"></span></label><br>
                        <input type="radio" name="transport-mode" class="mr-2" required>Road<span class="mr-3"></span>
                        <input type="radio" name="transport-mode" class="mr-2" required>Air<span class="mr-3"></span>
                        <input type="radio" name="transport-mode" class="mr-2" required>Rail<span class="mr-3"></span>
                        <input type="radio" name="transport-mode" required class="mr-2">Courier
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Remarks <span class="mandatory"></span></label>
                        <input type="text" required  class="form-control" 
                        placeholder="" >    
                    </div>
                </div>
              </div>
            </app-card> 
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-info ml-2 mb-2" routerLink="/supplychainmanagement/distillery/pd20-fl1-fl1a/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2" routerLink="">Save as Draft</button> -->
        <button type="button" class="btn btn-primary ml-2 mb-2" 
        routerLink="">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2" 
        routerLink="">Cancel</button>
    </div>
</div>