<h5 class="m-b-10 ng-star-inserted">View Stock Dispatched for Tavern
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Vintnery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Stock Dispatched for Tavern</a></li>
    <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
    <div class="col-12">
        <app-card cardTitle="Indent Details" class="list-panel add-panel">
            <ngb-tabset type="pills" #tabSet="ngbTabset" class="mb-2">
                <ngb-tab title="Transport Pass Details" id="pending">
                    <!-- Pending Request -->
                    <ng-template ngbTabContent>
                        <div class="row mt-2">
      
        
                      
                            <div class="col-12">
                            <app-card cardTitle="Transport Pass Detail" class="list-panel add-panel">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <label class="w-100 view-label">Dispatch Date<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                               20-Jul-2024
                                            </div>
                                            
                                            <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <label class="w-100 view-label">Transport Date<span class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                               25-Mar-2021
                                            </div>
                                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">Issue Date<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                   20-Mar-2021
                                </div>
                                 -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">Transport Pass  No<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    84-2020-21-FL36-3764
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">Total No. of Indents<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    4
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    Request for Clarification
                                </div>
                                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    Approved
                                </div> -->
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="row">
                                        <div class="col-12">
                                        <div class="text-center">
                                            <img src="assets/images/qr-scan.png" class="qr-img"/>
                                            <p class="mb-0 pt-1 font-weight-bold">12XVCCN1122</p>
                                        </div>
                                        </div>
                                        </div>
                                                    </div>
                                </div>
                            </app-card>
                            </div>
                            <div class="col-12">
                               
                                <app-card cardTitle="Unit Details" class="list-panel add-panel">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            FL36
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            Daurla Distillery
                                        </div>
                                        
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA
                                        </div>
                                   
                                    </div>
                                </app-card>
                                </div>
                              
                                
                               
                        <div class="col-12">
                            <app-card cardTitle="Transportation Details" class="list-panel view-panel">
                                             
                                     
                                <div class="row">
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Route<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        Lucknow
                                    </div> -->
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Transporter's Name<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        PIKUP MAX
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Vehicle No.<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        UP32 AN 7647
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Vehicle Driver's Name<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        KARAN
                                    </div>
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        Within District
                                    </div> -->
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        Outside District
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Route Details<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        Jalaun
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Major Route<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        Jalaun
                                    </div>
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Via<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        Via Lucknow
                                    </div> -->
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Major District<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        Lucknow
                                    </div> -->
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Distance (Kms)<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        100
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Valid Upto<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        20-Apr-2021
                                    </div>
                                    
                                    
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Gross Weight<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       8500
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Tare Weight<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       3500
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Net Weight<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       5000
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">GPS ID<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        1122ww11
                                    </div>
                                   
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       Need Clarification
                                    </div> -->
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                       Verified and Approved
                                    </div> -->
                                    <!-- <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                                    </div>
                                    <div  class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="form-group">
                                           
                                            <input  type="text" required class="form-control" placeholder="Enter Remarks">
                                        </div>
                                    </div> -->
                                    
                                </div>
                               
                                    </app-card>
                                   
                    </div>
                   
                       
                   
       
    </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Indent Details" id="indent">
                    <!-- Pending Request -->
                    <ng-template ngbTabContent>
                        <div class="row mt-2">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <label class="w-100 view-label">Indent Date <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <span>20-Jul-2024</span>
                            </div>
                           
                            <div class="col-12 mb-2">
                              <div class="table-responsive">
                             <table class="table table-bordered text-center mb-0">
                                 <thead>
                                     <tr>
                                         <th>S.No</th>
                                         <th>Brand Name</th>
                                         <th>Liquor Type</th>
                                         <th>Liquor Sub Type</th>
                                         <th>Liquor Detailed<br>Description</th>
                                         <th>Package<br>Type</th>
                                         <th>Packaging<br>Size</th>
                                         
                                        <th>No. of cases/Mono Cartons requested</th>
                                         <th>No. of bottles requested</th>
                                         <th>No. of cases/Monocartons dispatched</th>
                                         <th>No. of bottles dispatched</th>
                                       <th>ETIN Number</th>
                                        
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                         <td>1</td>
                                         <td class="text-left">Rampur Select</td>
                                         <td class="text-left">
                                             FL
                                         </td>
                                         <td class="text-left">
                                             Whisky
                                         </td>
                                         <td class="text-left">
                                             Single Malt
                                         </td>
                                         <td class="text-left">
                                            Glass Bottle
                                        </td>
                                         <td class="text-left">
                                             750 ml
                                         </td>
                                         
                                         <td class="text-left">
                                             50
                                         </td>
                                         <td class="text-left">
                                            50
                                        </td>
                                        <td class="text-left">
                                            50
                                        </td>
                                        
                                        <td class="text-left">
                                            500
                                        </td>
                                        <td class="text-left">
                                            -
                                        </td>
                                       
                                     </tr>
                                   
             
             
                                 </tbody>
                             </table>
                         </div>
                     </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Total No.of Bottles Dispatched<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       10
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Total No.of Bottles Requested<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       100
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Total Quantity  (B.L.)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       100
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Alcoholic Strength<span class="float-right">:</span></label>
                    </div> -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Total Bulk Litres<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       50
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Total No.of Brand Count<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       50
                    </div> 
                 </div>
                    </ng-template>
                </ngb-tab>
                    
            </ngb-tabset>

</app-card>
    </div>
<div class="col-12 text-right mb-4">
    
     <button type="button" class="btn btn-success ml-2 mb-2">Approve</button>
     <button type="button" class="btn btn-warning ml-2 mb-2">Reject</button>
     <button type="button" class="btn btn-danger ml-2 mb-2">Request for clarification</button>
     <button type="button" class="btn btn-primary ml-2 mb-2">Next</button>
    <button type="button" class="btn btn-secondary ml-2 mb-2">Back</button> 
    <!-- <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
    <button type="button" class="btn btn-primary ml-2 mb-2">Save as Draft</button> -->
    
    <!-- <button type="button" class="btn btn-success ml-2 mb-2">Generate Transport Pass</button> -->
    <!-- <button type="button" class="btn btn-warning ml-2 mb-2">Submit</button> -->
    <button type="button" class="btn btn-secondary ml-2 mb-2"
        routerLink="/supplychainmanagement/distillery/flb11/list">Cancel</button>
</div>
</div>