<h5 class="m-b-10 ng-star-inserted">
    MF 7
    </h5>
    <ul class="breadcrumb p-0">
        <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item"><a href="javascript:"
                [routerLink]="['/supplychainmanagement/dashboard']">Control Regulation</a></li>
        <li class="breadcrumb-item"><a href="javascript:">MF 7</a>
        </li>
        <li class="breadcrumb-item">View</li>
    </ul>
<div class="row mb-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <form autocomplete="off">
            <app-card cardTitle="Fortnightly Statement of TRS% & Brix% of Molasses Store in Tanks at Top, Middle, and Bottom Layer" class="list-panel view-panel">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2">Tank ID</th>
                                        <th rowspan="2">Ouantity of Molasses  in Tank (Qtl)</th>
                                        <th rowspan="2">Depth of Molasses Tanks Cms (DIP)</th>
                                        <th rowspan="2">Dep. in cms</th>
                                        <th rowspan="2">Brix%</th>
                                        <th colspan="3">Total Reducing Sugar(TRS%)</th>
                                    </tr>
                                    <tr>
                                        <th>Top Layer</th>
                                        <th>Middle Layer</th>
                                        <th>Bottom Layer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>TN88900</td>
                                        <td class="text-right">50000</td>
                                        <td class="text-right">50</td>
                                        <td class="text-right">6578</td>
                                        <td class="text-right">82.2</td>
                                        <td class="text-right">44.06</td>
                                        <td class="text-right">44.05</td>
                                        <td class="text-right">44.07</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Name of Analyst<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Sathish
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">View Digital Sign<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        sign.png 
                        <button type="button" class="btn btn-success"><i
                            class="fas fa-download"></i></button>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Entity Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Distillery</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Name of Sugar Mill<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Daural Sugarmill</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Address<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow, UP 241001</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Molasses Year<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>2020-2021</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Financial Year<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>2020-2021</span>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive mb-2">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>No of Tank Storage</th>
                                       <th>Quantity of Molasses in Tank</th>
                                        <th>Dip. in cms</th>
                                        <th>Depth of Molasses Tanks Cms</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-left">10</td>
                                        <td class="text-left">100</td>
                                        <td class="text-left">10</td>
                                        <td class="text-left">10</td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                      
                    </div> -->
                </div>
            </app-card>
            <!-- <app-card cardTitle="Details of Molasses Analysis" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Tank No<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>NMT-1</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Brix%<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>82.2</span>
                    </div>
                   
                </div>
            </app-card>
            <app-card cardTitle="Production of Molasses" class="list-panel view-panel">
                <div class="row mb-2 pb-2">
                    <div class="col-12">
                        <h6>Total Reducing Sugar%</h6>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Top Layer<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>44.06</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Middle Layer<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>44.05</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Bottom Layer<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>44.07</span>
                        
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Name and Sign. of Analysis<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Produced Reserved<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Mr. Umesh taygi</span>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-2">
                            <div class="form-group d-inline">
                                <input type="checkbox" class="checkbox d-inline" checked id="sameAddress"
                                    (change)="onCheckboxChange($event.target.checked)">
                                    I hereby declare that the above statements are correct to the best of my knowledge
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Date<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>20-Jul-2021</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Authorised Signatory<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>sign.png 
                            <button type="button" class="btn btn-success"><i
                                    class="fas fa-download"></i></button></span>
                    </div>
                   
                </div>
            </app-card> -->
        </form>
    </div>


    <div class="col-12 text-right">
          <!-- <button type="submit" class="btn btn-success mb-2 ml-2">Approve</button>
    <button type="submit" class="btn btn-danger mb-2 ml-2">Reject</button>
        <button type="button" class="btn btn-warning mb-2 ml-2">Request for Clarification</button>
        <button type="button" class="btn btn-primary mb-2 ml-2">Cancel Request</button> -->
                   <button type="submit" class="btn btn-success mb-2">Download</button>
                   <button type="submit" class="btn btn-primary mb-2 ml-2">Print</button>
        <button type="button" class="btn btn-secondary mb-2 ml-2" 
        routerLink="/supplychainmanagement/controlregulation/mf7/list">Back</button>
    </div>
</div>