<h5 class="m-b-10 ng-star-inserted">Add B5 -  Rule 27 (886)
</h5>
<ul class="breadcrumb p-0">
   <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
   <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
   <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
   <li class="breadcrumb-item"><a
      routerLink="/supplychainmanagement/distillery/brewery/b5-form/list">B5</a></li>
   <li aria-current="page" class="breadcrumb-item active">Add</li>
</ul>
<div class="row">
   <div class="col-xl-12">
      <form #Pd25Form="ngForm" autocomplete="off">
         <app-card cardTitle="Stock-Book of Government Property for the Office"
            class="list-panel add-panel">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                     <label>Office Name </label>
                     <input type="text" class="form-control" 
                        required placeholder="Enter Office Name">
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="form-group">
                     <label>Name and Description of Articles_(e.g. Chairs,
                        Almirahs, etc.)
                     </label>
                     <input type="text" class="form-control"  
                        required placeholder="Enter Name and Description of Articles_(e.g. Chairs,
                        Almirahs, etc.)">
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                     <label>Date of Receipts

                     </label>
                     <input type="date" class="form-control"  required >
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>Number of Pieces
                </label>
                   <input type="number" class="form-control" 
                      required placeholder="Enter Number of Pieces">
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>Initial Cost (Purchase Price)
                </label>
                   <input type="number" class="form-control" 
                      required placeholder="Enter Initial Cost (Purchase Price)">
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>Initial of Officer-in-Charge
                </label>
                   <input type="text" class="form-control" 
                      required placeholder="Enter Initial of Officer-in-Charge">
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>Date of Inspection
                </label>
                   <input type="date" class="form-control" 
                      required>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                   <label>Remarks About the Condition of the Articles
                </label>
                   <input type="text" class="form-control" 
                      required placeholder="Enter Remarks About the Condition of the Article">
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                   <label>Details of Articles/Property, Number of Pieces Disposed of
                </label>
                   <input type="text" class="form-control" 
                      required placeholder="Enter Details of Articles/Property, Number of Pieces Disposed of">
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>Date of Disposal
                </label>
                   <input type="date" class="form-control" 
                      required>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>Value Realized
                </label>
                   <input type="number" class="form-control" 
                      required placeholder="Enter Value Realized">
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>No. and Date of Treasury Challan
                </label>
                   <input type="number" class="form-control" 
                      required placeholder="Enter No. and Date of Treasury Challan">
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                   <label>Initial of Officer – In-Charge
                </label>
                   <input type="text" class="form-control" 
                      required placeholder="Enter Initial of Officer – In-Charge">
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                   <label>Remarks (Regarding Reference to Papers etc.)
                </label>
                   <input type="text" class="form-control" 
                      required placeholder="Enter Remarks (Regarding Reference to Papers etc.)">
                </div>
             </div>
            </div>
         </app-card>
         
         
        
      </form>
   </div>
   <div class="col-12 text-right mb-4">
      <button type="button" class="btn btn-info mb-2" routerLink="/supplychainmanagement/distillery/brewery/b5-form/view">Preview</button>
      <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
      <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
      <button type="button" class="btn btn-secondary ml-2 mb-2"
         routerLink="/supplychainmanagement/distillery/brewery/b5-form/list">Cancel</button>
   </div>
</div>