<h5 class="m-b-10 ng-star-inserted">
    View  Drum/Barrel Registration
  </h5>
  <ul class="breadcrumb p-0">
      <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item"><a href="javascript:">Portable Distillery</a></li>
        <!-- <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a></li> -->
      <li class="breadcrumb-item"><a href="javascript:">Drum/Barrel Registration</a></li>
      <li class="breadcrumb-item">View</li>
  </ul>
  
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Drum/Barrel Registration Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>AN87878</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>20-2-23</span>
                </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>FL</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>LI1122</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Daurala Distillery</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA</span>
                </div>
            </div>
</app-card>
          
            <app-card cardTitle="Details of Application" class="list-panel add-panel">
                <div class="row">
                   
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Tank Category<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Barrel</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Product Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Spirit Master</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">MOC (Material of Construction)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Wood</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Drum</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Covered/Not Covered<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Covered</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Shape<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Name of Barrel/Drum<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                    </div>
                   
                </div>
</app-card>
                <app-card cardTitle="Dimension" class="list-panel view-panel">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Height(Mtr)<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>100</span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Width<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>200s</span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Total Capacity in BL<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>300</span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <input type="text" class="form-control" placeholder="Enter Remarks">
                        </div>
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>Approved</span>
                        </div>
                        -->
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Width(Mtr)<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>1000</span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Inner Diameter(Mtr)<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>1000</span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Total Capacity<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>1000</span>
                        </div> 
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>Approved</span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Tamperature Control Device<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <span>-</span>
                        </div>-->
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Verified
                        </div> -->
                       
                    </div>
                </app-card>
       
    </div>

   
    
    
    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-info ml-2 mb-2">Edit</button> -->

        <button type="submit" class="btn btn-success ml-2 mb-2" >Approve</button>
        <button type="submit" class="btn btn-danger ml-2 mb-2">Reject</button>
        <button type="submit" class="btn btn-warning ml-2 mb-2">Clarification Required</button>
         <button type="submit" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/tankregistration/add">Cancel</button>
    </div>
    <!-- <div class="col-12  mb-3 card-accordion">
        <ngb-accordion [closeOthers]="true" activeIds="static-2" class="next-accordion ngb_accordion_1">
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    <h5><a href="javascript:">Approval Logs</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
    <form>
    <div class="row mx-4 timeline_card" >
        <div class="col-12">
            <div class="timeline_icon text-center timeline_icon_bg1 h-100">
            <i class="far fa-comments"></i>
            <small>15/03/21<br> 10:00</small>
            </div>
            <div class="timeline_content">
            <div class="w-100 p-3 rounded timeline_box timeline_bg1">
            <h6>Distillery - Daurala Wholesale</h6>
            <p class="mb-0">Draft Pass Submitted</p>
            </div>
            </div>
            </div>
            <div class="col-12">
            <div class="timeline_icon text-center timeline_icon_bg3 h-100">
                <i class="far fa-comments"></i>
                <small>16/03/21<br> 10:00</small>
                </div>
                <div class="timeline_content">
                <div class="w-100 p-3 rounded timeline_box timeline_bg3">
                <h6>DEO - Sunil</h6>
                <p class="mb-0">Request for Clarfication</p>
                </div>
                </div>
                </div>
                <div class="col-12">
                    <div class="timeline_icon text-center timeline_icon_bg1 h-100">
                    <i class="far fa-comments"></i>
                    <small>17/03/21<br> 10:00</small>
                    </div>
                    <div class="timeline_content">
                    <div class="w-100 p-3 rounded timeline_box timeline_bg1">
                        <h6>Distillery - Daurala Wholesale</h6>
                    <p class="mb-0">Resubmitted</p>
                    </div>
                    </div>
                    </div>
    <div class="col-12">
    <div class="timeline_icon text-center timeline_icon_bg2 h-100">
    <i class="far fa-comments"></i>
    <small>20/03/21<br> 10:00</small>
    </div>
    <div class="timeline_content">
    <div class="w-100 p-3 rounded timeline_box timeline_bg2">
    <h6>DEO - Sunil Singh</h6>
    <p class="mb-0">Verified and Approved</p>
    </div>
    </div>
    </div>
    <div class="col-12">
    <div class="timeline_icon text-center timeline_icon_bg2 h-100">
    <i class="fas fa-check"></i>
    <small>20/03/21<br> 11:00</small>
    </div>
    <div class="timeline_content">
    <div class="w-100 p-3 rounded timeline_box timeline_bg2">
        <h6>Distillery - Daurala Wholesale</h6>
    <p class="mb-0">Pass Generated</p>
    </div>
    </div>
    </div>
    </div>
    </form>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div> -->


</div>