<!-- <p>add-pd17 works!</p> -->
<h5 class="m-b-10 ng-star-inserted">PD-17(Register of Boind)</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Other Registers Used</a></li>
    <li class="breadcrumb-item"><a
            routerLink="/supplychainmanagement/distillery/pd11-register-of-issuespirit/list">PD-17(Register of Bond)</a></li>
    <li aria-current="page" class="breadcrumb-item active">add</li>
</ul>

<div class="row">

    <div class="col-xl-12">
        <form #Pd17Form="ngForm" autocomplete="off">
            <app-card cardTitle="PD-17 Register of Bonds"
                class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Indent Number</label>
                            <input type="text"  class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name of Distiller</label>
                            <select id="status" required class="form-control">
                                <option value="">Select</option>
                            </select>
                            <!-- <input type="text" name="NameOfDistiller" class="form-control" #NameOfDistiller="ngModel"
                            [(ngModel)]="Pd17Obj['NameOfDistiller']"  required placeholder="Name of Distiller">
                            <div *ngIf="NameOfDistiller.invalid && (NameOfDistiller.dirty || NameOfDistiller.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="NameOfDistiller?.errors?.required"><i class="fa fa-times"></i>
                                Name of Distiller is required </div>

                        </div> -->
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date and Period of Bond</label>
                            <input type="date"  class="form-control"  name="DatePeriodOfBond" class="form-control" #DatePeriodOfBond="ngModel"
                            [(ngModel)]="Pd17Obj['DatePeriodOfBond']"  required>
                            <div *ngIf="DatePeriodOfBond.invalid && (DatePeriodOfBond.dirty || DatePeriodOfBond.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="DatePeriodOfBond?.errors?.required"><i class="fa fa-times"></i>
                                Date and Period of Bond is required </div>

                        </div>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date of Bond</label>
                            <input type="date" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Period of Bond</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
           
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount of Bond</label>
                            <input type="text" name="AmountOfBond" class="form-control" #AmountOfBond="ngModel"
                            [(ngModel)]="Pd17Obj['AmountOfBond']" placeholder="Amount of bond" required>
                            <div *ngIf="AmountOfBond.invalid && (AmountOfBond.dirty || AmountOfBond.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="AmountOfBond?.errors?.required"><i class="fa fa-times"></i>
                                Amount of bond is required </div>

                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>District to Which Transport in Bond is Covered</label>
                            <select class="form-control">
                                <option>Transport</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>No.of Pass</label>
                            <input type="number" name="NoofPass" class="form-control" #NoofPass="ngModel"
                            [(ngModel)]="Pd17Obj['NoofPass']" placeholder="No.of Pass" required>
                            <div *ngIf="NoofPass.invalid && (NoofPass.dirty || NoofPass.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="NoofPass?.errors?.required"><i class="fa fa-times"></i>
                                No.of Passes is required </div>

                            </div>
                     
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date of Pass</label>
                            <input type="date" name="DateofPass" class="form-control" #DateofPass="ngModel"
                            [(ngModel)]="Pd17Obj['DateofPass']" placeholder="Date of Pass" required>
                            <div *ngIf="DateofPass.invalid && (DateofPass.dirty || DateofPass.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="DateofPass?.errors?.required"><i class="fa fa-times"></i>
                                Date of Pass is required </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Place of Consignment</label>
                            <select class="form-control">
                                <option>Luncknow</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity of Spirit in Alcohol Spirit</label>
                            <input type="number" name="QualityOfSpiritInAlcohol" class="form-control" #QualityOfSpiritInAlcohol="ngModel"
                            [(ngModel)]="Pd17Obj['QualityOfSpiritInAlcohol']" placeholder="Quantity of Spirit in Alcohol Spirit" required>
                            <div *ngIf="QualityOfSpiritInAlcohol.invalid && (QualityOfSpiritInAlcohol.dirty || QualityOfSpiritInAlcohol.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="QualityOfSpiritInAlcohol?.errors?.required"><i class="fa fa-times"></i>
                                Quantity of Spirit in Alcohol Spirit is required </div>

                        </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount of Duty at the Rate Prescribed in the Bond</label>
                            <input type="number"  name="AmountOfDuty" class="form-control" #AmountOfDuty="ngModel"
                            [(ngModel)]="Pd17Obj['AmountOfDuty']" placeholder="Amount of duty at the rate prescribed in the bond" required >
                            <div *ngIf="AmountOfDuty.invalid && (AmountOfDuty.dirty || AmountOfDuty.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="AmountOfDuty?.errors?.required"><i class="fa fa-times"></i>
                                Amount of duty at the rate prescribed in the bond is required </div>

                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date of Arrival</label>
                            <input type="date"  name="DateofArrival" class="form-control" #DateofArrival="ngModel"
                            [(ngModel)]="Pd17Obj['DateofArrival']" required>   
                            <div *ngIf="DateofArrival.invalid && (DateofArrival.dirty || DateofArrival.touched || formSubmitted)"
                            class="error-msg">
                            <div *ngIf="DateofArrival?.errors?.required"><i class="fa fa-times"></i>
                                Date of Arrival is required </div>

                        </div>   
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info ml-2 mb-2" routerLink="/supplychainmanagement/distillery/pd17-registerof-bonds/preview"  (click)="previewpd17(Pd17Form)">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2" (click)="addPd17Details(Pd17Form,false)" >Save As Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2" (click)="addPd17Details(Pd17Form,true)"  >Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
        routerLink="/supplychainmanagement/distillery/pd17-registerof-bonds/list">Cancel</button>
    </div>
</div>