<h5 class="m-b-10 ng-star-inserted">Add Application for Transfer of Beer for Filtration
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Application for Transfer of Beer for Filtration</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Add Transfer of Beer For Filtration" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Time</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Request ID for Filtration</label>
                            <input type="text" disabled class="form-control" value="RIF7847859">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Request ID for Transfer of Brew</label>
                            <input type="text" class="form-control" value="TFB7847859">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brew No</label>
                            <input type="text" disabled class="form-control" value="BR87888877">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B No</label>
                            <input type="text" disabled  required class="form-control" 
                            placeholder="B8787844">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Unitank Name</label>
                            <select class="form-control" disabled required>
                                <option>Name1</option>
                            </select>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Beer Type</label>
                            <input type="text"  disabled required class="form-control" 
                            value="Type1">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Total Quantity of unfiltered beer/Green beer  in  unitank </label>
                            <input type="number" disabled  required class="form-control" 
                            placeholder="Enter Total Quantity of unfiltered beer/Green beer  in  unitank">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Total quantity of Unfiltered /Green Beer Transfer for Filtration</label>
                            <input type="number"  required class="form-control" 
                            placeholder="Enter Total quantity of Unfiltered /Green Beer Transfer for Filtration">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>BBT No</label>
                            <select class="form-control" required>
                                <option>BBT59894878</option>
                            </select>
                        </div>
                    </div>
                </div>
            </app-card>
           
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info ml-2 mb-2" 
        routerLink="/supplychainmanagement/distillery/brewery/appfortransbeerfilteration/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2" 
        routerLink="/supplychainmanagement/distillery/brewery/appfortransbeerfilteration/list">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2" 
        routerLink="/supplychainmanagement/distillery/brewery/appfortransbeerfilteration/list">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2" 
        routerLink="/supplychainmanagement/distillery/brewery/appfortransbeerfilteration/list">Cancel</button>
    </div>
</div>

