<h5 class="m-b-10 ng-star-inserted">View Wastage Calculation During the Processing of Beer
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Wastage Calculation During the Processing of Beer</a>
    </li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>

</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Wastage Calculation During the Processing of Beer" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10-Jan-2021
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Time<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10:00 AM
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application No(Transfer)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    AI5684889
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Batch No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    BA1122
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">UniTank Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
 Tank1
                </div>
                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">BBT No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3    col-md-3 col-sm-6 col-6">
                    BBT1110
                </div>
            </div>
        </app-card>
        <app-card cardTitle="UniTank Name" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Capacity(BL)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
 3500 BL
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Initial Dip<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3    col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Final Dip<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Initial Volume<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Final Volume<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transferred Quantity<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Quantity of Beer Present In Unitank<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label"> Quantity of Beer Transfer to BBT<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Balance Quantity of Beer In Unitank<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Quantity of Beer Transfer to BBT<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Balance Quantity of Beer In Unitank<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   50
                </div>
            </div>
        </app-card>
        <app-card cardTitle="BBT" class="list-panel view-panel">
            <div class="row"> 
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Capacity(BL)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
 1500 BL
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Initial Dip<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3    col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Final Dip<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Initial Volume<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Final Volume<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Available Quantity<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Received Quantity<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3    col-md-3 col-sm-6 col-6">
                    1000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Quantity<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3    col-md-3 col-sm-6 col-6">
                    14000
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Received Quantity<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   100
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Brew House Wastage<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    BBT1110
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <input type="text" class="form-control" required
                            placeholder="Enter Remarks">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Verified By<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Mohammad
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Verified on<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    25-Jul-2021
                </div>
            </div>
        </app-card>
    </div>


    <div class="col-12 text-right mb-4">
        <!-- <button type="submit" class="btn btn-primary mb-2"
            routerLink="/supplychainmanagement/distillery/brewery/wastcalcdurprocessbeer/list">Cancel Request</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
            routerLink="/supplychainmanagement/distillery/brewery/wastcalcdurprocessbeer/list">Back</button> -->
            <button type="submit" class="btn btn-success mb-2"
            routerLink="/supplychainmanagement/distillery/brewery/wastcalcdurprocessbeer/list">Approve</button>
        <button type="submit" class="btn btn-danger mb-2 ml-2"
            routerLink="/supplychainmanagement/distillery/brewery/wastcalcdurprocessbeer/list">Reject</button>
            <button type="submit" class="btn btn-warning mb-2 ml-2"
            routerLink="/supplychainmanagement/distillery/brewery/wastcalcdurprocessbeer/list">Request for Clarification</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
            routerLink="/supplychainmanagement/distillery/brewery/wastcalcdurprocessbeer/list">Cancel</button>
    </div>
</div>