<h5 class="m-b-10 ng-star-inserted">FL 33
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Retail</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL 33</a></li>

</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="General Conditions Binding on All Retail Shops for the Sale of Foreign Liquor." class="list-panel view-panel">
            <div class="row">
                <div class="col-12">
                    <div class="large_content">
                        <!-- large_content_scroll -->
                    <ol class="">
                        <li>The licensee shall produce for inspection his licence on demand by officers who are duly authorized to so.</li>
                        <li>The licensee shall store all his store all his stock of foreign liquor pertaining to his shop in the premises for which he holds the licence.</li>
                        <li>Country spirit shall not be kept on the same premises. 
                            <br> <b>NOTE – The does not apply to canteen tenant licenses.</b></li>
                        <li>If the Excise Commissioner has prohibited the sale of any particular band of foreign liquor as being unwholesome. that brand shall not be kept or sold under this licence.</li>
                        <li>The sale strength of brandy. whisky and rum shall not be weaker than 25* under proof and that of gin not weaker that 35* under proof. <br>
                            Reduction of strength of spirit except under the special orders of the Excise Commissioner, is prohibited. <br>
                            N.B. – Canteen tenants are permitted to store and sell spirituous liquor with mineral water with the permission of the General Officer Commanding. <br>
                            <b>NOTE – The sale strengths prescribed for whisky, run and dry gin are the apparent strengths as indicated by the hydrometere. A margin upto 1* below the prescribed minimum is, however, allowed in the case of spirit contained in sealed or capsuled bottles. </b></li>
                            <li>No  half-paint bottles, respectively.sale of brandy, whisky, gin and rum shall be allowed in bottles of capacity lesser than 22, 11 and 5 1⁄2 ounces in the case of quart, paint and</li>
                            <li>In the following cases the guaranteed fluid contents of the bottles shall be clearly indicate in bold letters on the lable whether the liquor is bottle in India or abroad.
                                <ol type="a" class="pl-3 py-2">
                                    <li>Quart bottles of whisky, brandy or rum, if containing less than 25 oz of such spirit.</li>
                                    <li>Quart bottles of gin, if containing less than 24 oz of gin.</li>
                                    <li>Pint bottles of whisky, brandy or rum, if containing less than 12 1⁄2 oz of such spirit.</li>
                                    <li>Pint bottles of gin, if containing less than 12 oz of gin.</li>
                                    <li>Half-pint bottles of whisky, brandy or rum, if containing 6 1⁄2 ounces of such of gin.</li>
                                    <li>Half-pint bottle of gin if containing less than 6 ounce of gin.</li>
                                </ol> 
                            </li>
                            <li>No greater quantity of liquor than two imperial gallons or 12 reputed quarts or 24 reputed pint bottles shall be sold to any person at one time. (316)</li>
                            <li>No drug or deleterious substance shall be added to the liquor, nor shall any adulterated liquor be knowingly stored or sold.</li>
                            <li>No transfer or sub-lease (whether entire or partial) of the business covered by the shop licence shall be made nor shall the licensee be allowed to enter in to private partnership in the business covered by the licence.</li>
                            <li>The licensee shall close his shop when ordered to do so by a Magistrate or a police officer not below the rank of Sub Inspector.</li>
                            <li>The licensee shall not allow any person to conduct sale in his licenced premises unless the name of such person shall have been previously submitted to the Collector for approval and endorsed by him on the licence.</li>
                            <li>The licensee shall not employ any person suffering form any infectious or contagious disease for any purpose in his premises.</li>
                            <li>Persons of bad character shall not be allowed to resort to the shop. The presence of suspicious characters shall at once be reported to the <br>
                                Nearest police office officer. Intoxication, gambling and disorderly conduct shall not be permitted on the premises.</li>
                            <li>The licensee shall receive no other article but money in barter for any foreign liquor sold under this licence.</li>
                            <li>Sales shall not be made to:
                                <ol type="a" class="pl-3 py-2">
                                    <li>Soldiers or members of a soldier’s family, except when such sale is expressly authorized by the Collector;
                                        <br>Explanation – ‘Soldier’ does not include a commissioned officer, a member of the Auxiliary or the Indian Territorial Forces when not in uniform, a soldier in civil employ or an Indian soldier absent on leave from his regiment.
                                    </li>
                                    <li>Camp follower, except when such sale is expressly authorized by the Collector;
                                        <br>Explanation – ‘Comp follower’ means a follower whether on or off duty other than an ex-private servant whom the vendor know or has reason to believe to have a right to be in cantonment. <br>
                                        <b>NOTE – (1) The Collector shall authorize sales under clauses (a) and (b) above only in the case of licensed vendors of foreign specially approved by the General Officer Commanding the division or the independent Brigade or the Officer Commanding the station, and then only the sale of such liquor as shall have been approved by the same authority in consultation with him. The terms of each permission must be recorded on the licences. <br>
                                            (2) Clauses (a)and (b) above do not apply to canteen tenant licensees. <br>
                                            
                                        </b>
                                    </li>
                                    <li>persons under eighteen years;
                                        <br><b>NOTE- Breach of this condition is punishable under Sec.61 and cannot be compounded under Section 74 of the Exise Act (iv) of 1910.</b>
                                    </li>
                                    <li>Railway servants on duty;</li>
                                    <li>Police officers below the rank of Sub-Inspector, when in uniform;</li>
                                    <li>Officers of the Excise Department below the rank of Excise Inspector, when in uniform;</li>
                                    <li>European vagrants under police custody;</li>
                                    <li>Insane persons;</li>
                                    <li>Persons know or believed to be intoxicated.</li>
                                </ol> 
                            </li>
                            <li>Bottling and compounding of any liquor are prohibited. The alteration of the original labels under which spirit or fermented liquors have been received is also prohibited.</li>
                            <li>No person under the age of eighteen years shall be employed either with or without remuneration in the licensed premises.</li>
                            <li>Except with the previous permission in of writing of the Excise Commissioner no women shall be employed with or without remuneretion in the licensed premises. <br>
                                <b>NOTE –(1) Conditions 18 and 19 do not apply to shop licence for consumption in the premises.</b> <br>
                                <b>(2) Infringements of Conditions 18 and 19 are punishable under section 6 and cannot be dealt with under sections 64 or 74 of the Excise Act (iv) of 1910.</b>
                            </li>
                            <li>All such shops licensed for the retail sale of foreign liquor shall remain closed on the following days every year 
                                <ol class="pl-3 py-2">
                                    <li>Independence Day (August 15).</li>
                                    <li>Mahatma Gandhi’s Birth Day (October 2).</li>
                                    <li>Mahatma Gandhi’s Death Day (January 30).</li>
                                </ol>
                            </li>
                    </ol>
                </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2">Print</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2" >Back</button>
    </div>
</div>