<h5 class="m-b-10 ng-star-inserted">{{'wholesale.indentrequest.viewindentrequest'|translate}}</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'wholesale.indentrequest.wholesale'|translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'wholesale.indentrequest.indentrequest'|translate}}</a></li>
    <li class="breadcrumb-item">{{'wholesale.common.view'|translate}}</li>
</ul>

<div class="row">
    <div class="col-lg-12">
        <app-card cardTitle="View Indent request details" class="view-panel list-panel">
            <ngb-tabset type="pills" class="mb-0" #tabSet="ngbTabset">
                <ngb-tab title="Indent request details" id="branddetails">
                  <ng-template ngbTabContent>

    <div  class="col-xl-12">
        <app-card cardTitle="{{'wholesale.indentrequest.indentrequestdetails'|translate}}" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{'wholesale.indentrequest.indentdate'|translate}}<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                           20-Mar-2021
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{'wholesale.indentrequest.indentno'|translate}}<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            CL0001
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">{{'wholesale.indentrequest.status'|translate}}<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            Approved by DEO
                        </div>


                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-12">
                            <!-- <label class="w-100 view-label">{{'wholesale.indentrequest.qrcode'|translate}}<span class="float-right"></span></label> -->
                            <div class="text-center">


                                <img src="assets/images/qr-scan.png" height="100px" width="100px" />
                                <p>12XVCCN1122</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="row">
    <div class="col-xl-6">
        <app-card cardTitle="{{'wholesale.indentrequest.unitdetails'|translate}}" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.licensetype'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    BWFL2
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.unittype'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Wholesale
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.unitname'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                   Daurala Sugar Works
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.unitaddress'|translate}}<span class="float-right">:</span></label>
                </div>
                <div  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow, UP 241001
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-6">
        <app-card cardTitle="Consignor  Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.licensetype'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  BWFL2
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.unittype'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Distillery
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Distillery Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    DD Sugar Works
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Distillery Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA
                </div>
            </div>
        </app-card>
    </div>
</div>

    <div class="col-12">
        <app-card cardTitle="Indent Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-12">
                    <div class="table-responsive my-2">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <!-- <th>Financial Year</th>
                                    <th>Date</th> -->
                                    <th>District</th>
                                    <th>Strength</th>
                                    <th>No of indent raised today</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <td> 2023</td>
                                      <td></td> -->
                                    <td>Lucknow</td>
                                    <td> 20ML</td>
                                    <td>30</td>
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Brand Details" class="list-panel view-panel">
            <div class="row">
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">{{'wholesale.common.date'|translate}} <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    20-Mar-2021
                </div> -->
                <div class="col-12 mb-2">
                    <div class="table-responsive mb-2">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Brand Name<br>(Parent ETIN)</th>
                                    <th>Liquor Type</th>
                                    <th>Liquor Sub Type</th>
                                    <th>Liquor Detailed<br>Description</th>
                                    <th>Strength</th>
                                    <th>Packaging<br>Size</th>
                                    <th>Packaging<br>Type</th>
                                    <th>No of Bottles<br>per Case</th>
                                    <!-- <th>Available<br>Cases</th>
                                    <th>Available<br>Bottles</th> -->
                                    <th>No of<br>Bottles</th>
                                    <!-- <th>Price</th> -->
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Rampur Select</td>
                                    <td>CL</td>
                                    <td>Whishky</td>
                                    <td>Single Malt</td>
                                    <td>48%</td>
                                    <td>750 ML</td>
                                    <td>Glass Bottle</td>
                                    <td>10</td>
                                    <!-- <td>100</td>
                                    <td></td> -->
                                    <td>10</td>
                                    
                                    <!-- <td class="text-center">
                                        <button class="btn btn-icon btn-secondary " type="button">
                                            <i class="feather icon-edit-2"></i></button>
        
                                        <button class="btn btn-icon btn-danger ml-2 " type="button">
                                            <i class="feather icon-trash"></i></button>
                                    </td> -->
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.totalnoofcases'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No.of Cases Permitted<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   2000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.totalnoofbottles'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    24000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{'wholesale.indentrequest.totalbulklitres'|translate}}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   1000
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Is Payment Done?<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                No
                </div> -->
                <!-- <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  Need Clarification
                </div> -->
                <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">

                        <input type="text" required class="form-control" 
                        placeholder="Enter Remarks">
                    </div>
                </div>
                <!-- <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Is Payment Done?<span class="float-right">:</span></label>
                </div>
                <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  No
                </div> -->
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <input type="text" class="form-control" Placeholder="Enter Remarks" />
                </div> -->
            </div>
        </app-card>
        <app-card cardTitle="Duty Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Consideration Fees<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1000.00
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Add. Consideration Fees<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    800.00
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Special Add. Consideration Fees/Covid Fees<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    800.00
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Duty Amount<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1800.00
                </div>
               
            </div>
        </app-card>
    </div>
</ng-template>
</ngb-tab>
<ngb-tab>
    <ng-template ngbTabTitle>Payment Screen</ng-template>
    <ng-template ngbTabContent>
        <app-card cardTitle="Payment Screen" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label"> Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                 20-Jul-2021
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Duty Amount<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  100000.00
                </div>
                <div class="col-12 mt-4">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th>Fees/Penalty</th>
                                    <th>Fees Amount</th>
                                    <th>Challan Head</th>
                                    <th>G6</th>
                                    <th>Advance Duty Balance</th>
                                    <th>Mode of Payment</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td>Duty Consideration Fees</td>
                                    <td class="text-right">5000.00</td>
                                    <td>	003900103020000</td>
                                    <td>	12</td>
                                    <td class="text-left">
                                        -
                                    </td>
                                    <td class="text-right">Advance Duty</td>

                                    <td>
                                        <span class="badge badge-light-success">Successful</span>
                                    </td>
                               </tr>
                               <tr>
                                <td>Duty Additional Consideration Fees</td>
                                <td class="text-right">2500.00</td>
                                <td>	003900103020000</td>
                                <td>	12</td>
                                <td class="text-left">
                                    -
                                </td>
                                <td class="text-right">Advance Duty</td>

                                <td>
                                    <span class="badge badge-light-success">Successful</span>
                                </td>
                           </tr>
                           <tr>
                            <td>Duty Special Additional Consideration Fees</td>
                            <td class="text-right">250.00</td>
                            <td>	003900103020000</td>
                            <td>	12</td>
                            <td class="text-left">
                                
                            </td>
                            <td class="text-right">Advance Duty</td>

                            <td>
                                <span class="badge badge-light-success">Successful</span>
                            </td>
                       </tr>
                      
                            </tbody>
                        </table>
                    </div> 
                  </div>
            </div>
        </app-card>
        </ng-template>
        </ngb-tab>
</ngb-tabset>
</app-card>
    </div>
   
    <div class="col-12 text-right mb-4">
        <!-- <button type="submit" class="btn btn-primary mb-2 ml-2" >Indent Foreclosure</button> -->
        <!-- <button type="submit" class="btn btn-secondary mb-2 ml-2">Modify</button>
        <button type="submit" class="btn btn-danger mb-2 ml-2" >Cancel Request</button>
        
        <button type="submit" class="btn btn-primary mb-2 ml-2">{{'wholesale.common.print'|translate}}</button> -->
        <!--   <button type="submit" class="btn btn-success mb-2 ml-2" (click)="approval(3)" *ngIf="(username != 'wholesale') && workflow?.isSendBack">Clarification Needed</button> -->
        <!-- <button type="submit" class="btn btn-secondary mb-2 ml-2" (click)="backtoEdit()">{{'wholesale.common.back'|translate}}</button> -->
    <!-- </div> -->
    
</div>
    <div class="col-12 text-right mb-4">
        <!-- <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button> -->
        <button type="submit" class="btn btn-success mb-2">Accept</button>
        <button type="submit" class="btn btn-danger mb-2 ml-2">Reject</button>
        <button type="submit" class="btn btn-warning mb-2 ml-2">Request for Clarification</button>
        <button type="submit" class="btn btn-primary mb-2 ml-2">Print</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2">Cancel</button>
    </div>