<h5 class="m-b-10 ng-star-inserted">B6 - Rule 32(891)							

    <button class="btn btn-success custom_add_button pull-right"
       routerLink="/supplychainmanagement/distillery/brewery/b6-form/add" type="submit">
    <i class="feather icon-plus mr-2"></i> Add B6</button>
 </h5>
 <ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">B6</a></li>
 </ul>
 <!-- <div class="row">
    <div class="col-xl-12">
       <app-card cardTitle="Search" class="search-panel">
          <div class="row">
             <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                   <label>Date When Taken</label>
                   <input type="date" class="form-control" required>
                </div>
             </div>
             
             <div class="col-lg-12 col-md-12 col-sm-12 col-12  text-md-left text-lg-right text-right">
                <div class="form-group">
                   <button class="btn btn-primary m-r-5">
                   Search</button>
                   <button class="btn btn-secondary">
                   Clear</button>
                </div>
             </div>
          </div>
       </app-card>
    </div>
 </div> -->
 <div class="row">
    <div class="col-xl-12">
       <app-card cardTitle="B6 List" blockClass="table-border-style" class="list-panel">
          <div class="table-responsive">
             <table class="table table-bordered">
                <thead>
                   <tr>
                      <th>S.No</th>
                      <th>Description of Sample</th>
                      <th>Purpose for Which Taken
                    </th>
                      <th>Date When Taken
                    </th>
                      <!-- <th>Purpose for Which Taken
                      </th> -->
                      <th>Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td class="text-center"> 1 </td>
                      <td class="text-left">Lorum Ipsum</td>
                      <td class="text-center">To process</td>
                        <td class="text-left">20-Jan-2021</td>
                      <!-- <td class="text-left">To delivery</td> -->
                      <td class="table-action-column text-center">
                         <button class="btn btn-icon btn-primary" type="button"
                            routerLink="/supplychainmanagement/distillery/brewery/b6-form/view">
                         <i class="feather icon-eye"></i></button>
                         <button class="btn btn-icon btn-secondary ml-2" type="button"
                            routerLink="/supplychainmanagement/distillery/brewery/b6-form/add">
                         <i class="feather icon-edit-2"></i></button>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </app-card>
    </div>
 </div>