<h5 class="m-b-10 ng-star-inserted">
    Advance Duty Register
 </h5>
 
 <ul class="breadcrumb p-0">
     <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
     <li class="breadcrumb-item"><a href="javascript:">Master Warehouse</a></li>
     <li class="breadcrumb-item"><a href="javascript:">Advance Duty Register</a></li>
     <li class="breadcrumb-item">Add</li>
 </ul>
<div class="row">
 <div class="col-xl-12">
    <app-card cardTitle="Advance Duty Register Details" class="list-panel add-panel">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>License Type</label>
                    <input type="text" class="form-control"  placeholder="Enter License Type"
                         required>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>License Name</label>
                    <input type="text" class="form-control"  placeholder="Enter Licensee Name"
                         required>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>Unit Name</label>
                    <input type="text" class="form-control" placeholder="Enter Unit Name"
                         required>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>Unit Address</label>
                    <input type="text" class="form-control" placeholder="Enter Unit Address"
                         required>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>From Date</label>
                    <input type="date" class="form-control" 
                         required>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>To Date</label>
                    <input type="date" class="form-control" 
                         required>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control">
                        <option> Select</option>
                    </select>
                </div>
            </div>
        </div>
    </app-card>
            
 </div>

 <div class="col-12 text-right mb-4">
    <button type="submit" class="btn btn-success mb-2 ml-2">Download</button>
    <button type="submit" class="btn btn-info mb-2 ml-2">View Register</button>
    
         <button type="submit" class="btn btn-secondary mb-2 ml-2"
         routerLink="/masterwarehouse/mwadvancedutyregister/list">Clear</button>
         <button type="submit" class="btn btn-secondary mb-2 ml-2"
         routerLink="/masterwarehouse/mwadvancedutyregister/list">Back</button>
 </div>
</div>