<h5 class="m-b-10 ng-star-inserted">{{'bondWarehouse.requestforqrcode.requestforqrcodecase' | translate}}
    <button class="btn btn-success custom_add_button pull-right"
    routerLink="/supplychainmanagement/warehouse/requestforqrcodecasecode/add" type="submit">
    <i class="feather icon-plus mr-2"></i> {{'bondWarehouse.requestforqrcode.addreqforccode' | translate}}</button> 
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'bondWarehouse.common.warehouse' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'bondWarehouse.requestforqrcode.requestforqrcodecase' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'bondWarehouse.common.list' | translate}}</a></li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{'bondWarehouse.common.search' | translate}}" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{'bondWarehouse.requestforqrcode.tpnumber' | translate}}</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{'bondWarehouse.requestforqrcode.permitno' | translate}}</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12  mt-4 text-md-left text-lg-left text-right">
                    <div class="form-group">
                        <button class="btn btn-primary m-r-5">
                            {{'bondWarehouse.common.search' | translate}}</button>
                        <button class="btn btn-secondary">
                            {{'wholesale.common.clear' | translate}}</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>



<div class="row"> 
    <div class="col-xl-12">
        <app-card cardTitle="{{'bondWarehouse.requestforqrcode.listreqqrcodedetails' | translate}}" blockClass="table-border-style"
            class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{'bondWarehouse.TransportPassCancellation.sno'| translate}}</th>
                            <th>{{'bondWarehouse.requestforqrcode.tpnumber' | translate}}</th>
                            <th>{{'bondWarehouse.requestforqrcode.permitno' | translate}}</th>
                            <th>{{'bondWarehouse.requestforqrcode.permitdate' | translate}}</th>
                            <th>{{'bondWarehouse.requestforqrcode.totnoofcase' | translate}}</th>
                            <th>{{'bondWarehouse.requestforqrcode.totnoofbottles' | translate}}</th>
                            <th>{{'bondWarehouse.common.status' | translate}}</th>
                            <th>{{'bondWarehouse.common.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"> 1 </td>
                            <td class="text-left">PASS-1234</td>
                            <td class="text-left">PT-1234</td>
                            <td class="text-left">10-2-2021</td>
                            <td>150000</td>
                            <td class="text-center">200000</td>
                            <td>Active</td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button"
                                    routerLink="/supplychainmanagement/warehouse/requestforqrcodecasecode/view">
                                    <i class="feather icon-eye"></i></button>
                                <button class="btn btn-icon btn-secondary ml-2" type="button"
                                    routerLink="/supplychainmanagement/warehouse/requestforqrcodecasecode/add">
                                    <i class="feather icon-edit-2"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"> 2 </td>
                            <td class="text-left">PASS-1234</td>
                            <td class="text-left">PT-1234</td>
                            <td class="text-left">10-2-2021</td>
                            <td>150000</td>
                            <td class="text-center">200000</td>
                            <td>Active</td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button"
                                    routerLink="/supplychainmanagement/warehouse/requestforqrcodecasecode/view">
                                    <i class="feather icon-eye"></i></button>
                                <button class="btn btn-icon btn-secondary ml-2" type="button"
                                    routerLink="/supplychainmanagement/warehouse/requestforqrcodecasecode/add">
                                    <i class="feather icon-edit-2"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"> 3 </td>
                            <td class="text-left">PASS-1234</td>
                            <td class="text-left">PT-1234</td>
                            <td class="text-left">10-2-2021</td>
                            <td>150000</td>
                            <td class="text-center">200000</td>
                            <td>Active</td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary" type="button"
                                    routerLink="/supplychainmanagement/warehouse/requestforqrcodecasecode/view">
                                    <i class="feather icon-eye"></i></button>
                                <button class="btn btn-icon btn-secondary ml-2" type="button"
                                    routerLink="/supplychainmanagement/warehouse/requestforqrcodecasecode/add">
                                    <i class="feather icon-edit-2"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>