<h5 class="m-b-10 ng-star-inserted">Add CLB 8 ( Country Liquor Production and Bottling )
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/clb8/list">
            Country Liquor Production and Bottling 8</a>
    </li>
    <li aria-current="page" class="breadcrumb-item active">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #Pd25Form="ngForm" autocomplete="off">
            <app-card cardTitle=" Country Liquor Production and Bottling 8" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" class="form-control" required placeholder="10-Jan-2021">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Monthly Stock taking of Bulk (Un-Bottled) Country Liquor and Bottled Country Liquor </label>
                            <input type="text" disabled class="form-control" required
                                placeholder="50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>District</label>
                            <input type="text"  class="form-control" required placeholder="Enter the District">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Month</label>
                            <input type="date" disabled class="form-control" required placeholder="10-Jan-2021">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Monthly Stock taking Register of Unbottled & Bottled Country Liquor </label>
                            <input type="text" disabled class="form-control" required
                                placeholder="50">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>A- Stock of Bulk (Unbottled) Country liquor</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Description of Country Liquor </label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>No of VAT</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Dip</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Temperature</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Indication</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bulk Litre</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bulk Litre in 36% v/v</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Remarks</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total in B.L.36%</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>B-Stock of Bulk (Bottled) Country Liquor</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Description of Country Liquor </label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Number of Bottles (Capacity Wise)</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity in Bulk Litre</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity in Bulk Litre 36% v/v</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Quantity in Alcoholic Litre</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total in B.L.36%</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Grand Total in B.L.36%</label>
                            <input type="text" disabled class="form-control" required placeholder="-">
                        </div>
                    </div>
                </div>
            </app-card>
            
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info mb-2"
            routerLink="/supplychainmanagement/distillery/clb8/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/clb8/list">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/clb8/list">Cancel</button>
    </div>
</div>