<h5 class="m-b-10 ng-star-inserted">View Stock Activity</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Stock Activity</a></li>
    <li class="breadcrumb-item">View</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Unit Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    B-1 
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    LIC/BREWERY/UNNAO/MAR2022/029883 
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Brewery Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Mohan Goldwater Breweries Limited 
                </div>
                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Brewery Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Akrampur Chakrampur., Unnao, Uttar Pradesh-209862
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">City <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Unnao 
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">State<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Uttar Pradesh 
                </div>  
            </div>
        </app-card>
        <app-card cardTitle="Stock Activity Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  AP1122
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    29-May-022
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Time of Application<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    2:57:03 PM
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Raw Material Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Barley
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Raw Material Description<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    One Month Old
                 </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Stock Activity<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Stock Inwards
                </div>
                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Quantity (Kg)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Available Raw Material Quantity (Kg)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                200
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Need Clarification
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="mandatory"></span><span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <input type="text" class="form-control" placeholder="Enter Remarks">
                </div> -->
            </div>
        </app-card>
        <!-- <app-card cardTitle="Stock Logs" class="list-panel view-panel">
        <div class="row">
            <div class="col-12  mt-2">  
                
       <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
              <tr>
                  <th>S.No</th>
                  <th>Application Date</th>
                  <th>Application No</th>
                <th>Stock Activity</th>
                  <th>Opening Balance(Kg)</th>
                  <th>Raw material Quantity(Kg)</th>
                  <th>Closing BAlance(Kg)</th>
              </tr>
          </thead>
          <tbody>

              <tr>
                  <td>1</td>
                  <td class="text-center">20-Jun-2021</td>
                  <td class="text-center">AP1122
                </td>
                <td>Issuance
                </td>
                <td>100</td>
                <td>100</td>
                <td>100</td>

              </tr>

          </tbody>
      </table>
       </div>
                   
            </div>
          </div>
        </app-card> -->

<!-- Approval -->
        <!-- <app-card cardTitle="Stock Activity Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application Date <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   20-Jul-2021
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Raw Material<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  ENA
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Raw Material Description<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   -
                 </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Stock Activity<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Issuance
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Brew Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                BR1111
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Opening Balance(Kg)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               10
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Raw material Quantity(Kg)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               10
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Closing Balance(Kg)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               10
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               <input type="text" class="form-control">
                </div>
            </div>
        </app-card> -->
        
    </div>
    <div class="col-12 text-right mb-4"> 
        <button type="submit" class="btn btn-success mb-2" 
        routerLink="/supplychainmanagement/distillery/brewery/stockactivity/list">Approve</button>   
        <button type="submit" class="btn btn-danger mb-2 ml-2" 
        routerLink="/supplychainmanagement/distillery/brewery/stockactivity/list">Reject</button> 
        <button type="submit" class="btn btn-warning mb-2 ml-2" 
        routerLink="/supplychainmanagement/distillery/brewery/stockactivity/list">Request for Clarfication</button> 
        <button type="submit" class="btn btn-secondary mb-2 ml-2" 
        routerLink="/supplychainmanagement/distillery/brewery/stockactivity/list">Back</button>      
    </div>
</div>