<h5 class="m-b-10 ng-star-inserted">
    View CL Indent Approval DEO
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Wholesale</a></li>
    <li class="breadcrumb-item"><a href="javascript:">CL Indent Approval DEO</a></li>
    <!-- <li class="breadcrumb-item">{{'wholesale.common.view' | translate}} New Indents</li> -->
    <!-- <li class="breadcrumb-item"><a href="javascript:">View New Indent</a></li> -->
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>
</ul>

<div class="row">
    <div class="col-xl-12">

        <app-card cardTitle="Indent Request Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Indent No<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            RT0001
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Indent Date<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            20-Jul-2021
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            Accepted by DEO
                            <!-- Accepted -->
                            <!-- Indent Dispatched -->
                            <!-- Part Delivered -->
                        </div>


                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-12">
                            <!-- <label class="w-100 view-label">QR code<span class="float-right"></span></label> -->
                            <div class="text-center">
                                <img src="assets/images/qr-scan.png" height="75px" width="75px" />
                                <p class="mb-0 pt-1">12XVCCN1122</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-6">
        <app-card cardTitle="From Unit details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    CL2
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Unit Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Wholesale
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    LORDS DISTILLERY LIMITED via MANOJ KUMAR PATHAK
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    33, Road no.2, Phase 3, Gomti nagar, Ward no. 3, Mohanlalganj, Lucknow, Uttar Pradesh, 225010, INDIA
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-6">
        <app-card cardTitle="To Consigner Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    CLB1
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Unit Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    DISTILLERY
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    DCM Shriram Ltd., Distillery Unit
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Plot No. 12, Near Tripathi Super Store, Madhupuram, Bhitauli Khurd, IIM Road, Lucknow, UP 241001
                </div>
            </div>
        </app-card>
    </div>

    <div class="col-12">
        <app-card cardTitle="Indent Details" class="list-panel view-panel">
            <div class="row">
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <label class="w-100 view-label">Date <span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            20-Apr-2021
                        </div> -->
                <div class="col-12">
                    <div class="table-responsive mb-2">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Brand Name<br>(ParentETIN)</th>
                                    <th>ETIN</th>
                                    <th>Liquor Type</th>
                                    <th>Liquor Sub Type</th>
                                    <th>Liquor Detailed Description</th>
                                    <th>Strength</th>
                                    <th>Packaging Size</th>
                                    <th>Packaging Type</th>
                                    <!-- <th>Available<br>Cases</th>
                                    <th>Available<br>Bottles</th> -->
                                    <th>No of Bottles per Case</th>

                                    <th>No of Cases/Mono-cartons</th>
                                    <th>No of Bottles</th>
                                    <!-- <th>No of Cases Dispatched</th> -->
                                    <!-- <th>Price</th> -->
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="text-left">Rampur Select</td>
                                    <td></td>
                                    <td class="text-left">FL</td>
                                    <td class="text-left">Whishky
                                    </td>
                                    <td class="text-left">Single Malt
                                    </td>
                                    <td>Mild</td>
                                    <td class="text-left">750 ML</td>
                                    <td class="text-left">Glass Bottle</td>
                                    <td>10</td>
                                    <td>10</td>
                                    <td>100</td>
                                    <!-- <td>10</td> -->
                                    <!-- <td class="text-left">{{data.noOfCases}}</td>
                                    <td>{{data.noOfBottles}}</td> -->
                                    <!-- <td class="text-right">{{data.amount}}</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Is Payment Done?<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Yes
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Expected Date of delivery<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    20-Oct-2024
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No. of Cases Requested<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No.of Bottles Requested<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Bulk Litre<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
              
            </div>
        </app-card>
       
        
        <app-card cardTitle="Duty Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">Last Synced Date <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <span>20-Apr-2024 </span><button type="submit" class="btn btn-primary mr-2 ml-2">Sync</button>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <label class="w-100 view-label">&nbsp;<span class="float-right">:</span></label>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                   
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th>S No</th>
                                    <th> Duty
                                    </th>
                                    <th>Fee Amount(Rs.)</th>
                                    <th>Challan Head</th>
                                    <th>G6</th>
                                    <th>Advance Duty Balance (Rs.)</th>
                                    <th>Transaction Number</th>
                                    <th> Mode of Payment</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="text-left">Consideration Fees</td>
                                    <td class="text-right">1000.00</td>
                                    <td> 003900103020000</td>
                                    <td> 11</td>
                                    <td>4143961</td>
                                    <td class="text-right">-</td>
                                    <td>Advance Duty Register</td>
                                    <td>Pending</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="text-left">Additional Consideration Fees</td>
                                    <td class="text-right">1000.00</td>
                                    <td> 003900103020000</td>
                                    <td> 11</td>
                                    <td>4143961</td>
                                    <td class="text-right">-</td>
                                    <td>Advance Duty Register</td>
                                    <td>Pending</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Pending Indent Details" class="list-panel view-panel">
            <div class="row">
                <div class="col-12">
                    <ngb-tabset type="pills" class="mb-2">
                        <ngb-tab title="ETIN Wise Indent Details">
                            <ng-template ngbTabContent>
                                <div class="row mt-2">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                        <label class="w-100 view-label">Last Synced Date <span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                       <span>20-Apr-2024</span>  <button type="submit" class="btn btn-primary mr-2 ml-2">Sync</button>
                                    </div>
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                        <label class="w-100 view-label">&nbsp;<span class="float-right">:</span></label>
                                    </div> -->
                                    <div class="col-12 my-2">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Brand Name</th>
                                                        <th>ETIN</th>
                                                        <!-- <th>Application Date</th> -->
                                                        <th>Average No of Cases Produced at distillery</th>
                                                        <th>   Average No of Bottles Produced at distillery</th>
                                                        <th>   Total Indents Received</th>
                                                        <th>  Recieved No of Cases</th>
                                                        <th>   Recieved No of Bottles</th>
                                                        <th>  Total Indents Approved</th>
                                                        <th>   Approved No of Cases</th>
                                                        <th>   Approved No of Bottles</th>
                                                        <th>     Total Indents Pending to be approved</th>
                                                        <th>  Pending No of Cases</th>
                                                        <th>   Pending No of Bottles</th>
                                                        <th>   Total Indents on hold</th>
                                                        <th>  Hold No of Cases</th>
                                                        <th>   Hold No of Bottles</th>
                                                        <th>  Total Indents dispatched</th>
                                                        <th>   Dispatched No of Cases</th>
                                                        <th>   Dispatched No of Bottles</th>
                                                        <th>   Total Available Cases</th>
                                                        <th>   Total Available Bottles</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Tarang Lime</td>
                                                        <td>NAGIN293890N34489013045</td>
                                                        <td>3000</td>
                                                        <td>135000</td>
                                                        <td class="text-left">10</td>
                                                        <td class="text-left">1000</td>
                                                        <td class="text-left">45000</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2000</td>
                                                        <td>90000</td>
                                                       
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Jelabi</td>
                                                        <td>NAGIN293890N34489013045</td>
                                                        <td>3000</td>
                                                        <td>135000</td>
                                                        <td class="text-left">10</td>
                                                        <td class="text-left">1000</td>
                                                        <td class="text-left">45000</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2000</td>
                                                        <td>90000</td>
                                                       
                                                       
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3" class="text-right">Grand Total	</td>
                                                        <td>3000</td>
                                                        <td>135000</td>
                                                        <td class="text-left">10</td>
                                                        <td class="text-left">1000</td>
                                                        <td class="text-left">45000</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2000</td>
                                                        <td>90000</td>
                                                        
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>Overall Indent Details</ng-template>
                            <ng-template ngbTabContent>
                                <div class="row mt-2">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                        <label class="w-100 view-label">Last Synced Date <span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                       <span>20-Apr-2024</span> 
                                        <!-- <button type="submit" class="btn btn-primary mr-2 ml-2">Sync</button> -->
                                    </div>
                                    <div class="col-12 my-2">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                       
                                                        <th>Average No of Cases Produced at distillery</th>
                                                        <th> Average No of Bottles Produced at distillery</th>
                                                        <th> Total Indents Received</th>
                                                        <th> Recieved No of Cases</th>
                                                        <th> Recieved No of Bottles</th>
                                                        <th> Total Indents Approved</th>
                                                        <th>  Approved No of Cases</th>
                                                        <th>  Approved No of Bottles</th>
                                                        <th>  Total Indents Pending to be approved</th>
                                                        <th>  Pending No of Cases</th>
                                                        <th>   Pending No of Bottles</th>
                                                        <th>   Total Indents on hold</th>
                                                            <th>  Hold No of Cases</th>
                                                            <th>  Hold No of Bottles</th>
                                                            <th>  Total Indents dispatched</th>
                                                            <th>   Dispatched No of Cases</th>
                                                            <th>  Dispatched No of Bottles</th>
                                                            <th>   Total Available Cases</th>
                                                            <th>   Total Available Bottles</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                       
                                                        <td>3000</td>
                                                        <td>135000</td>
                                                        <td class="text-left">10</td>
                                                        <td class="text-left">1000</td>
                                                        <td class="text-left">45000</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2000</td>
                                                        <td>90000</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                       
                                                        <td>3000</td>
                                                        <td>135000</td>
                                                        <td class="text-left">10</td>
                                                        <td class="text-left">1000</td>
                                                        <td class="text-left">45000</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                        <td>27000</td>
                                                        <td>900</td>
                                                        <td>2</td>
                                                        <td>700</td>
                                                        <td>900</td>
                                                        <td>6</td>
                                                        <td>600</td>
                                                       
                                                    </tr>
                                                </tbody>
                                              
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            </ngb-tab>
                            </ngb-tabset>
                            </div>
                            </div>
                            </app-card>
                        <!-- <app-card cardTitle="Payment Details" class="list-panel view-panel">
                <div class="row"> 
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Equivalent Duty Amount<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        10
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Is Payment Done?<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        No
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <input type="text" class="form-control" placeholder="Enter Remarks" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        Need Clarification
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Reply to Remarks<span class="float-right">:</span></label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <input type="text" class="form-control mt-2" placeholder="Enter Remarks" />
                    </div>
                </div>
            </app-card>  -->
                       
                </div>
                <div class="col-xl-12">
                    <app-card cardTitle="Approval Log" blockClass="table-border-style" class="search-panel">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date & Time</th>
                                        <th>Action Performed By</th>
                                        <th>Designation</th>
                                        <th>Action</th>
                                        <th>Comments</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2024-05-01 1:40:07</td>
                                        <td>GRANO69 BEVERAGES PRIVATE LIMITED</td>
                                  
                                        <td>BWFL Applicant</td>
                                        <td>APPROVED</td>
                                        <td>Approve	</td>
                                  
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2024-05-13 21:33:07</td>
                                        <td>AMIT CHOUDHAY</td>
                                  
                                        <td>PU Applicant</td>
                                        <td>SUBMITTED</td>
                                        <td>Application Submitted		</td>
                                  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </app-card>
                    </div> 
                    <div class="col-xl-12">
                        <app-card cardTitle="Remarks" class="list-panel view-panel">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <label class="w-100 view-label">Remarks
                                        <span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                    <span>Approved
                                    </span>
                                </div>
                               
                                </div>
                                </app-card>
                                </div>
                <div class="col-12 text-right mb-4">
                    <!-- <button type="submit" class="btn btn-success mb-2 ml-2">Next</button>       -->
                    <button type="submit" class="btn btn-secondary mb-2 ml-2">Back</button>
                    <!-- <button type="submit" class="btn btn-primary mb-2 ml-2">Download Indent</button> -->
                    <button type="submit" class="btn btn-secondary mb-2 ml-2">Cancel</button>

                </div>
            </div>