<h5 class="m-b-10 ng-star-inserted">View Dealer Registration</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL 50</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Dealer Registration</a></li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>
</ul>
<div class="row">
    <div class="col-12">
        <app-card cardTitle="Dealer Registration Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application Type <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Individual
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Date & Time  <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    02-May-2024 10:00:00 AM
                </div>
                </div>
                </app-card>
                <app-card cardTitle="Dealer Details " class="list-panel add-panel">
                    <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Dealer name <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    New Real chemicals
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Dealer Address <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">PAN<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    9811247448
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">GSTIN<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    AADFN5268
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Country <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Lucknow</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">State <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Uttar pradesh 
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">District <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Lucknow</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Contact Person Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Dilip</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Contact Person Mobile Number<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>9811247448</span>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Contact Person Mail<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>-</span>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Upload end use certificate issued by the dealer (Download afflidavit format)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Certificate.pdf 
                        <button class="btn btn-icon btn-success ml-2 mb-2" type="button">
                        <i class="fas fa-download"></i></button>
                    </span>
                </div> -->
            </div>
            </app-card>
            <app-card cardTitle="Uploaded End Use Certificate Issued by the Dealer (Download Afflidavit Format)" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Document Description</th>
                                        <th>Document Uploaded</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>
                                            Certificate.pdf
                                    </td>
                                    <td>
                                        <button class="btn btn-icon btn-primary" type="button" 
                                        routerLink="/supplychainmanagement/distillery/indentrequest/view">
                                            <i class="feather icon-eye"></i></button>
                                            <button class="btn btn-icon btn-success ml-2" type="button">
                                                <i class="fas fa-download"></i></button>
                                    </td>
                                        </tr>
                                </tbody>
                                </table>
                                </div>
                    </div>
                    </div>
                    </app-card>
            <app-card cardTitle="Purpose Used for" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Dealer Name</th>
                            <th>Contact Person Name</th>
                            <th>Contact Person Mobile Number</th>
                            <th>PAN</th>
                            <th>GSTIN</th>
                            <th>State</th>
                            <th>District</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>25/04/2024</td>
                            <td>Firm</td>
                            <td>New Real chemicals</td>
                            <td>Dilip</td>
                            <td>9811247448</td>
                            <td>AADFN5268</td>
                            <td>09AADFN3536B1ZL</td>
                            <td>Uttar Pradesh</td>
                            <td>Lucknow</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
                </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary mb-2">Update</button>
        <button type="submit" class="btn btn-success mb-2 ml-2">Finalize</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2">Back</button>
        <!-- <button type="submit" class="btn btn-success mb-2 ml-2" 
        data-dismiss="modal" aria-label="Close"
            (click)="confirmConfirmation.hide()">Generate Transport Pass</button> -->
        <!-- <button type="submit" class="btn btn-success mb-2 ml-2" >Approve</button>
        <button type="submit" class="btn btn-danger mb-2 ml-2" >Reject</button>
        <button type="submit" class="btn btn-warning mb-2 ml-2" >Request for Clarification</button> -->
        <!-- <button type="button" class="btn btn-primary mb-2 ml-2">Print</button> -->
        <!-- <button type="submit" class="btn btn-secondary mb-2 ml-2" >Cancel</button> -->
        <!-- <button type="submit" class="btn btn-danger ml-2 mb-2">cancle/Modify</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
        routerLink="/supplychainmanagement/distillery/flb3/list">Back</button> -->
    </div>
</div>