<h5 class="m-b-10 ng-star-inserted">
    MF10
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <!-- <li class="breadcrumb-item"><a href="javascript:">Portable Distillery</a></li> -->
    <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">MF10</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">



    <div class="col-xl-12">
        <app-card cardTitle="MF 10 (RULE UP  Sheera Niyantran Niyamavali 1974)" class="list-panel add-panel">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Molasses Year<span class="mandatory"></span></th>
                                    <th>Name of Distillery</th>
                                    <th>Product Type</th>
                                    <th>Molasses Type<span class="mandatory"></span></th>
                                    <th>Category<span class="mandatory"></span></th>
                                    <th>Source<span class="mandatory"></span></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td> <select class="form-control">
                                            <option>Select</option>
                                        </select></td>
                                    <td><input type="text" disabled class="form-control"
                                            placeholder="Radico Khaitan LTD Rampur in UP"></td>
                                    <td><input type="text" disabled class="form-control" placeholder="Molasses"></td>
                                    <td> <select class="form-control">
                                            <option>Select</option>
                                        </select></td>
                                    <td><select class="form-control">
                                            <option>Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-icon btn-success mr-2" type="button">
                                            <i class="feather icon-plus"></i></button>
                                        <button class="btn btn-icon btn-danger mr-2" type="button">
                                            <i class="feather icon-trash"></i></button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th> Tank ID</th>
                                    <th>Tank Type</th>
                                    <th>Opening Stock as on 1st Nov for Every Year</th>
                                    <th>Recived Molasses From 1st Nov Till Date.</th>
                                    <th>Issued for Production</th>
                                    <th>Closing Balance Till Date</th>
                                    <th>Book Balance </th>
                                    <th>Actual Balance (Physical Balance)</th>
                                    <th>Process and Storage Wastage </th>
                                    <th>Process and Storage Wastage (In %Age)</th>
                                    <th>Transit Wastage</th>
                                    <th>Total Transist Wastage Till Sept 20</th>
                                    <th>Name of Distiller</th>
                                    <th>Name of Inspector</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>TA1122</td>
                                    <td>Molasses</td>
                                    <td>1000</td>
                                    <td>1000</td>
                                    <td>OT Plan</td>
                                    <td>1000</td>
                                    <td>1000</td>
                                    <td>1000</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>Daurala Distillery</td>
                                    <td>Danish</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </app-card>
    </div>
    <div class="col-12 text-right mb-4">

        <button type="button" class="btn btn-primary"
            routerLink="/supplychainmanagement/distillery/mf10-molassesentry/list">Submit</button>
        <button type="button" class="btn btn-success ml-2"
            routerLink="/supplychainmanagement/distillery/mf10-molassesentry/list">Download</button>
        <button type="button" class="btn btn-secondary ml-2"
            routerLink="/supplychainmanagement/distillery/mf10-molassesentry/list">Back</button>
    </div>
</div>