<h5 class="m-b-10 ng-star-inserted">Add Device Registration
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Vehicle Tracking</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Device Registration</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>


<div class="row">
    <div class="col-xl-12">
        <form #treasuryForm="ngForm" autocomplete="off">

            <app-card cardTitle="Device Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Salutation</label>
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Middle Name</label>
                            <input type="text" class="form-control" placeholder="Enter Middle Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Device ID</label>
                            <input type="text" class="form-control" placeholder="Enter Device ID">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">IMEI Number</label>
                            <input type="text" class="form-control" placeholder="Enter IMEI Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">SIM Card Number</label>
                            <input type="text" class="form-control" placeholder="Enter SIM Card Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Mode Number</label>
                            <input type="text" class="form-control" placeholder="Enter SIM Card Number">
                        </div>
                    </div>



                </div>

            </app-card>


        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary mr-2" routerLink="/master/bank/list">Submit </button>
        <button type="button" class="btn btn-warning mr-2" routerLink="/master/bank/list">Save as Draft </button>
        <button type="button" class="btn btn-secondary">Cancel</button>
    </div>
</div>