<h5 class="m-b-10 ng-star-inserted">Import Permit  Acceptance BY CBW View</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Import Unit</a></li> 
    <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/importpermit/list">Import Permit  Acceptance BY CBW</a></li>
    <li aria-current="page" class="breadcrumb-item active">view</li>
</ul>
<div class="row">
    <div class="col-xl-12 mt-3">
        <form #viewimportForm="ngForm" autocomplete="off">
            <app-card cardTitle="Import Permit Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Permit Date <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>15-Apr-2024</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Import Permit No.<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>APPBIO3-20240415122915276</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>TP_ACKNOWLEDGED</span>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #viewimportForm="ngForm" autocomplete="off">
            <app-card cardTitle="BIO 1A Unit Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>BIO 1A</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Type <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>BIO 1A</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Name<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>KAFISTA INDIA PVT LTD INSEARTED OF MLML WINES PVT LTD</span>
                    </div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Address<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Khasra no-1821, 1822, 1823, Dadri, Gautam buddha nagar, Uttar pradesh-201306</span>
                    </div>
                    
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

                        <span>Download <button type="button" class="btn btn-success"><i class="feather icon-download"></i></button></span>
                    </div> -->

                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #viewimportForm="ngForm" autocomplete="off">
            <app-card cardTitle="BIO 1 Unit Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>BIO 1A</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Type <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>BIO 1A</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Name<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>KAFISTA INDIA PVT LTD INSEARTED OF MLML WINES PVT LTD</span>
                    </div>
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Address<span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Khasra no-1821, 1822, 1823, Dadri, Gautam buddha nagar, Uttar pradesh-201306</span>
                    </div>
                    
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

                        <span>Download <button type="button" class="btn btn-success"><i class="feather icon-download"></i></button></span>
                    </div> -->

                </div>
            </app-card>
        </form>
    </div>
    <div class="col-xl-12">
        <form #viewimportForm="ngForm" autocomplete="off">
            <app-card cardTitle="Import Details" class="list-panel view-panel">
                <div class="col-xl-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Brand Name
                                        </th>
                                        <th> Liquor  Type</th>
                                    <th> Liquor Sub Type</th>
                                    <th>Liquor Detailed Description</th>
                                    <th>Packaging Size</th>
                                    <th>Packaging Type</th>
                                    <th>No.of Cases/Mono cartons</th>
                                    <th>No.of Bottles Indented </th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr>
                                   <td>1</td>
                                   <td>Martell VSOP Cognac</td>
                                   <td>FL</td>
                                   <td>Imported FL</td>
                                   <td>Martell VSOP Cognac</td>
                                   <td>700</td>
                                   <td>Glass Bottle</td>
                                   <td>1</td>
                                   <td>10</td>
                                   
                               </tr>
                                
                            </tbody>
                        </table>
                    </div>
            
            </div>
            <div class="row mt-2">
                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No Of Cases Requested <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    456
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No Of Bottles<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    456
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Bulk Litres<span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    5000
                </div>
                
            </div>
            </app-card>
        </form>
    </div>
    
    
    <div class="col-12 text-right mb-4 mt-3">
        <button type="button" class="btn btn-success ml-2 mr-2 mb-2">Accept</button>
        <button type="button" class="btn btn-primary ml-2 mr-2 mb-2">Cancel  </button>
        <!-- <button type="button" class="btn btn-secondary ml-2 mr-2 mb-2">Modify  </button> -->

        <button type="button" class="btn btn-secondary ml-2  mb-2">Back</button>
    </div>
    <div class="col-12">
    <app-card cardTitle="Log Details " class="list-panel add-panel">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered text-center mb-0 mt-2">
                        <thead>
                            <tr>
                                <th>#</th>
                                
                                <th>User Name </th>
                                <th>Date & Time </th>
                                <th>Remarks </th>
                                <th>Status </th>
                                
    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="text-left">
                                    IU_3_VINEET
                                </td>
                                <td class="text-left">
                                    Apr 15, 2024, 12:29:15 PM
                                </td>
                                <td class="text-left">
                                    ok 
                                </td>
                                <td class="text-left">
                                    Submitted
                                </td>
    
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="text-left">
                                    IU_3_VINEET
                                </td>
                                <td class="text-left">
                                    Apr 15, 2024, 12:29:15 PM
                                </td>
                                <td class="text-left">
                                    ok 
                                </td>
                                <td class="text-left">
                                    Submitted
                                </td>
    
                            </tr>
    
    
                        </tbody>
                      
                    </table>
                </div>
            </div>
        </div>
    </app-card>
</div>
 </div>   
