<h5 class="m-b-10 ng-star-inserted">View Export Permit Transport Pass Acknowledgement</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Custom bond</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Export Permit Transport Pass Acknowledgement</a></li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>
</ul>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-card cardTitle="Transport Pass Details" class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Entity Name<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            CB 1
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Application Date<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            11-01-2022
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Transport Pass Number<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            APP001
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label class="w-100 view-label">Export Permit No<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            1651
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                            <label class="mandatory">Scan Barcode</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Scan Barcode" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-qrcode"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Unit Details" class="list-panel add-panel">
            <div class="row mt-2">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    DAS </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label"> Unit Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Unit Address
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Custom Bondwarehouse Details" class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Custom Bondwarehouse Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Anheuser Wholesale
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>

            </div>
        </app-card>
        <app-card cardTitle="Export order details" class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    DAS
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">Unit Address</div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">Pending</div>
            </div>
        </app-card>
        <app-card cardTitle="Transportation Details" class="list-panel add-panel">
            <div class="row mt-2">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transporters Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Ord001
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Vehicle No.<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    06-01-2022
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Vehicle Driver Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Anheuser Wholesale
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Mode of transport<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Rail
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route Details<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Major Route<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Distance(Kms)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    150
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Valid Upto<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10/10/2021
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Gross Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    60
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Tier Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    40
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Net Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">GPS ID<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    156
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Custom Seal No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    S00001
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Custom Seal Date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    06-01-2022
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Permit Details" class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Import No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    56561
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Import date<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    10/10/2021
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Brand Name</th>
                                    <th>Liquor Type</th>
                                    <th>Liquor SubType</th>
                                    <th>Liquor Detailed Description</th>
                                    <th>Strength</th>
                                    <th>Packaging Type</th>
                                    <th>Packaging Size</th>
                                    <th>No. of bottles per case</th>
                                    <th>No. Of Cases Requested/Mono Cartons</th>
                                    <th>No of Bottles Requested</th>
                                    <th>Bulk Litres</th>
                                    <th>No Of cases Scanned</th>
                                    <th>No Of cases Dispatched</th>
                                    <!-- <th>Total No Of Cases/Mono Cartons Requested</th>
                                    <th>Total No Of Bottles Requested</th>
                                    <th>Total Bulk Litres</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>DAS</td>
                                    <td>Alcohol</td>
                                    <td>Beer</td>
                                    <td>Description</td>
                                    <td>5% above</td>
                                    <td>Glass Bottles</td>
                                    <td>500ml</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>12</td>
                                    <td>240</td>
                                    <td>2400</td>
                                    <td>2500</td>
                                    <!-- <td>3000</td>
                                    <td>1000</td>
                                    <td>2400</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No Of Cases/Mono Cartons Requested<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total No Of Bottles Requested<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Bulk Litres<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Duty Details" class="list-panel add-panel">
            <div class="row mt-2">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Duty<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    5000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Additional Duty<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Special Additional Duty<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Import fee<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Special fee<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Remarks</label>
                        <input type="text" class="form-control">
                    </div>
                </div> -->
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Accepted
                </div> -->
            </div>
        </app-card>

        <app-card cardTitle="Receipt Details" class="list-panel add-panel">
            <div class="row mt-2">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Consignment Arrival Date & Time<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    5000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Received Gross Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Received Tare Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Received Net Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">No of Received Cases<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">No of Received Bottles<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">No of Missing Cases<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">No of Broken Bottles<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Wastage in BL<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">No of Barcode unreadable<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">No of QR Code Unreadable<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div> -->

                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Accepted
                </div> -->
            </div>
        </app-card>
    </div>



    <div class="col-12 text-right">
        <!-- <button type="button" class="btn btn-success ml-2 mb-2">Approve</button>
        <button type="button" class="btn btn-danger ml-2 mb-2">Reject</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Request for Clarification</button> -->
        <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
        <!-- <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button> -->
        <button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>

    </div>
    <!-- <app-card cardTitle="Logs" class="list-panel view-panel">
         
              
        <div class="row">
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      <label class="w-100 view-label">Date & Time<span class="float-right">:</span></label>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      <span>12-05-2021</span>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Approved</span>
                 </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Approved By<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Admin</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Approved on<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>20-Jan-2021</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing.</span>
                 </div>
                 
                </div> 
            </app-card> -->
    <!-- <div class="col-xl-12">
                <form #indentrequestForm="ngForm" autocomplete="off">
                <app-card cardTitle="Logs" class="list-panel view-panel">
                <div class="row m-4 timeline_card" >
                <div class="col-12">
                <div class="timeline_icon text-center timeline_icon_bg1 h-100">
                <i class="far fa-comments"></i>
                <small>20/03/21<br> 10:00</small>
                </div>
                <div class="timeline_content">
                <div class="w-100 p-3 rounded timeline_box timeline_bg1">
                <h6>DEO - Sunil Singh</h6>
                <p class="mb-0">Need Clarification</p>
                </div>
                </div>
                </div>
                <div class="col-12">
                <div class="timeline_icon text-center timeline_icon_bg3 h-100">
                <i class="fas fa-check"></i>
                <small>20/03/21<br> 11:00</small>
                </div>
                <div class="timeline_content">
                <div class="w-100 p-3 rounded timeline_box timeline_bg2">
                <h6>Distillery - Good Wines</h6>
                <p class="mb-0">Accepted</p>
                </div>
                </div>
                </div>
                <div class="col-12">
                <div class="timeline_icon text-center timeline_icon_bg2 h-100">
                    <i class="fas fa-check"></i>
                <small>20/03/21<br> 11:30</small>
                </div>
                <div class="timeline_content">
                <div class="w-100 p-3 rounded timeline_box timeline_bg3">
                    <h6>Distillery - Good Wines</h6>
                <p class="mb-0">Indent Request Clarification updated. Kindly check</p>
                </div>
                </div>
                </div>
                </div>
                </app-card>
                </form>
                </div> -->
</div>