<h5 class="m-b-10 ng-star-inserted">
    Add Application for Pass Book
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
           <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a>
            </li>
            <li class="breadcrumb-item"><a href="javascript:">Application for Pass Book</a>
    </li>
    <li class="breadcrumb-item">Add</li>
</ul>


<div class="row">
    <div class="col-xl-12">
        <form #stockForm="ngForm" autocomplete="off">
            <app-card cardTitle="Add Application for Pass Book Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Molasses Year
                            </label>
                            <input type="text"  class="form-control" disabled 
                            value="2022-2023">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Date of Application
                            </label>
                            <input type="date"  class="form-control" disabled 
                            value="2020-2021">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Unit Type
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License Type
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Distllery Name
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License No

                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Distilllery Address</label>
                            <textarea disabled class="form-control" rows="1">Sehjanwa Gida, Gorakhpur
</textarea>
                           
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Sugar Mill Name
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Registration Type
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Registration No
                            </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Sugar Mill Address
                            </label>
                            <textarea disabled class="form-control" rows="1">199/1,DWARKA PURI STREET NO. 14  Muzaffarnagar MUZAFFARNAGAR UTTAR PRADESH 251001
                               
</textarea>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Fees
                            </label>
                            <input type="text" disabled  class="form-control"  
                            placeholder="1000.00">
                        </div>
                    </div>
                </div>
            </app-card>
           
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>
    </div>

</div>