<h5 class="m-b-10 ng-star-inserted">Add Stock Activity</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Stock Activity</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Unit Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License Type</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License No</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brewery Name </label>
                            <input type="text" disabled class="form-control" value="Mohan Goldwater Breweries Limited">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brewery Address </label>
                            <textarea class="form-control" disabled rows="1">Akrampur Chakrampur., Unnao, Uttar Pradesh-209862</textarea>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>City </label>
                            <input type="text" disabled class="form-control" value="Unnao">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" disabled class="form-control" value="Uttar Pradesh">
                        </div>
                    </div>
                   
                </div>
            </app-card>
            <app-card cardTitle="Stock Activity Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Application Date </label>
                            <input type="date" disabled class="form-control" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Time of Application</label>
                            <input type="text" disabled class="form-control" value="2:57:03 PM">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Raw Material Name</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>BWFL2B</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Raw Material Description</label>
                            <input type="text" required  class="form-control" 
                            placeholder="Enter Raw Material Description">
                        </div>
                    </div>  
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Stock Activity</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Stock Inward</option>
                            <option>Expiry</option>
                            <option>Transfer</option>
                            <option>Issuance</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Total Quantity (Kg)</label>
                            <input type="text" required  class="form-control" 
                            placeholder="Enter Total Quantity (Kg)">
                        </div>
                    </div>  
                   
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Available Raw Material Quantity (Kg)</label>
                            <input type="text" required  class="form-control"  disabled 
                            placeholder="1000.00">
                        </div>
                    </div>  
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="submit" class="btn btn-info mb-2">Preview</button>
        <button type="submit" class="btn btn-warning mb-2 ml-2">Save As Draft</button>
        <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2" 
        routerLink="/supplychainmanagement/distillery/brewery/stockactivity/list">Cancel</button>        
    </div>
</div>

 