<h5 class="m-b-10 ng-star-inserted"> PD-26 Transport Pass </h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Portable Distillery</a></li>
    <li class="breadcrumb-item"><a routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">PD-26 Transport
            Pass</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Add PD 26 Transport Pass" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" class="form-control" disabled value="14-Aug-2021">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Search Application No</label>
                            <input type="text" class="form-control" placeholder="Enter Search Pass No" >
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-12">
        <app-card cardTitle="Consignee Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Distillery Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    BLUE OCEAN BEVERAGES PRIVATE LIMITED
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  BWFL2A
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">License No
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  BWFL2A
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Distillery Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                </div>
           
            </div>
        </app-card>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
        <app-card cardTitle="Consigner Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Name
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    Danteshwari Home Buildtech Private Limited
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">License Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  FL4A
                </div>
               
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    Near G.D. Goenka Public School, Jansath-Muzaffarnagar Road, Muzaffarnagar.
                </div>
           
            </div>
        </app-card>
        </div>
   
</div>
<div class="row d-none">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Consignee Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Distillery Name</label>
                            <input type="text" class="form-control" disabled placeholder="Darula Industries" name=""
                                required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Type </label>
                            <input type="text" class="form-control" disabled placeholder="PD 26" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License No</label>
                            <input type="text" class="form-control" disabled placeholder="LN746477" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Distillery Address</label>
                            <input type="text" class="form-control" disabled placeholder="No:4/78, 2nd cross st, kanpur, Uttar Pradesh - 234563" name=""
                                required>
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
</div>
<div class="row d-none">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Consigner Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Unit Name</label>
                            <input type="text" class="form-control" disabled placeholder="K.K Industries" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Type </label>
                            <input type="text" class="form-control" disabled placeholder="PD 26" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Unit Address</label>
                            <input type="text" class="form-control" disabled placeholder="No:6/26, 2nd cross st, Lucknow, Uttar Pradesh - 234563" name="" required>
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Request Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input type="text" class="form-control" disabled placeholder="Kingfisher" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Batch No</label>
                            <input type="text" class="form-control" disabled placeholder="BN464535" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Strength</label>
                            <input type="text" class="form-control" disabled placeholder="Strong" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Purpose </label>
                            <input type="text" class="form-control" disabled placeholder="Purpose " name="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Requested Quantity(B.L) </label>
                            <input type="text" class="form-control" disabled placeholder="567" name=""
                                required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Requested Quantity(AL) </label>
                            <input type="text" class="form-control" disabled placeholder="987" name=""
                                required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Rate Per BL</label>
                            <input type="text" class="form-control" disabled placeholder="56" >
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount(Bond Value)</label>
                            <input type="text" class="form-control" disabled placeholder="23" >
                        </div>
                    </div>
                </div>
            </app-card>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Transportation Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Mode of Transfer</label>
                            <input type="text" class="form-control" disabled placeholder="Pipeline" name=""
                                required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Issuing Tank ID</label>
                            <input type="text" class="form-control" disabled placeholder="TI74676476" name=""
                                required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Receiving Tank ID </label>
                            <input type="text" class="form-control" disabled placeholder="RI74676476" name=""
                                required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Valid Upto</label>
                            <input type="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Temprature</label>
                            <input type="text" class="form-control" placeholder="Enter Temprature" name="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Indication</label>
                            <input type="text" class="form-control" placeholder="Enter Indication">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Strength</label>
                            <input type="text" class="form-control" placeholder="Enter Strength">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Mass Low Meter Process Data
        " class="list-panel add-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Mass Flow Process ID 
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    FL3-Radico-Mass-flow-0001
                </div>
               
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Mass Flow Data Date
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    30-Jun-2024 9:11:14
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">BATCH NO.
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    499
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Brand Name
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    8PM Special Blend of Scotch & Indian Grain Whisky
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Blending VAT
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    BDV-1
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">MASS FLOW Initial Reading
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    1358509
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">MASS FLOW Final Reading
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    1407507
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Transfer Net Volume
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   48998
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">DIP
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   499
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Wastage
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   48998
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Actual Transfer Volume
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   0
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Density
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                   Data not available
                </div>
            </div>
        </app-card>
        </form>
    </div>
</div>

<div class="col-12 text-right mb-4">
    <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
    <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
    <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
    <button type="button" class="btn btn-secondary ml-2 mb-2"
        routerLink="/supplychainmanagement/distillery/pd25-pipiline/list">Cancel</button>
</div>