<h5 class="m-b-10 ng-star-inserted">
 Add   Issue Details

</h5>


<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:"> Helpdesk Master</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Issue Details</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form #createForm="ngForm" autocomplete="off">
            <app-card cardTitle="Issue Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Issue Detail Code</label>
                            <input disabled type="text" class="form-control" value="ID1122">   
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="mandatory">Issue Detail</label>
                            <input type="text" class="form-control" placeholder="Enter Issue Detail">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="mandatory">Category </label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="mandatory">Sub Category</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                   
                    <!-- <div class="col-lg-3">
                        <div class="form-group">
                            <label>Created By</label>
                            <input type="text" disabled class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Created On</label>
                            <input type="text" disabled class="form-control" placeholder="16-08-2021">
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Status</label>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customswitch1">
                                <label class="custom-control-label" for="customswitch1">Inactive</label>
                              </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="form-group">
                            <label>Modified By</label>
                            <input type="text" disabled class="form-control" placeholder="Admin">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Modified On</label>
                            <input type="text" disabled class="form-control" placeholder="17-08-2021">
                        </div>
                    </div> -->
                </div>


            </app-card>
        </form>
        
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-right">
        <div class="form-group">
            <button class="btn btn-primary m-r-5">Submit</button>
            <button class="btn btn-secondary">Cancel</button>

        </div>
    </div>
</div>