<h5 class="m-b-10 ng-star-inserted">Add Rollover stock
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Rollover stock</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>

</ul>
<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Add Rollover stock Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" required class="form-control" placeholder="Entere Date">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Add RollOver Stock For FL3 Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <select class="form-control">
                                <option>Brand Name 1</option>
                                <option>Brand Name 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Size</label>
                            <select class="form-control">
                                <option>650ml</option>
                                <option>750ml</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Stock Bottles</label>
                            <select class="form-control">
                                <option>100</option>
                                <option>200</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Rollover Boxes Without Breakage</label>
                            <input type="number" required class="form-control" placeholder="Entere Rollover Boxes Without Breakage">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>RollOver Bottles</label>
                            <input type="number" required class="form-control" placeholder="Entere RollOver Bottles">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Add Declaration of Stock Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label>Declaration of Stock</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">FL3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">FL3A</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Licence No.</label>
                            <select class="form-control">
                                <option>LN6457895</option>
                                <option>LN6457892</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Brand Name(2020-21) </th>
                                <th>Package</th>
                                <th>Size</th>
                                <th>Box</th>
                                <th>MRP 2018-19</th>
                                <th>Rollover fees </th>
                                <th>Differential Duty 2018-19 and 2020-21</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td>
                                    <select class="form-control">
                                        <option>Brand Name 1</option>
                                        <option>Brand Name 2</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>BOX</option>
                                        <option>TIN</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>650ml</option>
                                        <option>750ml</option>
                                    </select>
                                </td>
                                <td><input type="number" required class="form-control" placeholder="Entere Box"></td>
                                <td><input type="number" required class="form-control" placeholder="Entere MRP 2018-19"></td>
                                <td><input type="number" required class="form-control" placeholder="Entere Rollover fees"></td>
                                <td><input type="number" required class="form-control" placeholder="Entere Differential Duty 2018-19 and 2020-21"></td>
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button" >
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button" >
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total Box </label>
                            <input type="number" required class="form-control" placeholder="Entere Total Box ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total MRP  </label>
                            <input type="number" required class="form-control" placeholder="Entere Total MRP ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total Rollover fees  </label>
                            <input type="number" required class="form-control" placeholder="Entere Total Rollover fees ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total Differential Duty  </label>
                            <input type="number" required class="form-control" placeholder="Entere Total Differential Duty ">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Add RollOver Of Non-Renewed Brand Stock For FL3/FL3A Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label>RollOver Of Non-Renewed Brand Stock For FL3/FL3A</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">FL3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">FL3A</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Licence No.</label>
                            <select class="form-control">
                                <option>LN6457895</option>
                                <option>LN6457892</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Brand</th>
                                <th>Size</th>
                                <th>Stock Box</th>
                                <th>Rollover Boxes</th>
                                <th>Enter New Etin</th>
                                <th>Upload and Scan</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td>
                                    <select class="form-control">
                                        <option>Brand Name 1</option>
                                        <option>Brand Name 2</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>650ml</option>
                                        <option>750ml</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>BOX</option>
                                        <option>TIN</option>
                                    </select>
                                </td>
                                <td><input type="number" required class="form-control" placeholder="Enter Rollover Boxes"></td>
                                <td><input type="number" required class="form-control" placeholder="Enter New Etin"></td>
                                <td>
                                    <div class="input-group cust-file-button">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                            <label class="custom-file-label"></label>
                                        </div>
                                    </div>
                                </td>
                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-success" type="button" >
                                        <i class="feather icon-plus"></i></button>
                                    <button class="btn btn-icon btn-danger ml-2" type="button" >
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </app-card>
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-info ml-2 mb-2" routerLink="/supplychainmanagement/distillery/brewery/rolloverstock/view">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2" routerLink="/supplychainmanagement/distillery/brewery/rolloverstock/list">Cancel</button>
    </div>
</div>