<h5 class="m-b-10 ng-star-inserted">Movement of Finished Goods</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Custom bond</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Movement of Finished Goods</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Movement of Finished Goods" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Year</label>
                            <input type="number" disabled class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bottling Plan Number</label>
                            <select class="form-control">
                                 <option>Select</option>
                                
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Bottling Plan Number</label>
                            <input type="text" class="form-control" placeholder="Bottling Plan Number">
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>ETIN </label>
                            <input type="text" class="form-control" placeholder="ETIN">
                        </div>
                    </div>
                   

                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label>We are</label>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Principal</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Subsidiary Importing unit</label>
                              </div>
                            </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Importing Unit for</label>
                            <select class="form-control">
                                 <option>Select</option>
                                 <option>CIVIL</option>
                                 <option>CSD</option>
                            </select>
                        </div>
                    </div> -->

                    

                </div>
            </app-card>

            <app-card cardTitle="Bottled" class="list-panel add-panel">
                <div class="row">
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Salutation</label>
                            <select class="form-control">
                                 <option>Select</option>
                                 <option>Dr.</option>
                                 <option>Mr.</option>
                                 <option>Mrs.</option>
                                 <option>Miss.</option>
                            </select>
                        </div>
                    </div> -->

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Brand</label>
                            <input type="text" class="form-control" placeholder="Enter Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Size(ML)</label>
                            <input type="text" class="form-control" placeholder="Enter Size(ML)">
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Number of Bottle</label>
                            <input type="number" class="form-control" placeholder="Enter Number of Bottle">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>License Type</label>
                            <input type="text" class="form-control" placeholder="Enter License Type">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Liquor Type</label>
                            <input type="text" class="form-control" placeholder="Enter Liquor Type">
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Mapped/Unmapped</label>
                            <input type="text" class="form-control" placeholder="Enter Mapped/Unmapped">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Production Line</label>
                            <input type="text" class="form-control" placeholder="Enter Production Line">
                        </div>
                    </div>
                                     
                  
                </div>
            </app-card>

            <app-card cardTitle="Pending Label " class="list-panel add-panel">
                <div class="row">
       
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pending Barcode</label>
                            <input type="number" class="form-control" placeholder="Enter Pending Barcode">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pending QR Code</label>
                            <input type="number" class="form-control" placeholder="Enter Pending QR Code">
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Serial Number</label>
                            <input type="number" class="form-control" placeholder="Enter Serial Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Barcode</label>
                            <input type="number" class="form-control" placeholder="Enter Barcode">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Number of QR Code</label>
                            <input type="number" class="form-control" placeholder="Enter Number of QR Code">
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Wastage Status</label>
                            <input type="text" class="form-control" placeholder="Enter Wastage Status">
                        </div>
                    </div>
                 
                                     
                  
                </div>
            </app-card>

          
      


            <!-- <app-card cardTitle="Bank Details" class="list-panel add-panel">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bank Account Number</label>
                            <input type="number" class="form-control" placeholder="Enter Bank Account Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bank IFSC</label>
                            <input type="text" class="form-control" placeholder="Enter IFSC">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <select class="form-control" required>
                               <option value="">Select</option>
                             </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc">Upload Cancel Cheque</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card> -->
          



        </form>

        <div class=" text-content text-right mb-4">
            <button type="button" class="btn btn-warning mb-2 ml-2">Save as draft</button>
            <!-- <button type="button" class="btn btn-info mb-2 ml-2">Clear</button> -->
            <button type="button" class="btn btn-primary mb-2 ml-2">Submit</button>
            <button type="button" class="btn btn-secondary mb-2 ml-2">Cancel</button>
        </div>
    </div>
</div>