<h5 class="m-b-10 ng-star-inserted">View Transport Pass
</h5>
<ul class="breadcrumb p-0">
 <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
 <li class="breadcrumb-item"><a href="javascript:">Wholesale</a></li>
 <li class="breadcrumb-item"><a href="javascript:">Transport Pass</a></li>
 <li class="breadcrumb-item">View</li>
</ul>

<div class="row">
 <div class="col-xl-12">
    <div class="row mt-3">
        <div class="col-12">
            <!-- <h6 class="my-2">Transport Pass Details</h6> -->
            
            <app-card cardTitle="Details" class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Pass Number<span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                              HH757
                            </div>
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Issue Date / Time<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                   20-Mar-2021 /10:00 PM
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Indent No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                   BVBV7T76
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Sub Indent No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    4
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Valid Till<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    20-Apr-2021
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">BWFL2 or FL1/FL1A License No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    VBVN7676
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">BWFL2 or FL1/FL1A License Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    VBVN
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">BWFL2 or FL1/FL1A License Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit(MWH)Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="form-group">
                        <input  type="text" required class="form-control" 
                        value="4">
                </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <label class="w-100 view-label">Unit(MWH)Address<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                        <div class="col-12">
                        <div class="text-center">
                            <img src="assets/images/qr-scan.png" class="qr-img"/>
                            <p class="mb-0 pt-1 font-weight-bold">12XVCCN1122</p>
                        </div>
                        </div>
                        </div>
                                    </div>
                                    </div>
                
            </app-card>
            </div>
        
            <div class="col-12">
                <app-card cardTitle="Transportation Details" class="list-panel view-panel">
                  
          
            <div class="row">
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transporter's Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    PIKUP MAX
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Vehicle No.<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    UP32 AN 7647
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Driver's Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    KARAN
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Via<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Via Lucknow
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Major District<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Distance (Kms)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Valid Upto<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    20-Apr-2021
                </div>
                
                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Gross Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   8500
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Tare Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   3500
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Net Weight<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   5000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">GPS ID<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1122ww11
                </div>
                
                
            </div>
           
                </app-card>
            </div>
            <div class="col-12">
                <app-card cardTitle="Sub Indent Details" class="list-panel view-panel">
                    <div class="row">
                        <div class="col-12">
                            <ngb-tabset type="pills" class="mb-2">
                                <ngb-tab title="Sub Indent Details">
                                    <ng-template ngbTabContent>
                                        <div class="row mt-2">
            
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">Sub Indent No<span
                                                        class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                2
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">BWFL2 or FL1/FL1A License No<span
                                                        class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                B775
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">BWFL2 or FL1/FL1A License Name<span
                                                        class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                               BJBJNN
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                <label class="w-100 view-label">BWFL2 or FL1/FL1A License Address<span
                                                        class="float-right">:</span></label>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                                            </div>
            
                                            <div class="col-12 mb-2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered text-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Brand Name</th>
                                                                <th>Liquor Type</th>
                                                                <th>Liquor Sub Type</th>
                                                                <th>Packaging<br>Size</th>
                                                                 <th>Packaging<br>Type</th>
                                                               <th>Total Cases</th>
                                                                <th>Total Litres BL</th>
                                                                <th>Total Litres AL</th>
                                                                <th>Grand Total of BL</th>
                                                                <th>Grand Total of AL</th>
                                                                <th>Total No of Mono Cartons</th>
                                                                <th>Total (Cases)</th>
                                                                <th>Total (Bottles)</th>
                                                                <th>Approved</th>
                                                                <!-- <th>No of Cases<br>Dispatch</th>
                                                                <th>No. of Bottles<br>Dispatch</th> -->
                                                                <!-- <th>Duty Fee</th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <!-- <td>BN1121</td> -->
                                                                <td class="text-center">
                                                                    Jack Daniels (Black)
                                                                </td>
                                                                <td class="text-center">
                                                                    FL
                                                                </td>
                                                                <td class="text-center">
                                                                    Whishky
                                                                </td>
                                                                <td class="text-center">
                                                                   12
                                                                </td>
                                                                <td class="text-center">
                                                                    750 
                                                                </td>
                                                                <td class="text-center">
                                                                   233
                                                                </td>
                                                                <td class="text-center">
                                                                    50
                                                                </td>
                                                                <td class="text-center">
                                                                    500
                                                                </td>
                                                                 <td class="text-center">
                                                                    50
                                                                </td>
                                                                <td class="text-center">
                                                                    500
                                                                </td> 
                                                                <td class="text-center">
                                                                    500.00
                                                                </td>
                                                                <td class="text-center">
                                                                    500.00
                                                                </td>
                                                                <td class="text-center">
                                                                    500.00
                                                                </td>
                                                                <td class="text-center">
                                                                   Approved
                                                                </td>
            
                                                           
                                                           
            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            
                              
                              </ngb-tabset>
                        </div>
                        
                    </div>
                        </app-card>
            </div>
        </div>
    </div>

       
    
   
            
       
 <div class="col-12 text-right mb-4">
     
    <button type="submit" class="btn btn-primary mb-2"
    routerLink="/supplychainmanagement/wholesale/transitgatepass/list">Next</button>

    <button type="submit" class="btn btn-warning mb-2 ml-2"
    routerLink="/supplychainmanagement/wholesale/transportpasscancel/add">Pass Cancel/Modify</button>
     <button type="submit" class="btn btn-secondary mb-2 ml-2"
         routerLink="/supplychainmanagement/wholesale/transitgatepass/list">Back</button>
         <button type="submit" class="btn btn-secondary mb-2 ml-2"
         routerLink="/supplychainmanagement/wholesale/transitgatepass/list">Cancel</button>
        
 </div>
</div>

