<h5 class="m-b-10 ng-star-inserted">
   View Home Bar License
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Licence Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Home Bar License</a></li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>

</ul>
 
 <div class="row">
     <div class="col-xl-12">
         
         <app-card cardTitle="Applicant Details" class="list-panel view-panel">
             <div class="row">
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Salutation<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     Mr.
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">First Name<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     Ram
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Middle Name<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     Kumar
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Last Name<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     Haridas
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">View Photograph of the Applicant<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Photograph.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                        class="feather icon-eye"></i>
                    </button>
                </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Mobile No. of the Applicant
                         <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     9842658999
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Mail ID of the Applicant
                         <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     ram1515@gmail.com
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">PAN No. of the Applicant
                        <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    ABCDE1234F

                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">View Pan<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    pan.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                        class="feather icon-eye"></i>
                    </button>
                </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Gender<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     Male
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Date of Birth <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     26/11/1999
                 </div>
                 
                
 
 
             </div>
         </app-card>
 
         <app-card cardTitle="Applicant Address" class="list-panel view-panel">
             <div class="row">
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Country<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     India
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">State<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Uttar Pradesh
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">District <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow

                </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Pincode<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>225010
                     </span>
                 </div>
               
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Tehsil<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Mohanlalganj
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Urban/Rural<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Municipal Area</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Municipal Area<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Nagar Palika</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Ward<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Ward no. 3
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Block <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>72</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Village<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span></span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Police Station<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Gomti nagar
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Locality<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Phase 3
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Street/House
                        <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>33, Road no.2
                     </span>
                 </div>
 
             </div>
         </app-card>
        
         <app-card cardTitle="Premises Details
         " class="list-panel view-panel">
             <div class="row">
                
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">OwnerShip Type
                        <span
                             class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Own
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Ownership Document 
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    owner.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                        class="feather icon-eye"></i>
                    </button>
                </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Country<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     India
                 </div>
                 
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">State<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Uttar Pradesh
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">District <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow

                </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Pincode<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>225010
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Tehsil<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Mohanlalganj
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Urban/Rural<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Municipal Area</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Municipal Area<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Nagar Palika</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Ward<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Ward no. 3
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Block <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>72</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Village<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span></span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Police Station<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Gomti nagar
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Locality<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>Phase 3
                     </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Street/House
                        <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <span>33, Road no.2
                     </span>
                 </div>
             </div>
         </app-card>
         <app-card cardTitle="ITR Details
         " class="list-panel view-panel">
             <div class="row">
                
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Assessment Year 22-23 (Tax %)
                        <span
                             class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   10%
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Copy Of Assessment Year 22-23 (Tax %) :
                        <span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    ass.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                        class="feather icon-eye"></i>
                    </button>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Assessment Year 21-22 (Tax %)
                        <span
                            class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  10%
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   <label class="w-100 view-label">Copy Of Assessment Year 22-23 (Tax %) :
                    <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   ass.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                       class="feather icon-eye"></i>
                   </button>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Assessment Year 20-21 (Tax %)
                    <span
                        class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              10%
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               <label class="w-100 view-label">Copy Of Assessment Year 20-21 (Tax %) :
                <span class="float-right">:</span></label>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               ass.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                   class="feather icon-eye"></i>
               </button>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">Assessment Year 19-20 (Tax %)
                <span
                    class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
          10%
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
           <label class="w-100 view-label">Copy Of Assessment Year 19-20 (Tax %) :
            <span class="float-right">:</span></label>
       </div>
       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
           ass.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
               class="feather icon-eye"></i>
           </button>
       </div>
       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
        <label class="w-100 view-label">Assessment Year 18-19 (Tax %)
            <span
                class="float-right">:</span></label>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
      10%
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
       <label class="w-100 view-label">Copy Of Assessment Year 18-19 (Tax %) :
        <span class="float-right">:</span></label>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
       ass.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
           class="feather icon-eye"></i>
       </button>
   </div>
               
             </div>
         </app-card>
         <app-card cardTitle="Site Details" class="view-panel list-panel">
             <div class="row">
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Latitute<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    11.2345N
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">Longitude<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    23.2345E
                 </div>
                
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">North
                        <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     On East side Jawahar Juice Shop
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">East<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     Towards North Bangra Main Road
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     <label class="w-100 view-label">South<span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                     On South Government School
                 </div>
 
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">West<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    On West Sakthi Stationary Shop
                </div>
             </div>
         </app-card>
 
         <app-card cardTitle="Site Details & Photos 
         " class="list-panel view-panel">
             <div class="row">
                 <div class="table-responsive">
                     <table class="table table-bordered text-center">
                         <thead>
                             <tr>
                                 <th>S.No</th>
                                 <th>Distillery Photo
                                </th>
                                 <th>Description
                                </th>
                                 <!-- <th>Action</th> -->
 
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>
                                     1
                                 </td>
                                 <td>
                                     Document.jpg 
                                     <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                         class="feather icon-eye"></i>
                                         </button>
                                 </td>
                                 <td>
                                     <label class="w-100 view-label">The Shop is located facing North side.</label>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </app-card>
        
 
      
     
 
     </div>
 
 
 
     <div class="col-12 text-right mb-4">
         <button type="submit" class="btn btn-secondary mb-2 ml-2">Back</button>
         <!--     <button type="submit" class="btn btn-secondary mb-2 ml-2" routerLink="/licencemgnt/wholesale/wholesaleapplication/add">Back</button> -->
     </div>
 </div>