<h5 class="m-b-10 ng-star-inserted">
    <!-- Site Visit by Technical Officer -->
    <!-- Establishment of Tank -->
    Post Inspection by Technical Officer
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Tank Registration</a></li>
    <!-- <li class="breadcrumb-item">Site Visit by Technical Officer</li> -->
    <!-- <li class="breadcrumb-item">Establishment of Tank</li> -->
    <li class="breadcrumb-item">Post Inspection by Technical Officer</li>
    
</ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">

            <app-card cardTitle="Tank Registration Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <ngb-tabset type="pills" class="mb-2">
                            <ngb-tab title="Request Details">
                                <ng-template ngbTabContent>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <app-card
                                                cardTitle="{{ 'sugarmill.tankregistration.detailsoftankregistration' | translate }}"
                                                class="list-panel view-panel">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Tank Category<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>Storage Tank</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Request Date<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>20-Jul-2021</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Tank Usage<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>Site Visit</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Used For(Raw material)<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>cpmmensement of tank</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Tank Name<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>Tank1</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Material of Construction
                                                            (MOC)<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>-</span>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Tank Type<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>Pakka Pit</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Tank Cover Type<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>Covered</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Tank Shape<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>-</span>
                                                    </div>

                                                </div>
                                            </app-card>

                                            <app-card cardTitle="Dimension" class="list-panel view-panel">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Height(Mtr)<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>100</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Width(Mtr)<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>200</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Inner Diameter(Mtr)<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>300</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Tank Capacity<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>1000</span>
                                                    </div>

                                                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                    Verified
                                                </div> -->

                                                </div>
                                            </app-card>
                                            <app-card cardTitle="Upload" class="list-panel add-panel">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Drawings (Including Height,
                                                            Diameter) / Plan & Elevation<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        draw.pdf
                                                        <button type="button" class="btn btn-success"><i
                                                                class="fas fa-download"></i></button>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Flow Diagram<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        flow.pdf
                                                        <button type="button" class="btn btn-success"><i
                                                                class="fas fa-download"></i></button>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Arrangement of Temperature
                                                            Control<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        temperature.pdf
                                                        <button type="button" class="btn btn-success"><i
                                                                class="fas fa-download"></i></button>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Status<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>Approved</span>
                                                    </div>
                                                </div>

                                            </app-card>
                                        </div>

                                    </div>

                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Inspection Details</ng-template>
                                <ng-template ngbTabContent>

                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <app-card cardTitle="Pre Inspection Details" class="list-panel add-panel">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Load Bearing Capacity of Soil
                                                            (Natural Soil/Man Made Base)<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Drawings (Including Height,
                                                            Diameter) / Plan & Elevation <span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Flow Diagram<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Arrangement of Temperature
                                                            Control<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Status<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                </div>

                                            </app-card>
                                            <app-card cardTitle="Tank Establishment Details" class="list-panel add-panel">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Start Date of Construction<span class="float-right">:</span></label>
                                                    </div> 
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>20-Jul-2021</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">End Date of Construction<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>30-Jul-2021</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>Verified</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Inspected By<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>-</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Inspected On<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>-</span>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <span>-</span>
                                                    </div>
                                                </div>

                                            </app-card>
                                            <app-card cardTitle="Post Inspection Details" class="list-panel add-panel">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Date of Commencement<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <input type="date" class="form-control"/>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Drawings (Including Height,
                                                            Diameter) / Plan & Elevation <span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Flow Diagram<span
                                                                class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Arrangement of Temperature
                                                            Control<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Description of Main Hole , DIP Hole and Stairs Arrangements<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Process for Measurement (By DIP or Flow Meters)<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        <label class="w-100 view-label">Is Guage Chart Prepared and Uploaded<span class="float-right">:</span></label>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                                        Verified
                                                    </div>
                                                    
                                                </div>

                                            </app-card>
                                        </div>

                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>

                </div>
            </app-card>
        </form>
    </div>


    <div class="col-12 text-right mb-2">
        <button type="button" class="btn btn-primary mb-2">Next</button>
        <button type="button" class="btn btn-secondary mb-2 ml-2">Back</button>
        <button type="button" class="btn btn-warning mb-2 ml-2">Save as Draft</button>
        <button type="button" class="btn btn-primary mb-2 ml-2">Submit</button>
        <button class="btn btn-icon btn-success mb-2 ml-2" type="button" 
        data-toggle="modal" 
                                        (click)="caseModal()">Construction Completed</button>
        <button class="btn btn-icon btn-success mb-2 ml-2" type="button">Approved for Establishment</button>
        <button class="btn btn-icon btn-danger ml-2 mb-2" type="button">Reject for Establishment</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/tankregistration/list">Cancel</button>
    </div>
    <div class="col-12  mb-3 ngb_accordion_1">
        <ngb-accordion [closeOthers]="true" activeIds="static-2" class="next-accordion">
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    <h5><a href="javascript:">Approval Logs</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
                    <form>
                        <div class="row mx-4 timeline_card">
                            <div class="col-12">
                                <div class="timeline_icon text-center timeline_icon_bg1 h-100">
                                    <i class="far fa-comments"></i>
                                    <small>20/03/21<br> 10:00</small>
                                </div>
                                <div class="timeline_content">
                                    <div class="w-100 p-3 rounded timeline_box timeline_bg1">
                                        <h6>DEO - Sunil Singh</h6>
                                        <p class="mb-0">Need Clarification</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="timeline_icon text-center timeline_icon_bg3 h-100">
                                    <i class="fas fa-check"></i>
                                    <small>20/03/21<br> 11:00</small>
                                </div>
                                <div class="timeline_content">
                                    <div class="w-100 p-3 rounded timeline_box timeline_bg2">
                                        <h6>Warehouse - Good Wines</h6>
                                        <p class="mb-0">Accepted</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="timeline_icon text-center timeline_icon_bg2 h-100">
                                    <i class="fas fa-check"></i>
                                    <small>20/03/21<br> 11:30</small>
                                </div>
                                <div class="timeline_content">
                                    <div class="w-100 p-3 rounded timeline_box timeline_bg3">
                                        <h6>Warehouse - Good Wines</h6>
                                        <p class="mb-0">Transport Pass Clarification updated. Kindly check</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
<app-ui-modal #caseDetails dialogClass="modal-dialog-centered modal-lg">
    <div class="app-modal-header">
        <h5 class="modal-title">Inspection Details</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="caseDetails.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                  <label>Inspected By</label>
                  <input   class="form-control"  type="text"
                      placeholder="Enter Inspected By">
                    
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                  <label>Inspected On</label>
                  <input   class="form-control"  type="date">
                    
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                  <label>Remarks</label>
                  <input   class="form-control"  type="text"
                      placeholder="Enter Remarks">
                    
                </div>
              </div>
            
        </div>
       

    </div>
    <div class="app-modal-footer">
        <div class="row">
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-secondary ml-2">Back</button>
            </div>
        </div>
    </div>

</app-ui-modal>