<app-card cardTitle="{{cardTitle ? cardTitle : 'Applicant Details'}}" class="list-panel view-panel">
    <div class="row" *ngIf="appliApplicantDetail">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">{{'licenseMgnt.salutationText' | translate}}<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.salutationDesc}}</div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">{{'licenseMgnt.firstNameText' | translate}}<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.firstName}}</div>
        <ng-container *ngIf="appliApplicantDetail.middleName">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.midNameText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{appliApplicantDetail.middleName ? appliApplicantDetail.middleName : '-'}}
            </div>
        </ng-container>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">{{'licenseMgnt.lastNameText' | translate}}<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.lastName}}</div>
        <ng-container *ngIf="isFileExists(licenseConsts.FN_APPLI_PHOTO) as fileObj">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.applicantPhotoText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{fileObj.documentName}}
                <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"
                    (click)="downloadDocument(licenseConsts.FN_APPLI_PHOTO)"> <i class="feather icon-eye"></i>
                </button>
            </div>
        </ng-container>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">{{'licenseMgnt.dobText' | translate}} <span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.dob}}</div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">{{'licenseMgnt.genderText' | translate}} <span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.genderDesc}}</div>
        <ng-container *ngIf="appliApplicantDetail.aadharNumber">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.aadharNumberText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.aadharNumber}}</div>
        </ng-container>
        <ng-container *ngIf="isFileExists(licenseConsts.FN_APPLI_AADHAR) as fileObj">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.viewAadharText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{fileObj.documentName}}
                <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"
                    (click)="downloadDocument(licenseConsts.FN_APPLI_AADHAR)"> <i class="feather icon-eye"></i>
                </button>
            </div>
        </ng-container>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">{{'licenseMgnt.emailIDText' | translate}}<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.emailId}}</div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">{{'licenseMgnt.mobileNumberText' | translate}}<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.mobileNumber}}</div>
        <ng-container *ngIf="appliApplicantDetail.panNumber">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.panNumberText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.panNumber}}</div>
        </ng-container>
        <ng-container *ngIf="isFileExists(licenseConsts.FN_APPLI_PAN) as fileObj">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.viewPANText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{fileObj.documentName}}
                <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"
                    (click)="downloadDocument(licenseConsts.FN_APPLI_PAN)"> <i class="feather icon-eye"></i>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="appliApplicantDetail.itrAssesmentYearDesc">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.select_itrText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.itrAssesmentYearDesc}}</div>
        </ng-container>
        <ng-container *ngIf="isFileExists(licenseConsts.FN_APPLI_ITR) as fileObj">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.viewITR_Text' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{fileObj.documentName}}
                <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"
                    (click)="downloadDocument(licenseConsts.FN_APPLI_ITR)"> <i class="feather icon-eye"></i>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="appliApplicantDetail.previousItrNotFiled">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.reasonIfPreviousAssessment_ITR_ViewedText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">{{appliApplicantDetail?.previousItrNotFiled}}</div>
        </ng-container>
        <ng-container *ngIf="appliApplicantAddr">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">{{'licenseMgnt.addrText' | translate}}<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            {{appliApplicantAddr?.tahsilDesc }}, {{appliApplicantAddr?.districtDesc }}, {{appliApplicantAddr?.stateDesc }}, {{appliApplicantAddr?.pinCode }}
            </div>
        </ng-container>
    </div>
</app-card>