<h5 class="m-b-10 ng-star-inserted">View Application - Approval Progress / Excise Officials</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Licence Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Application for License M.B - 2</a></li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>
</ul>


<div class="col-xl-12">
    <app-card cardTitle="Application for M.B - 2" class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Financial year<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                2021-2022
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Date of Application<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                20/10/2021
            </div>


        </div>
    </app-card>
    <app-card cardTitle="Applicant Personal Details" class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Salutation<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Mr.
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">First Name<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Ram
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Middle Name<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Last Name<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Kumar
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Photo of Applicant<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

                <button class="btn btn-icon btn-primary mr-2" type="button">
                    <i class="feather icon-eye"></i></button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Mobile No. of the Applicant<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                9871493485
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Mail ID of the Applicant<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                ram@gmail.com
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Aadhaar No. of the Applicant<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                5414 4564 1545
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Upload Aadhar<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

                <button class="btn btn-icon btn-primary mr-2" type="button">
                                <i class="feather icon-eye"></i></button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Gender<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Male
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Date Of Birth<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                12/10/1999
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Address<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                No: 2, Kulal Stree, Ram Nagar, Pancha, Ayodhya
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">PAN<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                15AASF1564
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Upload PAN<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

                <button class="btn btn-icon btn-primary mr-2" type="button">
                                <i class="feather icon-eye"></i></button>
            </div>
        </div>
    </app-card>
    <!-- <app-card cardTitle="Address of the Applicant" class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Country<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{registrationObj.country}}
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Pincode<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>     {{registrationObj.applicantPinCode}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">State<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{registrationObj.applicantState}}
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">District <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                {{registrationObj.applicantDistrict}}
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Tehsil<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>{{registrationObj.applicantTehsil}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Urban/Rural<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>     {{registrationObj.applicantUrbanOrRural}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Municipal Area<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>{{registrationObj.applicantMunicipalArea}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Ward<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>{{registrationObj.applicantWard}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Block <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>{{registrationObj.applicantBlock}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Village<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span> {{registrationObj.applicantVillage}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Police Station<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span> {{registrationObj.applicantPoliceStation}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Locality<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span> {{registrationObj.applicantLocality}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Street<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span> {{registrationObj.applicantStreet}}</span>
            </div>
        </div>
    </app-card> -->
    <app-card cardTitle="Area Details" class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Total area of the premises in sq meters<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Total Plinth area in sq meters<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span> 100</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Area of the ​​dining hall in square meters<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                120
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Area of the Parking in sq.m. <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                600
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Amount of proposed capital to be invested<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span> 100000</span>
            </div>



        </div>
    </app-card>
    <app-card cardTitle="Capital structure" class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <label class="w-100 view-label">8 a) In case of limited company<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Authorized Amount<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                5000000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Issued Amount<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>1000000</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Paid Amount<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Borrowings , if any<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                -
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <label class="w-100 view-label">8 b) In case of others<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">capital <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                500000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Borrowings , if any<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                10000
            </div>
        </div>
    </app-card>
    <app-card cardTitle="8 c) Details of Investments " class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <label class="w-100 view-label">8 c i)Fixed assets<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Land<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                10000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Building<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1200
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Plant or Machinery<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Other if any<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                100
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Total<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                600000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">8 c ii)Working capital<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000
            </div>


        </div>
    </app-card>
    <app-card cardTitle="The name and description of the place in which the microbrewery is situated" class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Name Of Small Brewery<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                MB
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Name of Organisation<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Micro Brewery</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Country<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                India
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Pincode<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>6054154</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">State<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Uttar Pradesh
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">District <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Lucknow
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Tehsil<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Bandhipur</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Urban/Rural<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Kasabad</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Municipal Area<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Kasthar Area</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Ward<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>06</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Block <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>10</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Village<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Pachoor</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Police Station<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Pachoor</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Locality<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span> Ayodhya</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Street<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Kulal Street</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Description of Vessels and other permanent Apparatus<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Vessels</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Production capacity of the microbrewery per day/per annum<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>1000</span>
            </div>
        </div>
    </app-card>
    <app-card cardTitle="Description of  Plant / Machinery " class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <label class="w-100 view-label"> Value of Plant and machinery including refrigeration unit<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">a) of Indigenous origin<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                100
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">b) of Indigenous origin<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000
            </div>
        </div>
    </app-card>

    <app-card cardTitle="Raw material required for production " class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <label class="w-100 view-label">a) quality and value of Raw material including haps /<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">i) to be imported or of imported origin per year<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">ii) of Indigenous origin per year<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                3210
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">c) State whether the quantity of water available is fit for the manufacture of beer<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                1000
            </div>
        </div>
    </app-card>

    <app-card cardTitle="Process" class="list-panel view-panel">
        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">a) Brief process of manufacture<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Vessels
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">b) Standard  and quantity of product proposed to be manufactured<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Vessels
            </div>
        </div>
    </app-card>
    <!-- <app-card cardTitle="Process" class="list-panel view-panel">
                                <div class="row">
                    
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">a) Brief process of manufacture<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        {{registrationObj.briefProcess}}
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">b) Standard  and quantity of product proposed to be manufactured<span class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        {{registrationObj.quantityOfProduct}}
                                    </div>
                                </div>
                            </app-card> -->
    <app-card cardTitle="Technical Assistance " class="list-panel view-panel">
        <div class="row">

            <div class="col-xl-6 col-lg-36 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">Whether any foreign collaboration is envisaged and if so the amount of foreign exchange involved<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Yes
            </div>

        </div>
    </app-card>
    <app-card cardTitle="Forecast of Timings " class="list-panel view-panel">
        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">a) Time required to Secure land, buildings other accommodation after licence in Form MB-5<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                20
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">b) Time required to fetch machinery and start production after the license granted<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                30
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">20) i. Items of manufacture<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                10
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">20) ii. Annual quantity (metric measure)<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                100000
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">20 )iii. Calculation details of annual capacity on the based of fermentation house and batch cycle time<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                10210
            </div>


        </div>
    </app-card>
    <app-card cardTitle="Employment Potential" class="list-panel view-panel">
        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">Supervisory<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                100
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">Skilled<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                1000
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">unskilled<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                10000
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">22)i. A certificate for non pending  of excise revenue <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                100000
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">ii. Any special facility required from the government<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                500000
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label class="w-100 view-label">iii. Special feature, if any of the scheme <span class="float-right">:</span></label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                40000
            </div>


        </div>
    </app-card>


    <app-card cardTitle="Bank Details" class="list-panel view-panel">
        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Bank Account Number<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                544649461444
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Bank IFSC<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                SDF15654
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Bank Name<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Indian Bank
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">View Cancel Cheque<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <button class="btn btn-icon btn-primary mr-2" type="button">
                    <i class="feather icon-eye"></i></button>
            </div>


        </div>
    </app-card>

    <app-card cardTitle="Payment Fees" class="list-panel view-panel">
        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Application/Processing Fees<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                100
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Payment Status<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                Pending

            </div>
        </div>
    </app-card>


    <div class="col-12 text-right mb-4">
        <button type="submit" class="btn btn-secondary mb-2 ml-2" routerLink="/licencemgnt/brewery-winery/mb2/list">Back</button>
    </div>
</div>