<h5 class="m-b-10 ng-star-inserted">View Alert</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Hardware and Software</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Alert</a></li>
    <li class="breadcrumb-item">View</li>
</ul>
<div class="row">
         <div class="col-xl-12">
            <app-card
                cardTitle="Alert details                "
                class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Date and Time
                           <span class="float-right">:</span></label>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>04/06/2024 '10:18:00 AM'
                        </span>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Alert ID
                           <span class="float-right">:</span></label>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span></span>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Device Type
                           <span class="float-right">:</span></label>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Hardware                        </span>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Process Name
                           <span class="float-right">:</span></label>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>-</span>
                     </div>
                     
                </div>
            </app-card>
            <app-card
            cardTitle="Hardware

            details                "
            class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Digilock Asset ID
                       <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>98
                    </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Digilock Number

                       <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Digi00987
                  </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Tank ID

                       <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>PDI/PD2/DI/STO/379967
                  </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Tank Category

                       <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Storage Tank
                  </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Alert Type


                     <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Tamper Alerts
                </span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Criticality
                     <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>High

                </span>
               </div>
               
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Alert Message

                     <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Your device has been looked for suspicious activity. Contact support immediately



                </span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">Document

               <span class="float-right">:</span></label>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <button class="btn btn-primary mr-2"><i class="fa fa-eye"></i></button>
            <button class="btn btn-success "><i class="fa fa-download"></i></button>
         </div>
                 
            </div>
        </app-card>
        <!-- <app-card
        cardTitle="Hardware

        details                "
        class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Camera Number
                   <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>C123
                </span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Camera NVR number

                   <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>CNVR001
              </span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Location

                   <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Outside the Premises
              </span>
             </div>
             
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              <label class="w-100 view-label">Alert Type


                 <span class="float-right">:</span></label>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              <span>Tamper Alerts
            </span>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              <label class="w-100 view-label">Criticality
                 <span class="float-right">:</span></label>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              <span>High

            </span>
           </div>
           
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              <label class="w-100 view-label">Alert Message

                 <span class="float-right">:</span></label>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
              <span>Your device has been looked for suspicious activity. Contact support immediately



            </span>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">Document

               <span class="float-right">:</span></label>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <button class="btn btn-primary mr-2"><i class="fa fa-eye"></i></button>
            <button class="btn btn-success "><i class="fa fa-download"></i></button>
         </div>
             
        </div>
    </app-card> -->
            <!-- <app-card
            cardTitle="Software
            details                "
            class="list-panel view-panel">
            <div class="row">
                
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Draft Transport Pass date
                       <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>20-6-24</span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transport Pass No
                       <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>BOTTELING364163-FL3A-WHOLESALE20301-FL2-KANP-Aug24_00000079
                  </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Brand Name

                       <span class="float-right">:</span></label>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <span>Seagrams Blenders Pride Exclusive Premium Whisky
                  </span>
                 </div>
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Alert Type


                     <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Duplicate Scanning
                </span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Criticality
                     <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Medium

                </span>
               </div>
               
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Alert Message

                     <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Manual Scanning not completed, but trying to scan the same barcode/qr code


                </span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Document
      
                     <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <button class="btn btn-primary mr-2"><i class="fa fa-eye"></i></button>
                  <button class="btn btn-success "><i class="fa fa-download"></i></button>
               </div>
                 
            </div>
        </app-card> -->
        <app-card
        cardTitle="Profile details                "
        class="list-panel view-panel">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Entity Type
                   <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Brewery
                </span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Entity Name
                   <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Wave Distillery and Brewery               </span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">License Type
                   <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>B1
              </span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">License Number

                   <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>LIC/BREWERY/B1/1/2024/920735/24_25

              </span>
             </div>
             
           
          
             
        </div>
    </app-card>
        </div>
        
        
    
    
    
    <!-- <div class="col-12 text-right mb-4">
          
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/advancedutyreg/list">{{ 'master.common.cancel' | translate }}</button>
    </div> -->
    <div class="col-12 text-right mb-4">
      <button type="submit" class="btn btn-success mb-2 ml-2">Download</button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2">Back</button>
        <!-- <button type="submit" class="btn btn-primary mb-2 ml-2">{{'bondWarehouse.common.print' | translate}} </button>
        <button type="submit" class="btn btn-secondary mb-2 ml-2"
        routerLink="/supplychainmanagement/warehouse/accidental-application/list">{{'bondWarehouse.common.back' | translate}}</button>  -->
    </div>
    </div>
    
