<h5 class="m-b-10 ng-star-inserted">Add Police Station</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Master</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Location</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Police Station</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>


<div class="row">
    <div class="col-xl-12">
        <form #treasuryForm="ngForm" autocomplete="off">
            <app-card cardTitle="Add Police Station Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Police Station Code </label>
                            <input type="text" disabled  class="form-control" value="PS1122">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Country</label>
                            <select class="form-control" required>
                               <option>Select</option>
                           </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                       <div class="form-group">
                           <label class="mandatory">State</label>
                           <select class="form-control" required>
                              <option>Select</option>
                          </select>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                       <div class="form-group">
                           <label class="mandatory">District</label>
                           <select class="form-control" required>
                              <option>Select</option>
                          </select>
                       </div>
                   </div>
                   
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Police Station Name</label>
                            <input type="text" required  class="form-control" placeholder="Enter Police Station Name">
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Status</label>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" checked id="customswitch1">
                                <label class="custom-control-label" for="customswitch1">Active</label>
                              </div>
                        </div>
                    </div>
    
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary mr-2" routerLink="/master/policestation/list">Submit </button>
        <button type="button" class="btn btn-secondary">Cancel</button>
    </div>
</div>

