<app-common-breadcrumb [titleSection]="titleSection" [breadcrumbs]="breadcrumbs" [text]="lastText">
</app-common-breadcrumb>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.common.search' | translate }}" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="">Country Name</label>
                        <select class="form-control" required>
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="">State</label>
                       <input type="text" disabled class="form-control"  value="Uttar Pradesh">
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.common.country' | translate }}</label>
                        <select class="form-control" [(ngModel)]="districtObject.country_id" name="country_uuid"
                            #country_uuid="ngModel" (change)="getStatesByCountryId($event.target.value)">
                            <option value="">{{ 'master.common.select' | translate }}</option>
                            <option *ngFor="let country of countryData" value="{{country.id}}"> {{country.countryName}}
                            </option>
                        </select>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.common.state' | translate }}</label>
                        <select class="form-control" [(ngModel)]="districtObject.state_id" name="state_uuid"
                            #state_uuid="ngModel">
                            <option value="">{{ 'master.common.select' | translate }}</option>
                            <option *ngFor="let state of stateData" value="{{state.id}}"> {{state.stateName}} </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.common.district' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="districtObject.district_name"
                            placeholder="{{ 'master.common.enter' | translate }} {{ 'master.district.districtname' | translate }}">
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.common.status' | translate }}</label>
                        <select class="form-control" [(ngModel)]="districtObject.active">
                            <option value="">{{ 'master.common.select' | translate }}</option>
                            <option value=true>Active</option>
                            <option value=false>InActive</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div>
                    <button type="submit" class="btn btn-primary mr-2">Search</button>
                    <button type="submit" class="btn btn-secondary">Cancel</button>
                </div>
            </div>

                </div>
                <!-- <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary mr-2" (click)=searchDistrict()>{{
                        'master.common.search' | translate }}</button>
                    <button type="submit" class="btn btn-secondary" (click)=resetForm()>{{ 'master.common.cancel' |
                        translate }}</button>
                </div> -->
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.district.list' | translate }}" blockClass="table-border-style"
            class="list-panel">
            <!-- <div class="table-responsive">
                <app-mat-normal-table [columns]="columns" [actionKeys]="actionKeys" [dataSource]="dataSource"
                    [pageSize]="pageSize" [totalCount]="totalCount" (paginationEvent)="handlePagination($event)"
                    (editAction)="onEdit($event)" (viewAction)="onView($event)">
                </app-mat-normal-table>
            </div> -->
            <div class="table-responsive mb-2">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>District Name</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Modified By</th>
                            <th>Modified On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1
                            </td>

                            <td class="text-left">Uttar Pradesh</td>
                            <td class="text-left">Lucknow</td>
                            <td class="text-left">Admin</td>
                            <td class="text-center">01 Nov 2021 & 16:53</td>
                            <td class="text-left">Assistant Admin</td>
                            <td class="text-center">01 Nov 2021 & 16:53</td>
                            <td>
                                <span class="badge m-r-5 badge-light-success">Active</span>
                            </td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary mr-2" type="button" >
                                    <i class="feather icon-eye"></i></button>
                                    <button class="btn btn-icon btn-secondary " type="button" >
                                        <i class="feather icon-edit-2"></i></button>
    
                            </td>
                        </tr>
                        <tr>
                            <td>2
                            </td>

                            <td class="text-left">Uttar Pradesh</td>
                            <td class="text-left">Jalaun/td>
                            <td class="text-left">Admin</td>
                            <td class="text-center">01 Nov 2021 & 16:53</td>
                            <td class="text-left">Assistant Admin</td>
                            <td class="text-center">01 Nov 2021 & 16:53</td>
                            <td>
                                <span class="badge m-r-5 badge-light-success">Active</span>
                            </td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary mr-2" type="button" >
                                    <i class="feather icon-eye"></i></button>
                                    <button class="btn btn-icon btn-secondary " type="button" >
                                        <i class="feather icon-edit-2"></i></button>
    
                            </td>
                        </tr>
                        <tr>
                            <td>3
                            </td>

                            <td class="text-left">Uttar Pradesh</td>
                            <td class="text-left">Aurora</td>
                            <td class="text-left">Admin</td>
                            <td class="text-center">01 Nov 2021 & 16:53</td>
                            <td class="text-left">Assistant Admin</td>
                            <td class="text-center">01 Nov 2021 & 16:53</td>
                            <td>
                                <span class="badge m-r-5 badge-light-success">Active</span>
                            </td>
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary mr-2" type="button" >
                                    <i class="feather icon-eye"></i></button>
                                    <button class="btn btn-icon btn-secondary " type="button" >
                                        <i class="feather icon-edit-2"></i></button>
    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-4">
                  <div ngbDropdown>
                    <button class="btn btn-success" ngbDropdownToggle
                      type="button">Download</button>
                    <div ngbDropdownMenu>
                      <a class="dropdown-item" href="javascript:">Excel</a>
                      <a class="dropdown-item"  href="javascript:">Pdf</a>
                      <a class="dropdown-item"  href="javascript:">Jpg</a>
                    </div>
                  </div>
                </div>
                <div class="col-8 text-right p-0">
                    <img src="assets/images/pagenation.png" />
                </div>
            </div>  
        </app-card>
    </div>
</div>