::ng-deep .multiselect-dropdown .dropdown-list .multiselect-item-checkbox:active {
    background-color: #e4e3e3;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
     color: #17c017 !important;
}

.multiselect-item-checkbox[_ngcontent-dhx-c15] input[type=checkbox][_ngcontent-dhx-c15]:checked .parent {
    background-color: #e4e3e3;
}

/* .multiselect-item-checkbox[_ngcontent-uvv-c15] input[type=checkbox][_ngcontent-uvv-c15]:checked + div */