<h5 class="m-b-10 ng-star-inserted">Edit Dispatch
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Custom Bond</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Dispatch</a></li>
    <li class="breadcrumb-item">Edit</li>
</ul>



<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Edit Indent Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-12">
                    <ngb-tabset type="pills" class="mb-2">
                        <ngb-tab title="Transport Pass Details">
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-12 mt-2">

                                        <app-card cardTitle="Transport Pass  Details" class="list-panel  add-panel">

                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                                                    <div class="form-group">
                                                        <label>Entity name</label>
                                                        <select class="form-control" required>
                                                           <option>CB 1</option>
                                                             </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-9 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Application Date</label>
                                                                <input type="text" class="form-control" disabled placeholder="20-Jun-2021">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Transport Pass No</label>
                                                                <input type="text" class="form-control" disabled placeholder="84-2020-21FL-36-3759">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Total No. of Indents</label>
                                                                <input type="text" class="form-control" disabled value="2">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Status</label>
                                                                <input type="text" class="form-control" disabled value="Approved">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6 mt-3">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="text-center">
                                                                <img src="assets/images/qr-scan.png" class="qr-img" />
                                                                <p class="mb-0 pt-1 font-weight-bold">12XVCCN1122</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </app-card>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <app-card cardTitle="BIO  Details" class="list-panel  add-panel">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">License Type</label>
                                                                <input type="text" class="form-control" disabled value="BIO">
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label class="mandatory">Transfer To</label>
                                                        <input type="text" class="form-control" disabled
                                                            placeholder="Inside UP">
                                                    </div>
                                                </div> -->
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">BIO Name</label>
                                                                <input type="text" class="form-control" disabled placeholder="Daurla Distillery">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">BIO Address</label>
                                                                <textarea class="form-control" disabled rows="1">F-123, PHASE-02, TRANSPORT NAGAR, KANPUR ROAD, LUCKNOW
                                                        </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </app-card>
                                            </div>
                                            <div class="col-12">
                                                <app-card cardTitle="Wholesale Details" class="list-panel add-panel">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">License Type</label>
                                                                <input type="text" class="form-control" disabled value="FL2B">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Wholesale Name</label>
                                                                <input type="text" class="form-control" disabled placeholder="DK Wholesale">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Wholesale Address</label>
                                                                <textarea class="form-control" disabled rows="1">PX5C+394, Lucknow, Uttar Pradesh 226301
                                                        </textarea>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </app-card>
                                            </div>
                                            <div class="col-12">
                                                <app-card cardTitle="Transportation Details" class="list-panel add-panel">
                                                    <div class="row">

                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Transporter's Name
                                                        </label>
                                                                <input type="text" disabled class="form-control" value="DX Cabs">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Vehicle No.
                                                        </label>
                                                                <input type="text" disabled required class="form-control" value="UP 12 2211">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Vehicle Driver's Name
                                                        </label>
                                                                <input type="text" disabled class="form-control" value="Sunil">
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label class="">Mode of Transport
                                                        </label>
                                                      <select class="form-control">
                                                          <option>Select</option>
                                                          </select>
                                                    </div>
                                                </div> -->
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Route Type
                                                        </label>
                                                                <select class="form-control" disabled>
                                                            <option selected>Outside District</option>AWF
                                                            <option>Within District</option>
                                                        </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Route Details
                                                        </label>
                                                                <input type="text" required class="form-control" value="Jalaun">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Major Route
                                                        </label>
                                                                <input type="text" disabled class="form-control" value="Jalaun">
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label>Via
                                                        </label>
                                                        <select class="form-control">
                                                            <option>Select</option>
                                                        </select>
                                                    </div>
                                                </div> -->
                                                        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label class="mandatory">Major District
                                                        </label>
                                                        <select class="form-control">
                                                            <option>Select</option>
                                                            <option selected>Lucknow</option>
                                                        </select>
                                                    </div>
                                                </div> -->
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="">Distance (Kms)
                                                        </label>
                                                                <select class="form-control" disabled>
                                                            <option>Select</option>
                                                            <option selected>15</option>
                                                        </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="">Valid Upto
                                                        </label>
                                                                <input type="date" disabled required class="form-control" value="20-Jun-2021">
                                                            </div>
                                                        </div>



                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Gross Weight
                                                        </label>
                                                                <input type="number" disabled class="form-control" value="5000">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Tare Weight
                                                        </label>
                                                                <input type="number" disabled class="form-control" value="3500">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Net Weight
                                                        </label>
                                                                <input type="number" disabled required class="form-control" value="5000">
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label>Range
                                                        </label>
                                                        <input type="text" disabled required class="form-control"
                                                            value="100">
                                                    </div>
                                                </div> -->
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 input-icon-inside">
                                                            <label class="">GPS ID</label>
                                                            <div class="input-group mb-3">
                                                                <input type="text" class="form-control" disabled value="32043123_18" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary btn-icon" type="button"><i class="fas fa-check"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Remarks
                                                            </label>
                                                                <input type="text" disabled class="form-control" value="Need Clarification">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Reply to Remarks
                                                            </label>
                                                                <input type="text" disabled class="form-control" value="Document Submitted">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Total No of Cases Requested
                                                        </label>
                                                                <input type="text" disabled class="form-control" value="10">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <div class="form-group">
                                                                <label class="mandatory">Total No of Cases Scanned
                                                        </label>
                                                                <input type="text" disabled class="form-control" value="10">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                                            <label class="mandatory">Scan Barcode

                                                    </label>
                                                            <div class="input-group mb-3">
                                                                <input type="text" class="form-control" placeholder="Scan Barcode

                                                    " aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary" type="button"><i class="fas fa-qrcode"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </app-card>
                                            </div>


                                        </div>
                                        <app-card cardTitle="Indent Details" class="list-panel add-panel">

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered text-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Indent No</th>
                                                                    <th>Indent Date</th>
                                                                    <th>No. of Cases<br>Requested</th>
                                                                    <th>No. of Bottles<br>Requested</th>
                                                                    <th>No.of Cases<br>Dispatched</th>
                                                                    <th>No.of Bottles<br>Dispatched</th>
                                                                    <th>Bulk Litres</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td><a href="">652896478</a></td>
                                                                    <td>16-Mar-2021</td>
                                                                    <td>100</td>
                                                                    <td>1000</td>
                                                                    <td>100</td>
                                                                    <td>1000</td>
                                                                    <td>10000</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </app-card>
                                    </div>
                                </div>

                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>652896478</ng-template>
                            <ng-template ngbTabContent>

                                <div class="row mt-2">

                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Indent Date<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        20-Jul-2021
                                    </div>

                                    <div class="col-12 mb-2">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Brand Name<br>(Parent ETIN)</th>
                                                        <th>Liquor Type</th>
                                                        <th>Liquor Subtype</th>
                                                        <th>Liquor Detailed<br>Description</th>
                                                        <th>Packaging<br>Size</th>
                                                        <th>Packaging<br>Type</th>
                                                        <th>No of Cases<br>Requested</th>
                                                        <th>No. of Bottles<br>Requested</th>
                                                        <th>No of Cases<br>Dispatched</th>
                                                        <th>No. of Bottles<br>Dispatched</th>
                                                        <!-- <th>Duty Fee</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <!-- <td>BN1121</td> -->
                                                        <td class="text-left">
                                                            Jack Daniels (Black)
                                                        </td>
                                                        <td class="text-left">
                                                            FL
                                                        </td>
                                                        <td class="text-left">
                                                            Whishky
                                                        </td>
                                                        <td class="text-left">
                                                            Single Malt
                                                        </td>
                                                        <td class="text-left">
                                                            750 ml
                                                        </td>
                                                        <td class="text-left">
                                                            Glass Bottle
                                                        </td>
                                                        <td class="text-left">
                                                            50
                                                        </td>
                                                        <td class="text-left">
                                                            500
                                                        </td>
                                                        <td class="text-left">
                                                            50
                                                        </td>
                                                        <td class="text-left">
                                                            500
                                                        </td>
                                                        <!-- <td class="text-right">
                                                            500.00
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td class="text-left">
                                                            Rampur Select
                                                        </td>
                                                        <td class="text-left">
                                                            FL
                                                        </td>
                                                        <td class="text-left">
                                                            Whishky
                                                        </td>
                                                        <td class="text-left">
                                                            Single Malt
                                                        </td>
                                                        <td class="text-left">
                                                            750 ml
                                                        </td>
                                                        <td class="text-left">
                                                            Glass Bottle
                                                        </td>

                                                        <td class="text-left">
                                                            10
                                                        </td>
                                                        <td class="text-left">
                                                            100
                                                        </td>
                                                        <td class="text-left">
                                                            10
                                                        </td>
                                                        <td class="text-left">
                                                            100
                                                        </td>
                                                        <!-- <td class="text-right">
                                                            500.00
                                                        </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">

                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total No. of Cases Dispatched<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        20
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total No. of Bottles Dispatched<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        200
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        <label class="w-100 view-label">Total Bulk Litres<span
                                                class="float-right">:</span></label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                        2000.00
                                    </div>

                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </app-card>
    </div>

    <div class="col-12 text-right mb-4">
        <!-- <button type="submit" class="btn btn-primary mb-2 ml-2">Next</button> -->
        <button type="submit" class="btn btn-secondary mb-2 ml-2">Back</button>

        <!-- <button type="submit" class="btn btn-info mb-2 ml-2">Preview</button> -->
        <!-- <button type="submit" class="btn btn-warning mb-2 ml-2">Save as Draft</button> -->
        <!-- <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button> -->
        <button type="submit" class="btn btn-secondary mb-2 ml-2" routerLink="/supplychainmanagement/custombond/dispatchnew/list">Cancel</button>
    </div>
</div>