<h5 class="m-b-10 ng-star-inserted">Add Configuration</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:" >Sugar Mil
        </a></li>
    <li class="breadcrumb-item"><a href="javascript:">
        Configuration</a></li>
    <li aria-current="page" class="breadcrumb-item active">Add</li>
</ul>
<div class="row">

    <div class="col-xl-12"> 
            <app-card cardTitle="Unit Details" class="list-panel add-panel">
                <div class="row">
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Financial Year<span
                                class="float-right">:</span></label>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        2022-2023
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">Date & Time <span
                                class="float-right">:</span></label>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        04/07/2022 18:30 PM
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type<span
                                class="float-right">:</span></label>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <select class="form-control" required>
                            <option>Select</option>
                        </select>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <label class="w-100 view-label">License Number<span
                                class="float-right">:</span></label>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <select class="form-control" required>
                            <option>Select</option>
                        </select>
                    </div>
                </div>
            </app-card>
    </div>
    <div class="col-xl-12"> 
        <app-card cardTitle="Configuration Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <label>Reserved Percentage</label>
                    <input type="text" class="form-control" placeholder="Enter Reserved Percentage">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <label>Unreserved Percentage</label>
                    <input type="text" class="form-control" placeholder="Enter Unreserved Percentage">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <label>Duty Per Qtl</label>
                    <input type="text" class="form-control" placeholder="Enter Duty Per Qtl">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <label>bHeavy Amount Per Qtl</label>
                    <input type="text" class="form-control" placeholder="Enter bHeavy Amount Per Qtl">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 mt-2">
                    <label>cHeavy Amount Per Qtl </label>
                    <input type="text" class="form-control" placeholder="Enter cHeavy Amount Per Qtl ">
                </div>
            </div>
        </app-card>
</div>
<div class="col-12 text-right mb-4">
    <button type="button" class="btn btn-success ml-2 mb-2">Submit</button>
    <button type="button" class="btn btn-secondary ml-2 mb-2">Back</button>
</div>
</div>

