<h5 class="m-b-10 ng-star-inserted">View Tank Repair
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Brewery</a></li>
    <!-- <li class="breadcrumb-item"><a href="javascript:">Industrial Distillery</a></li> -->
    <li class="breadcrumb-item"><a
            routerLink="/supplychainmanagement/distillery/brewery/tankrepair/list">Tank Repair</a></li>
    
    <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>


<div class="row">
   <div class="col-xl-12">
      <form autocomplete="off">
         <app-card cardTitle="View Tank Repair Details" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Request ID<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>RI654896569</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Tank Repair<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>-</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Request Date<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>20-Jan-2021</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Request ID<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>-</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Repair Type<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Minor</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Is tank Filled<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Yes</span>
             </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Tank Name<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Tank 1</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Capacity(Qtl)<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>120.00</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Beer Type<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Beer</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Reason for Repair<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Specification for Repairs<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Lorem ipsum dolor sit amet consectetur.</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Duration of Repair<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>10</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Attachments<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>repair.png <button class="btn btn-icon btn-primary mb-2" type="button">
                    <i class="feather icon-download"></i></button></span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
               <span>-</span>
            </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">Status<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>Verified</span>
             </div>
            </div>
        </app-card> 
      </form>
   </div>
   <div class="col-12 text-right mb-4">
      <button type="button" class="btn btn-primary mb-2 ml-2" 
         routerLink="/supplychainmanagement/distillery/brewery/tankrepair/list">Edit</button>
      <button type="button" class="btn btn-secondary mb-2 ml-2" 
         routerLink="/supplychainmanagement/distillery/brewery/tankrepair/list">Back</button>
   </div>
</div>