<h5 class="m-b-10 ng-star-inserted">View PD29
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a
            routerLink="/supplychainmanagement/distillery/pamr2/list">PD29</a></li>
    
    <li aria-current="page" class="breadcrumb-item active">View</li>
</ul>
<div class="row">
   <div class="col-xl-12">
      <form autocomplete="off">
         <app-card cardTitle="Detail - PD29" class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Raw Materials<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Molasses</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Opening Balances<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>1000.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Receipt<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>1000.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">
                    Issues<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">
                    Closing Balances<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>900.00</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">
                    Number of Days for Which (5) will Last<span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>10</span>
             </div>
            
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Lorum Ipsum</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Molasses( Quintals)<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>1000.00</span>
               </div>
           
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Coal (Tones)<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Amm Sulphate(Ib)<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Sulphare Acid(Ib)<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Bensene (Litre)<span
                     class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Kerosene Oil (Litre)
                  Date
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Denaturants
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">(a)
                <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">(b)
                <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <label class="w-100 view-label">(c)
                <span class="float-right">:</span></label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
             </div>
            </div>
         </app-card>
         <app-card cardTitle="Production and issues (in Bulk)"
            class="list-panel view-panel">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Product <span
                     class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Wine</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Opening Balances<span
                     class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>1000.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Actual Production in the Months<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>10</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Quantity Sent to Warehouse<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>1000.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Transfer for Denaturants, etc<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>1000.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Actual Issues<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>100.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">Closing Balances Account (2)+(4) Minus (5)-(6)<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>900.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Quantity in Receipt Room (3)-(4)<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <span>800.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Remarks<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>Lorum Ipsum</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Abs, Alcohol<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>200.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Power Alcohol<span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>200.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Weak Spirit
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>200.00</span>
               </div>
           
               
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Dem Spirit
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>200.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Fusel Oil
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>200.00</span>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <label class="w-100 view-label">
                    Total Alc, Distilled in B.Gs. (8) (10)
                  <span class="float-right">:</span></label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                  <span>200.00</span>
               </div>
               
            </div>
         </app-card>
      </form>
   </div>
   <div class="col-12 text-right mb-4">
      <button type="button" class="btn btn-secondary" 
         routerLink="/supplychainmanagement/distillery/pd29-form/list">Back</button>
   </div>
</div>