<h5 class="m-b-10 ng-star-inserted">{{ 'master.common.view' | translate }} {{ 'master.common.state' | translate }}</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.common.masters' | translate }}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.common.location' | translate }}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.common.state' | translate }}</a></li>
    <li aria-current="page" class="breadcrumb-item active">{{ 'master.common.view' | translate }}</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.state.detailsofselectedstate' | translate }}" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.state.statecode' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <!-- {{stateObject?.stateCode}} -->
                    ST0001
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.shortname' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{stateObject?.shortName}}
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.state.statename' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <!-- {{stateObject?.stateName}} -->
                    Uttar Pradesh
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Union Territory<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <!-- {{stateObject?.stateName}} -->
                    Yes
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.country' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <!-- {{stateObject?.country?.countryName}} -->
                    India
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Population(In Lakhs)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <!-- {{stateObject?.country?.countryName}} -->
                    1,00,000.00
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.status' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Yes
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.state.isunionterretorry' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label *ngIf="!stateObject.unionTerritory">{{ 'master.common.no' | translate }}</label>
                    <label *ngIf="stateObject.unionTerritory">{{ 'master.common.yes' | translate }}</label>
                </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Created By<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Admin
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Created On<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    01 Nov 2021 & 16:53
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Modified By<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Assistant Admin
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Modified On<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    01 Nov 2021 & 16:53
                </div>
                </div>
        </app-card>
        <div class="row">
            <div class="col-12 text-right mb-3">
                <button type="submit" class="btn btn-secondary" routerLink="/location/state/list">{{ 'master.common.back' | translate }}</button>
            </div>
        </div>
    </div>
</div>