<app-common-breadcrumb [titleSection]="titleSection" [breadcrumbs]="breadcrumbs" [text]="lastText">
</app-common-breadcrumb>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.common.search' | translate }}" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.vehiclemake.vehiclecode' | translate }}</label>
                        <input type="text" class="form-control" name=code #code=ngModel [(ngModel)]="Obj['code']"
                        placeholder="{{ 'master.vehiclemake.entervehiclecode' | translate }}">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.vehiclemodel.vehiclemodel' | translate }}</label>
                        <input type="text" class="form-control" name=model #model=ngModel
                            placeholder="{{ 'master.vehiclemodel.entervehiclemodel' | translate }}"
                            [(ngModel)]="Obj['model']">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.licence.daterange' | translate }}</label>
                        <input type="text" name="daterange" class="form-control" createdDate=date #createdDate=ngModel
                            [(ngModel)]="Obj['createdDate']" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.common.status' | translate }}</label>
                        <select class="form-control" name=status #status=ngModel [(ngModel)]="Obj['isActive']">
                            <option value="">{{ 'master.common.select' | translate }}</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary mr-2" (click)="searchapi()">{{ 'master.common.search' |
                        translate }}</button>
                    <button type="submit" class="btn btn-secondary" (click)="resetKey()">{{ 'master.common.cancel' |
                        translate }}</button>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <app-card
            cardTitle="{{ 'master.vehiclemodel.vehiclemodel' | translate }} {{ 'master.common.list' | translate }}"
            blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <app-mat-normal-table [columns]="columns" [actionKeys]="actionKeys" [dataSource]="dataSource"
                    [pageSize]="pageSize" [totalCount]="totalCount" (paginationEvent)="handlePagination($event)"
                    (editAction)="onEdit($event)" (viewAction)="onView($event)">
                </app-mat-normal-table>
            </div>
        </app-card>
    </div>
</div>