<h5 class="m-b-10 ng-star-inserted">
    FL50
</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Licence Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL50</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>

</ul>

<div class="row">
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
           
            <app-card cardTitle="FL50 Details" class="list-panel add-panel">
                <div class="row">
                  
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Financial year
                            </label>
                            <select disabled class="form-control" >
                                <option>2022-2023</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Date of Application</label>
                            <input type="date" disabled class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">License Type</label>
                            <input type="text" disabled readonly class="form-control" placeholder="FL 51">
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Existing License Type
                            </label>
                            <select disabled class="form-control">
                                 <option>Select</option>
                                 <option></option>
                                 <option></option>
                               </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Unit Name </label>
                            <select disabled class="form-control">
                                 <option>Select</option>
                                 <option></option>
                                 <option></option>
                               </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">License No.
                            </label>
                            <select disabled class="form-control">
                                 <option>Select</option>
                                 <option></option>
                                 <option></option>
                               </select>
                        </div>
                    </div>
                </div>
            </app-card>
           
            <app-card cardTitle="Applicant Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Salutation</label>
                           
                            <input type="text" class="form-control" placeholder="Mr." disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">First Name</label>
                            <input type="text" class="form-control" placeholder="Pradheep" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Middle Name</label>
                            <input type="text" disabled class="form-control" placeholder="Enter Middle Name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Last Name</label>
                            <input type="text" disabled class="form-control" placeholder="Raj">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Mobile No. of the Applicant
                            </label>
                            <input type="text" disabled class="form-control" placeholder="9809809809">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Mail ID of the
                              Applicant</label>
                            <input type="text" class="form-control" disabled placeholder="xxxxx@yyy.zzz
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Gender
                            </label>
                            <input type="text" class="form-control" disabled placeholder="Male">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Date of Birth</label>
                            <input type="date" class="form-control" disabled placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">PAN No. of the Applicant
                            </label>
                            <input type="text" class="form-control" disabled placeholder="ABCDE1234F
                            ">
                        </div>
                    </div>
                </div>
            </app-card>
            
            <app-card cardTitle="Applicant Address
            " class="list-panel add-panel">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Country</label>
                            <input type="text" class="form-control" disabled value="INDIA">
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Pincode</label>
                            <input type="number" class="form-control" disabled value="225010">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">State</label>
                            <input type="text" class="form-control" disabled value="Uttar Pradesh">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">District</label>
                            <input type="text" class="form-control" disabled value="Lucknow ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Tehsil</label>
                            <input type="text" class="form-control" disabled value="Mohanlalganj ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Urban/Rural</label>
                            <input type="text" class="form-control" disabled value="Mohanlalganj ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Municipal Area</label>
                            <input type="text" class="form-control" disabled value="Nagar Palika ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Ward</label>
                            <input type="text" class="form-control" disabled value="Ward No. 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Block</label>
                            <input type="text" class="form-control" disabled value="">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Village</label>
                            <input type="text" class="form-control" disabled value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Police Station </label>
                            <input type="text" class="form-control" disabled value="Gomti nagar">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Locality</label>
                            <input type="text" class="form-control" disabled value="Phase 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Street</label>
                            <input type="text" class="form-control" disabled value="33, Road no.2">
                        </div>
                    </div>

                </div>
            </app-card>
            <app-card cardTitle="Bottling Unit Details 
            " class="list-panel add-panel">
                <div class="row">
                   
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Unit Name
                            </label>
                            <input type="text" class="form-control" required placeholder="Enter Unit Name" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Bottling Capacity (In BL) 
                            </label>
                            <input type="text" class="form-control" required placeholder="Enter Bottling Capacity (In BL) 
                            " >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Country</label>
                            <input type="text" class="form-control" required placeholder="INDIA" readonly>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pincode</label>
                            <input type="number" class="form-control" required placeholder="225010
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">State</label>
                            <input type="text" class="form-control" disabled value="Uttar Pradesh">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">District</label>
                            <input type="text" class="form-control" disabled value="Lucknow ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Tehsil</label>
                            <input type="text" class="form-control" disabled value="Mohanlalganj ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Urban/Rural</label>
                            <input type="text" class="form-control" disabled value="Mohanlalganj ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Municipal Area</label>
                            <input type="text" class="form-control" disabled value="Nagar Palika ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Ward</label>
                            <input type="text" class="form-control" disabled value="Ward No. 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Block</label>
                            <input type="text" class="form-control" disabled value="">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Village</label>
                            <input type="text" class="form-control" disabled value="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Police Station </label>
                            <input type="text" class="form-control" disabled value="Gomti nagar">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Locality</label>
                            <input type="text" class="form-control" disabled value="Phase 3">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Street</label>
                            <input type="text" class="form-control" disabled value="33, Road no.2">
                        </div>
                    </div>

                </div>
            </app-card>
           
            <app-card cardTitle="Capital Structure / C. Details of investment - I. Fixed Assets" class="list-panel add-panel">
                <div class="row">
                   
                   
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">(i) Land</label>
                            <input disabled type="text" class="form-control" required placeholder="-" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">(ii) Buildings and Structure</label>
                            <input disabled type="number" class="form-control" required placeholder="-
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">(iii) Plant and Machinery </label>
                            <input disabled type="text" class="form-control"  value="-">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">(iv) Others, if any </label>
                            <input disabled type="text" class="form-control"  value="-">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Capital Structure / C. Details of investment - II. Working capital
            " class="list-panel add-panel">
                <div class="row">
                   
                   
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">(i) Working capital                            </label>
                            <input disabled type="text" class="form-control" required placeholder="-" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Total</label>
                            <input type="number" class="form-control" disabled required placeholder="-
                            ">
                        </div>
                    </div>
                   
                </div>
            </app-card>
            <app-card cardTitle="Plant and Machinery
            " class="list-panel add-panel">
                <div class="row">
                   
                   
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Value of plant and machinery to be imported or of imported origin                            </label>
                            <input disabled type="text" class="form-control" required placeholder="-" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Value of plant and machinery of Indigenous origin
                            </label>
                            <input disabled type="number" class="form-control"  required placeholder="-
                            ">
                        </div>
                    </div>
                   
                </div>
            </app-card>
            <app-card cardTitle="Raw material required for production
            " class="list-panel add-panel">
                <div class="row">
                   
                   
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Quantity of raw materials to be imported or of imported origin per year
                            </label>
                            <input type="text" class="form-control" disabled required placeholder="-" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Value of raw materials to be imported or of imported origin per year (Lacs)
                            </label>
                            <input type="text" class="form-control" disabled required placeholder="-
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Quantity of raw materials of Indigenous origin per year
                            </label>
                            <input type="text" class="form-control" disabled required placeholder="-" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Value of raw materials of Indigenous origin per year (Lacs)
                            </label>
                            <input type="text" class="form-control" disabled required placeholder="-
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Quantity of  per year in the manufacture of Spirit
                            </label>
                            <input type="text" class="form-control" disabled required placeholder="-" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Value of Molasses required per year (Lacs)
                            </label>
                            <input type="text" class="form-control" disabled required placeholder="-
                            ">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Whether it is proposed to procure the Molasses from private sources without the Aid of the Government
                            </label>
                            <input type="text" class="form-control" disabled required placeholder="-
                            ">
                        </div>
                    </div>
                   
                </div>
            </app-card>
            <app-card cardTitle="Water and power requirements
            " class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th rowspan="3" style="width: 30%;">Particulars of
                                        requirements</th>
                                    <th style="width: 40%;">Water(In Lacks Litre)<span
                                            class="mandatory"></span></th>
                                    <td style="width: 30%;"><input type="number" disabled
                                            class="form-control" /></td>
                                </tr>
                                <tr>
                                    <th>Power (IN Kilo Watt)<span class="mandatory"></span></th>
                                    <td><input type="number" disabled class="form-control" /></td>
                                </tr>
                                <tr>
                                    <th>Whether necessary permission has been secured<span
                                            class="mandatory"></span></th>
                                    <td>
                                        <div class="form-group">
                                            <div class="segment">
                                                <input type="radio" name="tab" id="tab6"
                                                    checked>
                                                <label for="tab6">Yes</label>
                                                <input type="radio" name="tab" id="tab7">
                                                <label for="tab7">No</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            </app-card>
            <app-card cardTitle="Process
            " class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th rowspan="3" style="width: 30%;">Process</th>
                                    <th style="width: 40%;">Upload Brief Process of
                                        manufacture<span class="mandatory"></span></th>
                                    <td style="width: 30%;">
                                        <div class="form-group">
                                            <div class="input-group cust-file-button">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" disabled
                                                        name="uploadpuc" id="uploadpuc">
                                                    <label class="custom-file-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Standard and quantity of products proposed to be
                                        manufactured<span class="mandatory"></span></th>
                                    <td>
                                        <textarea class="form-control" disabled
                                            id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            </app-card>
            <app-card cardTitle="Technical Assistance
            " class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 30%;">Technical Assistance
                                    </th>
                                    <th style="width: 40%;">Weather any foreign collaboration or
                                        know - how is envisaged and if so is the foreign
                                        exchange involved </th>
                                    <td style="width: 30%;">
                                        <textarea class="form-control" disabled
                                            id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            </app-card>
            <app-card cardTitle="Forecast of time Factors
            " class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="width: 30%;">Forecast of time Factors
                                    </th>
                                    <th style="width: 40%;">Time require to secure land,building
                                        and other accommodation after License is issued
                                        (In Months)</th>
                                    <td style="width: 30%;"><input type="number" disabled
                                            class="form-control" /></td>
                                </tr>
                                <tr>
                                    <th style="width: 40%;">Time required erecting machinery and
                                        start production after the license is granted (In
                                        Months)</th>
                                    <td style="width: 30%;"><input type="number" disabled
                                            class="form-control" /></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            </app-card>
            <app-card cardTitle="Item of manufacturer
            " class="list-panel add-panel">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Item of manufacturer</th>
                                    <th>Daily Capacity Value (In KLPD)</th>
                                    <th>Estimated Annual Production (In KLPA)</th>
                                    <!-- <th>Annual Potable quantity (in KL)</th>
                                    <th>Annual Industrial quantity (In KL)</th> -->
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input type="number" disabled class="form-control">
                                    </td>
                                    <td><input type="number" disabled class="form-control" /></td>
                                    <td><input type="number" disabled class="form-control" /></td>
                                    <!-- <td><input type="number" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td> -->
                                    <td class="table-action-column text-center">
                                        <button class="btn btn-icon btn-success mr-2 ml-2"
                                            type="button">
                                            <i class="feather icon-plus"></i></button>
                                        <button class="btn btn-icon btn-danger mr-2 ml-2"
                                            type="button">
                                            <i class="feather icon-trash"></i></button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            </app-card>
            <app-card cardTitle="Employment Potential and Other Info. / A. Employment Potential"
                class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Supervisory
                            </label>
                            <input type="text" class="form-control" disabled placeholder="Enter Supervisory">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Skilled</label>
                            <input type="text" class="form-control" disabled placeholder="Enter Skilled">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Unskilled</label>
                            <input type="text" class="form-control" disabled placeholder="Enter Unskilled
                            ">
                        </div>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Employment Potential and Other Info. / B. Other Information"
                class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Any Special Facilities required from the Government

                            </label>
                            <textarea class="form-control" disabled rows="1"
                                placeholder="Enter Any Special Facilities required from the Government"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Special Features,if any of the scheme
                            </label>
                            <textarea class="form-control" disabled rows="1" placeholder="Enter Special Features,if any of the scheme
                            "></textarea>
                        </div>
                    </div>

                </div>
            </app-card>
           
          
            <app-card cardTitle="Site details - Geographic Info
            " class="add-panel list-panel">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Latitute</label>
                            <input type="number" class="form-control" placeholder="13.0238N" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Longitude</label>
                            <input type="number" class="form-control" placeholder="80.1208E" disabled>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">East</label>
                            <textarea type="text" class="form-control" disabled placeholder="On East side Jawahar Juice Shop"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">West</label>
                            <textarea type="text" class="form-control" disabled placeholder="On West Sakthi Stationary Shop"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">North</label>
                            <textarea type="text" class="form-control" disabled placeholder="Towards North Bangra Main Road"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">South</label>
                            <textarea type="text" class="form-control" disabled placeholder="On South Government School"></textarea>
                        </div>
                    </div>
                   
                </div>
            </app-card>

            <app-card cardTitle="Premises Photos" class="list-panel view-panel">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <!-- <th>Year</th> -->
                                    <th>Premises Photo
                                        <span class=""></span></th>
                                    <th>Description of Photo<span class=""></span></th>
                                    <!-- <th>Action</th> -->

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Photo.jpg
                                    </td>
                                    <td>
                                        <label class="w-100 view-label">The Premises is located facing North side.</label>
                                    </td>

                                    <!-- <td class="table-action-column text-center">
                                        <button class="btn btn-icon btn-success mr-2 ml-2" type="button">
                                            <i class="feather icon-plus"></i></button>
                                        <button class="btn btn-icon btn-danger mr-2 ml-2" type="button">
                                            <i class="feather icon-trash"></i></button>
                                    </td> -->


                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </app-card>

            
            <app-card cardTitle="Attachments" class="list-panel view-panel">
                <div class="row">
    
    
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">NOC for Petroleum & Explosive Safety Organization
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Document.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Fire Department 
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        fireDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Pollution Control & Central Pollution Control Board
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        pollDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Memorandum of Association & Articles of Association of the Company
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        memDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Transfer or Lease Document regarding Ownership of the Land
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        transDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">GST Of Company
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        tranDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Detail of plant/machinery
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        tranDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Layout Plant in 3 Copy
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        tranDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Plan & elevation of the drawing
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        tranDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Details of tanks and gauge chart of alcohol storage tank in 3 Copies
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        tranDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Capacity calculation of the Plant
                            <span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        tranDocument.jpg <button class="btn btn-icon btn-primary mr-2 mb-2" type="button"> <i
                                class="feather icon-eye"></i>
                        </button>
                    </div>
    
                </div>
            </app-card>
            <app-card cardTitle="Bank Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Bank Account Number</label>
                            <input type="number" class="form-control" disabled placeholder="Enter Bank Account Number">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Bank IFSC</label>
                            <input type="number" class="form-control" disabled placeholder="Enter Bank IFSC">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-primary mr-2">Search</button>
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="">Bank Name</label>
                            <input type="text" class="form-control" disabled value="State Bank of India">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="uploadpuc" class="mandatory">Upload Cancel
                                Cheque</label>
                            <div class="input-group cust-file-button">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" disabled name="uploadpuc" id="uploadpuc">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>

           

        </form>
        <div class=" text-content text-right mb-4">
            <button type="button" class="btn btn-warning mb-2 ml-2">Save as Draft</button>
            <button type="button" class="btn btn-info mb-2 ml-2">Preview</button>
            <button type="button" class="btn btn-primary mb-2 ml-2">Submit</button>
            <button type="button" class="btn btn-secondary mb-2 ml-2">Cancel</button>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Shop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- <div class=" text-content text-center mb-4"> -->
                    <!-- <button type="button" class="btn btn-primary mb-2 ml-2">Search by Shop ID</button>
                    <button type="button" class="btn btn-info mb-2 ml-2">Search by Location</button> -->

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Shop ID</label>
                            <input type="number" class="form-control" placeholder="Enter Shop ID">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">District</label>
                            <select class="form-control" disabled>
                                 <option>Select</option>
                      
                               </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Tehsil</label>
                            <select class="form-control" disabled>
                                 <option>Select</option>
                               
                               </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pincode</label>
                            <input type="number" class="form-control" placeholder="Enter Pincode">
                        </div>
                    </div>


                    <!-- </div> -->
                </div>

                <div class=" text-content text-right mb-4">
                    <button type="button" class="btn btn-primary mb-2 ml-2">Search</button> <span>
                    <button type="button" class="btn btn-info mb-2 ml-2">Cancel</button></span>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Shop ID</th>
                                <th>License Type</th>
                                <th>District</th>
                                <th>Tehsil</th>
                                <th>Pincode</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    4641
                                </td>
                                <td>
                                    FL 4A
                                </td>
                                <td>
                                    Lucknow
                                </td>
                                <td>
                                    Ayodhya
                                </td>
                                <td>
                                    464886
                                </td>
                                <td>Active</td>

                                <td class="table-action-column text-center">
                                    <button class="btn btn-icon btn-primary mr-2 ml-2" type="button">
                                    <i class="feather icon-eye"></i></button>
                                    <!-- <button class="btn btn-icon btn-danger mr-2 ml-2" type="button">
                                    <i class="feather icon-trash"></i></button> -->
                                </td>


                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">
                    Submit</button>
            </div> -->
        </div>

    </div>
</div>