<h5 class="m-b-10 ng-star-inserted">Shelf sale- Add</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Retail</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Shelf sale</a></li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>
</ul>

<app-card cardTitle="Unit Details" class="list-panel add-panel">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">Date & Time<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            DD/MM/YYYY, HH:MM:SS
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">HBR Name<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">HBR ID<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">License No<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">

        </div>
    </div>
</app-card>

<app-card cardTitle="Shelf Sale" class="list-panel view-panel">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Liquor Type</th>
                            <th>Liquor Subtype</th>
                            <th>Brand Name</th>
                            <th>Packaging Size</th>
                            <th>Packaging Type</th>
                            <th>Opening Balance (ml)</th>
                            <th>Served Quantity (ml)</th>
                            <th>Closing Balance (ml)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">Total Opening Balance (ml)<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            10000
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">Total Sales(ml)<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            20000
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="w-100 view-label">Total Closing Balance (ml)<span class="float-right">:</span></label>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            234657
        </div>
    </div>
</app-card>

<div class="col-12 text-right">
    <button type="button" class="btn btn-primary mr-2">Print</button>
    <button type="button" class="btn btn-success mr-2">Download</button>
    <button type="button" class="btn btn-secondary"
        routerLink="/supplychainmanagement/retail/shelfsale/list">Cancel</button>
</div>