<h5 class="m-b-10 ng-star-inserted">In-App Support</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Helpdesk</a></li>
    <li class="breadcrumb-item"><a href="javascript:">In-App Support</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Add</a></li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Unit Details" class="list-panel add-panel">
            <div class="row">
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">License Type</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Unit Name</label>
                        <input type="text" required disabled class="form-control" value="Distillery">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">License Number</label>
                        <input type="text" required disabled class="form-control" value="WL27679112">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">License Status</label>
                        <input type="text" required disabled class="form-control" value="Valid">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">User Status</label>
                        <input type="text" required disabled class="form-control" value="Active">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" required disabled class="form-control" value="Address">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label >Mobile Number</label>
                        <input type="text" required disabled class="form-control" value="9789741475">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label >Alternate Number</label>
                        <input type="text" required  class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Email Id</label>
                        <input type="text" required disabled class="form-control" value="pravin.r@oasyscybernetics.in">
                    </div>
                </div>
            </div>
        </app-card>
        <div class="row">
            <div class="col-xl-12">
                <app-card cardTitle="Details" class="list-panel add-panel">
        <ngb-tabset type="pills" class="mb-2">
            <ngb-tab title="Issue Details">
                <ng-template ngbTabContent>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Issue from</label>
                                <input type="text" required disabled class="form-control" value="Mobile App">
                            </div>
                        </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label class="mandatory">Category Name</label>
                    <select class="form-control">
                        <option>Select</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label class="mandatory">Sub Category Name</label>
                    <select class="form-control">
                        <option>Select</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label class="mandatory">Issue Details</label>
                    <input type="text" appInputRestriction class="form-control" placeholder="Enter the Issue details">
                </div>
            </div>
            
              
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <label>Pre-identified solution available?</label>
                <div class="segment">
                    <input type="radio" name="tab" id="tab1" checked>
                    <label class="" for="tab1">yes</label>
                    <input type="radio" name="tab" id="tab2">
                    <label class="" for="tab2">No</label>
                </div>
            </div>       
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <label>Followed solution provided</label>
                <div class="segment">
                    <input type="radio" name="tab" id="tab1" checked>
                    <label class="" for="tab1">yes</label>
                    <input type="radio" name="tab" id="tab2">
                    <label class="" for="tab2">No</label>
                </div>
            </div>  
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label class="mandatory">Remarks</label>
                    <input type="text" appInputRestriction class="form-control" placeholder="Enter the Remarks">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label class="mandatory">Issue Status</label>
                    <select class="form-control">
                        <option>Resolved</option>
                    </select>
                </div>
            </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>FAQ</ng-template>
                <ng-template ngbTabContent>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Category Name</label>
                                <select class="form-control" disabled>
                                    <option>PL1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="mandatory">Sub Category Name</label>
                                <select class="form-control" disabled>
                                    <option>PL2</option>
                                </select>
                            </div>
                        </div>
                      
                        <div class="col-12  mb-2">
                            <ngb-accordion [closeOthers]="false" activeIds="static-2" class="next-accordion">
                                <ngb-panel id="static-1" class="mt-2">
                                    <ng-template ngbPanelTitle>
                                        <h5><a href="javascript:">Query Details</a></h5>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive mb-2 mt-2">
                                                    <table class="table table-bordered mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No</th>
                                                                <th style="width: 60%;">Detail</th>
                                                                <!-- <th>Issue resolved/Not resolved</th> -->
                                                               
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td class="text-left"><a class="position-relative bg-transparent btn btn-primary border-0 shadow-none text-dark collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                                                   Indent Request
                                                                  </a><div class="collapse" id="collapseExample1">
                                                                    <div class="card card-body padd d-flex flex-row justify-content-between align-items-center">
                                                                      <p class="m-0">Anim pariatur cliche reprehenderit.</p>
                                                                      <!-- <button class="btn btn-icon btn-success text-right" type="button">
                                                                        Issue Resolved/Not Resolved</button> -->
                                                                        <div class="segment">
                                                                            <input type="radio" name="tab" id="tab1" checked>
                                                                            <label class="" for="tab1">Issue Resolved</label>
                                                                            <input type="radio" name="tab" id="tab2">
                                                                            <label class="" for="tab2">Not Resolved</label>
                                                                        </div>
                                                                    </div>
                                                                  </div></td>
                                                                
                                                               
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td class="text-left"><a class="position-relative bg-transparent btn btn-primary border-0 shadow-none text-dark collapsed" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                                                    Indent Accept
                                                                  </a><div class="collapse" id="collapseExample2">
                                                                    <div class="card card-body padd d-flex flex-row justify-content-between align-items-center">
                                                                      <p class="m-0">Anim pariatur cliche reprehenderit.</p>
                                                                      <!-- <button class="btn btn-icon btn-success text-right" type="button">
                                                                        Issue Resolved/Not Resolved</button> -->
                                                                        <div class="segment">
                                                                            <input type="radio" name="tab" id="tab1" checked>
                                                                            <label class="" for="tab1">Issue Resolved</label>
                                                                            <input type="radio" name="tab" id="tab2">
                                                                            <label class="" for="tab2">Not Resolved</label>
                                                                        </div>
                                                                    </div>
                                                                  </div></td>
                                                                
                                                               
                                                                
                                                            </tr>
                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        </ng-template>
                                </ngb-panel>
                                
                                </ngb-accordion>
                                </div>

                            </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
        <div class="row">
        <div class="col-12 text-right mb-4">
            <button type="button" class="btn btn-primary" routerLink="/helpdesk/inappticket/list">Next</button>
            <button type="button" class="btn btn-secondary ml-2" routerLink="/helpdesk/inappticket/list">Back </button>
        </div>
    </div>
                </app-card>
        </div>
        <div class="col-12 text-right mb-4">
            <button type="button" class="btn btn-warning mr-2" routerLink="/helpdesk/inappticket/list">FAQ</button>
            <button type="button" class="btn btn-primary mr-2" routerLink="/helpdesk/inappticket/list">Submit </button>
            <button type="button" class="btn btn-secondary" routerLink="/helpdesk/inappticket/list">Clear</button>
        </div>
        </div>
           <!-- <app-card cardTitle="Issue Details" class="list-panel add-panel">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="mandatory">Issue from</label>
                                    <input type="text" required disabled class="form-control" value="Mobile App">
                                </div>
                            </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Category Name</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Sub Category Name</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Issue Details</label>
                        <input type="text" appInputRestriction class="form-control" placeholder="Enter the Issue details">
                    </div>
                </div>
                
                  
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <label>Pre-identified solution available?</label>
                    <div class="segment">
                        <input type="radio" name="tab" id="tab1" checked>
                        <label class="" for="tab1">yes</label>
                        <input type="radio" name="tab" id="tab2">
                        <label class="" for="tab2">No</label>
                    </div>
                </div>       
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <label>Followed solution provided</label>
                    <div class="segment">
                        <input type="radio" name="tab" id="tab1" checked>
                        <label class="" for="tab1">yes</label>
                        <input type="radio" name="tab" id="tab2">
                        <label class="" for="tab2">No</label>
                    </div>
                </div>  
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Remarks</label>
                        <input type="text" appInputRestriction class="form-control" placeholder="Enter the Remarks">
                    </div>
                </div>
                        </div>
                    </app-card> -->
                   
               
            
    </div>
</div>


