<h5 class="m-b-10 ng-star-inserted">Payment Screen</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL16 - PD25</a></li>
    <li class="breadcrumb-item">Payment Screen</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">
            <app-card cardTitle="Application Details" class="list-panel view-panel">
                
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label"> Application No<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        PD2
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Application Date & Time<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        LIC/DISTILLERY/PD2/72/23_24
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        AARTI DISTILLERIES PRIVATE LIMITED
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Unit Address<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        AARTI DISTILLERIES PRIVATE LIMITED, Uttar Pradesh
                    </div>
                    </div>
            </app-card>
            <app-card cardTitle="Payment Details" class="list-panel view-panel">
                
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center mb-0">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th> Fees/Penalty 
                                         </th>
                                    <th>Amount (<i class="fa fa-rupee-sign"></i>)</th>
                                    <th>Challan Head</th>
                                    <!-- <th>Tank Name<span class="mandatory"></span></th> -->
                                    <th>G6</th>
                                    <!-- <th>Transaction No</th> -->
                                    <th>Advance Duty
                                        Balance  (<i class="fa fa-rupee-sign"></i>)</th>	
                                    <th>Mode of Payment</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="text-left">Advalorem  Fees</td>
                                    <td class="text-right">1000.00</td>
                                    <td>	3900800050000</td>
                                    <td>	3</td>
                                    <!-- <td>TR1122</td> -->
                                    <td class="text-right">0.00</td>
                                    <td class="text-left">
                                        Advance Duty
                                    </td>
                                    <td>
                                        <span class="badge badge-light-warning">Pending</span>
                                    </td>
                               </tr>
                             
                            </tbody>
                        </table>
                    </div>  
                  </div>
                </div>
            </app-card>
        </form>
    </div>
   
    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button> -->
                   <button type="button" class="btn btn-secondary ml-2 mb-2">Back</button>
       

    </div>

    
</div>