<h5 class="m-b-10 ng-star-inserted"> View FL16 - PD25</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Distillery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">FL16 - PD25</a></li>
    <li class="breadcrumb-item"><a href="javascript:">View</a></li>
</ul>
<div class="row">
 
    <div class="col-xl-12">
        <form #boxingForm="ngForm" autocomplete="off">
            <app-card cardTitle="Unit Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered  mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th>S.No</th> -->
                                        <th>License Type</th>
                                        <th>License Number</th>
                                        <th>Distillery Name</th>
                                        <!-- <th>Application Number</th>
                                        <th>Pass Number</th> -->
                                        <!-- <th>Distillery Address</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td> 1 </td> -->
                                        <!-- <td>PD2</td> -->
                                        <td class="text-center">
                                            <select class="form-control">
                                                <option>PD2</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <select class="form-control">
                                                <option>LIC/DISTILLERY/PD2/72/23_24</option>
                                            </select>
                                        </td>
                                        <td>AARTI DISTILLERIES PRIVATE LIMITED</td>
                                        <!-- <td>80878/FL39/PD26/MAR24/000005</td>
                                        <td>AARTI/SAGAR/TAN/15MAR2024/967708</td> -->
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
</div>
</div>
</app-card>
<app-card cardTitle="Add PD 25" class="list-panel add-panel">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered  mb-0">
                    <thead>
                        <tr>
                            <!-- <th>S.No</th> -->
                            <th>Date</th>
                            <th>PD20 Pass Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td> 1 </td> -->
                            <td class="text-center">18-Apr-2024</td>
                            <td class="text-center">
                                <select class="form-control">
                                    <option>80878/FL39/PD26/MAR24/000005</option>
                                </select>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
</div>
</div>
</app-card>
<app-card cardTitle="Consignor Details" class="list-panel add-panel">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered text-center mb-0">
                    <thead>
                        <tr>
                            <!-- <th>S.No</th> -->
                            <th>Distillery Name</th>
                            <th>License Type</th>
                            <th>License Number</th>
                            <th>Distillery Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td> 1 </td> -->
                            <td>AARTI DISTILLERIES PRIVATE LIMITED</td>
                            <td>PD2</td>
                            <td>LIC/DISTILLERY/PD2/72/23_24</td>
                            <td>AARTI DISTILLERIES PRIVATE LIMITED, Uthar pradesh</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      
    </div>
</app-card>
<app-card cardTitle="Consignee Details" class="list-panel add-panel">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered text-center mb-0">
                    <thead>
                        <tr>
                            <!-- <th>S.No<span class="mandatory"></span></th> -->
                            <th>Name of Licensee</th>
                            <th>License Type</th>
                            <th>License No</th>
                            <th>District</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td> 1 </td> -->
                            <td>Sagar Chemicals Pvt. Ltd.</td>
                            <td>FL-39</td>
                            <td>296/TWO-805A(119)/317</td>
                            <td>KANPUR DEHAT</td>
                            <td>Plot No. C-7, C-8. UPSIDC Industrial Area, Growth Centre Jainpur</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      
    </div>
</app-card>

<app-card cardTitle="Permit Details" class="list-panel add-panel">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered text-center mb-0">
                    <thead>
                        <tr>
                            <!-- <th>S.No<span class="mandatory"></span></th> -->
                            <th>Permit No</th>
                            <th>Permit Date</th>
                            <th>Denaturant Fees</th>
                            <th>Advalorem  Fees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td> 1 </td> -->
                            <td>1300
                            </td>
                            <td>29-Mar-2024
                            </td>
                            <td>20000
                            </td>
                            <td>10000
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive mt-2">
                <table class="table table-bordered text-center mb-0">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Spirit Type</th>
                            <th>Spirit Raw Material Type</th>
                            <th>Issued Quantity(BL)</th>
                            <th>Strength</th>
                            <th>Issued Quantity(AL)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td>SDS</td>
                            <td>Grain Based</td>
                            <td>4000</td>
                            <td class="text-right">94.4</td>
                            <td>37760</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      
    </div>
</app-card>
            <app-card cardTitle="Transportation Details" class="list-panel add-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Transporter Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        ELEVATE LOGISTICS
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Vehicle No<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        UP77AT7385
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Vehicle Driver Name<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        SANOJ DUBEY
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Within District
                    </div> -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Outside District
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Route Details<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        KANPUR DEHAT
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Major Route<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        KANPUR DEHAT
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Via<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Via Lucknow
                    </div> -->
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Major District<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        Lucknow
                    </div> -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Distance (Kms)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        0-300
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Valid Up To (hrs)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        24 hrs
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Valid Up To <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       20-Apr-2024
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Bond Value (Rs)<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                       0
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Temperature<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      0
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Indication<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                      0
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Strength<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        94.4
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Gross Weight<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        46850
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Tare Weight<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        14610
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Net Weight<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        32240
                    </div>
                    <div class="col-12">
                        

                        <div class="table-responsive mt-2">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Chember No/Casks</th>
                                        <th>Dip</th>
                                        <th>B.L</th>
                                        <th>A.L</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> 1 </td>
                                        <td>186</td>
                                        <td>7000</td>
                                        <td>6608</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Logs" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Action Performed By</th>
                                        <th>Designation</th>
                                        <th>Action</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td>15--Mar-2024 13:40:15</td>
                                        <td>AARTIAEC</td>
                                        <td>AEC Distillery</td>

                                        
                                        
                            <td class="text-center">
                                <span class="badge badge-light-success">Approved</span> </td>
                                      
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
            <app-card cardTitle="Validity Extension" class="list-panel add-panel">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Remarks</th>
                                        <th>Validity</th>
                                        <th>Validity Extension Date</th>
                                        <!-- <th>Validity Extension</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>  </td>
                                        <td>15-Mar-2024 01:07 PM</td>
                                        <td>16-Mar-2024 01:07 PM</td>
                                        <!-- <td><button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>
                                </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </app-card>
        </form>
    </div>
    

    <div class="col-12 text-right mb-4">
        <!-- <button type="button" class="btn btn-info ml-2 mb-2">Preview</button>
        <button type="button" class="btn btn-warning ml-2 mb-2">Save as Draft</button>
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button> -->
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/supplychainmanagement/distillery/fl1aindent/list">Back</button>
    </div>
</div>