<h5 class="m-b-10 ng-star-inserted">Application Status</h5>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Enter below details" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Acknowledge Number</label>
                        <input type="name" class="form-control" placeholder="Enter Acknowledge Number" value="RI5656566"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <label>capcha</label>
                    <div class="form-group">
                        <img src="assets/images/capcha.jpg" />
                      </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Enter Capcha </label>
                        <input type="text" class="form-control" placeholder="Enter Capcha" value="4813"/>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-6 col-12  mt-4 text-xl-left text-lg-left text-md-left text-sm-right text-right">
                    <div class="form-group">
                        <button class="btn btn-primary m-r-5">
                            Search</button>
                        <button class="btn btn-secondary">
                            Clear</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Application Status details" class="view-panel list-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Request ID<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    RI5656566
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Name of Applicant<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                 D.Sathish
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">License type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                 BWFL1
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Email<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    test@gmail.com
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Mobile No<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    9876543210
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Application Date/Time<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    12Jan2021 18:45
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Last Updated By<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Gopi/DEO
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Last Updated On<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    18Jan2021 12:25
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Status<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Success
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="table-responsive mb-2">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Stages</th>
                                    <th>Action</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>DEO Approval</td>
                                    <td>-</td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>DEC Approval</td>
                                    <td>-</td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>AEC Approval</td>
                                    <td>-</td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>EC Approval</td>
                                    <td>-</td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                    <!-- <td><span class="badge badge-light-warning">Inprogress</span></td> -->
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>License Payment</td>
                                    <td><button class="btn btn-primary" disabled routerLink="/licencemgnt/licenseacknowledgement/popup">Pay Now</button></td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                    <!-- <td><span class="badge badge-light-warning">Inprogress</span></td> -->
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Fill Latitude and Longitude Details</td>
                                    <td><button class="btn btn-primary" disabled data-toggle="modal" (click)="exampleModalCenter.show()">Fill Now</button></td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                    <!-- <td><span class="badge badge-light-warning">Inprogress</span></td> -->
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>DEO Approval</td>
                                    <td>-</td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                    <!-- <td><span class="badge badge-light-warning">Inprogress</span></td> -->
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>DEC Approval</td>
                                    <td>-</td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                    <!-- <td><span class="badge badge-light-warning">Inprogress</span></td> -->
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Download License</td>
                                    <td>
                                        <button class="btn btn-success">Download License</button>
                                    </td>
                                    <td><span class="badge badge-light-success">Success</span></td>
                                    <!-- <td><span class="badge badge-light-warning">Inprogress</span></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>

<app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered">
    <div class="app-modal-header">
      <h5 class="modal-title">Latitude and Longitude Details</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                    <label>Latitude </label>
                    <input type="name" class="form-control" placeholder="Enter Latitude"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12s col-12">
                <div class="form-group">
                    <label>Longitude </label>
                    <input type="name" class="form-control" placeholder="Enter Longitude"/>
                </div>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal" (click)="exampleModalCenter.hide()">Close</button>
      <button type="button" class="btn btn-primary ml-2">Submit</button>
    </div>
  </app-ui-modal>