<h5 class="m-b-10 ng-star-inserted">
    {{ 'master.common.view' | translate }}  {{ 'master.common.taulk' | translate }}</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.common.masters' | translate }}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.common.location' | translate }}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ 'master.common.taulk' | translate }}</a></li>
    <li aria-current="page" class="breadcrumb-item active">{{ 'master.common.view' | translate }}</li>
</ul>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.common.detailsofselected' | translate }} {{ 'master.common.taulk' | translate }}" class="list-panel view-panel">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.taulk' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.talukName}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.country' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.countryResponseDto?.countryName}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.state' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.stateName}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.district' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.districtName}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.status' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.active ? 'Active' : 'InActive'}}
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" disabled class="custom-control-input" id="switch1"
                            [attr.checked]="taulkObject.status ? '' : null">
                        <label class="custom-control-label" for="switch1" *ngIf="!taulkObject.active">{{ 'master.common.inactive' | translate }}</label>
                        <label class="custom-control-label" for="switch1" *ngIf="taulkObject.active">{{ 'master.common.active' | translate }}</label>
                    </div>
                </div> -->
            </div>
            <hr class="mt-2" />
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.createdby' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.createdBy}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.createdon' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.createdDate | date: 'dd-MMM-yyyy hh:mm a'}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.modifiedby' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.modifiedBy}}
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">{{ 'master.common.modifiedon' | translate }}<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    {{taulkObject?.modifiedDate | date: 'dd-MMM-yyyy hh:mm a'}}
                </div>
                
            </div>
        </app-card>
        <div class="row">
            <div class="col-12 mb-3 text-right">
                <button type="submit" class="btn btn-secondary" routerLink="/location/taluk/list">{{ 'master.common.back' | translate }}</button>
            </div>
        </div>
    </div>
</div>