<h5 class="m-b-10 ng-star-inserted">View Transport Pass for Accidental for Dispatch
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Portable Distillery</a>
    </li>
    <li class="breadcrumb-item"><a href="javascript:">Transport Pass for Accidental for Dispatch</a>
    </li>
    <li class="breadcrumb-item">View</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form #tankconvertionForm="ngForm" autocomplete="off">
            <app-card cardTitle="Transport Pass for Accidental for Dispatch Details" class="list-panel view-panel">

                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Application Number
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>THFT/2023-24/001
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Request Date
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>20-Jul-2022</span>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Request Time
<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>10:39 AM
                        </span>
                    </div> -->

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">
                            Transport Pass No
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span> LIC_FL3A_01_2018-19-FL3A-WHOLESALE20201-FL2B-UNNA-Jun23_00000928
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Transport Pass Date
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>15-Jun-2023
                        </span>
                    </div>
                </div>


            </app-card>

            <app-card cardTitle="Consignor Details
            " class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>FL3</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Name of Consignor
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Wave Distillery & Brewery Limited
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Address of Consignor
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Sadho Ashram, Ramghat Road, Aligarh, Uttar Pradesh
                        </span>
                    </div>
                </div>
            </app-card>
            <app-card cardTitle="Consignee Details
                    " class="list-panel view-panel">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">License Type
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>FL2B</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Name of Consignee
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Harpreet Singh
                        </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Address of Consignee
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Station Road, Lucknow, Uttar Pradesh
                        </span>
                    </div>




                </div>
            </app-card>
                <app-card cardTitle="Transport Details" class="list-panel view-panel">
                  
          
            <div class="row">
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Transporter's Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    A to Z Transport Company
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Vehicle No.<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    UP45 AN 4436
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Vehicle Driver's Name<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    KARAN
                </div>
               
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Within District
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Outside District
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Route Details<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Major Route<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Via<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Via Lucknow
                </div> -->
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Major District<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    Lucknow
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Distance (km)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    100
                </div>
              
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Gross Weight(Kgs)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   8500
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Tare Weight(Kgs)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   3500
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Net Weight(Kgs)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   5000
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">GPS ID<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    1122ww11
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    -
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Total Duty(In Rs)<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    20rs
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Need Clarification
                </div> -->
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                   Verified and Approved
                </div> -->
                <!-- <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                       
                        <input  type="text" required class="form-control" placeholder="Enter Remarks">
                    </div>
                </div> -->
                
            </div>
           
                </app-card>
                <app-card cardTitle="Updated Transport Details" class="list-panel view-panel">
                  
          
                    <div class="row">
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Route<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Lucknow
                        </div> -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Transporter's Name<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Akash Transport Company
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Vehicle No.<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            UP32 AN 7647
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Vehicle Driver's Name<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Deepak
                        </div>
                       
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Within District
                        </div>
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Route Type<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Outside District
                        </div> -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Route Details<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Lucknow
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Major Route<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Lucknow
                        </div>
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Via<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Via Lucknow
                        </div> -->
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Major District<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            Lucknow
                        </div> -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Distance (km)<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            100
                        </div>
                      
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Gross Weight(Kgs)<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           8500
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Tare Weight(Kgs)<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           3500
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Net Weight(Kgs)<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           5000
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">GPS ID<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            1122ww11
                        </div>
                       
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           Need Clarification
                        </div> -->
                        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                           Verified and Approved
                        </div> -->
                        <!-- <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <label class="w-100 view-label">Remarks<span class="float-right">:</span></label>
                        </div>
                        <div  class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                               
                                <input  type="text" required class="form-control" placeholder="Enter Remarks">
                            </div>
                        </div> -->
                        
                    </div>
                   
                        </app-card>
            <app-card cardTitle="Indent and Dispatched Details
             " class="list-panel view-panel">

                <div class="row">

                    <div class="col-12">

                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Indent No</th>
                                        <th>Indent Date</th>
                                        <!-- <th>ETIN No.</th> -->
                                        <th>No.of Cases /
                                            Monocartons Requested
                                        </th>
                                        <th>No.of Bottles
                                            Requested
                                        </th>
                                        <th>Bulk Litre</th>
                                        <!-- <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>WHOLESALE9701-20230619114046003
                                        </td>
                                        <td>10-Jun-2023</td>
                                        <!-- <td>ETTIN1234</td> -->
                                        <td class="text-left">1200</td>
                                        <td class="text-left">2800</td>
                                        <td class="text-left">14400
                                            .00</td>
                                        <!-- <td class="table-action-column text-center">
                                            <button class="btn btn-icon btn-warning" type="button">
                                                <i class="feather icon-eye"></i></button>
                                            <button class="btn btn-icon btn-danger ml-2"
                                                type="button">
                                                <i class="fas fa-trash-alt"></i></button>
                                        </td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="table-responsive mb-2">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand Name</th>
                                        <th>Strength
                                        </th>
                                        <th>Liquor Type
                                        </th>
                                        <th>Liquor Sub Type
                                        </th>
                                        <th>Packaging<br>Size</th>
                                        <th>Packaging Type
                                        </th>
                                        <th>No of Cases/Mono Cartons<br>Requested
                                        </th>
                                        <th>No. of Bottles<br>Requested</th>
                                        <th>No of Cases/Mono Cartons<br>Dispatched
                                        </th>
                                        <th>No of Bottle<br>Dispatched
                                        </th>
                                        <th>Total BL
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="text-left">Kingfisher Ultra Supreme Beer

                                        </td>
                                        <td class="text-left">5%-8%
                                        </td>
                                        <td class="text-left">Beer</td>
                                        <td class="text-left">Ultra Supreme Beer
                                        </td>
                                        <td class="text-left">
                                            500 ml
                                        </td>
                                        <td class="text-left">
                                            Can
                                        </td>

                                        <td class="text-left">
                                            1200
                                        </td>
                                        <td class="text-left">
                                            28800
                                        </td>
                                        <td class="text-left">
                                            1200
                                        </td>
                                        <td class="text-left">
                                            28800
                                        </td>
                                        <td class="text-right">
                                            14400.00
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive mb-2">
                            <table class="table table-bordered text-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand Name</th>
                                        <th>Strength
                                        </th>
                                        <th>Liquor Type
                                        </th>
                                        <th>Liquor Sub Type
                                        </th>
                                        <th>Packaging<br>Size</th>
                                        <th>Packaging Type
                                        </th>
                                        <th>No of Cases/Mono Cartons<br>Requested<span class=""></span>
                                        </th>
                                        <th>No. of Bottles<br>Requested</th>
                                        <th>Total BL
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="text-left">Kingfisher Ultra Supreme Beer
                                        </td>
                                        <td class="text-left">5%-8%
                                        </td>
                                        <td class="text-left">Beer</td>
                                        <td class="text-left">Ultra Supreme Beer
                                        </td>
                                        <td class="text-left">
                                            750 ml
                                        </td>
                                        <td class="text-left">
                                            Can
                                        </td>

                                        <td class="text-left">800
                                            <!-- <input type="text" class="form-control" placeholder="Enter No of Cases/Mono Cartons Requested
                                            "> -->
                                        </td>
                                        <td class="text-left">
                                            19200
                                        </td>

                                        <td class="text-right">
                                            9500.00
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Remarks
                            <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>Approved
                        </span>
                    </div> -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">Remarks<span class="mandatory"></span><span
                                class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <input type="text" class="form-control" placeholder="Enter Remarks">
                    </div>
                    <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory"></label>
                           <input type="text"  class="form-control" required placeholder="Enter Remarks">
                        </div>
                    </div> -->

                </div>
            </app-card>
        </form>
    </div>

    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-success ml-2">Approve</button>
        <button type="button" class="btn btn-danger ml-2">Reject</button>
        <button type="button" class="btn btn-warning ml-2">Clarification</button>
        <button type="button" class="btn btn-secondary ml-2">Back</button>

    </div>

</div>