<app-common-breadcrumb [titleSection]="titleSection" [breadcrumbs]="breadcrumbs" [text]="lastText">
</app-common-breadcrumb>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.common.search' | translate }}" class="search-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.common.code' | translate }}</label>
                        <input type="text" id="code" class="form-control" name="code" #code="ngModel"
                            [(ngModel)]="categoryObj['code']" placeholder="{{ 'master.common.code' | translate }}">
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.common.name' | translate }}</label>
                        <input type="text" id="name" class="form-control" name="name" #name="ngModel"
                            [(ngModel)]="categoryObj['name']" placeholder="{{ 'master.common.name' | translate }}">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{ 'master.licence.daterange' | translate }}</label>
                        <input type="text" name="daterange" ngxDaterangepickerMd autocomplete=off
                            [locale]="{applyLabel: 'Okay', format: 'DD-MM-YYYY', separator: ' To '}"
                            class="form-control" [(ngModel)]="categoryObj['daterange']" />
                    </div>
                </div>

                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary mr-2"
                        (click)="searchCategory()">{{ 'master.common.search' | translate }}</button>
                    <button type="submit" class="btn btn-secondary"
                        (click)=resetKey()>{{ 'master.common.cancel' | translate }}</button>
                </div>
            </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{ 'master.category.categorylist' | translate }}" blockClass="table-border-style"
            class="list-panel">
            <div class="table-responsive">
                <app-mat-normal-table [columns]="columns" [actionKeys]="actionKeys" [dataSource]="dataSource"
                    [pageSize]="pageSize" [totalCount]="totalCount" (paginationEvent)="handlePagination($event)"
                    (editAction)="onEdit($event)" (viewAction)="onView($event)">
                </app-mat-normal-table>
            </div>
        </app-card>
    </div>
</div>