<h5 class="m-b-10 ng-star-inserted">View Roll Over Fees Payment for Existing </h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Supply Chain Management</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Payment</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Roll Over Fees Payment for Existing</a></li>
    <li aria-current="page" class="breadcrumb-item active">Payment Screen</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form autocomplete="off">

            <app-card cardTitle="Payment Screen" class="list-panel view-panel"> 
           <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Roll Over Fees</th>
                        <th>Amount</th>
                        <th>Challan Head</th>
                        <th>G6</th>
                        <th>Transaction Number</th>
                        <th>Advance Duty Balance</th>
                        <th>Mode of Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>04-jan-2023</td>
                        <td class="text-center">160</td>
                        <td class="text-center">160</td>
                        <td>3900800050000</td>
                        <td>7</td>
                        <td>TN001</td>
                        <td>2000</td>
                        <td>
                            <select class="form-control">
                                <option>Advance duty</option>
                            </select></td>
                        <td class="text-center">
                            <span class="badge badge-light-success">Active</span>
                        </td>
                        <!-- <td class="table-action-column text-center">
                            <button class="btn btn-icon btn-primary" type="button"
                                routerLink="/masterwarehouse/mwapprovalflow/view">
                                <i class="feather icon-eye"></i></button>
                        </td> -->
                    </tr>

                </tbody>
            </table>
                </div>           
            </app-card>

        </form>
    </div>


    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary mb-2">Submit</button>
        <button type="button" class="btn btn-secondary mb-2 ml-2">Back</button>
        

    </div>
    
</div>
