<h5 class="m-b-10 ng-star-inserted">
    MST/IST (Finished Goods)
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Vintnery</a></li>
    <li class="breadcrumb-item"><a href="javascript:">MST/IST (Finished Goods)</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>
<div class="row">
    <div class="col-xl-12">

        <app-card cardTitle="MST/IST (Finished Goods)" class="list-panel add-panel">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory"> Date</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Entity Name</label>
                        <input type="text" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Entity Type</label>
                        <input type="text" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">License Number</label>
                        <input type="text" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Reference Number</label>
                        <input type="text" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Inspection Date</label>
                        <input type="date" required class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Inspection Type</label>
                        <input type="text" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Performed By</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Requested By</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </app-card>

        <app-card cardTitle="Brand Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Brand Name / ETIN / Package Size / Type / Count</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Liquor Type</label>
                        <input type="text" value="FL" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Liquor Sub Type</label>
                        <input type="text" value="FL- Whisky" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Liquor Description</label>
                        <input type="text" value="Premier Grain Whisky" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Brand Name</label>
                        <input type="text" value="Seagrams Imperial Blue Premier Grain Whisky" class="form-control"
                            disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Package Size</label>
                        <input type="text" value="180" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Package Type</label>
                        <input type="text" value="" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">No of Bottles Per Case</label>
                        <input type="text" value="" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">ETIN</label>
                        <input type="text" value="" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Available No of Cases (Physical Stock)</label>
                        <input type="text" value="" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Available No of Bottles (Physical Stock)</label>
                        <input type="text" value="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-12 text-right mb-4">

                <button type="button" class="btn btn-success ml-2 mb-2">Add</button>
                <button type="button" class="btn btn-secondary ml-2 mb-2">Clear</button>
            </div>
        </app-card>

        <app-card cardTitle="Brand Details List" class="list-panel add-panel ">

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Load Opening Stock</label>
                        <select class="form-control">
                            <option>select</option>
                        </select>

                    </div>
                </div>
                <div class="table-responsive table-order mb-4">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Brand Name</th>
                                <th>Package Size</th>
                                <th>Pakage Type</th>
                                <th>Bottle Per Case</th>
                                <th>ETIN Number</th>
                                <th>No of Cases</th>
                                <th>No of Bottles</th>
                                <th>No of Cases</th>
                                <th>No of Bottles</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">System Quantity : Total No of Cases</label>
                        <input type="text" value="" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">System Quantity : Total No of Bottles</label>
                        <input type="text" value="" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Physical Quantity : Total No of Cases</label>
                        <input type="text" value="" disabled class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Physical Quantity : Total No of Botttles</label>
                        <input type="text" value="" disabled class="form-control">

                    </div>
                </div>
            </div>
        </app-card>

        <!-- <app-card cardTitle="Inspection Details" class="list-panel add-panel">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory"></label>
                        <input type="number" class="form-control" value="Dry Dip(Cm)">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory"></label>
                        <input type="number" class="form-control" value="Wet Dip(Cm)">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory"> </label>
                        <input type="number" class="form-control" value="Strength ">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Temperature</label>
                        <input type="number" class="form-control" value="Temperature">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory"></label>
                        <input type="number" class="form-control" value="Opening Balance(BL)">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Receipt Balance(BL)</label>
                        <input type="number" disabled class="form-control" value="Receipt Balance(BL)">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="mandatory">Wastage</label>
                        <input type="number" disabled class="form-control" required>
                    </div>
                </div>


            </div>
        </app-card> -->

    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2">Cancel</button>
    </div>
</div>