<h5 class="m-b-10 ng-star-inserted"> Add Action Taken</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Helpdesk Master</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Action Taken</a></li>
    <li class="breadcrumb-item">Add</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form [formGroup]="createForm" autocomplete="off">
            <app-card cardTitle="Define Action Taken From Actual Problem" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Action Taken Code</label>
                            <input type="text" class="form-control" value="AC1122" disabled>   
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label> Action Taken</label>
                            <input type="text" class="form-control" placeholder="Enter Action Taken">   
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Sub Category</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Actual Problems</label>
                            <select class="form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="form-group">
                            <label> Action Taken</label>
                            <textarea type="text" class="form-control" rows="1" placeholder=""></textarea>

                        </div>
                    </div> -->
                   
                    <!-- <div class="col-lg-3">
                        <div class="form-group">
                            <label>Created By</label>
                            <input type="text" class="form-control" placeholder="User">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Created On</label>
                            <input type="text" class="form-control" placeholder="16-08-2021">
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="mandatory">Status</label>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customswitch1" checked>
                                <label class="custom-control-label" for="customswitch1">Active</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="form-group">
                            <label>Modified By</label>
                            <input type="text" class="form-control" placeholder="Admin">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Modified On</label>
                            <input type="text" class="form-control" placeholder="17-08-2021">
                        </div>
                    </div> -->
                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2" (click)="addRegistration(createForm)">Submit</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2" routerLink="/helpdeskmaster/actiontaken/list">Cancel</button>
    </div>
</div>
<app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered success_popup">
    <div class="app-modal-body text-center">
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
        <img src="assets/images/check.png" />
        <h3 class="text-success">Application Submitted Successfully</h3>
        <!-- <h6>Your Application Number is <span class="badge badge-light-success">WH45628665456</span></h6> -->
    </div>
</app-ui-modal>